node-red/examples/02 super-strategy.json
[
    {
        "id": "d0dfbedc3d5c0181",
        "type": "tab",
        "label": "Super Strategy",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0ebd537b21479320",
        "type": "group",
        "z": "d0dfbedc3d5c0181",
        "name": "Configuration",
        "style": {
            "label": true
        },
        "nodes": [
            "f96598748a8bae33",
            "0a1e9d8398df4f95"
        ],
        "x": 14,
        "y": 79,
        "w": 192,
        "h": 142
    },
    {
        "id": "7b06827dfd179ecf",
        "type": "group",
        "z": "d0dfbedc3d5c0181",
        "name": "Battery solutions",
        "style": {
            "label": true
        },
        "nodes": [
            "3911c0977b5b0e4d",
            "f03f0f67c20f201e"
        ],
        "x": 944,
        "y": 79,
        "w": 192,
        "h": 142
    },
    {
        "id": "cfdae21b426b2b66",
        "type": "function",
        "z": "d0dfbedc3d5c0181",
        "name": "Example: select new strategy every minute",
        "func": "function selectOptionBasedOnMinute() {\n  // 1. Get the current date and time\n  const now = new Date();\n\n  // 2. Extract the current minute (0 to 59)\n  const minute = now.getMinutes();\n\n  // 3. Use the modulo operator to map the minute to 0, 1, or 2\n  // 60 minutes / 3 options = 20 minutes per option (roughly)\n  const remainder = minute % 3; // remainder will be 0, 1, or 2\n\n  // 4. Map the result (0, 1, 2) to the desired options (1, 2, 3)\n  const selectedOption = remainder + 1;\n\n  console.log(`Current Minute: ${minute}`);\n  console.log(`Selected Option: ${selectedOption}`);\n\n  return selectedOption;\n}\n\n// Example usage:\nmsg.demo = selectOptionBasedOnMinute();\nnode.status({fill:\"green\",shape:\"dot\",text:`Option = ${msg.demo}`});\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 180,
        "wires": [
            [
                "4d386d6e3bcdc2ab"
            ]
        ]
    },
    {
        "id": "fecdc20c8bd6e2e3",
        "type": "comment",
        "z": "d0dfbedc3d5c0181",
        "name": "Home Battery Super Strategy",
        "info": "The `Home Battery Start` flow will call this strategy flow\nby matching the strategy name with the Link In name.\n\nConfigure the Link In node in the Start group.\n\nDon't modify other parts of the Start and End groups.\nThey handle the calling and returning for you.",
        "x": 140,
        "y": 40,
        "wires": []
    },
    {
        "id": "f96598748a8bae33",
        "type": "link in",
        "z": "d0dfbedc3d5c0181",
        "g": "0ebd537b21479320",
        "name": "Super strategy",
        "links": [],
        "x": 165,
        "y": 180,
        "wires": [
            [
                "cfdae21b426b2b66"
            ]
        ]
    },
    {
        "id": "0a1e9d8398df4f95",
        "type": "comment",
        "z": "d0dfbedc3d5c0181",
        "g": "0ebd537b21479320",
        "name": "Start (readme)",
        "info": "# Setting up your battery strategy flow\n\n## Setup\nName the `Link In node` in this start group exactly after the <select> option configured in your\nselect_input.house_battery_strategy\n\nconfigure select options in:\ninput_select_house_battery_control.yaml\n\n### example\n`house_battery_strategy:\n  name: House Battery Strategy\n  options:\n    - AcmE example`\n\nThe above creates a select option, allowing user to select 'AcmE example'\n\nWhen selected, battery control will search for a flow containing a Link In node\ncalled 'AcmE example' (case sensitive).",
        "x": 110,
        "y": 120,
        "wires": []
    },
    {
        "id": "3911c0977b5b0e4d",
        "type": "link out",
        "z": "d0dfbedc3d5c0181",
        "g": "7b06827dfd179ecf",
        "name": "Return",
        "mode": "return",
        "links": [],
        "x": 985,
        "y": 180,
        "wires": []
    },
    {
        "id": "f03f0f67c20f201e",
        "type": "comment",
        "z": "d0dfbedc3d5c0181",
        "g": "7b06827dfd179ecf",
        "name": "End (readme)",
        "info": "Should return a solution_array of battery objects\n\n## battery object format\n`{{id: string|number, mode: string, power: number}} battery solution`\n- id is an arbitrary battery ID\n- mode is \"stop\", \"charge\", \"discharge\" for Marstek\n- power in Watts\n\n### example array\nreturn this type of solution_array via msg.solutions\n` \nlet solution_array = [];\nsolution_array.push({id:\"M1\", mode: \"charge\", power: 100}); // per battery\nreturn {solutions: solution_array};\n` ",
        "x": 1040,
        "y": 120,
        "wires": []
    },
    {
        "id": "4d386d6e3bcdc2ab",
        "type": "switch",
        "z": "d0dfbedc3d5c0181",
        "name": "",
        "property": "demo",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 630,
        "y": 180,
        "wires": [
            [
                "4ec9510153a16a6c"
            ],
            [
                "96c47534fac35b7e"
            ],
            [
                "a467deabe85bee3d"
            ]
        ]
    },
    {
        "id": "4ec9510153a16a6c",
        "type": "link call",
        "z": "d0dfbedc3d5c0181",
        "name": "",
        "links": [
            "26460a293ad3466a"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 760,
        "y": 140,
        "wires": [
            [
                "3911c0977b5b0e4d"
            ]
        ]
    },
    {
        "id": "96c47534fac35b7e",
        "type": "link call",
        "z": "d0dfbedc3d5c0181",
        "name": "",
        "links": [
            "7a0cd93e9df76c48"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 790,
        "y": 180,
        "wires": [
            [
                "3911c0977b5b0e4d"
            ]
        ]
    },
    {
        "id": "a467deabe85bee3d",
        "type": "link call",
        "z": "d0dfbedc3d5c0181",
        "name": "",
        "links": [
            "ee81415a7a3d87e6"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 800,
        "y": 220,
        "wires": [
            [
                "3911c0977b5b0e4d"
            ]
        ]
    },
    {
        "id": "91c8e3521703335b",
        "type": "comment",
        "z": "d0dfbedc3d5c0181",
        "name": "About this example",
        "info": "This example illustraties a \"Super Strategy\".\n\nWhich is a strategy that governs the selection of other sub-strategies and stays in control.\nThis is the advised flow pattern to design advanced strategies and reuse existing flows.",
        "x": 330,
        "y": 100,
        "wires": []
    }
]