node-red/00 master-switch-flow.json
[
    {
        "id": "52df3fb663e70ff9",
        "type": "tab",
        "label": "Home Battery Master Switch",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7044607f89419528",
        "type": "group",
        "z": "52df3fb663e70ff9",
        "name": "Marstek master control switch",
        "style": {
            "label": true
        },
        "nodes": [
            "24c4b3fa2a227363",
            "688d8c7eb428050a",
            "aeb14de44d787218",
            "07082c82cfd36025",
            "730e5d19c3435b1c",
            "3d96dbaf23e664c8",
            "f18d8e745824326f"
        ],
        "x": 34,
        "y": 39,
        "w": 932,
        "h": 342
    },
    {
        "id": "730e5d19c3435b1c",
        "type": "group",
        "z": "52df3fb663e70ff9",
        "g": "7044607f89419528",
        "name": "Loop",
        "style": {
            "label": true
        },
        "nodes": [
            "a7840368d3be9b44",
            "52364a8614623eda",
            "ec1615324aa327a2",
            "3d036e16bd02cca9",
            "2b8c7a7192b2d563",
            "f1de4cb6fb5e2919"
        ],
        "x": 434,
        "y": 79,
        "w": 492,
        "h": 222
    },
    {
        "id": "24c4b3fa2a227363",
        "type": "api-current-state",
        "z": "52df3fb663e70ff9",
        "g": "7044607f89419528",
        "name": "Your battery count",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_number.house_battery_count",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "number",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "battery_count",
                "propertyType": "msg",
                "value": "number",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 170,
        "y": 160,
        "wires": [
            [
                "688d8c7eb428050a"
            ]
        ]
    },
    {
        "id": "a7840368d3be9b44",
        "type": "function",
        "z": "52df3fb663e70ff9",
        "g": "730e5d19c3435b1c",
        "name": "Set RS485 and Work Modes",
        "func": "// array for output \nlet outputArray = [];\n\n// battery to target\nconst target = `marstek_m${msg.battery_index}`;\n\n// Set | work mode\nconst workModeAction = {\n    \"action\": \"select.select_option\",\n    \"target\": {\n        \"entity_id\": [`select.${target}_user_work_mode`]\n    },\n    \"data\": {\n         \"option\": String(msg.work_mode)\n    }\n};\n// Add to output array. Set null for no action.\noutputArray.push(msg.work_mode ? { payload: workModeAction, topic:\"user_work_mode\"}: null);\n\n// Set | rs485\nconst rs485Action = {\n    \"action\": \"select.select_option\",\n    \"target\": {\n        \"entity_id\": [`select.${target}_rs485_control_mode`]\n    },\n    \"data\": {\n         \"option\": String(msg.rs485)\n    }\n};\n// Add to output array. Set null for no action.\noutputArray.push(msg.rs485 ? { payload: rs485Action, topic: \"rs485_control_mode\" } : null);\n\n// Store calls in msg to allow checking of loop results\nmsg.loop_result = { target, workModeAction, rs485Action };\n\n// Return msg as third output\noutputArray.push(msg);\n\n// Outputs\nreturn outputArray;",
        "outputs": 3,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 160,
        "wires": [
            [
                "52364a8614623eda"
            ],
            [
                "ec1615324aa327a2"
            ],
            [
                "2b8c7a7192b2d563"
            ]
        ]
    },
    {
        "id": "688d8c7eb428050a",
        "type": "function",
        "z": "52df3fb663e70ff9",
        "g": "7044607f89419528",
        "name": "Loop start",
        "func": "// loop through the number of batteries set by the user\nmsg.battery_index = 1; // base-1\n\n// configurables\nlet workMode = null; // manual, anti-feed, ai, null = don't set or alter this setting\nlet rs485 = null;  // enable, disable, null = don't set or alter this setting\n\n// mode select\nswitch (msg.marstek_master_battery_mode) {\n    case \"Manual control\":\n        workMode = \"manual\";\n        rs485 = \"disable\";\n        break;\n    case \"Marstek control\":\n        // the user should select a work mode via the Marstek App or via select.marstek_mX_user_work_mode\n        rs485 = \"disable\";\n        break;\n    case \"Full control\":\n        rs485 = \"enable\";\n        break;\n    default:\n        node.status({fill:\"red\",shape:\"ring\",text:`Unhandled mode: ${msg.marstek_master_battery_mode}`});\n        return null; // stop flow\n}\n\n// Continue\nmsg.work_mode = workMode;\nmsg.rs485 = rs485;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 160,
        "wires": [
            [
                "a7840368d3be9b44"
            ]
        ]
    },
    {
        "id": "2b8c7a7192b2d563",
        "type": "function",
        "z": "52df3fb663e70ff9",
        "g": "730e5d19c3435b1c",
        "name": "Loop step",
        "func": "// Step index down\nmsg.battery_index += 1;\n\n// Continue\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 220,
        "wires": [
            [
                "3d036e16bd02cca9",
                "f1de4cb6fb5e2919"
            ]
        ]
    },
    {
        "id": "3d036e16bd02cca9",
        "type": "switch",
        "z": "52df3fb663e70ff9",
        "g": "730e5d19c3435b1c",
        "name": "Loop until",
        "property": "battery_index",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lte",
                "v": "battery_count",
                "vt": "msg"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 660,
        "y": 220,
        "wires": [
            [
                "a7840368d3be9b44"
            ],
            [
                "aeb14de44d787218"
            ]
        ]
    },
    {
        "id": "52364a8614623eda",
        "type": "api-call-service",
        "z": "52df3fb663e70ff9",
        "g": "730e5d19c3435b1c",
        "name": "Set work mode",
        "server": "176d29a.6f648d6",
        "version": 7,
        "debugenabled": false,
        "action": "",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "labelId": [],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "input_text",
        "service": "set_value",
        "x": 820,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "ec1615324aa327a2",
        "type": "api-call-service",
        "z": "52df3fb663e70ff9",
        "g": "730e5d19c3435b1c",
        "name": "Set RS485",
        "server": "176d29a.6f648d6",
        "version": 7,
        "debugenabled": false,
        "action": "",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "labelId": [],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "input_text",
        "service": "set_value",
        "x": 810,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "f1de4cb6fb5e2919",
        "type": "debug",
        "z": "52df3fb663e70ff9",
        "g": "730e5d19c3435b1c",
        "name": "Loop result",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "loop_result",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 260,
        "wires": []
    },
    {
        "id": "aeb14de44d787218",
        "type": "debug",
        "z": "52df3fb663e70ff9",
        "g": "7044607f89419528",
        "name": "Done",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 340,
        "wires": []
    },
    {
        "id": "07082c82cfd36025",
        "type": "server-state-changed",
        "z": "52df3fb663e70ff9",
        "g": "7044607f89419528",
        "name": "Master control mode",
        "server": "176d29a.6f648d6",
        "version": 6,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "input_select.marstek_master_battery_mode"
            ],
            "substring": [],
            "regex": []
        },
        "outputInitially": false,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            },
            {
                "property": "marstek_master_battery_mode",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            }
        ],
        "x": 170,
        "y": 200,
        "wires": [
            [
                "24c4b3fa2a227363"
            ]
        ]
    },
    {
        "id": "3d96dbaf23e664c8",
        "type": "inject",
        "z": "52df3fb663e70ff9",
        "g": "7044607f89419528",
        "name": "Check work modes periodically",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "300",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 80,
        "wires": [
            [
                "f18d8e745824326f"
            ]
        ]
    },
    {
        "id": "f18d8e745824326f",
        "type": "api-current-state",
        "z": "52df3fb663e70ff9",
        "g": "7044607f89419528",
        "name": "Master control mode",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_select.marstek_master_battery_mode",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "marstek_master_battery_mode",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 180,
        "y": 120,
        "wires": [
            [
                "24c4b3fa2a227363"
            ]
        ]
    },
    {
        "id": "176d29a.6f648d6",
        "type": "server",
        "name": "Home Assistant",
        "addon": true,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": [],
        "connectionDelay": false,
        "cacheJson": false,
        "heartbeat": false,
        "heartbeatInterval": "",
        "statusSeparator": "",
        "enableGlobalContextStore": false
    },
    {
        "id": "455435b07bccbec8",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-home-assistant-websocket": "0.80.3"
        }
    }
]