node-red/01 start-flow.json
[
    {
        "id": "d606df74d35deb5a",
        "type": "tab",
        "label": "Home Battery Start v4.12.0",
        "disabled": false,
        "info": "# Home battery control\r\nConsists of three flows:\r\n 1.  Start flow\r\n 1.  Control flow\r\n 1.  Master switch flow\r\n\r\n## Start flow\r\nThis is the starting point of your home battery control.\r\n\r\nIt starts with P1 measurement as a trigger.\r\nIt allows you to connect your battery sensors to the flow.\r\nIt ends with a function node, mapping your batteries to a battery_array\r\n\r\nThe battery_array is passed on to the control flow.\r\n\r\nWhen the control flow has calculated the desired corrections,\r\nit is passed back to this flow and applied to your batteries.",
        "env": []
    },
    {
        "id": "bf6a53e28b17a965",
        "type": "group",
        "z": "d606df74d35deb5a",
        "name": "Start",
        "style": {
            "label": true,
            "stroke": "#009ac7"
        },
        "nodes": [
            "07f578e8d77a6066",
            "f0f10a69f16358b4",
            "7233c720d336ab0e"
        ],
        "x": 34,
        "y": 19,
        "w": 652,
        "h": 82
    },
    {
        "id": "2f55254a75de7eac",
        "type": "group",
        "z": "d606df74d35deb5a",
        "name": "Strategy selection",
        "style": {
            "label": true
        },
        "nodes": [
            "0a18a9afc72f1d32",
            "b1dbcc77cedb987d",
            "88743efd1be39ac0",
            "8c87362300f9e8a9",
            "a376501fd2fbda42",
            "f878594567dd6de3",
            "577799803f59afa3",
            "e02a401687cca8f7"
        ],
        "x": 34,
        "y": 1099,
        "w": 852,
        "h": 162
    },
    {
        "id": "addfdb5d932c3069",
        "type": "group",
        "z": "d606df74d35deb5a",
        "name": "Get batteries information",
        "style": {
            "label": true
        },
        "nodes": [
            "bad46ba72b001194",
            "d60f886f9c9c0fef",
            "c68fdfcf95cea6e2",
            "9936537e2686ac2f",
            "771e163e4cfa24d8",
            "6a615ed6c35dc0e2",
            "4c07cedc6c4c714a",
            "73525c1c8b92b3a0"
        ],
        "x": 34,
        "y": 379,
        "w": 1678,
        "h": 242
    },
    {
        "id": "b5e73bf0802b8ee5",
        "type": "group",
        "z": "d606df74d35deb5a",
        "name": "On deploy and global logger",
        "style": {
            "label": true,
            "stroke": "#92d04f"
        },
        "nodes": [
            "7509ce6c0fe3ff6f",
            "1c3b6f8d0002b083",
            "087b5da53e552e7e"
        ],
        "x": 1294,
        "y": 19,
        "w": 592,
        "h": 82
    },
    {
        "id": "a1a93b2ad3bb1957",
        "type": "group",
        "z": "d606df74d35deb5a",
        "name": "Set Batteries",
        "style": {
            "label": true
        },
        "nodes": [
            "8a4bb137d9ead801",
            "66a8090e86789513",
            "db5cbde46c062d05",
            "26a023e0b0ddaa91",
            "c46c14905118357a",
            "f8c4c99343bc8523",
            "2322cf04987574c4"
        ],
        "x": 34,
        "y": 1279,
        "w": 858,
        "h": 342
    },
    {
        "id": "c6cd7e90429c2d54",
        "type": "group",
        "z": "d606df74d35deb5a",
        "name": "Battery priority",
        "style": {
            "label": true
        },
        "nodes": [
            "7ec912ba5531ca1e",
            "08bb82d67bac4834",
            "0a99b834d8c63143",
            "2df3e0c6f87a880d",
            "7bfa36a58c2e58c4",
            "99b07830d0772ec0",
            "77e8e8a5290084ac",
            "ecf68f4aa2389978",
            "b52406f3a530e1f3",
            "23a9da6f7e8bcb2e"
        ],
        "x": 34,
        "y": 899,
        "w": 2012,
        "h": 82
    },
    {
        "id": "44a5fa990d1aa71c",
        "type": "group",
        "z": "d606df74d35deb5a",
        "name": "Calculate totals",
        "style": {
            "label": true
        },
        "nodes": [
            "8b1d8aa61984d35e"
        ],
        "x": 34,
        "y": 639,
        "w": 212,
        "h": 82
    },
    {
        "id": "c225afb7fad059b6",
        "type": "group",
        "z": "d606df74d35deb5a",
        "name": "Rate limiter",
        "style": {
            "label": true
        },
        "nodes": [
            "f98f65f57e64f738",
            "3214d91be0b9da47",
            "07bf553135b44631",
            "1b71fc3c735335bb",
            "ef4215066edb0b65",
            "9b65130a094712e9",
            "911c9a9697fa2077",
            "c9d3c60980edcbae",
            "628ec4c46f42f50d",
            "c36a68dbf8b0d350"
        ],
        "x": 34,
        "y": 219,
        "w": 1382,
        "h": 122
    },
    {
        "id": "cdc2da5f7f6c94fc",
        "type": "group",
        "z": "d606df74d35deb5a",
        "name": "Update UI: debug dashboard",
        "style": {
            "label": true,
            "stroke": "#3f5787"
        },
        "nodes": [
            "be111186eaf794bf",
            "7c4a68a5bd4dc494",
            "f7c07e4ba00a750a",
            "0d740fbf20317d6b",
            "4c43c962d00bda02",
            "80a24133639f0ff7"
        ],
        "x": 1234,
        "y": 1479,
        "w": 632,
        "h": 202
    },
    {
        "id": "936b9e2d8b32f640",
        "type": "group",
        "z": "d606df74d35deb5a",
        "name": "Update UI: cummulative totals",
        "style": {
            "label": true,
            "stroke": "#3f5787"
        },
        "nodes": [
            "59cedad23c2c732f",
            "ce4703d43cfa5ea0",
            "accd05767c708907",
            "1602868e9de0f160",
            "3b4425ca5a07797c",
            "95f4cccc8c216dd2",
            "75de06a33691c822",
            "b07847402d226b4e",
            "b63d1c5b1bede244",
            "f7d323697d7bf572"
        ],
        "x": 1474,
        "y": 639,
        "w": 432,
        "h": 242
    },
    {
        "id": "a074477615f1fa41",
        "type": "group",
        "z": "d606df74d35deb5a",
        "name": "Update UI: active sub-strategy",
        "style": {
            "label": true,
            "stroke": "#3f5787"
        },
        "nodes": [
            "926dda2ed7945363",
            "2de79f2b5f31ce93",
            "a94478d982872146"
        ],
        "x": 1254,
        "y": 1179,
        "w": 632,
        "h": 82
    },
    {
        "id": "7e56ab546a77b6a6",
        "type": "group",
        "z": "d606df74d35deb5a",
        "name": "Insight",
        "style": {
            "label": true
        },
        "nodes": [
            "4ba0e839e1619354",
            "569434db0b6c3f79",
            "4b5f677a4feb43b5",
            "54c77508e1d6d7e5",
            "1cef6f344eeefc73",
            "7d50509a5b5e06d5"
        ],
        "x": 34,
        "y": 119,
        "w": 892,
        "h": 82
    },
    {
        "id": "b0a8ca89b99e2ff3",
        "type": "group",
        "z": "d606df74d35deb5a",
        "name": "Log and Error handling",
        "style": {
            "stroke": "#ff3f3f",
            "label": true
        },
        "nodes": [
            "e2e2060eb289297a",
            "e1d21bbf83668ba7"
        ],
        "x": 1634,
        "y": 119,
        "w": 252,
        "h": 142
    },
    {
        "id": "82202b139b6c7bae",
        "type": "group",
        "z": "d606df74d35deb5a",
        "name": "Unhandled exceptions",
        "style": {
            "label": true,
            "stroke": "#d88a8a",
            "color": "#d88a8a"
        },
        "nodes": [
            "3135bfc3fcac71df",
            "bbace8f95194f095",
            "ef2ca2b60bde5323"
        ],
        "x": 1704,
        "y": 279,
        "w": 182,
        "h": 82
    },
    {
        "id": "332f02f2f7a577ae",
        "type": "group",
        "z": "d606df74d35deb5a",
        "name": "Peak shave settings",
        "style": {
            "label": true
        },
        "nodes": [
            "1b34a65fbb9cc71e",
            "eed0b5dee8490ee6",
            "21837d8c8d1ed4d2",
            "07ba25e57b984a93"
        ],
        "x": 34,
        "y": 999,
        "w": 752,
        "h": 82
    },
    {
        "id": "771e163e4cfa24d8",
        "type": "group",
        "z": "d606df74d35deb5a",
        "g": "addfdb5d932c3069",
        "name": "Loop",
        "style": {
            "label": true
        },
        "nodes": [
            "736f67c78b32da01",
            "890ea7952ecec205",
            "f1fa1fe62fd71e22",
            "be7ae7c230c68764",
            "c8049cf6bbed3ddd",
            "89642e6446ca2dad",
            "4969cbfc3dc0a89a",
            "8e3a7fd1bcc42d78",
            "d525e1bc44d842fc",
            "5f243e134ce5c924"
        ],
        "x": 74,
        "y": 459,
        "w": 1612,
        "h": 82
    },
    {
        "id": "26a023e0b0ddaa91",
        "type": "group",
        "z": "d606df74d35deb5a",
        "g": "a1a93b2ad3bb1957",
        "name": "Loop",
        "style": {
            "label": true
        },
        "nodes": [
            "9dd9bc4a74fdc69e",
            "b6db2e7eef3272a5",
            "c5d13c1ccdb3ea57",
            "7a4def72c1f4a75b",
            "e62709008db44e4b",
            "8ae1fb3a3efd5c40",
            "b6975906740647a3"
        ],
        "x": 314,
        "y": 1319,
        "w": 552,
        "h": 222
    },
    {
        "id": "7c850df57b20168e",
        "type": "junction",
        "z": "d606df74d35deb5a",
        "x": 40,
        "y": 360,
        "wires": [
            [
                "9936537e2686ac2f"
            ]
        ]
    },
    {
        "id": "ae82b054e73c8a65",
        "type": "junction",
        "z": "d606df74d35deb5a",
        "x": 1380,
        "y": 680,
        "wires": [
            [
                "ce4703d43cfa5ea0",
                "accd05767c708907",
                "3b4425ca5a07797c",
                "75de06a33691c822",
                "b63d1c5b1bede244"
            ]
        ]
    },
    {
        "id": "07f578e8d77a6066",
        "type": "server-state-changed",
        "z": "d606df74d35deb5a",
        "g": "bf6a53e28b17a965",
        "name": "P1 meter",
        "server": "176d29a.6f648d6",
        "version": 6,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "sensor.p1_meter_power"
            ],
            "substring": [],
            "regex": []
        },
        "outputInitially": false,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": false,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": true,
        "ignorePrevStateUnknown": true,
        "ignorePrevStateUnavailable": true,
        "ignoreCurrentStateUnknown": true,
        "ignoreCurrentStateUnavailable": true,
        "outputProperties": [
            {
                "property": "grid_power",
                "propertyType": "msg",
                "value": "number",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            },
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "number",
                "valueType": "entityState"
            },
            {
                "property": "timestamp",
                "propertyType": "msg",
                "value": "",
                "valueType": "date"
            }
        ],
        "x": 120,
        "y": 60,
        "wires": [
            [
                "f0f10a69f16358b4"
            ]
        ]
    },
    {
        "id": "f0f10a69f16358b4",
        "type": "api-current-state",
        "z": "d606df74d35deb5a",
        "g": "bf6a53e28b17a965",
        "name": "Master Control Mode",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_select.marstek_master_battery_mode",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "master_mode",
                "propertyType": "flow",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 300,
        "y": 60,
        "wires": [
            [
                "7233c720d336ab0e"
            ]
        ]
    },
    {
        "id": "7233c720d336ab0e",
        "type": "switch",
        "z": "d606df74d35deb5a",
        "g": "bf6a53e28b17a965",
        "name": "when in \"Full Control\" mode",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Full control",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 540,
        "y": 60,
        "wires": [
            [
                "4ba0e839e1619354"
            ]
        ]
    },
    {
        "id": "0a18a9afc72f1d32",
        "type": "function",
        "z": "d606df74d35deb5a",
        "g": "2f55254a75de7eac",
        "name": "Strategy selection",
        "func": "// Logger\nconst logger = global.get(\"logger\");\n\n// INFLOW\nlet strategy = flow.get(\"house_battery_strategy\");\n\n// Configure msg.strategy object\nRED.util.setMessageProperty(msg,\"strategy.selected\",strategy,true); // by user\nRED.util.setMessageProperty(msg,\"strategy.trace\",[],true); // init trace: which flows have been executed\n\n// stop on error\nif(msg.batteries === undefined) {\n    logger(this, \"Battery configuration undefined\", \"error\");\n    return null;\n}\nif(strategy === undefined) {\n    logger(this, \"Battery strategy undefined\", \"error\");\n    return null;\n}\n\n// Default | select target flow based on the input_select `house_battery_strategy`\nmsg.target = `${strategy}`;\n\n// full stop trigger overrules ALL selected strategies\nconst stopTrigger = RED.util.getMessageProperty(msg,\"full_stop_trigger\");\nif(stopTrigger == \"on\" || stopTrigger === true || stopTrigger === 1) {\n    msg.target = 'Full stop';\n    // Explain\n    logger(this, `**Full Stop** strategy selected, due to (EV) stop trigger: '${stopTrigger}'`);\n}\n\n// add execution marker\nRED.util.setMessageProperty(msg,\"strategy.execution_start\",Date.now()); // when do we start executing the selected strategy\n\n// OUTPUT\nnode.status({fill:\"grey\",shape:\"dot\",text:msg.target});\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 1140,
        "wires": [
            [
                "88743efd1be39ac0",
                "b1dbcc77cedb987d"
            ]
        ]
    },
    {
        "id": "b1dbcc77cedb987d",
        "type": "link call",
        "z": "d606df74d35deb5a",
        "g": "2f55254a75de7eac",
        "name": "Call \"Link in\" node",
        "links": [],
        "linkType": "dynamic",
        "timeout": "1",
        "x": 510,
        "y": 1180,
        "wires": [
            [
                "8c87362300f9e8a9",
                "a376501fd2fbda42"
            ]
        ]
    },
    {
        "id": "88743efd1be39ac0",
        "type": "debug",
        "z": "d606df74d35deb5a",
        "g": "2f55254a75de7eac",
        "name": "Input msg",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 1140,
        "wires": []
    },
    {
        "id": "8c87362300f9e8a9",
        "type": "debug",
        "z": "d606df74d35deb5a",
        "g": "2f55254a75de7eac",
        "name": "Returned msg",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 1180,
        "wires": []
    },
    {
        "id": "a376501fd2fbda42",
        "type": "function",
        "z": "d606df74d35deb5a",
        "g": "2f55254a75de7eac",
        "name": "Strategy evaluation",
        "func": "// add execution marker\nlet execution_end = Date.now();\nRED.util.setMessageProperty(msg, \"strategy.execution_end\", execution_end);\n\n// retrieve execution markers\nlet execution_start = RED.util.getMessageProperty(msg,\"strategy.execution_start\");\n\n// report execution time\nif (execution_start !== undefined && execution_end !== undefined) {\n    // exec time\n    let execution_time = (execution_end - execution_start) / 1000; // seconds\n    // report\n    if (execution_time <= 0) node.status({ fill: \"red\", shape: \"dot\", text: `negative or zero timing` });\n    if (execution_time > 0) node.status({ fill: \"green\", shape: \"dot\", text: `${execution_time} sec`});\n    if (execution_time >= 0.7) node.status({ fill: \"yellow\", shape: \"dot\", text: `${execution_time} sec` });\n    if (execution_time >= 1) node.status({ fill: \"red\", shape: \"dot\", text: `${execution_time} sec` });\n    // store in flow context (so the rate limiter can evaluate at next pass)\n    flow.set(\"strategy_execution_time\", execution_time); // negative = error\n} else {\n    // report\n    node.status({fill:\"grey\",shape:\"dot\",text:\"timing error\"});\n    // store in flow context (so the rate limiter can evaluate at next pass)\n    flow.set(\"strategy_execution_time\", -1); // negative = error\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 1220,
        "wires": [
            [
                "db5cbde46c062d05",
                "f878594567dd6de3",
                "926dda2ed7945363"
            ]
        ]
    },
    {
        "id": "bad46ba72b001194",
        "type": "function",
        "z": "d606df74d35deb5a",
        "g": "addfdb5d932c3069",
        "name": "Loop start",
        "func": "// loop through the number of batteries set by the user\nmsg.battery_index = 1; // base-1\n\n// Init an array for battery status and value information\nmsg.batteries = [];\n\n// Continue\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 420,
        "wires": [
            [
                "736f67c78b32da01"
            ]
        ]
    },
    {
        "id": "6a615ed6c35dc0e2",
        "type": "function",
        "z": "d606df74d35deb5a",
        "g": "addfdb5d932c3069",
        "name": "Mapping",
        "func": "// Map to batteries array\nmsg.batteries.push({\n    id: `M${msg.battery_index}`,\n    power: parseInt(msg.battery_power,10),\n    charging_max: parseInt(msg.max_charge_power,10),\n    discharging_max: parseInt(msg.max_discharge_power,10),\n    soc: parseInt(msg.battery_state_of_charge,10),\n    soc_max: parseInt(msg.charging_cutoff_capacity,10),\n    soc_min: parseInt(msg.discharging_cutoff_capacity,10),\n    inverter: String(msg.inverter_state),\n    energy: Number(msg.battery_remaining_capacity),\n    energy_max: Number(msg.battery_total_energy),\n    rs485: String(msg.rs485_control_mode)\n    });\n\n// Continue\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 140,
        "y": 580,
        "wires": [
            [
                "4c07cedc6c4c714a"
            ]
        ]
    },
    {
        "id": "d60f886f9c9c0fef",
        "type": "switch",
        "z": "d606df74d35deb5a",
        "g": "addfdb5d932c3069",
        "name": "Loop until",
        "property": "battery_index",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lte",
                "v": "battery_count",
                "vt": "msg"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 420,
        "y": 580,
        "wires": [
            [
                "736f67c78b32da01"
            ],
            [
                "73525c1c8b92b3a0"
            ]
        ]
    },
    {
        "id": "c68fdfcf95cea6e2",
        "type": "debug",
        "z": "d606df74d35deb5a",
        "g": "addfdb5d932c3069",
        "name": "Loop result",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 580,
        "wires": []
    },
    {
        "id": "9936537e2686ac2f",
        "type": "api-current-state",
        "z": "d606df74d35deb5a",
        "g": "addfdb5d932c3069",
        "name": "Your battery count",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_number.house_battery_count",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "number",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "battery_count",
                "propertyType": "msg",
                "value": "number",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 150,
        "y": 420,
        "wires": [
            [
                "bad46ba72b001194"
            ]
        ]
    },
    {
        "id": "736f67c78b32da01",
        "type": "api-current-state",
        "z": "d606df74d35deb5a",
        "g": "771e163e4cfa24d8",
        "name": "Control mode",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "select.marstek_m{{battery_index}}_rs485_control_mode",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "rs485_control_mode",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 180,
        "y": 500,
        "wires": [
            [
                "4969cbfc3dc0a89a"
            ]
        ]
    },
    {
        "id": "890ea7952ecec205",
        "type": "api-current-state",
        "z": "d606df74d35deb5a",
        "g": "771e163e4cfa24d8",
        "name": "SoC",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.marstek_m{{battery_index}}_battery_state_of_charge",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "number",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "battery_state_of_charge",
                "propertyType": "msg",
                "value": "number",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 870,
        "y": 500,
        "wires": [
            [
                "d525e1bc44d842fc"
            ]
        ]
    },
    {
        "id": "f1fa1fe62fd71e22",
        "type": "api-current-state",
        "z": "d606df74d35deb5a",
        "g": "771e163e4cfa24d8",
        "name": "Inverter state",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.marstek_m{{battery_index}}_inverter_state",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "inverter_state",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 1290,
        "y": 500,
        "wires": [
            [
                "c8049cf6bbed3ddd"
            ]
        ]
    },
    {
        "id": "be7ae7c230c68764",
        "type": "api-current-state",
        "z": "d606df74d35deb5a",
        "g": "771e163e4cfa24d8",
        "name": "Max discharge power",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "number.marstek_m{{battery_index}}_max_discharge_power",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "number",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "max_discharge_power",
                "propertyType": "msg",
                "value": "number",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 700,
        "y": 500,
        "wires": [
            [
                "890ea7952ecec205"
            ]
        ]
    },
    {
        "id": "c8049cf6bbed3ddd",
        "type": "api-current-state",
        "z": "d606df74d35deb5a",
        "g": "771e163e4cfa24d8",
        "name": "Energy",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.marstek_m{{battery_index}}_battery_remaining_capacity",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "number",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "battery_remaining_capacity",
                "propertyType": "msg",
                "value": "number",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 1440,
        "y": 500,
        "wires": [
            [
                "8e3a7fd1bcc42d78"
            ]
        ]
    },
    {
        "id": "89642e6446ca2dad",
        "type": "api-current-state",
        "z": "d606df74d35deb5a",
        "g": "771e163e4cfa24d8",
        "name": "Max charge power",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "number.marstek_m{{battery_index}}_max_charge_power",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "number",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "max_charge_power",
                "propertyType": "msg",
                "value": "number",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 490,
        "y": 500,
        "wires": [
            [
                "be7ae7c230c68764"
            ]
        ]
    },
    {
        "id": "4969cbfc3dc0a89a",
        "type": "api-current-state",
        "z": "d606df74d35deb5a",
        "g": "771e163e4cfa24d8",
        "name": "Power",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.marstek_m{{battery_index}}_battery_power",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "number",
                "valueType": "entityState"
            },
            {
                "property": "battery_power",
                "propertyType": "msg",
                "value": "number",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 330,
        "y": 500,
        "wires": [
            [
                "89642e6446ca2dad"
            ]
        ]
    },
    {
        "id": "7509ce6c0fe3ff6f",
        "type": "api-call-service",
        "z": "d606df74d35deb5a",
        "g": "b5e73bf0802b8ee5",
        "name": "Node-RED status: OK",
        "server": "176d29a.6f648d6",
        "version": 7,
        "debugenabled": false,
        "action": "input_boolean.turn_on",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_boolean.house_battery_control_has_node_red"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "input_boolean",
        "service": "turn_on",
        "x": 1760,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "1c3b6f8d0002b083",
        "type": "inject",
        "z": "d606df74d35deb5a",
        "g": "b5e73bf0802b8ee5",
        "name": "On deploy",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1410,
        "y": 60,
        "wires": [
            [
                "087b5da53e552e7e",
                "e2e2060eb289297a"
            ]
        ]
    },
    {
        "id": "9dd9bc4a74fdc69e",
        "type": "api-call-service",
        "z": "d606df74d35deb5a",
        "g": "26a023e0b0ddaa91",
        "name": "Set mode (charge/discharge/stop)",
        "server": "176d29a.6f648d6",
        "version": 7,
        "debugenabled": false,
        "action": "",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "labelId": [],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "input_text",
        "service": "set_value",
        "x": 660,
        "y": 1360,
        "wires": [
            []
        ]
    },
    {
        "id": "b6db2e7eef3272a5",
        "type": "function",
        "z": "d606df74d35deb5a",
        "g": "26a023e0b0ddaa91",
        "name": "Set Batteries",
        "func": "// Logger\nconst log = global.get(\"logger\");\n\n// enums\nconst CMODE = {\n    STOP: \"stop\", // Marstek batteries disconnect a relay when this is set or Power is 0W\n    CHARGE: \"charge\",\n    DISCHARGE: \"discharge\"\n}\n\n// Output format and target\nlet outputArray = [];\nlet solution = msg.solutions[msg.battery_index-1]; // Base-0, thus -1\nif (solution === undefined) {\n    log(this,`Can't find solution for index ${msg.battery_index - 1} in ${msg.solutions}, aborting...`,\"error\");\n    return null;\n}\nlet target = `marstek_${solution.id.toLowerCase()}`;\n\n// Safety | Id exists\nlet battery = msg.batteries.find(battery => battery.id === solution.id);\nif (battery === undefined) {\n    log(`Can't set battery ${solution.id}, aborting...`,\"error\");\n    return null;\n}\n// Safety | Power limit\nsolution.power = Math.min(solution.power, solution.mode == CMODE.CHARGE ? battery.charging_max: battery.discharging_max);\n\n// Set | Mode\nconst serviceCallMode = {\n    \"action\": \"select.select_option\",\n    \"target\": {\n        \"entity_id\": [`select.${target}_forcible_charge_discharge`]\n    },\n    \"data\": {\n         \"option\": String(solution.mode) // forced charge mode (stop, charge, discharge)\n    }\n};\n// Add topic to allow correct 'on change' filtering\noutputArray.push({payload: serviceCallMode, topic:solution.id});\n\n// Set | Power\nconst serviceCallPower = {\n    \"action\": \"number.set_value\",\n    \"target\": {\n        \"entity_id\": [\n            `number.${target}_forcible_charge_power`,\n            `number.${target}_forcible_discharge_power`\n            ]\n    },\n    \"data\": {\n        \"value\": Number(solution.power)\n    } \n};\n// Add topic to allow correct 'on change' filtering\noutputArray.push({payload: serviceCallPower, topic:solution.id});\n\n// Store service calls in msg to allow checking of loop results\nmsg.loop_result = { target, serviceCallMode, serviceCallPower };\n\n// Return msg as third output\noutputArray.push(msg);\n\n// Explain\nlog(this,`${target} ${String(solution.mode)} @ ${Number(solution.power)} Watt`);\n\n// Output\nreturn outputArray;",
        "outputs": 3,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 1400,
        "wires": [
            [
                "9dd9bc4a74fdc69e"
            ],
            [
                "b6975906740647a3"
            ],
            [
                "7a4def72c1f4a75b"
            ]
        ],
        "inputLabels": [
            "Msg with a battery_index"
        ],
        "outputLabels": [
            "Select MODE",
            "Set POWER",
            "Msg"
        ]
    },
    {
        "id": "8a4bb137d9ead801",
        "type": "function",
        "z": "d606df74d35deb5a",
        "g": "a1a93b2ad3bb1957",
        "name": "Loop start",
        "func": "// loop through the number of batteries set by the user\nmsg.battery_index = msg.battery_count;\n\n// Debug\nRED.util.setMessageProperty(msg, \"debug\", `## Cohort ${Date.now()} ##`);\n\n// Continue\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 120,
        "y": 1400,
        "wires": [
            [
                "b6db2e7eef3272a5"
            ]
        ]
    },
    {
        "id": "c5d13c1ccdb3ea57",
        "type": "switch",
        "z": "d606df74d35deb5a",
        "g": "26a023e0b0ddaa91",
        "name": "Loop until",
        "property": "battery_index",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 740,
        "y": 1460,
        "wires": [
            [
                "b6db2e7eef3272a5"
            ],
            [
                "c46c14905118357a"
            ]
        ]
    },
    {
        "id": "7a4def72c1f4a75b",
        "type": "function",
        "z": "d606df74d35deb5a",
        "g": "26a023e0b0ddaa91",
        "name": "Loop step",
        "func": "// Step index down\nmsg.battery_index -= 1;\n\n// Continue\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 1460,
        "wires": [
            [
                "c5d13c1ccdb3ea57",
                "8ae1fb3a3efd5c40"
            ]
        ]
    },
    {
        "id": "e62709008db44e4b",
        "type": "api-call-service",
        "z": "d606df74d35deb5a",
        "g": "26a023e0b0ddaa91",
        "name": "Set power (W)",
        "server": "176d29a.6f648d6",
        "version": 7,
        "debugenabled": false,
        "action": "",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "labelId": [],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "input_text",
        "service": "set_value",
        "x": 760,
        "y": 1400,
        "wires": [
            []
        ]
    },
    {
        "id": "66a8090e86789513",
        "type": "function",
        "z": "d606df74d35deb5a",
        "g": "a1a93b2ad3bb1957",
        "name": "Timing start",
        "func": "RED.util.setMessageProperty(msg,\"setbatteries.execution_start\",Date.now());\nRED.util.setMessageProperty(msg,\"setbatteries.marker\", `M1_${Date.now()}`);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 130,
        "y": 1360,
        "wires": [
            [
                "8a4bb137d9ead801"
            ]
        ]
    },
    {
        "id": "db5cbde46c062d05",
        "type": "switch",
        "z": "d606df74d35deb5a",
        "g": "a1a93b2ad3bb1957",
        "name": "solutions present",
        "property": "solutions",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "undefined",
                "vt": "jsonata"
            },
            {
                "t": "neq",
                "v": "undefined",
                "vt": "jsonata"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 150,
        "y": 1320,
        "wires": [
            [
                "2322cf04987574c4"
            ],
            [
                "66a8090e86789513"
            ]
        ]
    },
    {
        "id": "c46c14905118357a",
        "type": "function",
        "z": "d606df74d35deb5a",
        "g": "a1a93b2ad3bb1957",
        "name": "Timing end",
        "func": "let start = RED.util.getMessageProperty(msg,\"setbatteries.execution_start\");\nlet end = Date.now();\nlet delta = end - start;\nlet timingString = `${delta/1000} sec`;\n\nnode.status({fill:\"green\",shape:\"dot\",text: timingString});\nmsg.delta = delta;\nmsg.timing = timingString;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 130,
        "y": 1580,
        "wires": [
            [
                "f8c4c99343bc8523",
                "7c4a68a5bd4dc494"
            ]
        ]
    },
    {
        "id": "8ae1fb3a3efd5c40",
        "type": "debug",
        "z": "d606df74d35deb5a",
        "g": "26a023e0b0ddaa91",
        "name": "Step result",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "loop_result",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 1500,
        "wires": []
    },
    {
        "id": "b6975906740647a3",
        "type": "rbe",
        "z": "d606df74d35deb5a",
        "g": "26a023e0b0ddaa91",
        "name": "on change",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 590,
        "y": 1400,
        "wires": [
            [
                "e62709008db44e4b"
            ]
        ]
    },
    {
        "id": "f8c4c99343bc8523",
        "type": "debug",
        "z": "d606df74d35deb5a",
        "g": "a1a93b2ad3bb1957",
        "name": "Done",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": false,
        "complete": "debug",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 270,
        "y": 1580,
        "wires": []
    },
    {
        "id": "4c07cedc6c4c714a",
        "type": "function",
        "z": "d606df74d35deb5a",
        "g": "addfdb5d932c3069",
        "name": "Loop step",
        "func": "// Step index down\nmsg.battery_index += 1;\n\n// Continue\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 580,
        "wires": [
            [
                "d60f886f9c9c0fef"
            ]
        ]
    },
    {
        "id": "7ec912ba5531ca1e",
        "type": "function",
        "z": "d606df74d35deb5a",
        "g": "c6cd7e90429c2d54",
        "name": "Update battery order",
        "func": "// Cycles battery priority as follows\n// M=1 [1,2,3,4] | M=2 [2,3,4,1] | M=3 [3,4,1,2] | etc.\n// With M the battery to prioritize\n\n// msg.batteries (original order)\nlet currentArray = msg.batteries;\n\n// Prioritize the Mth battery\nconst M = RED.util.getMessageProperty(msg,\"prioritize_battery\") || 1;\n\n// Flag wether the order may be reversed when discharging (e.g. Self-consumption utilizes this)\nconst reverseDischargePriority = RED.util.getMessageProperty(msg,\"battery_priority_cycle_interval\") !== \"Auto balance\";\nRED.util.setMessageProperty(msg, \"advanced_settings.reverse_discharge_priority\", reverseDischargePriority,true);\n\n// 1st battery has prio? Skip and continue without change\nif (M==1) return msg;\n\n// N equals the number of items to take from the front to the back of the array, effectivly rotating battery priority\nconst N = M - 1; // base-0 version of M\nnode.status({fill:\"blue\",shape:\"ring\",text:`N = ${N}`});\n\n// 1. Check if the array is valid and long enough\nif (!Array.isArray(currentArray) || currentArray.length < N) {\n    // Send an error or the original array back if the array is invalid/too short\n    node.error(`Array is not valid or shorter than ${N} items.`, msg);\n    return null;\n}\n\n// 2. Get the first N items (these will go to the back)\n// slice(0, N) retrieves elements from the start (index 0) up to index N (exclusive).\nlet firstN = currentArray.slice(0, N);\n\n// 3. Get the remaining items (these will stay at the front)\n// slice(N) retrieves elements from index N to the end of the array.\nlet remaining = currentArray.slice(N);\n\n// 4. Concatenate them: remaining items (front) + first N items (back)\nlet newArray = remaining.concat(firstN);\n\n// 5. Place the new array back into msg.batteries\nmsg.batteries = newArray;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 940,
        "wires": [
            [
                "1b34a65fbb9cc71e"
            ]
        ]
    },
    {
        "id": "08bb82d67bac4834",
        "type": "inject",
        "z": "d606df74d35deb5a",
        "g": "c6cd7e90429c2d54",
        "name": "Every 30 min",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "0,30 * * * *",
        "once": false,
        "onceDelay": "5",
        "topic": "cycle_battery_priority",
        "payload": "",
        "payloadType": "date",
        "x": 780,
        "y": 940,
        "wires": [
            [
                "77e8e8a5290084ac"
            ]
        ]
    },
    {
        "id": "0a99b834d8c63143",
        "type": "function",
        "z": "d606df74d35deb5a",
        "g": "c6cd7e90429c2d54",
        "name": "Change priority",
        "func": "// Current prioritized battery\nlet currentBattery = parseInt(RED.util.getMessageProperty(msg, \"prioritize_battery\"), 10) || 1;\nconst totalBatteries = parseInt(msg.battery_count, 10) || 1;\n\n// Prioritize the next battery\ncurrentBattery += 1;\n\n// Loop back to the first battery if we exceed the total count\nif (currentBattery > totalBatteries) {\n    currentBattery = 1;\n}\n\n// Strictly enforce integer type on the output payload\nmsg.payload = parseInt(currentBattery, 10);\n\n// Update node status visually in Node-RED\nnode.status({ fill: \"green\", shape: \"dot\", text: `Prioritize battery #${msg.payload}` });\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1700,
        "y": 940,
        "wires": [
            [
                "99b07830d0772ec0"
            ]
        ]
    },
    {
        "id": "2df3e0c6f87a880d",
        "type": "api-current-state",
        "z": "d606df74d35deb5a",
        "g": "c6cd7e90429c2d54",
        "name": "Your battery count",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_number.house_battery_count",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "number",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "battery_count",
                "propertyType": "msg",
                "value": "number",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 1510,
        "y": 940,
        "wires": [
            [
                "0a99b834d8c63143"
            ]
        ]
    },
    {
        "id": "7bfa36a58c2e58c4",
        "type": "api-current-state",
        "z": "d606df74d35deb5a",
        "g": "c6cd7e90429c2d54",
        "name": "Prioritize battery M",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_number.house_battery_control_prioritize_battery",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "number",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "prioritize_battery",
                "propertyType": "msg",
                "value": "number",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 150,
        "y": 940,
        "wires": [
            [
                "23a9da6f7e8bcb2e"
            ]
        ]
    },
    {
        "id": "99b07830d0772ec0",
        "type": "api-call-service",
        "z": "d606df74d35deb5a",
        "g": "c6cd7e90429c2d54",
        "name": "Update prioritized battery",
        "server": "176d29a.6f648d6",
        "version": 7,
        "debugenabled": false,
        "action": "input_number.set_value",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_number.house_battery_control_prioritize_battery"
        ],
        "labelId": [],
        "data": "{\"value\": \"{{payload}}\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "input_number",
        "service": "set_value",
        "x": 1910,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "77e8e8a5290084ac",
        "type": "api-current-state",
        "z": "d606df74d35deb5a",
        "g": "c6cd7e90429c2d54",
        "name": "Desired interval",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_select.house_battery_control_priority_change_interval",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 960,
        "y": 940,
        "wires": [
            [
                "ecf68f4aa2389978"
            ]
        ]
    },
    {
        "id": "ecf68f4aa2389978",
        "type": "function",
        "z": "d606df74d35deb5a",
        "g": "c6cd7e90429c2d54",
        "name": "Check interval ",
        "func": "// Manual priority, never pass\nif(msg.payload == \"Never\") {\n    node.status({fill:\"yellow\",shape:\"dot\",text:\"Auto cycle disabled\"});\n    return null;\n}\n\nconst now = new Date();\n\n// Auto balance: pass every 30 min trigger\nif(msg.payload == \"Auto balance\") {\n    node.status({ fill: \"green\", shape: \"dot\", text: `Auto balance` });\n    return msg;\n}\n\n// Daily interval: pass at 02:00\nif(msg.payload == \"Daily\") {\n    if (now.getHours() === 2 && now.getMinutes() === 0) {\n        node.status({ fill: \"green\", shape: \"dot\", text: `Daily at 02:00` });\n        return msg;\n    } else {\n        node.status({ fill: \"yellow\", shape: \"dot\", text: `Halted, not 02:00` });\n        return null;\n    }\n}\n\n// Weekly interval\nconst dayOfWeek = now.getDay();\n\nif (dayOfWeek === 0 && now.getHours() === 2 && now.getMinutes() === 0) {\n    node.status({ fill: \"green\", shape: \"dot\", text: `Passed on Sunday` });\n    return msg;\n} else {\n    node.status({ fill: \"yellow\", shape: \"dot\", text: `Halted, not Sunday 02:00` });\n    return null;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1140,
        "y": 940,
        "wires": [
            [
                "b52406f3a530e1f3"
            ]
        ]
    },
    {
        "id": "b52406f3a530e1f3",
        "type": "api-current-state",
        "z": "d606df74d35deb5a",
        "g": "c6cd7e90429c2d54",
        "name": "Current priority",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_number.house_battery_control_prioritize_battery",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "number",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "prioritize_battery",
                "propertyType": "msg",
                "value": "number",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 1320,
        "y": 940,
        "wires": [
            [
                "2df3e0c6f87a880d"
            ]
        ]
    },
    {
        "id": "8b1d8aa61984d35e",
        "type": "function",
        "z": "d606df74d35deb5a",
        "g": "44a5fa990d1aa71c",
        "name": "Batteries (totals)",
        "func": "// batteries | calculate total and max. power delivered by batteries\nlet batteries = msg.batteries;\nlet batteries_total_power = 0;\nlet batteries_max_charging_power = 0;\nlet batteries_max_discharging_power = 0;\nlet batteries_available_energy = 0;\nlet batteries_max_energy = 0;\n\nbatteries.forEach(battery => {\n    batteries_total_power += Number(battery.power);\n    batteries_max_charging_power += Number(battery.charging_max);\n    batteries_max_discharging_power += Number(battery.discharging_max);\n    batteries_available_energy += Number(battery.energy - battery.energy_max*battery.soc_min/100);\n    batteries_max_energy += (Number(battery.energy_max*battery.soc_max) - Number(battery.energy_max*battery.soc_min))/100; // kWh\n});\n\n// OUTPUT\nRED.util.setMessageProperty(msg, \"batteries_total_power\", batteries_total_power, true); // W\nRED.util.setMessageProperty(msg, \"batteries_max_charge_power\", batteries_max_charging_power,true); // W\nRED.util.setMessageProperty(msg, \"batteries_max_discharge_power\", batteries_max_discharging_power,true); // W\nRED.util.setMessageProperty(msg, \"batteries_available_energy\",batteries_available_energy,true); // kWh usable\nRED.util.setMessageProperty(msg, \"batteries_max_energy\", batteries_max_energy, true); // kWh usable\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 140,
        "y": 680,
        "wires": [
            [
                "ae82b054e73c8a65",
                "7bb44953c30a4f6e",
                "7bfa36a58c2e58c4"
            ]
        ],
        "inputLabels": [
            "Mapping (from Home Battery IO)"
        ]
    },
    {
        "id": "8e3a7fd1bcc42d78",
        "type": "api-current-state",
        "z": "d606df74d35deb5a",
        "g": "771e163e4cfa24d8",
        "name": "Energy max",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.marstek_m{{battery_index}}_battery_total_energy",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "battery_total_energy",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 1590,
        "y": 500,
        "wires": [
            [
                "6a615ed6c35dc0e2"
            ]
        ]
    },
    {
        "id": "73525c1c8b92b3a0",
        "type": "function",
        "z": "d606df74d35deb5a",
        "g": "addfdb5d932c3069",
        "name": "Loop end",
        "func": "// cleanup \ndelete msg.battery_index;\n\ndelete msg.battery_power;\ndelete msg.max_charge_power;\ndelete msg.max_discharge_power;\ndelete msg.battery_state_of_charge;\ndelete msg.charging_cutoff_capacity;\ndelete msg.discharging_cutoff_capacity;\ndelete msg.inverter_state;\ndelete msg.battery_remaining_capacity;\ndelete msg.battery_total_energy;\ndelete msg.rs485_control_mode;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 580,
        "wires": [
            [
                "c68fdfcf95cea6e2",
                "8b1d8aa61984d35e"
            ]
        ]
    },
    {
        "id": "59cedad23c2c732f",
        "type": "api-call-service",
        "z": "d606df74d35deb5a",
        "g": "936b9e2d8b32f640",
        "name": "Usable energy",
        "server": "176d29a.6f648d6",
        "version": 7,
        "debugenabled": false,
        "action": "input_number.set_value",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_number.house_battery_total_available_energy"
        ],
        "labelId": [],
        "data": "{\"value\":$$.batteries_available_energy}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "input_number",
        "service": "set_value",
        "x": 1740,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "ce4703d43cfa5ea0",
        "type": "rbe",
        "z": "d606df74d35deb5a",
        "g": "936b9e2d8b32f640",
        "name": "On change",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": false,
        "property": "batteries_available_energy",
        "topi": "topic",
        "x": 1570,
        "y": 680,
        "wires": [
            [
                "59cedad23c2c732f"
            ]
        ]
    },
    {
        "id": "f98f65f57e64f738",
        "type": "switch",
        "z": "d606df74d35deb5a",
        "g": "c225afb7fad059b6",
        "name": "Select rate limit",
        "property": "p1_rate_limit.save_power",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 640,
        "y": 280,
        "wires": [
            [
                "1b71fc3c735335bb"
            ],
            [
                "07bf553135b44631"
            ]
        ]
    },
    {
        "id": "3214d91be0b9da47",
        "type": "delay",
        "z": "d606df74d35deb5a",
        "g": "c225afb7fad059b6",
        "name": "Rate limit",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "3",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": true,
        "outputs": 2,
        "x": 960,
        "y": 280,
        "wires": [
            [
                "911c9a9697fa2077"
            ],
            [
                "c9d3c60980edcbae"
            ]
        ],
        "outputLabels": [
            "Pass",
            ""
        ]
    },
    {
        "id": "07bf553135b44631",
        "type": "change",
        "z": "d606df74d35deb5a",
        "g": "c225afb7fad059b6",
        "name": "1 msg/s",
        "rules": [
            {
                "t": "set",
                "p": "rate",
                "pt": "msg",
                "to": "1000",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 300,
        "wires": [
            [
                "3214d91be0b9da47"
            ]
        ]
    },
    {
        "id": "1b71fc3c735335bb",
        "type": "change",
        "z": "d606df74d35deb5a",
        "g": "c225afb7fad059b6",
        "name": "0.333 msg/s",
        "rules": [
            {
                "t": "set",
                "p": "rate",
                "pt": "msg",
                "to": "3000",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 260,
        "wires": [
            [
                "3214d91be0b9da47"
            ]
        ]
    },
    {
        "id": "ef4215066edb0b65",
        "type": "function",
        "z": "d606df74d35deb5a",
        "g": "c225afb7fad059b6",
        "name": "Operational thresholds ",
        "func": "// Switch between low and high rate limiting to decrease load and power consumption\n// --\n// The flow should always be rate limited by atleast the total execution time of strategies\n// The flow should not lock up indefinitly when grid_power is constant.\n// In the latter case, a more relaxed rate limit can help reduce system load.\n// Devs: don't set msg.rate directly. Use nodes, so novice users can easily read the flow.\n\n// Thresholds for change in power, before switching to high rate limit\nconst THRESHOLD_POWER = 20; // Watt change\nconst THRESHOLD_PERCENT = 2; // Percentage\nRED.util.setMessageProperty(msg, \"p1_rate_limit.threshold_power\", THRESHOLD_POWER,true);\nRED.util.setMessageProperty(msg, \"p1_rate_limit.threshold_percent\", THRESHOLD_PERCENT, true);\n\n// Threshold strategy execution times\nconst THRESHOLD_EXECUTION_TIME = 1.0; // strategy execution time in seconds\nRED.util.setMessageProperty(msg, \"p1_rate_limit.threshold_execution_time\", THRESHOLD_EXECUTION_TIME, true);\nconst previousExecutionTime = flow.get(\"strategy_execution_time\") || 0;\nRED.util.setMessageProperty(msg, \"p1_rate_limit.previous_execution_time\", previousExecutionTime, true);\n\n// Default rate limiting\nRED.util.setMessageProperty(msg,\"p1_rate_limit.save_power\",true);\n\n// Evaluate execution time\nRED.util.setMessageProperty(msg,\"p1_rate_limit.high_load_detected\",false);\nif(previousExecutionTime < 0 || previousExecutionTime > THRESHOLD_EXECUTION_TIME){\n    // HIGH LOAD detected, let system the system cool down for the duration of the save power limiter\n    RED.util.setMessageProperty(msg,\"p1_rate_limit.high_load_detected\",true);\n    node.status({fill:\"yellow\",shape:\"dot\",text:\"High load, cooling down\"});\n    return msg;\n}\n\n// Get the previous value from this node's context\n// If it doesn't exist yet, initialize it as null\nlet previousP1Value = context.get('previousValue') || null;\nlet currentP1Value = Number(msg.grid_power);\n\n// Save the current value for the next time the node is triggered\ncontext.set('previousValue', currentP1Value);\n\n// Check if we have a valid history to compare with\nif (previousP1Value !== null) {\n    let powerChange = Math.abs(currentP1Value - previousP1Value);\n    let percentageChange = previousP1Value !== 0 ? Math.abs((powerChange / previousP1Value) * 100):0;\n\n    // Condition: Absolute difference > N Watt AND percentage change > M %\n    if (powerChange > THRESHOLD_POWER && percentageChange > THRESHOLD_PERCENT) {\n        // Enable faster refresh rate\n        RED.util.setMessageProperty(msg,\"p1_rate_limit.save_power\",false);\n        node.status({fill:\"green\",shape:\"dot\",text:\"Nominal\"});\n    } else {\n        node.status({fill:\"green\",shape:\"dot\",text:\"Stable\"});\n    }\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 280,
        "wires": [
            [
                "f98f65f57e64f738"
            ]
        ]
    },
    {
        "id": "9b65130a094712e9",
        "type": "function",
        "z": "d606df74d35deb5a",
        "g": "c225afb7fad059b6",
        "name": "CPU power saved",
        "func": "// Logger\nconst logger = global.get(\"logger\");\n\n// Passed or blocked\nconst hasPassed = msg.payload; // 0 = blocked, 1 = passed\n\n// 1. Get evaluations (Total attempts)\nlet evaluations = (context.get(\"p1_rate_limit_evaluations\") || 0) + 1;\ncontext.set(\"p1_rate_limit_evaluations\", evaluations);\n\n// 2. Increment and get passes (Filtered/successful events)\nlet passes = (context.get(\"p1_rate_limit_passes\") || 0) + hasPassed;\ncontext.set(\"p1_rate_limit_passes\", passes);\n\n// 3a. Calculate percentage (Rate of passing vs total evaluations)\nlet percentage = evaluations > 0 ? (passes / evaluations) * 100 : 0;\n// 3b. Display the percentage rate of not-passing as a measure of efficiency gained\npercentage = 100 - percentage;\n\n// 4. Update Node Status\nnode.status({\n    fill: \"blue\",\n    shape: \"dot\",\n    text: `Saved: ${percentage.toFixed(2)}% (${evaluations-passes}/${evaluations})`\n});\n\n// 5. Explain\n// On block\nif(hasPassed === 0) {\n    if(msg.p1_rate_limit.save_power === true) {\n        if(msg.p1_rate_limit.high_load_detected === false){\n            // This is good\n            logger(this, `<font color=\"#009ac7\">Power saved</font> by P1 Rate Limiter, execution stopped.`); \n        } else {\n            // This is not so good. The system is overloaded and needs to 'cool'\n            logger(this, `<font color=\"orange\">Blocked</font> by P1 Rate Limiter. High load detected. Cool down active. Execution time: ${Number(msg.p1_rate_limit.previous_execution_time).toFixed(3)} sec.`);     \n        }\n    } else {\n        // This is not so good. P1 updates are coming in fast.\n        logger(this, `<font color=\"orange\">Blocked</font> by P1 Rate Limiter. ${Number(1000/msg.rate).toFixed(2)} messages per second exceeded.`); \n    }\n    \n    // Send message onward to debug dashboard\n    return msg;\n}\n// No output on pass\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1250,
        "y": 280,
        "wires": [
            [
                "628ec4c46f42f50d"
            ]
        ]
    },
    {
        "id": "f878594567dd6de3",
        "type": "debug",
        "z": "d606df74d35deb5a",
        "g": "2f55254a75de7eac",
        "name": "Strategy evaluation",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "strategy",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 1220,
        "wires": []
    },
    {
        "id": "2de79f2b5f31ce93",
        "type": "api-call-service",
        "z": "d606df74d35deb5a",
        "g": "a074477615f1fa41",
        "name": "Show on dashboard",
        "server": "176d29a.6f648d6",
        "version": 7,
        "debugenabled": false,
        "action": "input_text.set_value",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_text.house_battery_strategy_active_sub_strategy"
        ],
        "labelId": [],
        "data": "{\"value\": $$.ui_value_new}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "input_text",
        "service": "set_value",
        "x": 1760,
        "y": 1220,
        "wires": [
            []
        ]
    },
    {
        "id": "926dda2ed7945363",
        "type": "api-current-state",
        "z": "d606df74d35deb5a",
        "g": "a074477615f1fa41",
        "name": "current UI value",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_text.house_battery_strategy_active_sub_strategy",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "ui_value_current",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 1360,
        "y": 1220,
        "wires": [
            [
                "a94478d982872146"
            ]
        ]
    },
    {
        "id": "a94478d982872146",
        "type": "function",
        "z": "d606df74d35deb5a",
        "g": "a074477615f1fa41",
        "name": "on new UI value",
        "func": "// Block when undefined (don't update UI)\nif(msg.ui_value_current === undefined) return null;\n\n// We show the 2nd strategy in the trace (if available) on the dashboard as the 'active sub-strategy'\nconst secondTraceEntry = msg.strategy?.trace?.[1];\nif (secondTraceEntry) {\n    // Handle case where 2nd flow is present\n    msg.ui_value_new =  secondTraceEntry.flow;\n} else {\n    // Handle case where the 2nd flow is missing\n    // Get a sensible alternative\n    msg.ui_value_new = msg.strategy?.selected || \"\"; // don't use unknown or unavailable as these are reserved HA keywords\n}\n\n// Improve human readability\nif(msg.ui_value_new == \"Self-consumption\" && secondTraceEntry?.flow_settings?.discharge_disabled === true){\n    msg.ui_value_new = \"Self-consumption (charge only)\";\n}\nif(msg.ui_value_new == \"Self-consumption\" && secondTraceEntry?.flow_settings?.charge_disabled === true){\n    msg.ui_value_new = \"Self-consumption (no charging)\";\n}\nif(msg.strategy?.is_peak_shaving === true){\n    msg.ui_value_new = \"Peak shaving\";\n}\n\n// Node status for devs\nnode.status({fill:\"grey\",shape:\"dot\",text:`new: ${msg.ui_value_new}`});\n\n// Block when equal (don't update UI)\nif(msg.ui_value_current === msg.ui_value_new) return null;\n\n// Pass otherwise\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1560,
        "y": 1220,
        "wires": [
            [
                "2de79f2b5f31ce93"
            ]
        ]
    },
    {
        "id": "be111186eaf794bf",
        "type": "ha-fire-event",
        "z": "d606df74d35deb5a",
        "g": "cdc2da5f7f6c94fc",
        "name": "Show on debug board",
        "server": "176d29a.6f648d6",
        "version": 0,
        "event": "update_trace_sensor",
        "data": "{\t   \"trace\": $$.strategy.trace ? $$.strategy.trace : [],\t   \"start\": $$.strategy.execution_start ? $$.strategy.execution_start : 0,\t   \"end\": $$.strategy.execution_end ? $$.strategy.execution_end : 0,\t   \"log\": $$.log ? $$.log : []\t}",
        "dataType": "jsonata",
        "x": 1740,
        "y": 1580,
        "wires": [
            []
        ]
    },
    {
        "id": "4ba0e839e1619354",
        "type": "api-current-state",
        "z": "d606df74d35deb5a",
        "g": "7e56ab546a77b6a6",
        "name": "Insight mode",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.house_battery_control_is_debug_mode",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "debug_mode",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 130,
        "y": 160,
        "wires": [
            [
                "569434db0b6c3f79"
            ]
        ]
    },
    {
        "id": "7c4a68a5bd4dc494",
        "type": "switch",
        "z": "d606df74d35deb5a",
        "g": "cdc2da5f7f6c94fc",
        "name": "Debug mode?",
        "property": "debug_mode",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1540,
        "y": 1580,
        "wires": [
            [
                "be111186eaf794bf"
            ]
        ]
    },
    {
        "id": "4b5f677a4feb43b5",
        "type": "server-state-changed",
        "z": "d606df74d35deb5a",
        "g": "7e56ab546a77b6a6",
        "name": "Turned ON",
        "server": "176d29a.6f648d6",
        "version": 6,
        "outputs": 2,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "input_boolean.house_battery_control_is_debug_mode"
            ],
            "substring": [],
            "regex": []
        },
        "outputInitially": false,
        "stateType": "str",
        "ifState": "on",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 420,
        "y": 160,
        "wires": [
            [
                "54c77508e1d6d7e5"
            ],
            []
        ]
    },
    {
        "id": "54c77508e1d6d7e5",
        "type": "trigger",
        "z": "d606df74d35deb5a",
        "g": "7e56ab546a77b6a6",
        "name": "disable after 5 minutes",
        "op1": "",
        "op2": "off",
        "op1type": "nul",
        "op2type": "str",
        "duration": "5",
        "extend": false,
        "overrideDelay": false,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 600,
        "y": 160,
        "wires": [
            [
                "1cef6f344eeefc73"
            ]
        ]
    },
    {
        "id": "1cef6f344eeefc73",
        "type": "api-call-service",
        "z": "d606df74d35deb5a",
        "g": "7e56ab546a77b6a6",
        "name": "Turn insight OFF",
        "server": "176d29a.6f648d6",
        "version": 7,
        "debugenabled": false,
        "action": "input_boolean.turn_off",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_boolean.house_battery_control_is_debug_mode"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "input_boolean",
        "service": "turn_off",
        "x": 810,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "087b5da53e552e7e",
        "type": "delay",
        "z": "d606df74d35deb5a",
        "g": "b5e73bf0802b8ee5",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1580,
        "y": 60,
        "wires": [
            [
                "7509ce6c0fe3ff6f"
            ]
        ]
    },
    {
        "id": "e2e2060eb289297a",
        "type": "function",
        "z": "d606df74d35deb5a",
        "g": "b0a8ca89b99e2ff3",
        "name": "Custom logger",
        "func": "/**\n * Custom Logger Function\n * * Provides centralized logging, node-status updates, and message tracing.\n * Specifically designed for Home Battery Control logic within Node-RED.\n * \n * Debug dashboard updating:\n * A msg needs to reach 'Strategy Evaluation' or be passed to the \"Show on debug board\" trigger node.\n * Errors are automatically passed to the \"Show on debug board\" trigger node.\n * \n * * @param {object} callingNode - The context of the calling node (pass 'this').\n * @param {string} text - The log message/explanation.\n * @param {string} level - Log level: 'log', 'warn', 'error', or 'info' (default: 'info').\n * \n * Note: anything above 'info' will also write to the Node-RED log files \n * \n * * @usage: \n * const log = global.get(\"logger\");\n * log(this, \"Charging cycle started\");\n */\nconst customLogger = (callingNode, text, level = 'info') => {\n    \n    // Log only when debug_mode is ON\n    const debug_mode = global.get(\"debug_mode\") || false;\n    if(debug_mode == false) return null;\n\n    // Max log elements to keep\n    const MAX_ELEMENTS = 100;\n\n    // Create the YYYY-MM-DD HH:MM:SS.mmm format\n    const now = new Date();\n    const timestamp = now.getHours().toString().padStart(2, '0') + \":\" +\n                now.getMinutes().toString().padStart(2, '0') + \":\" +\n                now.getSeconds().toString().padStart(2, '0') + \".\" +\n                now.getMilliseconds().toString().padStart(3, '0');\n\n    const formattedTimeLevel = `${timestamp} [${level.toLowerCase()}]`;\n    \n    // Get the name of the node or fallback to the ID\n    const nodeName = callingNode.__node__ ? callingNode.__node__.name || callingNode.__node__.id : undefined;\n    // Get the name of the Flow/Tab\n    const flowName = callingNode.env.get(\"NR_FLOW_NAME\") || \"Unknown flow\";\n    // Explain to the Home Battery Control user what is going on\n    const formattedExplenation = `[${flowName} >> ${nodeName}]: ${text}`;\n\n    // Level icons\n    let icon = \"⚪\";\n    switch (level) {\n        case \"info\":\n            icon = \"ℹ️\";\n            break;\n        case \"log\":\n            icon = \"🔧\";\n            break;\n        case \"warn\":\n            icon = \"⚠️\";      \n            break;\n        case \"error\":\n            icon = \"❌\";\n            break;\n    }\n\n    // Enrich msg with log info\n    const msg = callingNode.msg;\n    (msg.log = msg.log || []).push({ timestamp: timestamp, level:level, flow:flowName, node:nodeName, payload: text, icon: icon});\n\n    if (msg.log.length > MAX_ELEMENTS) {\n        // Slice keeps the last X elements\n        msg.log = msg.log.slice(-MAX_ELEMENTS);\n    }\n\n    // Log to the Node-RED system log\n    switch (level) {\n        case \"log\":\n            node.log(`${formattedExplenation}`);\n            break;\n        case \"warn\":\n            node.warn(`${formattedExplenation}`);       \n            break;\n        case \"error\":\n            node.error(`${formattedExplenation}`, callingNode.msg);\n            break;\n        default:\n            // don't log to logfiles by default\n    }\n\n};\n\nglobal.set('logger', customLogger);\nglobal.set('unhandledException', \"\");\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1740,
        "y": 160,
        "wires": [
            [
                "e1d21bbf83668ba7"
            ]
        ]
    },
    {
        "id": "911c9a9697fa2077",
        "type": "change",
        "z": "d606df74d35deb5a",
        "g": "c225afb7fad059b6",
        "name": "Pass",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1090,
        "y": 300,
        "wires": [
            [
                "9b65130a094712e9",
                "7c850df57b20168e"
            ]
        ]
    },
    {
        "id": "c9d3c60980edcbae",
        "type": "change",
        "z": "d606df74d35deb5a",
        "g": "c225afb7fad059b6",
        "name": "Block",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1090,
        "y": 260,
        "wires": [
            [
                "9b65130a094712e9"
            ]
        ]
    },
    {
        "id": "f7c07e4ba00a750a",
        "type": "link in",
        "z": "d606df74d35deb5a",
        "g": "cdc2da5f7f6c94fc",
        "name": "Update debug dashboard",
        "links": [
            "628ec4c46f42f50d",
            "2322cf04987574c4",
            "ef2ca2b60bde5323"
        ],
        "x": 1395,
        "y": 1520,
        "wires": [
            [
                "7c4a68a5bd4dc494",
                "80a24133639f0ff7"
            ]
        ]
    },
    {
        "id": "628ec4c46f42f50d",
        "type": "link out",
        "z": "d606df74d35deb5a",
        "g": "c225afb7fad059b6",
        "name": "goto Debug Dashboard update",
        "mode": "link",
        "links": [
            "f7c07e4ba00a750a"
        ],
        "x": 1375,
        "y": 280,
        "wires": []
    },
    {
        "id": "0d740fbf20317d6b",
        "type": "catch",
        "z": "d606df74d35deb5a",
        "g": "cdc2da5f7f6c94fc",
        "name": "Custom logger",
        "scope": [
            "e2e2060eb289297a",
            "e1d21bbf83668ba7"
        ],
        "uncaught": false,
        "x": 1340,
        "y": 1640,
        "wires": [
            [
                "7c4a68a5bd4dc494",
                "4c43c962d00bda02"
            ]
        ]
    },
    {
        "id": "4c43c962d00bda02",
        "type": "debug",
        "z": "d606df74d35deb5a",
        "g": "cdc2da5f7f6c94fc",
        "name": "Via Catch",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "counter",
        "x": 1520,
        "y": 1640,
        "wires": []
    },
    {
        "id": "80a24133639f0ff7",
        "type": "debug",
        "z": "d606df74d35deb5a",
        "g": "cdc2da5f7f6c94fc",
        "name": "Via link",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "counter",
        "x": 1520,
        "y": 1520,
        "wires": []
    },
    {
        "id": "2322cf04987574c4",
        "type": "link out",
        "z": "d606df74d35deb5a",
        "g": "a1a93b2ad3bb1957",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "f7c07e4ba00a750a"
        ],
        "x": 285,
        "y": 1320,
        "wires": []
    },
    {
        "id": "c36a68dbf8b0d350",
        "type": "switch",
        "z": "d606df74d35deb5a",
        "g": "c225afb7fad059b6",
        "name": "Skip rate limiter during debug",
        "property": "debug_mode",
        "propertyType": "global",
        "rules": [
            {
                "t": "false"
            },
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 180,
        "y": 280,
        "wires": [
            [
                "ef4215066edb0b65"
            ],
            [
                "7c850df57b20168e"
            ]
        ]
    },
    {
        "id": "569434db0b6c3f79",
        "type": "function",
        "z": "d606df74d35deb5a",
        "g": "7e56ab546a77b6a6",
        "name": "Notice",
        "func": "// enable or disable Insights Mode\nif(msg.debug_mode == \"on\"){\n    // ENABLED - explain to user\n    const log = global.get(\"logger\");\n    log(this, \"P1 Rate limiter is *disabled* during *debug mode*\");\n\n    // Set global (setting this via current state node has proven irriliable)\n    global.set(\"debug_mode\", true);\n} else {\n    // DISABLED - set global\n    global.set(\"debug_mode\", false);\n}\n\n// Clean up - only use the global\ndelete msg.debug_mode;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 235,
        "y": 160,
        "wires": [
            [
                "7d50509a5b5e06d5"
            ]
        ],
        "l": false
    },
    {
        "id": "d525e1bc44d842fc",
        "type": "api-current-state",
        "z": "d606df74d35deb5a",
        "g": "771e163e4cfa24d8",
        "name": "SoC min",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_number.marstek_m{{battery_index}}_discharging_cutoff_capacity",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "discharging_cutoff_capacity",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 1000,
        "y": 500,
        "wires": [
            [
                "5f243e134ce5c924"
            ]
        ]
    },
    {
        "id": "5f243e134ce5c924",
        "type": "api-current-state",
        "z": "d606df74d35deb5a",
        "g": "771e163e4cfa24d8",
        "name": "SoC max",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_number.marstek_m{{battery_index}}_charging_cutoff_capacity",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "charging_cutoff_capacity",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 1140,
        "y": 500,
        "wires": [
            [
                "f1fa1fe62fd71e22"
            ]
        ]
    },
    {
        "id": "e1d21bbf83668ba7",
        "type": "function",
        "z": "d606df74d35deb5a",
        "g": "b0a8ca89b99e2ff3",
        "name": "Unhandled Exception",
        "func": "/**\n * Handles exceptions by extracting node details and routing them to a global logger.\n * This is designed to be called from within a Node-RED Function node or sub-flow.\n *\n * @param {Object} callingNode - The Node-RED 'this' context or msg object containing node metadata.\n * @param {Object} [callingNode.msg] - The message object associated with the error.\n * @param {Object} [callingNode.msg.error] - Error details provided by a Node-RED error catch.\n * @param {string} [callingNode.msg.error.message] - The specific error message.\n * @param {Object} [callingNode.msg.error.source] - The node that triggered the error.\n * * @example\n * // Usage in a Function Node:\n * const unhandledException = global.get('unhandledException');\n * unhandledException(this);\n */\nconst unhandledException = (callingNode) => {\n    // 1. Get the custom logger from global context\n    const log = global.get(\"logger\");\n\n    // 2. Extract error details from the msg object\n    const errorData = callingNode.msg?.error || {};\n    const errorMessage = errorData.message || \"Unknown error occurred\";\n    const sourceName = errorData.source ? (errorData.source.name || errorData.source.id) : \"Unknown Node\";\n    const sourceType = errorData.source ? errorData.source.type : \"unknown-type\";\n\n    // 3. Construct a user-friendly message for the logger\n    const friendlyMessage = `**Unhandled exception** (${sourceType} node) ${errorMessage}`;\n    callingNode.__node__ ??= {};\n    callingNode.__node__.name = sourceName;\n\n    // 4. Call the logger with level 'error'\n    // Note: the logger uses 'callingNode', we pass on whatever we have.\n    log(callingNode, friendlyMessage, 'error');\n\n};\n\nglobal.set('unhandledException', unhandledException);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1760,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "3135bfc3fcac71df",
        "type": "catch",
        "z": "d606df74d35deb5a",
        "g": "82202b139b6c7bae",
        "name": "",
        "scope": null,
        "uncaught": true,
        "x": 1745,
        "y": 320,
        "wires": [
            [
                "bbace8f95194f095"
            ]
        ],
        "l": false
    },
    {
        "id": "bbace8f95194f095",
        "type": "function",
        "z": "d606df74d35deb5a",
        "g": "82202b139b6c7bae",
        "name": "Unhandled Exception",
        "func": "// Log unhandled exception\nconst handle = global.get('unhandledException');\nif(handle) handle(this);\n\n// Check origin of msg execution\nif (msg._linkSource) {\n    return msg; // Origin: some other flow\n} else {\n    return null; // Origin: this flow. Stop to prevent 'Missing return' warning\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1795,
        "y": 320,
        "wires": [
            [
                "ef2ca2b60bde5323"
            ]
        ],
        "l": false
    },
    {
        "id": "ef2ca2b60bde5323",
        "type": "link out",
        "z": "d606df74d35deb5a",
        "g": "82202b139b6c7bae",
        "name": "link out 9",
        "mode": "link",
        "links": [
            "f7c07e4ba00a750a"
        ],
        "x": 1845,
        "y": 320,
        "wires": []
    },
    {
        "id": "577799803f59afa3",
        "type": "api-current-state",
        "z": "d606df74d35deb5a",
        "g": "2f55254a75de7eac",
        "name": "Battery Strategy",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_select.house_battery_strategy",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "house_battery_strategy",
                "propertyType": "flow",
                "value": "string",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 140,
        "y": 1140,
        "wires": [
            [
                "e02a401687cca8f7"
            ]
        ]
    },
    {
        "id": "e02a401687cca8f7",
        "type": "api-current-state",
        "z": "d606df74d35deb5a",
        "g": "2f55254a75de7eac",
        "name": "Full Stop Trigger",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.ev_is_charging",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "full_stop_trigger",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 320,
        "y": 1140,
        "wires": [
            [
                "0a18a9afc72f1d32"
            ]
        ]
    },
    {
        "id": "1b34a65fbb9cc71e",
        "type": "api-current-state",
        "z": "d606df74d35deb5a",
        "g": "332f02f2f7a577ae",
        "name": "Has import limit?",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.house_battery_control_has_power_limit_import",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "grid_power_has_limit_import",
                "propertyType": "msg",
                "value": "$entity().state = \"on\"",
                "valueType": "jsonata"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 150,
        "y": 1040,
        "wires": [
            [
                "eed0b5dee8490ee6"
            ]
        ]
    },
    {
        "id": "eed0b5dee8490ee6",
        "type": "api-current-state",
        "z": "d606df74d35deb5a",
        "g": "332f02f2f7a577ae",
        "name": "Has export limit?",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.house_battery_control_has_power_limit_export",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "grid_power_has_limit_export",
                "propertyType": "msg",
                "value": "$entity().state = \"on\"",
                "valueType": "jsonata"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 350,
        "y": 1040,
        "wires": [
            [
                "21837d8c8d1ed4d2"
            ]
        ]
    },
    {
        "id": "7d50509a5b5e06d5",
        "type": "function",
        "z": "d606df74d35deb5a",
        "g": "7e56ab546a77b6a6",
        "name": "Grid power",
        "func": "const log = global.get(\"logger\");\n\n// prepare grid power message\nlet state = \"measure\";\nlet ending = \"\";\nif(msg.grid_power>0) {state = \"import\"; ending = \"from grid\";}\nif(msg.grid_power<0) {state = \"export\"; ending = \"to grid\";}\nconst displayPower = Math.abs(Math.round(msg.grid_power));\n\n// explain\nlog(this, `You currently ${state} ${displayPower} W ${ending}`);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 285,
        "y": 160,
        "wires": [
            [
                "c36a68dbf8b0d350"
            ]
        ],
        "l": false
    },
    {
        "id": "21837d8c8d1ed4d2",
        "type": "api-current-state",
        "z": "d606df74d35deb5a",
        "g": "332f02f2f7a577ae",
        "name": "Import limit",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_number.house_battery_control_power_limit_import",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "grid_power_limit_import",
                "propertyType": "msg",
                "value": "number",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 530,
        "y": 1040,
        "wires": [
            [
                "07ba25e57b984a93"
            ]
        ]
    },
    {
        "id": "07ba25e57b984a93",
        "type": "api-current-state",
        "z": "d606df74d35deb5a",
        "g": "332f02f2f7a577ae",
        "name": "Export limit",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_number.house_battery_control_power_limit_export",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "grid_power_limit_export",
                "propertyType": "msg",
                "value": "number",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 690,
        "y": 1040,
        "wires": [
            [
                "577799803f59afa3"
            ]
        ]
    },
    {
        "id": "accd05767c708907",
        "type": "rbe",
        "z": "d606df74d35deb5a",
        "g": "936b9e2d8b32f640",
        "name": "On change",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": false,
        "property": "batteries_max_energy",
        "topi": "topic",
        "x": 1570,
        "y": 720,
        "wires": [
            [
                "1602868e9de0f160"
            ]
        ]
    },
    {
        "id": "1602868e9de0f160",
        "type": "api-call-service",
        "z": "d606df74d35deb5a",
        "g": "936b9e2d8b32f640",
        "name": "Max usable energy",
        "server": "176d29a.6f648d6",
        "version": 7,
        "debugenabled": false,
        "action": "input_number.set_value",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_number.house_battery_total_max_available_energy"
        ],
        "labelId": [],
        "data": "{\"value\":$$.batteries_max_energy}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "input_number",
        "service": "set_value",
        "x": 1750,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "3b4425ca5a07797c",
        "type": "rbe",
        "z": "d606df74d35deb5a",
        "g": "936b9e2d8b32f640",
        "name": "On change",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": false,
        "property": "batteries_total_power",
        "topi": "topic",
        "x": 1570,
        "y": 760,
        "wires": [
            [
                "95f4cccc8c216dd2"
            ]
        ]
    },
    {
        "id": "95f4cccc8c216dd2",
        "type": "api-call-service",
        "z": "d606df74d35deb5a",
        "g": "936b9e2d8b32f640",
        "name": "Current power",
        "server": "176d29a.6f648d6",
        "version": 7,
        "debugenabled": false,
        "action": "input_number.set_value",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_number.house_battery_total_battery_power"
        ],
        "labelId": [],
        "data": "{\"value\":$$.batteries_total_power}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "input_number",
        "service": "set_value",
        "x": 1740,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "75de06a33691c822",
        "type": "rbe",
        "z": "d606df74d35deb5a",
        "g": "936b9e2d8b32f640",
        "name": "On change",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": false,
        "property": "batteries_max_charge_power",
        "topi": "topic",
        "x": 1570,
        "y": 800,
        "wires": [
            [
                "b07847402d226b4e"
            ]
        ]
    },
    {
        "id": "b07847402d226b4e",
        "type": "api-call-service",
        "z": "d606df74d35deb5a",
        "g": "936b9e2d8b32f640",
        "name": "Max charging power",
        "server": "176d29a.6f648d6",
        "version": 7,
        "debugenabled": false,
        "action": "input_number.set_value",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_number.house_battery_total_max_charge_power"
        ],
        "labelId": [],
        "data": "{\"value\":$$.batteries_max_charge_power}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "input_number",
        "service": "set_value",
        "x": 1760,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "b63d1c5b1bede244",
        "type": "rbe",
        "z": "d606df74d35deb5a",
        "g": "936b9e2d8b32f640",
        "name": "On change",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": false,
        "property": "batteries_max_discharge_power",
        "topi": "topic",
        "x": 1570,
        "y": 840,
        "wires": [
            [
                "f7d323697d7bf572"
            ]
        ]
    },
    {
        "id": "f7d323697d7bf572",
        "type": "api-call-service",
        "z": "d606df74d35deb5a",
        "g": "936b9e2d8b32f640",
        "name": "Max discharging power",
        "server": "176d29a.6f648d6",
        "version": 7,
        "debugenabled": false,
        "action": "input_number.set_value",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_number.house_battery_total_max_discharge_power"
        ],
        "labelId": [],
        "data": "{\"value\":$$.batteries_max_discharge_power}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "input_number",
        "service": "set_value",
        "x": 1770,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "7bb44953c30a4f6e",
        "type": "debug",
        "z": "d606df74d35deb5a",
        "name": "Check totals",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 370,
        "y": 700,
        "wires": []
    },
    {
        "id": "23a9da6f7e8bcb2e",
        "type": "api-current-state",
        "z": "d606df74d35deb5a",
        "g": "c6cd7e90429c2d54",
        "name": "Cycle interval",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_select.house_battery_control_priority_change_interval",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "battery_priority_cycle_interval",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 340,
        "y": 940,
        "wires": [
            [
                "7ec912ba5531ca1e"
            ]
        ]
    },
    {
        "id": "176d29a.6f648d6",
        "type": "server",
        "name": "Home Assistant",
        "addon": true,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": [],
        "connectionDelay": false,
        "cacheJson": false,
        "heartbeat": false,
        "heartbeatInterval": "",
        "statusSeparator": "",
        "enableGlobalContextStore": false
    },
    {
        "id": "811671ad5ebcb7e1",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-home-assistant-websocket": "0.80.3"
        }
    }
]