node-red/01 start-flow.json
[
    {
        "id": "cf69560481408644",
        "type": "tab",
        "label": "Home Battery Start v4.8.0",
        "disabled": false,
        "info": "# Home battery control\r\nConsists of three flows:\r\n 1.  Start flow\r\n 1.  Control flow\r\n 1.  Master switch flow\r\n\r\n## Start flow\r\nThis is the starting point of your home battery control.\r\n\r\nIt starts with P1 measurement as a trigger.\r\nIt allows you to connect your battery sensors to the flow.\r\nIt ends with a function node, mapping your batteries to a battery_array\r\n\r\nThe battery_array is passed on to the control flow.\r\n\r\nWhen the control flow has calculated the desired corrections,\r\nit is passed back to this flow and applied to your batteries.",
        "env": []
    },
    {
        "id": "4c50cda650eb3e02",
        "type": "group",
        "z": "cf69560481408644",
        "name": "Start",
        "style": {
            "label": true,
            "stroke": "#009ac7"
        },
        "nodes": [
            "b725922437b677ec",
            "43915aba68525f57",
            "3702422118201d02"
        ],
        "x": 34,
        "y": 19,
        "w": 652,
        "h": 82
    },
    {
        "id": "6373da5467ce39eb",
        "type": "group",
        "z": "cf69560481408644",
        "name": "Strategy selection",
        "style": {
            "label": true
        },
        "nodes": [
            "d25216ca65dd1209",
            "a18697cfe0c15963",
            "415a53493b19f461",
            "8072984c2e0a992a",
            "e0172f5ef06fa881",
            "10aa27fe189fa07e",
            "f7e09807696115eb",
            "15830b3ade1b15be"
        ],
        "x": 34,
        "y": 1099,
        "w": 852,
        "h": 162
    },
    {
        "id": "98643475a97c956a",
        "type": "group",
        "z": "cf69560481408644",
        "name": "Get batteries information",
        "style": {
            "label": true
        },
        "nodes": [
            "440cc3854a9283b5",
            "b19a3c118fcde3b4",
            "f4d0ebe5c27ce5bc",
            "c2c9f2c4e0447dbc",
            "2d7842e57b2a0b38",
            "43bc77e1a735d1d4",
            "77248fccaa4f5729",
            "aea803546f27638e"
        ],
        "x": 34,
        "y": 379,
        "w": 1678,
        "h": 242
    },
    {
        "id": "164f7fe475cd1eb7",
        "type": "group",
        "z": "cf69560481408644",
        "name": "On deploy and global logger",
        "style": {
            "label": true,
            "stroke": "#92d04f"
        },
        "nodes": [
            "34bb1eab17c75709",
            "ed1fe5a33a44f3df",
            "a97b8146ab8591d8"
        ],
        "x": 1294,
        "y": 19,
        "w": 592,
        "h": 82
    },
    {
        "id": "e52266e27ce81308",
        "type": "group",
        "z": "cf69560481408644",
        "name": "Set Batteries",
        "style": {
            "label": true
        },
        "nodes": [
            "8b359f0b903ade82",
            "5fc9c28eb4e3ebbb",
            "4b9ea55efae3bf1d",
            "d6c9e642f1579c6b",
            "506beefdec9673bb",
            "6c7430495fb8cb8a",
            "1101e13ed84e9c0d"
        ],
        "x": 34,
        "y": 1279,
        "w": 858,
        "h": 342
    },
    {
        "id": "f80c67f5392fd743",
        "type": "group",
        "z": "cf69560481408644",
        "name": "Battery priority",
        "style": {
            "label": true
        },
        "nodes": [
            "2bc91a5650ae2bfb",
            "a880a20108033784",
            "4d679d346e08b196",
            "affc7d8d6ecd28a9",
            "356be5dd2eb5c348",
            "ab35f7a81ab1ae74",
            "af72caba1a62d650",
            "6ba8e427a0d5f6c1",
            "b4d32c51321cea49",
            "95853459d209df9d"
        ],
        "x": 34,
        "y": 899,
        "w": 2012,
        "h": 82
    },
    {
        "id": "57de83c5e04fc77d",
        "type": "group",
        "z": "cf69560481408644",
        "name": "Calculate totals",
        "style": {
            "label": true
        },
        "nodes": [
            "94dcc7d8bd8cbf7b"
        ],
        "x": 34,
        "y": 639,
        "w": 212,
        "h": 82
    },
    {
        "id": "a72bb94548f2183c",
        "type": "group",
        "z": "cf69560481408644",
        "name": "Rate limiter",
        "style": {
            "label": true
        },
        "nodes": [
            "f1d2285bc1dd64a2",
            "ff6e6fc64a6854c3",
            "6bc61788dd272061",
            "79d69d070d0cc748",
            "357cf6d0a4ab2f0e",
            "e318f4e03a1ce488",
            "b58332b551aa4d0c",
            "72478611e936a1cc",
            "7fc6776d73c1b249",
            "f3acfd722fa12c9f"
        ],
        "x": 34,
        "y": 219,
        "w": 1402,
        "h": 122
    },
    {
        "id": "61d5ed93c178a2b0",
        "type": "group",
        "z": "cf69560481408644",
        "name": "Update UI: debug dashboard",
        "style": {
            "label": true,
            "stroke": "#3f5787"
        },
        "nodes": [
            "dfdd712cec309d05",
            "2ff7451adc89b1bf",
            "77fcca25ab84e044",
            "e906278e010f0481",
            "15338568927f0d78",
            "c78831abec33e186"
        ],
        "x": 1234,
        "y": 1479,
        "w": 632,
        "h": 202
    },
    {
        "id": "e4cc7b7215774edb",
        "type": "group",
        "z": "cf69560481408644",
        "name": "Update UI: cummulative totals",
        "style": {
            "label": true,
            "stroke": "#3f5787"
        },
        "nodes": [
            "d62b75653a80ec3c",
            "0cced153781a3ea5",
            "1bcdd8f78304c839",
            "b29b8d72db7dbe07",
            "7d4b45e1e9064b9f",
            "c866d99df5081006",
            "a47cf2db4a51df5f",
            "d4cca06cc20488a7",
            "c40d106d7691829d",
            "f7a7094ac90d8267"
        ],
        "x": 1474,
        "y": 639,
        "w": 432,
        "h": 242
    },
    {
        "id": "b6aba79cafd27200",
        "type": "group",
        "z": "cf69560481408644",
        "name": "Update UI: active sub-strategy",
        "style": {
            "label": true,
            "stroke": "#3f5787"
        },
        "nodes": [
            "64faed20c9da12dc",
            "ac1b34f27b3ca58e",
            "12fc44bc79d80451"
        ],
        "x": 1254,
        "y": 1179,
        "w": 632,
        "h": 82
    },
    {
        "id": "17836aca95217029",
        "type": "group",
        "z": "cf69560481408644",
        "name": "Insight",
        "style": {
            "label": true
        },
        "nodes": [
            "04b5e1170470cda3",
            "508d051e5a1dd713",
            "49b0ded6fab74e14",
            "1ee95d478c50c5b3",
            "f4434f195853dae5",
            "28635f885aa7bd4d"
        ],
        "x": 34,
        "y": 119,
        "w": 892,
        "h": 82
    },
    {
        "id": "1d6d27611b4eda6c",
        "type": "group",
        "z": "cf69560481408644",
        "name": "Log and Error handling",
        "style": {
            "stroke": "#ff3f3f",
            "label": true
        },
        "nodes": [
            "0544c5403e05ad49",
            "296bdf43fd34ab09"
        ],
        "x": 1634,
        "y": 119,
        "w": 252,
        "h": 142
    },
    {
        "id": "3dec8998f704c25f",
        "type": "group",
        "z": "cf69560481408644",
        "name": "Unhandled exceptions",
        "style": {
            "label": true,
            "stroke": "#d88a8a",
            "color": "#d88a8a"
        },
        "nodes": [
            "a4770536e9c473a1",
            "25258d293ca5b8ca",
            "655570f0693bc95c"
        ],
        "x": 1704,
        "y": 279,
        "w": 182,
        "h": 82
    },
    {
        "id": "80405532eb3f52d4",
        "type": "group",
        "z": "cf69560481408644",
        "name": "Peak shave settings",
        "style": {
            "label": true
        },
        "nodes": [
            "f6f3ce29833ec4cf",
            "5ac3cdf0ad6013e3",
            "69d4aa99b46127ba",
            "783deb36dab080de"
        ],
        "x": 34,
        "y": 999,
        "w": 752,
        "h": 82
    },
    {
        "id": "2d7842e57b2a0b38",
        "type": "group",
        "z": "cf69560481408644",
        "g": "98643475a97c956a",
        "name": "Loop",
        "style": {
            "label": true
        },
        "nodes": [
            "c066c568de360e34",
            "cac2d7f55b26f998",
            "2df83b3ee2eef180",
            "674d9fc78e72907c",
            "a97053897fb3fff3",
            "898f6b3abe7a553b",
            "24e20a765cb5c355",
            "c429819cf59a0962",
            "7a8fc5ba2372db7b",
            "acb5607c261309a2"
        ],
        "x": 74,
        "y": 459,
        "w": 1612,
        "h": 82
    },
    {
        "id": "d6c9e642f1579c6b",
        "type": "group",
        "z": "cf69560481408644",
        "g": "e52266e27ce81308",
        "name": "Loop",
        "style": {
            "label": true
        },
        "nodes": [
            "72beda4f0efbe424",
            "f51838511a334e0e",
            "9375c18ab23f5adf",
            "89fbfccfe5435fac",
            "1840d04ab4989dd9",
            "81fa6266c45f6b9d",
            "094bed1bc60a0459"
        ],
        "x": 314,
        "y": 1319,
        "w": 552,
        "h": 222
    },
    {
        "id": "e0bd9cc88ce70a48",
        "type": "junction",
        "z": "cf69560481408644",
        "x": 40,
        "y": 360,
        "wires": [
            [
                "c2c9f2c4e0447dbc"
            ]
        ]
    },
    {
        "id": "401335054122a6b3",
        "type": "junction",
        "z": "cf69560481408644",
        "x": 1380,
        "y": 680,
        "wires": [
            [
                "0cced153781a3ea5",
                "1bcdd8f78304c839",
                "7d4b45e1e9064b9f",
                "a47cf2db4a51df5f",
                "c40d106d7691829d"
            ]
        ]
    },
    {
        "id": "b725922437b677ec",
        "type": "server-state-changed",
        "z": "cf69560481408644",
        "g": "4c50cda650eb3e02",
        "name": "P1 meter",
        "server": "176d29a.6f648d6",
        "version": 6,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "sensor.p1_meter_power"
            ],
            "substring": [],
            "regex": []
        },
        "outputInitially": false,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": false,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": true,
        "ignorePrevStateUnknown": true,
        "ignorePrevStateUnavailable": true,
        "ignoreCurrentStateUnknown": true,
        "ignoreCurrentStateUnavailable": true,
        "outputProperties": [
            {
                "property": "grid_power",
                "propertyType": "msg",
                "value": "number",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            },
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "number",
                "valueType": "entityState"
            },
            {
                "property": "timestamp",
                "propertyType": "msg",
                "value": "",
                "valueType": "date"
            }
        ],
        "x": 120,
        "y": 60,
        "wires": [
            [
                "43915aba68525f57"
            ]
        ]
    },
    {
        "id": "43915aba68525f57",
        "type": "api-current-state",
        "z": "cf69560481408644",
        "g": "4c50cda650eb3e02",
        "name": "Master Control Mode",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_select.marstek_master_battery_mode",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "master_mode",
                "propertyType": "flow",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 300,
        "y": 60,
        "wires": [
            [
                "3702422118201d02"
            ]
        ]
    },
    {
        "id": "3702422118201d02",
        "type": "switch",
        "z": "cf69560481408644",
        "g": "4c50cda650eb3e02",
        "name": "when in \"Full Control\" mode",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Full control",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 540,
        "y": 60,
        "wires": [
            [
                "04b5e1170470cda3"
            ]
        ]
    },
    {
        "id": "d25216ca65dd1209",
        "type": "function",
        "z": "cf69560481408644",
        "g": "6373da5467ce39eb",
        "name": "Strategy selection",
        "func": "// Logger\nconst logger = global.get(\"logger\");\n\n// INFLOW\nlet strategy = flow.get(\"house_battery_strategy\");\n\n// Configure msg.strategy object\nRED.util.setMessageProperty(msg,\"strategy.selected\",strategy,true); // by user\nRED.util.setMessageProperty(msg,\"strategy.trace\",[],true); // init trace: which flows have been executed\n\n// stop on error\nif(msg.batteries === undefined) {\n    logger(this, \"Battery configuration undefined\", \"error\");\n    return null;\n}\nif(strategy === undefined) {\n    logger(this, \"Battery strategy undefined\", \"error\");\n    return null;\n}\n\n// Default | select target flow based on the input_select `house_battery_strategy`\nmsg.target = `${strategy}`;\n\n// full stop trigger overrules ALL selected strategies\nconst stopTrigger = RED.util.getMessageProperty(msg,\"full_stop_trigger\");\nif(stopTrigger == \"on\" || stopTrigger === true || stopTrigger === 1) {\n    msg.target = 'Full stop';\n    // Explain\n    logger(this, `**Full Stop** strategy selected, due to (EV) stop trigger: '${stopTrigger}'`);\n}\n\n// add execution marker\nRED.util.setMessageProperty(msg,\"strategy.execution_start\",Date.now()); // when do we start executing the selected strategy\n\n// OUTPUT\nnode.status({fill:\"grey\",shape:\"dot\",text:msg.target});\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 1140,
        "wires": [
            [
                "415a53493b19f461",
                "a18697cfe0c15963"
            ]
        ]
    },
    {
        "id": "a18697cfe0c15963",
        "type": "link call",
        "z": "cf69560481408644",
        "g": "6373da5467ce39eb",
        "name": "Call \"Link in\" node",
        "links": [],
        "linkType": "dynamic",
        "timeout": "1.2",
        "x": 510,
        "y": 1180,
        "wires": [
            [
                "8072984c2e0a992a",
                "e0172f5ef06fa881"
            ]
        ]
    },
    {
        "id": "415a53493b19f461",
        "type": "debug",
        "z": "cf69560481408644",
        "g": "6373da5467ce39eb",
        "name": "Input msg",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 1140,
        "wires": []
    },
    {
        "id": "8072984c2e0a992a",
        "type": "debug",
        "z": "cf69560481408644",
        "g": "6373da5467ce39eb",
        "name": "Returned msg",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 1180,
        "wires": []
    },
    {
        "id": "e0172f5ef06fa881",
        "type": "function",
        "z": "cf69560481408644",
        "g": "6373da5467ce39eb",
        "name": "Strategy evaluation",
        "func": "// add execution marker\nlet execution_end = Date.now();\nRED.util.setMessageProperty(msg, \"strategy.execution_end\", execution_end);\n\n// retrieve execution markers\nlet execution_start = RED.util.getMessageProperty(msg,\"strategy.execution_start\");\n\n// report execution time\nif (execution_start !== undefined && execution_end !== undefined) {\n    // exec time\n    let execution_time = (execution_end - execution_start) / 1000; // seconds\n    // report\n    if (execution_time <= 0) node.status({ fill: \"red\", shape: \"dot\", text: `negative or zero timing` });\n    if (execution_time > 0) node.status({ fill: \"green\", shape: \"dot\", text: `${execution_time} sec`});\n    if (execution_time >= 0.7) node.status({ fill: \"yellow\", shape: \"dot\", text: `${execution_time} sec` });\n    if (execution_time >= 1) node.status({ fill: \"red\", shape: \"dot\", text: `${execution_time} sec` });\n\n} else {\n    node.status({fill:\"grey\",shape:\"dot\",text:\"timing error\"});\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 1220,
        "wires": [
            [
                "4b9ea55efae3bf1d",
                "10aa27fe189fa07e",
                "64faed20c9da12dc"
            ]
        ]
    },
    {
        "id": "440cc3854a9283b5",
        "type": "function",
        "z": "cf69560481408644",
        "g": "98643475a97c956a",
        "name": "Loop start",
        "func": "// loop through the number of batteries set by the user\nmsg.battery_index = 1; // base-1\n\n// Init an array for battery status and value information\nmsg.batteries = [];\n\n// Continue\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 420,
        "wires": [
            [
                "c066c568de360e34"
            ]
        ]
    },
    {
        "id": "43bc77e1a735d1d4",
        "type": "function",
        "z": "cf69560481408644",
        "g": "98643475a97c956a",
        "name": "Mapping",
        "func": "// Map to batteries array\nmsg.batteries.push({\n    id: `M${msg.battery_index}`,\n    power: parseInt(msg.battery_power,10),\n    charging_max: parseInt(msg.max_charge_power,10),\n    discharging_max: parseInt(msg.max_discharge_power,10),\n    soc: parseInt(msg.battery_state_of_charge,10),\n    soc_max: parseInt(msg.charging_cutoff_capacity,10),\n    soc_min: parseInt(msg.discharging_cutoff_capacity,10),\n    inverter: String(msg.inverter_state),\n    energy: Number(msg.battery_remaining_capacity),\n    energy_max: Number(msg.battery_total_energy),\n    rs485: String(msg.rs485_control_mode)\n    });\n\n// Continue\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 140,
        "y": 580,
        "wires": [
            [
                "77248fccaa4f5729"
            ]
        ]
    },
    {
        "id": "b19a3c118fcde3b4",
        "type": "switch",
        "z": "cf69560481408644",
        "g": "98643475a97c956a",
        "name": "Loop until",
        "property": "battery_index",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lte",
                "v": "battery_count",
                "vt": "msg"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 420,
        "y": 580,
        "wires": [
            [
                "c066c568de360e34"
            ],
            [
                "aea803546f27638e"
            ]
        ]
    },
    {
        "id": "f4d0ebe5c27ce5bc",
        "type": "debug",
        "z": "cf69560481408644",
        "g": "98643475a97c956a",
        "name": "Loop result",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 580,
        "wires": []
    },
    {
        "id": "c2c9f2c4e0447dbc",
        "type": "api-current-state",
        "z": "cf69560481408644",
        "g": "98643475a97c956a",
        "name": "Your battery count",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_number.house_battery_count",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "number",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "battery_count",
                "propertyType": "msg",
                "value": "number",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 150,
        "y": 420,
        "wires": [
            [
                "440cc3854a9283b5"
            ]
        ]
    },
    {
        "id": "c066c568de360e34",
        "type": "api-current-state",
        "z": "cf69560481408644",
        "g": "2d7842e57b2a0b38",
        "name": "Control mode",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "select.marstek_m{{battery_index}}_rs485_control_mode",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "rs485_control_mode",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 180,
        "y": 500,
        "wires": [
            [
                "24e20a765cb5c355"
            ]
        ]
    },
    {
        "id": "cac2d7f55b26f998",
        "type": "api-current-state",
        "z": "cf69560481408644",
        "g": "2d7842e57b2a0b38",
        "name": "SoC",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.marstek_m{{battery_index}}_battery_state_of_charge",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "number",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "battery_state_of_charge",
                "propertyType": "msg",
                "value": "number",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 870,
        "y": 500,
        "wires": [
            [
                "7a8fc5ba2372db7b"
            ]
        ]
    },
    {
        "id": "2df83b3ee2eef180",
        "type": "api-current-state",
        "z": "cf69560481408644",
        "g": "2d7842e57b2a0b38",
        "name": "Inverter state",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.marstek_m{{battery_index}}_inverter_state",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "inverter_state",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 1290,
        "y": 500,
        "wires": [
            [
                "a97053897fb3fff3"
            ]
        ]
    },
    {
        "id": "674d9fc78e72907c",
        "type": "api-current-state",
        "z": "cf69560481408644",
        "g": "2d7842e57b2a0b38",
        "name": "Max discharge power",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "number.marstek_m{{battery_index}}_max_discharge_power",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "number",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "max_discharge_power",
                "propertyType": "msg",
                "value": "number",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 700,
        "y": 500,
        "wires": [
            [
                "cac2d7f55b26f998"
            ]
        ]
    },
    {
        "id": "a97053897fb3fff3",
        "type": "api-current-state",
        "z": "cf69560481408644",
        "g": "2d7842e57b2a0b38",
        "name": "Energy",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.marstek_m{{battery_index}}_battery_remaining_capacity",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "number",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "battery_remaining_capacity",
                "propertyType": "msg",
                "value": "number",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 1440,
        "y": 500,
        "wires": [
            [
                "c429819cf59a0962"
            ]
        ]
    },
    {
        "id": "898f6b3abe7a553b",
        "type": "api-current-state",
        "z": "cf69560481408644",
        "g": "2d7842e57b2a0b38",
        "name": "Max charge power",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "number.marstek_m{{battery_index}}_max_charge_power",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "number",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "max_charge_power",
                "propertyType": "msg",
                "value": "number",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 490,
        "y": 500,
        "wires": [
            [
                "674d9fc78e72907c"
            ]
        ]
    },
    {
        "id": "24e20a765cb5c355",
        "type": "api-current-state",
        "z": "cf69560481408644",
        "g": "2d7842e57b2a0b38",
        "name": "Power",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.marstek_m{{battery_index}}_battery_power",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "number",
                "valueType": "entityState"
            },
            {
                "property": "battery_power",
                "propertyType": "msg",
                "value": "number",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 330,
        "y": 500,
        "wires": [
            [
                "898f6b3abe7a553b"
            ]
        ]
    },
    {
        "id": "34bb1eab17c75709",
        "type": "api-call-service",
        "z": "cf69560481408644",
        "g": "164f7fe475cd1eb7",
        "name": "Node-RED status: OK",
        "server": "176d29a.6f648d6",
        "version": 7,
        "debugenabled": false,
        "action": "input_boolean.turn_on",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_boolean.house_battery_control_has_node_red"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "input_boolean",
        "service": "turn_on",
        "x": 1760,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "ed1fe5a33a44f3df",
        "type": "inject",
        "z": "cf69560481408644",
        "g": "164f7fe475cd1eb7",
        "name": "On deploy",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1410,
        "y": 60,
        "wires": [
            [
                "a97b8146ab8591d8",
                "0544c5403e05ad49"
            ]
        ]
    },
    {
        "id": "72beda4f0efbe424",
        "type": "api-call-service",
        "z": "cf69560481408644",
        "g": "d6c9e642f1579c6b",
        "name": "Set mode (charge/discharge/stop)",
        "server": "176d29a.6f648d6",
        "version": 7,
        "debugenabled": false,
        "action": "",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "labelId": [],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "input_text",
        "service": "set_value",
        "x": 660,
        "y": 1360,
        "wires": [
            []
        ]
    },
    {
        "id": "f51838511a334e0e",
        "type": "function",
        "z": "cf69560481408644",
        "g": "d6c9e642f1579c6b",
        "name": "Set Batteries",
        "func": "// Logger\nconst log = global.get(\"logger\");\n\n// enums\nconst CMODE = {\n    STOP: \"stop\", // Marstek batteries disconnect a relay when this is set or Power is 0W\n    CHARGE: \"charge\",\n    DISCHARGE: \"discharge\"\n}\n\n// Output format and target\nlet outputArray = [];\nlet solution = msg.solutions[msg.battery_index-1]; // Base-0, thus -1\nif (solution === undefined) {\n    log(this,`Can't find solution for index ${msg.battery_index - 1} in ${msg.solutions}, aborting...`,\"error\");\n    return null;\n}\nlet target = `marstek_${solution.id.toLowerCase()}`;\n\n// Safety | Id exists\nlet battery = msg.batteries.find(battery => battery.id === solution.id);\nif (battery === undefined) {\n    log(`Can't set battery ${solution.id}, aborting...`,\"error\");\n    return null;\n}\n// Safety | Power limit\nsolution.power = Math.min(solution.power, solution.mode == CMODE.CHARGE ? battery.charging_max: battery.discharging_max);\n\n// Set | Mode\nconst serviceCallMode = {\n    \"action\": \"select.select_option\",\n    \"target\": {\n        \"entity_id\": [`select.${target}_forcible_charge_discharge`]\n    },\n    \"data\": {\n         \"option\": String(solution.mode) // forced charge mode (stop, charge, discharge)\n    }\n};\n// Add topic to allow correct 'on change' filtering\noutputArray.push({payload: serviceCallMode, topic:solution.id});\n\n// Set | Power\nconst serviceCallPower = {\n    \"action\": \"number.set_value\",\n    \"target\": {\n        \"entity_id\": [\n            `number.${target}_forcible_charge_power`,\n            `number.${target}_forcible_discharge_power`\n            ]\n    },\n    \"data\": {\n        \"value\": Number(solution.power)\n    } \n};\n// Add topic to allow correct 'on change' filtering\noutputArray.push({payload: serviceCallPower, topic:solution.id});\n\n// Store service calls in msg to allow checking of loop results\nmsg.loop_result = { target, serviceCallMode, serviceCallPower };\n\n// Return msg as third output\noutputArray.push(msg);\n\n// Explain\nlog(this,`${target} ${String(solution.mode)} @ ${Number(solution.power)} Watt`);\n\n// Output\nreturn outputArray;",
        "outputs": 3,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 1400,
        "wires": [
            [
                "72beda4f0efbe424"
            ],
            [
                "094bed1bc60a0459"
            ],
            [
                "89fbfccfe5435fac"
            ]
        ],
        "inputLabels": [
            "Msg with a battery_index"
        ],
        "outputLabels": [
            "Select MODE",
            "Set POWER",
            "Msg"
        ]
    },
    {
        "id": "8b359f0b903ade82",
        "type": "function",
        "z": "cf69560481408644",
        "g": "e52266e27ce81308",
        "name": "Loop start",
        "func": "// loop through the number of batteries set by the user\nmsg.battery_index = msg.battery_count;\n\n// Debug\nRED.util.setMessageProperty(msg, \"debug\", `## Cohort ${Date.now()} ##`);\n\n// Continue\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 120,
        "y": 1400,
        "wires": [
            [
                "f51838511a334e0e"
            ]
        ]
    },
    {
        "id": "9375c18ab23f5adf",
        "type": "switch",
        "z": "cf69560481408644",
        "g": "d6c9e642f1579c6b",
        "name": "Loop until",
        "property": "battery_index",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 740,
        "y": 1460,
        "wires": [
            [
                "f51838511a334e0e"
            ],
            [
                "506beefdec9673bb"
            ]
        ]
    },
    {
        "id": "89fbfccfe5435fac",
        "type": "function",
        "z": "cf69560481408644",
        "g": "d6c9e642f1579c6b",
        "name": "Loop step",
        "func": "// Step index down\nmsg.battery_index -= 1;\n\n// Continue\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 1460,
        "wires": [
            [
                "9375c18ab23f5adf",
                "81fa6266c45f6b9d"
            ]
        ]
    },
    {
        "id": "1840d04ab4989dd9",
        "type": "api-call-service",
        "z": "cf69560481408644",
        "g": "d6c9e642f1579c6b",
        "name": "Set power (W)",
        "server": "176d29a.6f648d6",
        "version": 7,
        "debugenabled": false,
        "action": "",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "labelId": [],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "input_text",
        "service": "set_value",
        "x": 760,
        "y": 1400,
        "wires": [
            []
        ]
    },
    {
        "id": "5fc9c28eb4e3ebbb",
        "type": "function",
        "z": "cf69560481408644",
        "g": "e52266e27ce81308",
        "name": "Timing start",
        "func": "RED.util.setMessageProperty(msg,\"setbatteries.execution_start\",Date.now());\nRED.util.setMessageProperty(msg,\"setbatteries.marker\", `M1_${Date.now()}`);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 130,
        "y": 1360,
        "wires": [
            [
                "8b359f0b903ade82"
            ]
        ]
    },
    {
        "id": "4b9ea55efae3bf1d",
        "type": "switch",
        "z": "cf69560481408644",
        "g": "e52266e27ce81308",
        "name": "solutions present",
        "property": "solutions",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "undefined",
                "vt": "jsonata"
            },
            {
                "t": "neq",
                "v": "undefined",
                "vt": "jsonata"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 150,
        "y": 1320,
        "wires": [
            [
                "1101e13ed84e9c0d"
            ],
            [
                "5fc9c28eb4e3ebbb"
            ]
        ]
    },
    {
        "id": "506beefdec9673bb",
        "type": "function",
        "z": "cf69560481408644",
        "g": "e52266e27ce81308",
        "name": "Timing end",
        "func": "let start = RED.util.getMessageProperty(msg,\"setbatteries.execution_start\");\nlet end = Date.now();\nlet delta = end - start;\nlet timingString = `${delta/1000} sec`;\n\nnode.status({fill:\"green\",shape:\"dot\",text: timingString});\nmsg.delta = delta;\nmsg.timing = timingString;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 130,
        "y": 1580,
        "wires": [
            [
                "6c7430495fb8cb8a",
                "2ff7451adc89b1bf"
            ]
        ]
    },
    {
        "id": "81fa6266c45f6b9d",
        "type": "debug",
        "z": "cf69560481408644",
        "g": "d6c9e642f1579c6b",
        "name": "Step result",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "loop_result",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 1500,
        "wires": []
    },
    {
        "id": "094bed1bc60a0459",
        "type": "rbe",
        "z": "cf69560481408644",
        "g": "d6c9e642f1579c6b",
        "name": "on change",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 590,
        "y": 1400,
        "wires": [
            [
                "1840d04ab4989dd9"
            ]
        ]
    },
    {
        "id": "6c7430495fb8cb8a",
        "type": "debug",
        "z": "cf69560481408644",
        "g": "e52266e27ce81308",
        "name": "Done",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": false,
        "complete": "debug",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 270,
        "y": 1580,
        "wires": []
    },
    {
        "id": "77248fccaa4f5729",
        "type": "function",
        "z": "cf69560481408644",
        "g": "98643475a97c956a",
        "name": "Loop step",
        "func": "// Step index down\nmsg.battery_index += 1;\n\n// Continue\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 580,
        "wires": [
            [
                "b19a3c118fcde3b4"
            ]
        ]
    },
    {
        "id": "2bc91a5650ae2bfb",
        "type": "function",
        "z": "cf69560481408644",
        "g": "f80c67f5392fd743",
        "name": "Update battery order",
        "func": "// Cycles battery priority as follows\n// M=1 [1,2,3,4] | M=2 [2,3,4,1] | M=3 [3,4,1,2] | etc.\n// With M the battery to prioritize\n\n// msg.batteries (original order)\nlet currentArray = msg.batteries;\n\n// Prioritize the Mth battery\nconst M = RED.util.getMessageProperty(msg,\"prioritize_battery\") || 1;\n\n// Flag wether the order may be reversed when discharging (e.g. Self-consumption utilizes this)\nconst reverseDischargePriority = RED.util.getMessageProperty(msg,\"battery_priority_cycle_interval\") !== \"Auto balance\";\nRED.util.setMessageProperty(msg, \"advanced_settings.reverse_discharge_priority\", reverseDischargePriority,true);\n\n// 1st battery has prio? Skip and continue without change\nif (M==1) return msg;\n\n// N equals the number of items to take from the front to the back of the array, effectivly rotating battery priority\nconst N = M - 1; // base-0 version of M\nnode.status({fill:\"blue\",shape:\"ring\",text:`N = ${N}`});\n\n// 1. Check if the array is valid and long enough\nif (!Array.isArray(currentArray) || currentArray.length < N) {\n    // Send an error or the original array back if the array is invalid/too short\n    node.error(`Array is not valid or shorter than ${N} items.`, msg);\n    return null;\n}\n\n// 2. Get the first N items (these will go to the back)\n// slice(0, N) retrieves elements from the start (index 0) up to index N (exclusive).\nlet firstN = currentArray.slice(0, N);\n\n// 3. Get the remaining items (these will stay at the front)\n// slice(N) retrieves elements from index N to the end of the array.\nlet remaining = currentArray.slice(N);\n\n// 4. Concatenate them: remaining items (front) + first N items (back)\nlet newArray = remaining.concat(firstN);\n\n// 5. Place the new array back into msg.batteries\nmsg.batteries = newArray;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 940,
        "wires": [
            [
                "f6f3ce29833ec4cf"
            ]
        ]
    },
    {
        "id": "a880a20108033784",
        "type": "inject",
        "z": "cf69560481408644",
        "g": "f80c67f5392fd743",
        "name": "Every 30 min",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "0,30 * * * *",
        "once": false,
        "onceDelay": "5",
        "topic": "cycle_battery_priority",
        "payload": "",
        "payloadType": "date",
        "x": 780,
        "y": 940,
        "wires": [
            [
                "af72caba1a62d650"
            ]
        ]
    },
    {
        "id": "4d679d346e08b196",
        "type": "function",
        "z": "cf69560481408644",
        "g": "f80c67f5392fd743",
        "name": "Change priority",
        "func": "// Current prioritized battery is the Mth battery\nlet M = RED.util.getMessageProperty(msg,\"prioritize_battery\") || 1;\n\n// Prioritize the next battery\nM += 1;\n\n// If the next battery does not exist, prioritize the first again\nif(M > msg.battery_count) M = 1;\n\n// Pass along as payload\nmsg.payload = M;\n\n// Show which battery has priority\nnode.status({fill:\"green\",shape:\"dot\",text:`Prioritize battery #${M}`});\n\n// Done\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1700,
        "y": 940,
        "wires": [
            [
                "ab35f7a81ab1ae74"
            ]
        ]
    },
    {
        "id": "affc7d8d6ecd28a9",
        "type": "api-current-state",
        "z": "cf69560481408644",
        "g": "f80c67f5392fd743",
        "name": "Your battery count",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_number.house_battery_count",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "number",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "battery_count",
                "propertyType": "msg",
                "value": "number",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 1510,
        "y": 940,
        "wires": [
            [
                "4d679d346e08b196"
            ]
        ]
    },
    {
        "id": "356be5dd2eb5c348",
        "type": "api-current-state",
        "z": "cf69560481408644",
        "g": "f80c67f5392fd743",
        "name": "Prioritize battery M",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_number.house_battery_control_prioritize_battery",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "number",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "prioritize_battery",
                "propertyType": "msg",
                "value": "number",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 150,
        "y": 940,
        "wires": [
            [
                "95853459d209df9d"
            ]
        ]
    },
    {
        "id": "ab35f7a81ab1ae74",
        "type": "api-call-service",
        "z": "cf69560481408644",
        "g": "f80c67f5392fd743",
        "name": "Update prioritized battery",
        "server": "176d29a.6f648d6",
        "version": 7,
        "debugenabled": false,
        "action": "input_number.set_value",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_number.house_battery_control_prioritize_battery"
        ],
        "labelId": [],
        "data": "{\"value\": \"{{payload}}\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "input_number",
        "service": "set_value",
        "x": 1910,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "af72caba1a62d650",
        "type": "api-current-state",
        "z": "cf69560481408644",
        "g": "f80c67f5392fd743",
        "name": "Desired interval",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_select.house_battery_control_priority_change_interval",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 960,
        "y": 940,
        "wires": [
            [
                "6ba8e427a0d5f6c1"
            ]
        ]
    },
    {
        "id": "6ba8e427a0d5f6c1",
        "type": "function",
        "z": "cf69560481408644",
        "g": "f80c67f5392fd743",
        "name": "Check interval ",
        "func": "// Manual priority, never pass\nif(msg.payload == \"Never\") {\n    node.status({fill:\"yellow\",shape:\"dot\",text:\"Auto cycle disabled\"});\n    return null;\n}\n\nconst now = new Date();\n\n// Auto balance: pass every 30 min trigger\nif(msg.payload == \"Auto balance\") {\n    node.status({ fill: \"green\", shape: \"dot\", text: `Auto balance` });\n    return msg;\n}\n\n// Daily interval: pass at 02:00\nif(msg.payload == \"Daily\") {\n    if (now.getHours() === 2 && now.getMinutes() === 0) {\n        node.status({ fill: \"green\", shape: \"dot\", text: `Daily at 02:00` });\n        return msg;\n    } else {\n        node.status({ fill: \"yellow\", shape: \"dot\", text: `Halted, not 02:00` });\n        return null;\n    }\n}\n\n// Weekly interval\nconst dayOfWeek = now.getDay();\n\nif (dayOfWeek === 0 && now.getHours() === 2 && now.getMinutes() === 0) {\n    node.status({ fill: \"green\", shape: \"dot\", text: `Passed on Sunday` });\n    return msg;\n} else {\n    node.status({ fill: \"yellow\", shape: \"dot\", text: `Halted, not Sunday 02:00` });\n    return null;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1140,
        "y": 940,
        "wires": [
            [
                "b4d32c51321cea49"
            ]
        ]
    },
    {
        "id": "b4d32c51321cea49",
        "type": "api-current-state",
        "z": "cf69560481408644",
        "g": "f80c67f5392fd743",
        "name": "Current priority",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_number.house_battery_control_prioritize_battery",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "number",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "prioritize_battery",
                "propertyType": "msg",
                "value": "number",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 1320,
        "y": 940,
        "wires": [
            [
                "affc7d8d6ecd28a9"
            ]
        ]
    },
    {
        "id": "94dcc7d8bd8cbf7b",
        "type": "function",
        "z": "cf69560481408644",
        "g": "57de83c5e04fc77d",
        "name": "Batteries (totals)",
        "func": "// batteries | calculate total and max. power delivered by batteries\nlet batteries = msg.batteries;\nlet batteries_total_power = 0;\nlet batteries_max_charging_power = 0;\nlet batteries_max_discharging_power = 0;\nlet batteries_available_energy = 0;\nlet batteries_max_energy = 0;\n\nbatteries.forEach(battery => {\n    batteries_total_power += Number(battery.power);\n    batteries_max_charging_power += Number(battery.charging_max);\n    batteries_max_discharging_power += Number(battery.discharging_max);\n    batteries_available_energy += Number(battery.energy - battery.energy_max*battery.soc_min/100);\n    batteries_max_energy += (Number(battery.energy_max*battery.soc_max) - Number(battery.energy_max*battery.soc_min))/100; // kWh\n});\n\n// OUTPUT\nRED.util.setMessageProperty(msg, \"batteries_total_power\", batteries_total_power, true); // W\nRED.util.setMessageProperty(msg, \"batteries_max_charge_power\", batteries_max_charging_power,true); // W\nRED.util.setMessageProperty(msg, \"batteries_max_discharge_power\", batteries_max_discharging_power,true); // W\nRED.util.setMessageProperty(msg, \"batteries_available_energy\",batteries_available_energy,true); // kWh usable\nRED.util.setMessageProperty(msg, \"batteries_max_energy\", batteries_max_energy, true); // kWh usable\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 140,
        "y": 680,
        "wires": [
            [
                "356be5dd2eb5c348",
                "401335054122a6b3",
                "02a0f3158b254cb7"
            ]
        ],
        "inputLabels": [
            "Mapping (from Home Battery IO)"
        ]
    },
    {
        "id": "c429819cf59a0962",
        "type": "api-current-state",
        "z": "cf69560481408644",
        "g": "2d7842e57b2a0b38",
        "name": "Energy max",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.marstek_m{{battery_index}}_battery_total_energy",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "battery_total_energy",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 1590,
        "y": 500,
        "wires": [
            [
                "43bc77e1a735d1d4"
            ]
        ]
    },
    {
        "id": "aea803546f27638e",
        "type": "function",
        "z": "cf69560481408644",
        "g": "98643475a97c956a",
        "name": "Loop end",
        "func": "// cleanup \ndelete msg.battery_index;\n\ndelete msg.battery_power;\ndelete msg.max_charge_power;\ndelete msg.max_discharge_power;\ndelete msg.battery_state_of_charge;\ndelete msg.charging_cutoff_capacity;\ndelete msg.discharging_cutoff_capacity;\ndelete msg.inverter_state;\ndelete msg.battery_remaining_capacity;\ndelete msg.battery_total_energy;\ndelete msg.rs485_control_mode;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 580,
        "wires": [
            [
                "f4d0ebe5c27ce5bc",
                "94dcc7d8bd8cbf7b"
            ]
        ]
    },
    {
        "id": "d62b75653a80ec3c",
        "type": "api-call-service",
        "z": "cf69560481408644",
        "g": "e4cc7b7215774edb",
        "name": "Usable energy",
        "server": "176d29a.6f648d6",
        "version": 7,
        "debugenabled": false,
        "action": "input_number.set_value",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_number.house_battery_total_available_energy"
        ],
        "labelId": [],
        "data": "{\"value\":$$.batteries_available_energy}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "input_number",
        "service": "set_value",
        "x": 1740,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "0cced153781a3ea5",
        "type": "rbe",
        "z": "cf69560481408644",
        "g": "e4cc7b7215774edb",
        "name": "On change",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": false,
        "property": "batteries_available_energy",
        "topi": "topic",
        "x": 1570,
        "y": 680,
        "wires": [
            [
                "d62b75653a80ec3c"
            ]
        ]
    },
    {
        "id": "f1d2285bc1dd64a2",
        "type": "switch",
        "z": "cf69560481408644",
        "g": "a72bb94548f2183c",
        "name": "Select rate limit",
        "property": "p1_rate_limit.save_power",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 660,
        "y": 280,
        "wires": [
            [
                "79d69d070d0cc748"
            ],
            [
                "6bc61788dd272061"
            ]
        ]
    },
    {
        "id": "ff6e6fc64a6854c3",
        "type": "delay",
        "z": "cf69560481408644",
        "g": "a72bb94548f2183c",
        "name": "Rate limit",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "3",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": true,
        "outputs": 2,
        "x": 980,
        "y": 280,
        "wires": [
            [
                "b58332b551aa4d0c"
            ],
            [
                "72478611e936a1cc"
            ]
        ],
        "outputLabels": [
            "Pass",
            ""
        ]
    },
    {
        "id": "6bc61788dd272061",
        "type": "change",
        "z": "cf69560481408644",
        "g": "a72bb94548f2183c",
        "name": "1 msg/s",
        "rules": [
            {
                "t": "set",
                "p": "rate",
                "pt": "msg",
                "to": "1000",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 300,
        "wires": [
            [
                "ff6e6fc64a6854c3"
            ]
        ]
    },
    {
        "id": "79d69d070d0cc748",
        "type": "change",
        "z": "cf69560481408644",
        "g": "a72bb94548f2183c",
        "name": "0.333 msg/s",
        "rules": [
            {
                "t": "set",
                "p": "rate",
                "pt": "msg",
                "to": "3000",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 830,
        "y": 260,
        "wires": [
            [
                "ff6e6fc64a6854c3"
            ]
        ]
    },
    {
        "id": "357cf6d0a4ab2f0e",
        "type": "function",
        "z": "cf69560481408644",
        "g": "a72bb94548f2183c",
        "name": "P1 change (20W or 2%)",
        "func": "// Switch between low and high rate limiting to decrease load and power consumption\n// --\n// The flow should always be rate limited by atleast the total execution time of strategies\n// The flow should not lock up indefinitly when grid_power is constant.\n// In the latter case, a more relaxed rate limit can help reduce system load.\n// Devs: don't set msg.rate directly. Use nodes, so novice users can easily read the flow.\n\n// Thresholds for change in power, before switching to high rate limit\nconst THRESHOLD_POWER = 20; // Watt change\nconst THRESHOLD_PERCENT = 2; // Percentage\nRED.util.setMessageProperty(msg, \"p1_rate_limit.threshold_power\", THRESHOLD_POWER,true);\nRED.util.setMessageProperty(msg, \"p1_rate_limit.threshold_percent\", THRESHOLD_PERCENT, true);\n\n// Get the previous value from this node's context\n// If it doesn't exist yet, initialize it as null\nlet previousValue = context.get('previousValue') || null;\nlet currentValue = Number(msg.grid_power);\n\n// Save the current value for the next time the node is triggered\ncontext.set('previousValue', currentValue);\n\n// Default rate limiting\nRED.util.setMessageProperty(msg,\"p1_rate_limit.save_power\",true);\n\n// Check if we have a valid history to compare with\nif (previousValue !== null) {\n    let powerChange = Math.abs(currentValue - previousValue);\n    let percentageChange = previousValue !== 0 ? Math.abs((powerChange / previousValue) * 100):0;\n\n    // Condition: Absolute difference > N Watt AND percentage change > M %\n    if (powerChange > THRESHOLD_POWER && percentageChange > THRESHOLD_PERCENT) {\n        // Enable faster refresh rate\n        RED.util.setMessageProperty(msg,\"p1_rate_limit.save_power\",false);\n    }\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 280,
        "wires": [
            [
                "f1d2285bc1dd64a2"
            ]
        ]
    },
    {
        "id": "e318f4e03a1ce488",
        "type": "function",
        "z": "cf69560481408644",
        "g": "a72bb94548f2183c",
        "name": "CPU power saved",
        "func": "// Logger\nconst logger = global.get(\"logger\");\n\n// Passed or blocked\nconst hasPassed = msg.payload; // 0 = blocked, 1 = passed\n\n// 1. Get evaluations (Total attempts)\nlet evaluations = (context.get(\"p1_rate_limit_evaluations\") || 0) + 1;\ncontext.set(\"p1_rate_limit_evaluations\", evaluations);\n\n// 2. Increment and get passes (Filtered/successful events)\nlet passes = (context.get(\"p1_rate_limit_passes\") || 0) + hasPassed;\ncontext.set(\"p1_rate_limit_passes\", passes);\n\n// 3a. Calculate percentage (Rate of passing vs total evaluations)\nlet percentage = evaluations > 0 ? (passes / evaluations) * 100 : 0;\n// 3b. Display the percentage rate of not-passing as a measure of efficiency gained\npercentage = 100 - percentage;\n\n// 4. Update Node Status\nnode.status({\n    fill: \"blue\",\n    shape: \"dot\",\n    text: `Saved: ${percentage.toFixed(2)}% (${evaluations-passes}/${evaluations})`\n});\n\n// 5. Explain\n// On block\nif(hasPassed === 0) {\n    if(msg.p1_rate_limit.save_power === true) {\n        // This is good\n        logger(this, `<font color=\"#009ac7\">Power saved</font> by P1 Rate Limiter, execution stopped.`); \n    } else {\n        // This is not so good. P1 updates are coming in fast.\n        logger(this, `<font color=\"orange\">Blocked</font> by P1 Rate Limiter. ${Number(1000/msg.rate).toFixed(2)} messages per second exceeded.`); \n    }\n    \n    // Send message onward to debug dashboard\n    return msg;\n}\n// No output on pass\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1270,
        "y": 280,
        "wires": [
            [
                "7fc6776d73c1b249"
            ]
        ]
    },
    {
        "id": "10aa27fe189fa07e",
        "type": "debug",
        "z": "cf69560481408644",
        "g": "6373da5467ce39eb",
        "name": "Strategy evaluation",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "strategy",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 1220,
        "wires": []
    },
    {
        "id": "ac1b34f27b3ca58e",
        "type": "api-call-service",
        "z": "cf69560481408644",
        "g": "b6aba79cafd27200",
        "name": "Show on dashboard",
        "server": "176d29a.6f648d6",
        "version": 7,
        "debugenabled": false,
        "action": "input_text.set_value",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_text.house_battery_strategy_active_sub_strategy"
        ],
        "labelId": [],
        "data": "{\"value\": $$.ui_value_new}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "input_text",
        "service": "set_value",
        "x": 1760,
        "y": 1220,
        "wires": [
            []
        ]
    },
    {
        "id": "64faed20c9da12dc",
        "type": "api-current-state",
        "z": "cf69560481408644",
        "g": "b6aba79cafd27200",
        "name": "current UI value",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_text.house_battery_strategy_active_sub_strategy",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "ui_value_current",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 1360,
        "y": 1220,
        "wires": [
            [
                "12fc44bc79d80451"
            ]
        ]
    },
    {
        "id": "12fc44bc79d80451",
        "type": "function",
        "z": "cf69560481408644",
        "g": "b6aba79cafd27200",
        "name": "on new UI value",
        "func": "// Block when undefined (don't update UI)\nif(msg.ui_value_current === undefined) return null;\n\n// We show the 2nd strategy in the trace (if available) on the dashboard as the 'active sub-strategy'\nconst secondTraceEntry = msg.strategy?.trace?.[1];\nif (secondTraceEntry) {\n    // Handle case where 2nd flow is present\n    msg.ui_value_new =  secondTraceEntry.flow;\n} else {\n    // Handle case where the 2nd flow is missing\n    // Get a sensible alternative\n    msg.ui_value_new = msg.strategy?.selected || \"\"; // don't use unknown or unavailable as these are reserved HA keywords\n}\n\n// Improve human readability\nif(msg.ui_value_new == \"Self-consumption\" && secondTraceEntry?.flow_settings?.discharge_disabled === true){\n    msg.ui_value_new = \"Self-consumption (charge only)\";\n}\nif(msg.ui_value_new == \"Self-consumption\" && secondTraceEntry?.flow_settings?.charge_disabled === true){\n    msg.ui_value_new = \"Self-consumption (no charging)\";\n}\nif(msg.strategy?.is_peak_shaving === true){\n    msg.ui_value_new = \"Peak shaving\";\n}\n\n// Node status for devs\nnode.status({fill:\"grey\",shape:\"dot\",text:`new: ${msg.ui_value_new}`});\n\n// Block when equal (don't update UI)\nif(msg.ui_value_current === msg.ui_value_new) return null;\n\n// Pass otherwise\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1560,
        "y": 1220,
        "wires": [
            [
                "ac1b34f27b3ca58e"
            ]
        ]
    },
    {
        "id": "dfdd712cec309d05",
        "type": "ha-fire-event",
        "z": "cf69560481408644",
        "g": "61d5ed93c178a2b0",
        "name": "Show on debug board",
        "server": "176d29a.6f648d6",
        "version": 0,
        "event": "update_trace_sensor",
        "data": "{\t   \"trace\": $$.strategy.trace ? $$.strategy.trace : [],\t   \"start\": $$.strategy.execution_start ? $$.strategy.execution_start : 0,\t   \"end\": $$.strategy.execution_end ? $$.strategy.execution_end : 0,\t   \"log\": $$.log ? $$.log : []\t}",
        "dataType": "jsonata",
        "x": 1740,
        "y": 1580,
        "wires": [
            []
        ]
    },
    {
        "id": "04b5e1170470cda3",
        "type": "api-current-state",
        "z": "cf69560481408644",
        "g": "17836aca95217029",
        "name": "Insight mode",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.house_battery_control_is_debug_mode",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "debug_mode",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 130,
        "y": 160,
        "wires": [
            [
                "508d051e5a1dd713"
            ]
        ]
    },
    {
        "id": "2ff7451adc89b1bf",
        "type": "switch",
        "z": "cf69560481408644",
        "g": "61d5ed93c178a2b0",
        "name": "Debug mode?",
        "property": "debug_mode",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1540,
        "y": 1580,
        "wires": [
            [
                "dfdd712cec309d05"
            ]
        ]
    },
    {
        "id": "49b0ded6fab74e14",
        "type": "server-state-changed",
        "z": "cf69560481408644",
        "g": "17836aca95217029",
        "name": "Turned ON",
        "server": "176d29a.6f648d6",
        "version": 6,
        "outputs": 2,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "input_boolean.house_battery_control_is_debug_mode"
            ],
            "substring": [],
            "regex": []
        },
        "outputInitially": false,
        "stateType": "str",
        "ifState": "on",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 420,
        "y": 160,
        "wires": [
            [
                "1ee95d478c50c5b3"
            ],
            []
        ]
    },
    {
        "id": "1ee95d478c50c5b3",
        "type": "trigger",
        "z": "cf69560481408644",
        "g": "17836aca95217029",
        "name": "disable after 5 minutes",
        "op1": "",
        "op2": "off",
        "op1type": "nul",
        "op2type": "str",
        "duration": "5",
        "extend": false,
        "overrideDelay": false,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 600,
        "y": 160,
        "wires": [
            [
                "f4434f195853dae5"
            ]
        ]
    },
    {
        "id": "f4434f195853dae5",
        "type": "api-call-service",
        "z": "cf69560481408644",
        "g": "17836aca95217029",
        "name": "Turn insight OFF",
        "server": "176d29a.6f648d6",
        "version": 7,
        "debugenabled": false,
        "action": "input_boolean.turn_off",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_boolean.house_battery_control_is_debug_mode"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "input_boolean",
        "service": "turn_off",
        "x": 810,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "a97b8146ab8591d8",
        "type": "delay",
        "z": "cf69560481408644",
        "g": "164f7fe475cd1eb7",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1580,
        "y": 60,
        "wires": [
            [
                "34bb1eab17c75709"
            ]
        ]
    },
    {
        "id": "0544c5403e05ad49",
        "type": "function",
        "z": "cf69560481408644",
        "g": "1d6d27611b4eda6c",
        "name": "Custom logger",
        "func": "/**\n * Custom Logger Function\n * * Provides centralized logging, node-status updates, and message tracing.\n * Specifically designed for Home Battery Control logic within Node-RED.\n * \n * Debug dashboard updating:\n * A msg needs to reach 'Strategy Evaluation' or be passed to the \"Show on debug board\" trigger node.\n * Errors are automatically passed to the \"Show on debug board\" trigger node.\n * \n * * @param {object} callingNode - The context of the calling node (pass 'this').\n * @param {string} text - The log message/explanation.\n * @param {string} level - Log level: 'log', 'warn', 'error', or 'info' (default: 'info').\n * \n * Note: anything above 'info' will also write to the Node-RED log files \n * \n * * @usage: \n * const log = global.get(\"logger\");\n * log(this, \"Charging cycle started\");\n */\nconst customLogger = (callingNode, text, level = 'info') => {\n    \n    // Log only when debug_mode is ON\n    const debug_mode = global.get(\"debug_mode\") || false;\n    if(debug_mode == false) return null;\n\n    // Max log elements to keep\n    const MAX_ELEMENTS = 100;\n\n    // Create the YYYY-MM-DD HH:MM:SS.mmm format\n    const now = new Date();\n    const timestamp = now.getHours().toString().padStart(2, '0') + \":\" +\n                now.getMinutes().toString().padStart(2, '0') + \":\" +\n                now.getSeconds().toString().padStart(2, '0') + \".\" +\n                now.getMilliseconds().toString().padStart(3, '0');\n\n    const formattedTimeLevel = `${timestamp} [${level.toLowerCase()}]`;\n    \n    // Get the name of the node or fallback to the ID\n    const nodeName = callingNode.__node__ ? callingNode.__node__.name || callingNode.__node__.id : undefined;\n    // Get the name of the Flow/Tab\n    const flowName = callingNode.env.get(\"NR_FLOW_NAME\") || \"Unknown flow\";\n    // Explain to the Home Battery Control user what is going on\n    const formattedExplenation = `[${flowName} >> ${nodeName}]: ${text}`;\n\n    // Level icons\n    let icon = \"⚪\";\n    switch (level) {\n        case \"info\":\n            icon = \"ℹ️\";\n            break;\n        case \"log\":\n            icon = \"🔧\";\n            break;\n        case \"warn\":\n            icon = \"⚠️\";      \n            break;\n        case \"error\":\n            icon = \"❌\";\n            break;\n    }\n\n    // Enrich msg with log info\n    const msg = callingNode.msg;\n    (msg.log = msg.log || []).push({ timestamp: timestamp, level:level, flow:flowName, node:nodeName, payload: text, icon: icon});\n\n    if (msg.log.length > MAX_ELEMENTS) {\n        // Slice keeps the last X elements\n        msg.log = msg.log.slice(-MAX_ELEMENTS);\n    }\n\n    // Log to the Node-RED system log\n    switch (level) {\n        case \"log\":\n            node.log(`${formattedExplenation}`);\n            break;\n        case \"warn\":\n            node.warn(`${formattedExplenation}`);       \n            break;\n        case \"error\":\n            node.error(`${formattedExplenation}`, callingNode.msg);\n            break;\n        default:\n            // don't log to logfiles by default\n    }\n\n};\n\nglobal.set('logger', customLogger);\nglobal.set('unhandledException', \"\");\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1740,
        "y": 160,
        "wires": [
            [
                "296bdf43fd34ab09"
            ]
        ]
    },
    {
        "id": "b58332b551aa4d0c",
        "type": "change",
        "z": "cf69560481408644",
        "g": "a72bb94548f2183c",
        "name": "Pass",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1110,
        "y": 300,
        "wires": [
            [
                "e318f4e03a1ce488",
                "e0bd9cc88ce70a48"
            ]
        ]
    },
    {
        "id": "72478611e936a1cc",
        "type": "change",
        "z": "cf69560481408644",
        "g": "a72bb94548f2183c",
        "name": "Block",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1110,
        "y": 260,
        "wires": [
            [
                "e318f4e03a1ce488"
            ]
        ]
    },
    {
        "id": "77fcca25ab84e044",
        "type": "link in",
        "z": "cf69560481408644",
        "g": "61d5ed93c178a2b0",
        "name": "Update debug dashboard",
        "links": [
            "7fc6776d73c1b249",
            "1101e13ed84e9c0d",
            "655570f0693bc95c"
        ],
        "x": 1395,
        "y": 1520,
        "wires": [
            [
                "2ff7451adc89b1bf",
                "c78831abec33e186"
            ]
        ]
    },
    {
        "id": "7fc6776d73c1b249",
        "type": "link out",
        "z": "cf69560481408644",
        "g": "a72bb94548f2183c",
        "name": "goto Debug Dashboard update",
        "mode": "link",
        "links": [
            "77fcca25ab84e044"
        ],
        "x": 1395,
        "y": 280,
        "wires": []
    },
    {
        "id": "e906278e010f0481",
        "type": "catch",
        "z": "cf69560481408644",
        "g": "61d5ed93c178a2b0",
        "name": "Custom logger",
        "scope": [
            "0544c5403e05ad49"
        ],
        "uncaught": false,
        "x": 1340,
        "y": 1640,
        "wires": [
            [
                "2ff7451adc89b1bf",
                "15338568927f0d78"
            ]
        ]
    },
    {
        "id": "15338568927f0d78",
        "type": "debug",
        "z": "cf69560481408644",
        "g": "61d5ed93c178a2b0",
        "name": "Via Catch",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "counter",
        "x": 1520,
        "y": 1640,
        "wires": []
    },
    {
        "id": "c78831abec33e186",
        "type": "debug",
        "z": "cf69560481408644",
        "g": "61d5ed93c178a2b0",
        "name": "Via link",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "counter",
        "x": 1520,
        "y": 1520,
        "wires": []
    },
    {
        "id": "1101e13ed84e9c0d",
        "type": "link out",
        "z": "cf69560481408644",
        "g": "e52266e27ce81308",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "77fcca25ab84e044"
        ],
        "x": 285,
        "y": 1320,
        "wires": []
    },
    {
        "id": "f3acfd722fa12c9f",
        "type": "switch",
        "z": "cf69560481408644",
        "g": "a72bb94548f2183c",
        "name": "Skip rate limiter during debug",
        "property": "debug_mode",
        "propertyType": "global",
        "rules": [
            {
                "t": "false"
            },
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 180,
        "y": 280,
        "wires": [
            [
                "357cf6d0a4ab2f0e"
            ],
            [
                "e0bd9cc88ce70a48"
            ]
        ]
    },
    {
        "id": "508d051e5a1dd713",
        "type": "function",
        "z": "cf69560481408644",
        "g": "17836aca95217029",
        "name": "Notice",
        "func": "// enable or disable Insights Mode\nif(msg.debug_mode == \"on\"){\n    // ENABLED - explain to user\n    const log = global.get(\"logger\");\n    log(this, \"P1 Rate limiter is *disabled* during *debug mode*\");\n\n    // Set global (setting this via current state node has proven irriliable)\n    global.set(\"debug_mode\", true);\n} else {\n    // DISABLED - set global\n    global.set(\"debug_mode\", false);\n}\n\n// Clean up - only use the global\ndelete msg.debug_mode;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 235,
        "y": 160,
        "wires": [
            [
                "28635f885aa7bd4d"
            ]
        ],
        "l": false
    },
    {
        "id": "7a8fc5ba2372db7b",
        "type": "api-current-state",
        "z": "cf69560481408644",
        "g": "2d7842e57b2a0b38",
        "name": "SoC min",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_number.marstek_m{{battery_index}}_discharging_cutoff_capacity",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "discharging_cutoff_capacity",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 1000,
        "y": 500,
        "wires": [
            [
                "acb5607c261309a2"
            ]
        ]
    },
    {
        "id": "acb5607c261309a2",
        "type": "api-current-state",
        "z": "cf69560481408644",
        "g": "2d7842e57b2a0b38",
        "name": "SoC max",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_number.marstek_m{{battery_index}}_charging_cutoff_capacity",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "charging_cutoff_capacity",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 1140,
        "y": 500,
        "wires": [
            [
                "2df83b3ee2eef180"
            ]
        ]
    },
    {
        "id": "296bdf43fd34ab09",
        "type": "function",
        "z": "cf69560481408644",
        "g": "1d6d27611b4eda6c",
        "name": "Unhandled Exception",
        "func": "/**\n * Handles exceptions by extracting node details and routing them to a global logger.\n * This is designed to be called from within a Node-RED Function node or sub-flow.\n *\n * @param {Object} callingNode - The Node-RED 'this' context or msg object containing node metadata.\n * @param {Object} [callingNode.msg] - The message object associated with the error.\n * @param {Object} [callingNode.msg.error] - Error details provided by a Node-RED error catch.\n * @param {string} [callingNode.msg.error.message] - The specific error message.\n * @param {Object} [callingNode.msg.error.source] - The node that triggered the error.\n * * @example\n * // Usage in a Function Node:\n * const unhandledException = global.get('unhandledException');\n * unhandledException(this);\n */\nconst unhandledException = (callingNode) => {\n    // 1. Get the custom logger from global context\n    const log = global.get(\"logger\");\n\n    // 2. Extract error details from the msg object\n    const errorData = callingNode.msg?.error || {};\n    const errorMessage = errorData.message || \"Unknown error occurred\";\n    const sourceName = errorData.source ? (errorData.source.name || errorData.source.id) : \"Unknown Node\";\n    const sourceType = errorData.source ? errorData.source.type : \"unknown-type\";\n\n    // 3. Construct a user-friendly message for the logger\n    const friendlyMessage = `**Unhandled exception** (${sourceType} node) ${errorMessage}`;\n    callingNode.__node__ ??= {};\n    callingNode.__node__.name = sourceName;\n\n    // 4. Call the logger with level 'error'\n    // Note: the logger uses 'callingNode', we pass on whatever we have.\n    log(callingNode, friendlyMessage, 'error');\n\n};\n\nglobal.set('unhandledException', unhandledException);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1760,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "a4770536e9c473a1",
        "type": "catch",
        "z": "cf69560481408644",
        "g": "3dec8998f704c25f",
        "name": "",
        "scope": null,
        "uncaught": true,
        "x": 1745,
        "y": 320,
        "wires": [
            [
                "25258d293ca5b8ca"
            ]
        ],
        "l": false
    },
    {
        "id": "25258d293ca5b8ca",
        "type": "function",
        "z": "cf69560481408644",
        "g": "3dec8998f704c25f",
        "name": "Unhandled Exception",
        "func": "const handle = global.get('unhandledException');\n\nhandle(this);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1795,
        "y": 320,
        "wires": [
            [
                "655570f0693bc95c"
            ]
        ],
        "l": false
    },
    {
        "id": "655570f0693bc95c",
        "type": "link out",
        "z": "cf69560481408644",
        "g": "3dec8998f704c25f",
        "name": "link out 9",
        "mode": "link",
        "links": [
            "77fcca25ab84e044"
        ],
        "x": 1845,
        "y": 320,
        "wires": []
    },
    {
        "id": "f7e09807696115eb",
        "type": "api-current-state",
        "z": "cf69560481408644",
        "g": "6373da5467ce39eb",
        "name": "Battery Strategy",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_select.house_battery_strategy",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "house_battery_strategy",
                "propertyType": "flow",
                "value": "string",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 140,
        "y": 1140,
        "wires": [
            [
                "15830b3ade1b15be"
            ]
        ]
    },
    {
        "id": "15830b3ade1b15be",
        "type": "api-current-state",
        "z": "cf69560481408644",
        "g": "6373da5467ce39eb",
        "name": "Full Stop Trigger",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.ev_is_charging",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "full_stop_trigger",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 320,
        "y": 1140,
        "wires": [
            [
                "d25216ca65dd1209"
            ]
        ]
    },
    {
        "id": "f6f3ce29833ec4cf",
        "type": "api-current-state",
        "z": "cf69560481408644",
        "g": "80405532eb3f52d4",
        "name": "Has import limit?",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.house_battery_control_has_power_limit_import",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "grid_power_has_limit_import",
                "propertyType": "msg",
                "value": "$entity().state = \"on\"",
                "valueType": "jsonata"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 150,
        "y": 1040,
        "wires": [
            [
                "5ac3cdf0ad6013e3"
            ]
        ]
    },
    {
        "id": "5ac3cdf0ad6013e3",
        "type": "api-current-state",
        "z": "cf69560481408644",
        "g": "80405532eb3f52d4",
        "name": "Has export limit?",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.house_battery_control_has_power_limit_export",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "grid_power_has_limit_export",
                "propertyType": "msg",
                "value": "$entity().state = \"on\"",
                "valueType": "jsonata"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 350,
        "y": 1040,
        "wires": [
            [
                "69d4aa99b46127ba"
            ]
        ]
    },
    {
        "id": "28635f885aa7bd4d",
        "type": "function",
        "z": "cf69560481408644",
        "g": "17836aca95217029",
        "name": "Grid power",
        "func": "const log = global.get(\"logger\");\n\n// prepare grid power message\nlet state = \"measure\";\nlet ending = \"\";\nif(msg.grid_power>0) {state = \"import\"; ending = \"from grid\";}\nif(msg.grid_power<0) {state = \"export\"; ending = \"to grid\";}\nconst displayPower = Math.abs(Math.round(msg.grid_power));\n\n// explain\nlog(this, `You currently ${state} ${displayPower} W ${ending}`);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 285,
        "y": 160,
        "wires": [
            [
                "f3acfd722fa12c9f"
            ]
        ],
        "l": false
    },
    {
        "id": "69d4aa99b46127ba",
        "type": "api-current-state",
        "z": "cf69560481408644",
        "g": "80405532eb3f52d4",
        "name": "Import limit",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_number.house_battery_control_power_limit_import",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "grid_power_limit_import",
                "propertyType": "msg",
                "value": "number",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 530,
        "y": 1040,
        "wires": [
            [
                "783deb36dab080de"
            ]
        ]
    },
    {
        "id": "783deb36dab080de",
        "type": "api-current-state",
        "z": "cf69560481408644",
        "g": "80405532eb3f52d4",
        "name": "Export limit",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_number.house_battery_control_power_limit_export",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "grid_power_limit_export",
                "propertyType": "msg",
                "value": "number",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 690,
        "y": 1040,
        "wires": [
            [
                "f7e09807696115eb"
            ]
        ]
    },
    {
        "id": "1bcdd8f78304c839",
        "type": "rbe",
        "z": "cf69560481408644",
        "g": "e4cc7b7215774edb",
        "name": "On change",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": false,
        "property": "batteries_max_energy",
        "topi": "topic",
        "x": 1570,
        "y": 720,
        "wires": [
            [
                "b29b8d72db7dbe07"
            ]
        ]
    },
    {
        "id": "b29b8d72db7dbe07",
        "type": "api-call-service",
        "z": "cf69560481408644",
        "g": "e4cc7b7215774edb",
        "name": "Max usable energy",
        "server": "176d29a.6f648d6",
        "version": 7,
        "debugenabled": false,
        "action": "input_number.set_value",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_number.house_battery_total_max_available_energy"
        ],
        "labelId": [],
        "data": "{\"value\":$$.batteries_max_energy}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "input_number",
        "service": "set_value",
        "x": 1750,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "7d4b45e1e9064b9f",
        "type": "rbe",
        "z": "cf69560481408644",
        "g": "e4cc7b7215774edb",
        "name": "On change",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": false,
        "property": "batteries_total_power",
        "topi": "topic",
        "x": 1570,
        "y": 760,
        "wires": [
            [
                "c866d99df5081006"
            ]
        ]
    },
    {
        "id": "c866d99df5081006",
        "type": "api-call-service",
        "z": "cf69560481408644",
        "g": "e4cc7b7215774edb",
        "name": "Current power",
        "server": "176d29a.6f648d6",
        "version": 7,
        "debugenabled": false,
        "action": "input_number.set_value",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_number.house_battery_total_battery_power"
        ],
        "labelId": [],
        "data": "{\"value\":$$.batteries_total_power}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "input_number",
        "service": "set_value",
        "x": 1740,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "a47cf2db4a51df5f",
        "type": "rbe",
        "z": "cf69560481408644",
        "g": "e4cc7b7215774edb",
        "name": "On change",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": false,
        "property": "batteries_max_charge_power",
        "topi": "topic",
        "x": 1570,
        "y": 800,
        "wires": [
            [
                "d4cca06cc20488a7"
            ]
        ]
    },
    {
        "id": "d4cca06cc20488a7",
        "type": "api-call-service",
        "z": "cf69560481408644",
        "g": "e4cc7b7215774edb",
        "name": "Max charging power",
        "server": "176d29a.6f648d6",
        "version": 7,
        "debugenabled": false,
        "action": "input_number.set_value",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_number.house_battery_total_max_charge_power"
        ],
        "labelId": [],
        "data": "{\"value\":$$.batteries_max_charge_power}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "input_number",
        "service": "set_value",
        "x": 1760,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "c40d106d7691829d",
        "type": "rbe",
        "z": "cf69560481408644",
        "g": "e4cc7b7215774edb",
        "name": "On change",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": false,
        "property": "batteries_max_discharge_power",
        "topi": "topic",
        "x": 1570,
        "y": 840,
        "wires": [
            [
                "f7a7094ac90d8267"
            ]
        ]
    },
    {
        "id": "f7a7094ac90d8267",
        "type": "api-call-service",
        "z": "cf69560481408644",
        "g": "e4cc7b7215774edb",
        "name": "Max discharging power",
        "server": "176d29a.6f648d6",
        "version": 7,
        "debugenabled": false,
        "action": "input_number.set_value",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_number.house_battery_total_max_discharge_power"
        ],
        "labelId": [],
        "data": "{\"value\":$$.batteries_max_discharge_power}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "input_number",
        "service": "set_value",
        "x": 1770,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "02a0f3158b254cb7",
        "type": "debug",
        "z": "cf69560481408644",
        "name": "Check totals",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 370,
        "y": 700,
        "wires": []
    },
    {
        "id": "95853459d209df9d",
        "type": "api-current-state",
        "z": "cf69560481408644",
        "g": "f80c67f5392fd743",
        "name": "Cycle interval",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_select.house_battery_control_priority_change_interval",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "battery_priority_cycle_interval",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 340,
        "y": 940,
        "wires": [
            [
                "2bc91a5650ae2bfb"
            ]
        ]
    },
    {
        "id": "176d29a.6f648d6",
        "type": "server",
        "name": "Home Assistant",
        "addon": true,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": [],
        "connectionDelay": false,
        "cacheJson": false,
        "heartbeat": false,
        "heartbeatInterval": "",
        "statusSeparator": "",
        "enableGlobalContextStore": false
    },
    {
        "id": "c7931e922a8a614c",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-home-assistant-websocket": "0.80.3"
        }
    }
]