node-red/01 start-flow.json
[
    {
        "id": "8ec5147c0b5a7c62",
        "type": "tab",
        "label": "Home Battery Start v4.6.0",
        "disabled": false,
        "info": "# Home battery control\r\nConsists of three flows:\r\n 1.  Start flow\r\n 1.  Control flow\r\n 1.  Master switch flow\r\n\r\n## Start flow\r\nThis is the starting point of your home battery control.\r\n\r\nIt starts with P1 measurement as a trigger.\r\nIt allows you to connect your battery sensors to the flow.\r\nIt ends with a function node, mapping your batteries to a battery_array\r\n\r\nThe battery_array is passed on to the control flow.\r\n\r\nWhen the control flow has calculated the desired corrections,\r\nit is passed back to this flow and applied to your batteries.",
        "env": []
    },
    {
        "id": "61af900cec89c5af",
        "type": "group",
        "z": "8ec5147c0b5a7c62",
        "name": "Start",
        "style": {
            "label": true,
            "stroke": "#009ac7"
        },
        "nodes": [
            "524d544a41040fe3",
            "540c83df8e38f34e",
            "117b5fceece75cef"
        ],
        "x": 34,
        "y": 19,
        "w": 652,
        "h": 82
    },
    {
        "id": "a1f0c7a0f8c3745b",
        "type": "group",
        "z": "8ec5147c0b5a7c62",
        "name": "Strategy selection",
        "style": {
            "label": true
        },
        "nodes": [
            "e95e87f1d32fc6ac",
            "f23677e0ba51da8e",
            "36347b0bfce3e4ec",
            "02f8ffc70550b249",
            "39a39f947c95cb33",
            "72bf48f3b4096a26",
            "8d041cd31e5ec7d7",
            "6d7bb50f57765de3"
        ],
        "x": 34,
        "y": 1099,
        "w": 852,
        "h": 162
    },
    {
        "id": "8f0832d901d66537",
        "type": "group",
        "z": "8ec5147c0b5a7c62",
        "name": "Get batteries information",
        "style": {
            "label": true
        },
        "nodes": [
            "13af65a3b791049e",
            "b4b3df37bb0298cc",
            "69bf3e23a0ae5102",
            "d34d2142edb8f743",
            "96423a905258a6c8",
            "f583117877cb4816",
            "1241cfa4db168c02",
            "1aa42932fa947bdc"
        ],
        "x": 34,
        "y": 379,
        "w": 1678,
        "h": 242
    },
    {
        "id": "6003d1d9a085415f",
        "type": "group",
        "z": "8ec5147c0b5a7c62",
        "name": "On deploy and global logger",
        "style": {
            "label": true,
            "stroke": "#92d04f"
        },
        "nodes": [
            "f552d2be508e1c7c",
            "a08179ecc6efc7a5",
            "d09eaf5114448779"
        ],
        "x": 1294,
        "y": 19,
        "w": 592,
        "h": 82
    },
    {
        "id": "0f38c6ca86aee752",
        "type": "group",
        "z": "8ec5147c0b5a7c62",
        "name": "Set Batteries",
        "style": {
            "label": true
        },
        "nodes": [
            "338dc2efe94557f5",
            "e72c5da3fc2cda4d",
            "2fbd581d823a21f3",
            "957d868584d30465",
            "d1a3139c7d5f864c",
            "a49356ca6b197327",
            "44467ccce283d09b"
        ],
        "x": 34,
        "y": 1279,
        "w": 858,
        "h": 342
    },
    {
        "id": "3c42f1a5bf93f5bf",
        "type": "group",
        "z": "8ec5147c0b5a7c62",
        "name": "Battery priority",
        "style": {
            "label": true
        },
        "nodes": [
            "2447c8bec4ae0834",
            "eea6414f944fc6fd",
            "65c5a929c49d41dd",
            "65f1810ea608bb29",
            "c66e32c95e3f8a62",
            "813c708259b98e4f",
            "70814dcc94731634",
            "b4d7b6076d97b576",
            "1633d9b62109fb03"
        ],
        "x": 34,
        "y": 899,
        "w": 1852,
        "h": 82
    },
    {
        "id": "ed3015611a09a287",
        "type": "group",
        "z": "8ec5147c0b5a7c62",
        "name": "Calculate totals",
        "style": {
            "label": true
        },
        "nodes": [
            "03dfd6467053da0a"
        ],
        "x": 34,
        "y": 639,
        "w": 212,
        "h": 82
    },
    {
        "id": "c888a6e4ea53cb4c",
        "type": "group",
        "z": "8ec5147c0b5a7c62",
        "name": "Rate limiter",
        "style": {
            "label": true
        },
        "nodes": [
            "81f472e70d2a2a0e",
            "ec7aebb3a8364f31",
            "ce2b6f35fea6c62a",
            "b261e6397bb3ec36",
            "5eaf4fcd159b092c",
            "558219e674139879",
            "4e1b5e7869e2a0e5",
            "0b9ce404eaf1c945",
            "07f4218077134482",
            "226af446334c1244"
        ],
        "x": 34,
        "y": 219,
        "w": 1402,
        "h": 122
    },
    {
        "id": "c7aedf6411dd3848",
        "type": "group",
        "z": "8ec5147c0b5a7c62",
        "name": "Update UI: debug dashboard",
        "style": {
            "label": true,
            "stroke": "#3f5787"
        },
        "nodes": [
            "0ac0fe4519fc3c0e",
            "906f1f1caf3a42a2",
            "f895e290614e2888",
            "59b82ba7d6cccb3d",
            "1778ddfa8de0d008",
            "8df2242b1a15812d"
        ],
        "x": 1234,
        "y": 1479,
        "w": 632,
        "h": 202
    },
    {
        "id": "f2ff42e42b903499",
        "type": "group",
        "z": "8ec5147c0b5a7c62",
        "name": "Update UI: cummulative totals",
        "style": {
            "label": true,
            "stroke": "#3f5787"
        },
        "nodes": [
            "b284371056837f89",
            "0bf452b3823a1a70",
            "4a87111d1848ff2b",
            "23df2a423dc68d7c",
            "a0077bbc0e4c86fa",
            "ec3b065b3092a012",
            "96fc869e13f80a50",
            "823388b2235818f6",
            "1883a6ca2a966421",
            "2912faed791e0ede"
        ],
        "x": 1474,
        "y": 639,
        "w": 432,
        "h": 242
    },
    {
        "id": "e9573b50bc71af07",
        "type": "group",
        "z": "8ec5147c0b5a7c62",
        "name": "Update UI: active sub-strategy",
        "style": {
            "label": true,
            "stroke": "#3f5787"
        },
        "nodes": [
            "13662f1369a49294",
            "e822068dc16946a1",
            "c742816fa126698a"
        ],
        "x": 1254,
        "y": 1179,
        "w": 632,
        "h": 82
    },
    {
        "id": "6c2f2b5f0b585581",
        "type": "group",
        "z": "8ec5147c0b5a7c62",
        "name": "Insight",
        "style": {
            "label": true
        },
        "nodes": [
            "67f1f0b0242d3e25",
            "5f90559fb3987b05",
            "6195c25a34c73c30",
            "1f08a13fd59f8cef",
            "e9d58d5970404263",
            "f2a2b639e0e303ee"
        ],
        "x": 34,
        "y": 119,
        "w": 892,
        "h": 82
    },
    {
        "id": "60ef43c79e906e87",
        "type": "group",
        "z": "8ec5147c0b5a7c62",
        "name": "Log and Error handling",
        "style": {
            "stroke": "#ff3f3f",
            "label": true
        },
        "nodes": [
            "cd9b77a90cb4b65f",
            "8b78b768979af063"
        ],
        "x": 1634,
        "y": 119,
        "w": 252,
        "h": 142
    },
    {
        "id": "b9267994ad92dff5",
        "type": "group",
        "z": "8ec5147c0b5a7c62",
        "name": "Unhandled exceptions",
        "style": {
            "label": true,
            "stroke": "#d88a8a",
            "color": "#d88a8a"
        },
        "nodes": [
            "a1c66412d4fcfe8e",
            "a6b49e1d7bf9ac4a",
            "9e941cd3de225a6d"
        ],
        "x": 1704,
        "y": 279,
        "w": 182,
        "h": 82
    },
    {
        "id": "3c2cfc0d1bd1ce5d",
        "type": "group",
        "z": "8ec5147c0b5a7c62",
        "name": "Peak shave settings",
        "style": {
            "label": true
        },
        "nodes": [
            "cc45c397cd7abb89",
            "11c16f2d1f9e1322",
            "3574897cdcea3b0d",
            "b030fe472cce0529"
        ],
        "x": 34,
        "y": 999,
        "w": 752,
        "h": 82
    },
    {
        "id": "96423a905258a6c8",
        "type": "group",
        "z": "8ec5147c0b5a7c62",
        "g": "8f0832d901d66537",
        "name": "Loop",
        "style": {
            "label": true
        },
        "nodes": [
            "1707ef268eeb6850",
            "fde1b98c4ed2e66e",
            "4b8919a9f02cac78",
            "a1cd67c198ab1bff",
            "53c9cd5c6a4ec6d2",
            "62fc9b1d1be49029",
            "ff8e1b0306d46134",
            "4f4aeca01c7be2ec",
            "3606188ba5d67b49",
            "b285414f8171a805"
        ],
        "x": 74,
        "y": 459,
        "w": 1612,
        "h": 82
    },
    {
        "id": "957d868584d30465",
        "type": "group",
        "z": "8ec5147c0b5a7c62",
        "g": "0f38c6ca86aee752",
        "name": "Loop",
        "style": {
            "label": true
        },
        "nodes": [
            "93074a78fe0da119",
            "21b8933e1596f66b",
            "1a06a813d243f471",
            "f7c3bc9af108b05f",
            "5d69c951556c7a6b",
            "a5a2e8dcda32370b",
            "eb80522314c2d6e8"
        ],
        "x": 314,
        "y": 1319,
        "w": 552,
        "h": 222
    },
    {
        "id": "ef4cbf06d8dfdf51",
        "type": "junction",
        "z": "8ec5147c0b5a7c62",
        "x": 40,
        "y": 360,
        "wires": [
            [
                "d34d2142edb8f743"
            ]
        ]
    },
    {
        "id": "904e95acf63a4411",
        "type": "junction",
        "z": "8ec5147c0b5a7c62",
        "x": 1380,
        "y": 680,
        "wires": [
            [
                "0bf452b3823a1a70",
                "4a87111d1848ff2b",
                "a0077bbc0e4c86fa",
                "96fc869e13f80a50",
                "1883a6ca2a966421"
            ]
        ]
    },
    {
        "id": "524d544a41040fe3",
        "type": "server-state-changed",
        "z": "8ec5147c0b5a7c62",
        "g": "61af900cec89c5af",
        "name": "P1 meter",
        "server": "176d29a.6f648d6",
        "version": 6,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "sensor.p1_meter_power"
            ],
            "substring": [],
            "regex": []
        },
        "outputInitially": false,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": false,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": true,
        "ignorePrevStateUnknown": true,
        "ignorePrevStateUnavailable": true,
        "ignoreCurrentStateUnknown": true,
        "ignoreCurrentStateUnavailable": true,
        "outputProperties": [
            {
                "property": "grid_power",
                "propertyType": "msg",
                "value": "number",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            },
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "number",
                "valueType": "entityState"
            },
            {
                "property": "timestamp",
                "propertyType": "msg",
                "value": "",
                "valueType": "date"
            }
        ],
        "x": 120,
        "y": 60,
        "wires": [
            [
                "540c83df8e38f34e"
            ]
        ]
    },
    {
        "id": "540c83df8e38f34e",
        "type": "api-current-state",
        "z": "8ec5147c0b5a7c62",
        "g": "61af900cec89c5af",
        "name": "Master Control Mode",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_select.marstek_master_battery_mode",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "master_mode",
                "propertyType": "flow",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 300,
        "y": 60,
        "wires": [
            [
                "117b5fceece75cef"
            ]
        ]
    },
    {
        "id": "117b5fceece75cef",
        "type": "switch",
        "z": "8ec5147c0b5a7c62",
        "g": "61af900cec89c5af",
        "name": "when in \"Full Control\" mode",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Full control",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 540,
        "y": 60,
        "wires": [
            [
                "67f1f0b0242d3e25"
            ]
        ]
    },
    {
        "id": "e95e87f1d32fc6ac",
        "type": "function",
        "z": "8ec5147c0b5a7c62",
        "g": "a1f0c7a0f8c3745b",
        "name": "Strategy selection",
        "func": "// Logger\nconst logger = global.get(\"logger\");\n\n// INFLOW\nlet strategy = flow.get(\"house_battery_strategy\");\n\n// Configure msg.strategy object\nRED.util.setMessageProperty(msg,\"strategy.selected\",strategy,true); // by user\nRED.util.setMessageProperty(msg,\"strategy.trace\",[],true); // init trace: which flows have been executed\n\n// stop on error\nif(msg.batteries === undefined) {\n    logger(this, \"Battery configuration undefined\", \"error\");\n    return null;\n}\nif(strategy === undefined) {\n    logger(this, \"Battery strategy undefined\", \"error\");\n    return null;\n}\n\n// Default | select target flow based on the input_select `house_battery_strategy`\nmsg.target = `${strategy}`;\n\n// full stop trigger overrules ALL selected strategies\nconst stopTrigger = RED.util.getMessageProperty(msg,\"full_stop_trigger\");\nif(stopTrigger == \"on\" || stopTrigger === true || stopTrigger === 1) {\n    msg.target = 'Full stop';\n    // Explain\n    logger(this, `**Full Stop** strategy selected, due to (EV) stop trigger: '${stopTrigger}'`);\n}\n\n// add execution marker\nRED.util.setMessageProperty(msg,\"strategy.execution_start\",Date.now()); // when do we start executing the selected strategy\n\n// OUTPUT\nnode.status({fill:\"grey\",shape:\"dot\",text:msg.target});\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 1140,
        "wires": [
            [
                "36347b0bfce3e4ec",
                "f23677e0ba51da8e"
            ]
        ]
    },
    {
        "id": "f23677e0ba51da8e",
        "type": "link call",
        "z": "8ec5147c0b5a7c62",
        "g": "a1f0c7a0f8c3745b",
        "name": "Call \"Link in\" node",
        "links": [],
        "linkType": "dynamic",
        "timeout": "1.2",
        "x": 510,
        "y": 1180,
        "wires": [
            [
                "02f8ffc70550b249",
                "39a39f947c95cb33"
            ]
        ]
    },
    {
        "id": "36347b0bfce3e4ec",
        "type": "debug",
        "z": "8ec5147c0b5a7c62",
        "g": "a1f0c7a0f8c3745b",
        "name": "Input msg",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 1140,
        "wires": []
    },
    {
        "id": "02f8ffc70550b249",
        "type": "debug",
        "z": "8ec5147c0b5a7c62",
        "g": "a1f0c7a0f8c3745b",
        "name": "Returned msg",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 1180,
        "wires": []
    },
    {
        "id": "39a39f947c95cb33",
        "type": "function",
        "z": "8ec5147c0b5a7c62",
        "g": "a1f0c7a0f8c3745b",
        "name": "Strategy evaluation",
        "func": "// add execution marker\nlet execution_end = Date.now();\nRED.util.setMessageProperty(msg, \"strategy.execution_end\", execution_end);\n\n// retrieve execution markers\nlet execution_start = RED.util.getMessageProperty(msg,\"strategy.execution_start\");\n\n// report execution time\nif (execution_start !== undefined && execution_end !== undefined) {\n    // exec time\n    let execution_time = (execution_end - execution_start) / 1000; // seconds\n    // report\n    if (execution_time <= 0) node.status({ fill: \"red\", shape: \"dot\", text: `negative or zero timing` });\n    if (execution_time > 0) node.status({ fill: \"green\", shape: \"dot\", text: `${execution_time} sec`});\n    if (execution_time >= 0.7) node.status({ fill: \"yellow\", shape: \"dot\", text: `${execution_time} sec` });\n    if (execution_time >= 1) node.status({ fill: \"red\", shape: \"dot\", text: `${execution_time} sec` });\n\n} else {\n    node.status({fill:\"grey\",shape:\"dot\",text:\"timing error\"});\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 1220,
        "wires": [
            [
                "2fbd581d823a21f3",
                "72bf48f3b4096a26",
                "13662f1369a49294"
            ]
        ]
    },
    {
        "id": "13af65a3b791049e",
        "type": "function",
        "z": "8ec5147c0b5a7c62",
        "g": "8f0832d901d66537",
        "name": "Loop start",
        "func": "// loop through the number of batteries set by the user\nmsg.battery_index = 1; // base-1\n\n// Init an array for battery status and value information\nmsg.batteries = [];\n\n// Continue\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 420,
        "wires": [
            [
                "1707ef268eeb6850"
            ]
        ]
    },
    {
        "id": "f583117877cb4816",
        "type": "function",
        "z": "8ec5147c0b5a7c62",
        "g": "8f0832d901d66537",
        "name": "Mapping",
        "func": "// Map to batteries array\nmsg.batteries.push({\n    id: `M${msg.battery_index}`,\n    power: parseInt(msg.battery_power,10),\n    charging_max: parseInt(msg.max_charge_power,10),\n    discharging_max: parseInt(msg.max_discharge_power,10),\n    soc: parseInt(msg.battery_state_of_charge,10),\n    soc_max: parseInt(msg.charging_cutoff_capacity,10),\n    soc_min: parseInt(msg.discharging_cutoff_capacity,10),\n    inverter: String(msg.inverter_state),\n    energy: Number(msg.battery_remaining_capacity),\n    energy_max: Number(msg.battery_total_energy),\n    rs485: String(msg.rs485_control_mode)\n    });\n\n// Continue\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 140,
        "y": 580,
        "wires": [
            [
                "1241cfa4db168c02"
            ]
        ]
    },
    {
        "id": "b4b3df37bb0298cc",
        "type": "switch",
        "z": "8ec5147c0b5a7c62",
        "g": "8f0832d901d66537",
        "name": "Loop until",
        "property": "battery_index",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lte",
                "v": "battery_count",
                "vt": "msg"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 420,
        "y": 580,
        "wires": [
            [
                "1707ef268eeb6850"
            ],
            [
                "1aa42932fa947bdc"
            ]
        ]
    },
    {
        "id": "69bf3e23a0ae5102",
        "type": "debug",
        "z": "8ec5147c0b5a7c62",
        "g": "8f0832d901d66537",
        "name": "Loop result",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 580,
        "wires": []
    },
    {
        "id": "d34d2142edb8f743",
        "type": "api-current-state",
        "z": "8ec5147c0b5a7c62",
        "g": "8f0832d901d66537",
        "name": "Your battery count",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_number.house_battery_count",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "number",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "battery_count",
                "propertyType": "msg",
                "value": "number",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 150,
        "y": 420,
        "wires": [
            [
                "13af65a3b791049e"
            ]
        ]
    },
    {
        "id": "1707ef268eeb6850",
        "type": "api-current-state",
        "z": "8ec5147c0b5a7c62",
        "g": "96423a905258a6c8",
        "name": "Control mode",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "select.marstek_m{{battery_index}}_rs485_control_mode",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "rs485_control_mode",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 180,
        "y": 500,
        "wires": [
            [
                "ff8e1b0306d46134"
            ]
        ]
    },
    {
        "id": "fde1b98c4ed2e66e",
        "type": "api-current-state",
        "z": "8ec5147c0b5a7c62",
        "g": "96423a905258a6c8",
        "name": "SoC",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.marstek_m{{battery_index}}_battery_state_of_charge",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "number",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "battery_state_of_charge",
                "propertyType": "msg",
                "value": "number",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 870,
        "y": 500,
        "wires": [
            [
                "3606188ba5d67b49"
            ]
        ]
    },
    {
        "id": "4b8919a9f02cac78",
        "type": "api-current-state",
        "z": "8ec5147c0b5a7c62",
        "g": "96423a905258a6c8",
        "name": "Inverter state",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.marstek_m{{battery_index}}_inverter_state",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "inverter_state",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 1290,
        "y": 500,
        "wires": [
            [
                "53c9cd5c6a4ec6d2"
            ]
        ]
    },
    {
        "id": "a1cd67c198ab1bff",
        "type": "api-current-state",
        "z": "8ec5147c0b5a7c62",
        "g": "96423a905258a6c8",
        "name": "Max discharge power",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "number.marstek_m{{battery_index}}_max_discharge_power",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "number",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "max_discharge_power",
                "propertyType": "msg",
                "value": "number",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 700,
        "y": 500,
        "wires": [
            [
                "fde1b98c4ed2e66e"
            ]
        ]
    },
    {
        "id": "53c9cd5c6a4ec6d2",
        "type": "api-current-state",
        "z": "8ec5147c0b5a7c62",
        "g": "96423a905258a6c8",
        "name": "Energy",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.marstek_m{{battery_index}}_battery_remaining_capacity",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "number",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "battery_remaining_capacity",
                "propertyType": "msg",
                "value": "number",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 1440,
        "y": 500,
        "wires": [
            [
                "4f4aeca01c7be2ec"
            ]
        ]
    },
    {
        "id": "62fc9b1d1be49029",
        "type": "api-current-state",
        "z": "8ec5147c0b5a7c62",
        "g": "96423a905258a6c8",
        "name": "Max charge power",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "number.marstek_m{{battery_index}}_max_charge_power",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "number",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "max_charge_power",
                "propertyType": "msg",
                "value": "number",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 490,
        "y": 500,
        "wires": [
            [
                "a1cd67c198ab1bff"
            ]
        ]
    },
    {
        "id": "ff8e1b0306d46134",
        "type": "api-current-state",
        "z": "8ec5147c0b5a7c62",
        "g": "96423a905258a6c8",
        "name": "Power",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.marstek_m{{battery_index}}_battery_power",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "number",
                "valueType": "entityState"
            },
            {
                "property": "battery_power",
                "propertyType": "msg",
                "value": "number",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 330,
        "y": 500,
        "wires": [
            [
                "62fc9b1d1be49029"
            ]
        ]
    },
    {
        "id": "f552d2be508e1c7c",
        "type": "api-call-service",
        "z": "8ec5147c0b5a7c62",
        "g": "6003d1d9a085415f",
        "name": "Node-RED status: OK",
        "server": "176d29a.6f648d6",
        "version": 7,
        "debugenabled": false,
        "action": "input_boolean.turn_on",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_boolean.house_battery_control_has_node_red"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "input_boolean",
        "service": "turn_on",
        "x": 1760,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "a08179ecc6efc7a5",
        "type": "inject",
        "z": "8ec5147c0b5a7c62",
        "g": "6003d1d9a085415f",
        "name": "On deploy",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1410,
        "y": 60,
        "wires": [
            [
                "d09eaf5114448779",
                "cd9b77a90cb4b65f"
            ]
        ]
    },
    {
        "id": "93074a78fe0da119",
        "type": "api-call-service",
        "z": "8ec5147c0b5a7c62",
        "g": "957d868584d30465",
        "name": "Set mode (charge/discharge/stop)",
        "server": "176d29a.6f648d6",
        "version": 7,
        "debugenabled": false,
        "action": "",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "labelId": [],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "input_text",
        "service": "set_value",
        "x": 660,
        "y": 1360,
        "wires": [
            []
        ]
    },
    {
        "id": "21b8933e1596f66b",
        "type": "function",
        "z": "8ec5147c0b5a7c62",
        "g": "957d868584d30465",
        "name": "Set Batteries",
        "func": "// Logger\nconst log = global.get(\"logger\");\n\n// enums\nconst CMODE = {\n    STOP: \"stop\", // Marstek batteries disconnect a relay when this is set or Power is 0W\n    CHARGE: \"charge\",\n    DISCHARGE: \"discharge\"\n}\n\n// Output format and target\nlet outputArray = [];\nlet solution = msg.solutions[msg.battery_index-1]; // Base-0, thus -1\nif (solution === undefined) {\n    log(this,`Can't find solution for index ${msg.battery_index - 1} in ${msg.solutions}, aborting...`,\"error\");\n    return null;\n}\nlet target = `marstek_${solution.id.toLowerCase()}`;\n\n// Safety | Id exists\nlet battery = msg.batteries.find(battery => battery.id === solution.id);\nif (battery === undefined) {\n    log(`Can't set battery ${solution.id}, aborting...`,\"error\");\n    return null;\n}\n// Safety | Power limit\nsolution.power = Math.min(solution.power, solution.mode == CMODE.CHARGE ? battery.charging_max: battery.discharging_max);\n\n// Set | Mode\nconst serviceCallMode = {\n    \"action\": \"select.select_option\",\n    \"target\": {\n        \"entity_id\": [`select.${target}_forcible_charge_discharge`]\n    },\n    \"data\": {\n         \"option\": String(solution.mode) // forced charge mode (stop, charge, discharge)\n    }\n};\n// Add topic to allow correct 'on change' filtering\noutputArray.push({payload: serviceCallMode, topic:solution.id});\n\n// Set | Power\nconst serviceCallPower = {\n    \"action\": \"number.set_value\",\n    \"target\": {\n        \"entity_id\": [\n            `number.${target}_forcible_charge_power`,\n            `number.${target}_forcible_discharge_power`\n            ]\n    },\n    \"data\": {\n        \"value\": Number(solution.power)\n    } \n};\n// Add topic to allow correct 'on change' filtering\noutputArray.push({payload: serviceCallPower, topic:solution.id});\n\n// Store service calls in msg to allow checking of loop results\nmsg.loop_result = { target, serviceCallMode, serviceCallPower };\n\n// Return msg as third output\noutputArray.push(msg);\n\n// Explain\nlog(this,`${target} ${String(solution.mode)} @ ${Number(solution.power)} Watt`);\n\n// Output\nreturn outputArray;",
        "outputs": 3,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 1400,
        "wires": [
            [
                "93074a78fe0da119"
            ],
            [
                "eb80522314c2d6e8"
            ],
            [
                "f7c3bc9af108b05f"
            ]
        ],
        "inputLabels": [
            "Msg with a battery_index"
        ],
        "outputLabels": [
            "Select MODE",
            "Set POWER",
            "Msg"
        ]
    },
    {
        "id": "338dc2efe94557f5",
        "type": "function",
        "z": "8ec5147c0b5a7c62",
        "g": "0f38c6ca86aee752",
        "name": "Loop start",
        "func": "// loop through the number of batteries set by the user\nmsg.battery_index = msg.battery_count;\n\n// Debug\nRED.util.setMessageProperty(msg, \"debug\", `## Cohort ${Date.now()} ##`);\n\n// Continue\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 120,
        "y": 1400,
        "wires": [
            [
                "21b8933e1596f66b"
            ]
        ]
    },
    {
        "id": "1a06a813d243f471",
        "type": "switch",
        "z": "8ec5147c0b5a7c62",
        "g": "957d868584d30465",
        "name": "Loop until",
        "property": "battery_index",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 740,
        "y": 1460,
        "wires": [
            [
                "21b8933e1596f66b"
            ],
            [
                "d1a3139c7d5f864c"
            ]
        ]
    },
    {
        "id": "f7c3bc9af108b05f",
        "type": "function",
        "z": "8ec5147c0b5a7c62",
        "g": "957d868584d30465",
        "name": "Loop step",
        "func": "// Step index down\nmsg.battery_index -= 1;\n\n// Continue\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 1460,
        "wires": [
            [
                "1a06a813d243f471",
                "a5a2e8dcda32370b"
            ]
        ]
    },
    {
        "id": "5d69c951556c7a6b",
        "type": "api-call-service",
        "z": "8ec5147c0b5a7c62",
        "g": "957d868584d30465",
        "name": "Set power (W)",
        "server": "176d29a.6f648d6",
        "version": 7,
        "debugenabled": false,
        "action": "",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "labelId": [],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "input_text",
        "service": "set_value",
        "x": 760,
        "y": 1400,
        "wires": [
            []
        ]
    },
    {
        "id": "e72c5da3fc2cda4d",
        "type": "function",
        "z": "8ec5147c0b5a7c62",
        "g": "0f38c6ca86aee752",
        "name": "Timing start",
        "func": "RED.util.setMessageProperty(msg,\"setbatteries.execution_start\",Date.now());\nRED.util.setMessageProperty(msg,\"setbatteries.marker\", `M1_${Date.now()}`);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 130,
        "y": 1360,
        "wires": [
            [
                "338dc2efe94557f5"
            ]
        ]
    },
    {
        "id": "2fbd581d823a21f3",
        "type": "switch",
        "z": "8ec5147c0b5a7c62",
        "g": "0f38c6ca86aee752",
        "name": "solutions present",
        "property": "solutions",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "undefined",
                "vt": "jsonata"
            },
            {
                "t": "neq",
                "v": "undefined",
                "vt": "jsonata"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 150,
        "y": 1320,
        "wires": [
            [
                "44467ccce283d09b"
            ],
            [
                "e72c5da3fc2cda4d"
            ]
        ]
    },
    {
        "id": "d1a3139c7d5f864c",
        "type": "function",
        "z": "8ec5147c0b5a7c62",
        "g": "0f38c6ca86aee752",
        "name": "Timing end",
        "func": "let start = RED.util.getMessageProperty(msg,\"setbatteries.execution_start\");\nlet end = Date.now();\nlet delta = end - start;\nlet timingString = `${delta/1000} sec`;\n\nnode.status({fill:\"green\",shape:\"dot\",text: timingString});\nmsg.delta = delta;\nmsg.timing = timingString;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 130,
        "y": 1580,
        "wires": [
            [
                "a49356ca6b197327",
                "906f1f1caf3a42a2"
            ]
        ]
    },
    {
        "id": "a5a2e8dcda32370b",
        "type": "debug",
        "z": "8ec5147c0b5a7c62",
        "g": "957d868584d30465",
        "name": "Step result",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "loop_result",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 1500,
        "wires": []
    },
    {
        "id": "eb80522314c2d6e8",
        "type": "rbe",
        "z": "8ec5147c0b5a7c62",
        "g": "957d868584d30465",
        "name": "on change",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 590,
        "y": 1400,
        "wires": [
            [
                "5d69c951556c7a6b"
            ]
        ]
    },
    {
        "id": "a49356ca6b197327",
        "type": "debug",
        "z": "8ec5147c0b5a7c62",
        "g": "0f38c6ca86aee752",
        "name": "Done",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": false,
        "complete": "debug",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 270,
        "y": 1580,
        "wires": []
    },
    {
        "id": "1241cfa4db168c02",
        "type": "function",
        "z": "8ec5147c0b5a7c62",
        "g": "8f0832d901d66537",
        "name": "Loop step",
        "func": "// Step index down\nmsg.battery_index += 1;\n\n// Continue\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 580,
        "wires": [
            [
                "b4b3df37bb0298cc"
            ]
        ]
    },
    {
        "id": "2447c8bec4ae0834",
        "type": "function",
        "z": "8ec5147c0b5a7c62",
        "g": "3c42f1a5bf93f5bf",
        "name": "Update battery order",
        "func": "// Cycles battery priority as follows\n// M=1 [1,2,3,4] | M=2 [2,3,4,1] | M=3 [3,4,1,2] | etc.\n// With M the battery to prioritize\n\n// msg.batteries (original order)\nlet currentArray = msg.batteries;\n\n// Prioritize the Mth battery\nconst M = RED.util.getMessageProperty(msg,\"prioritize_battery\") || 1;\n\n// 1st battery has prio? Skip and continue without change\nif (M==1) return msg;\n\n// N equals the number of items to take from the front to the back of the array, effectivly rotating battery priority\nconst N = M - 1; // base-0 version of M\nnode.status({fill:\"blue\",shape:\"ring\",text:`N = ${N}`});\n\n// 1. Check if the array is valid and long enough\nif (!Array.isArray(currentArray) || currentArray.length < N) {\n    // Send an error or the original array back if the array is invalid/too short\n    node.error(`Array is not valid or shorter than ${N} items.`, msg);\n    return null;\n}\n\n// 2. Get the first N items (these will go to the back)\n// slice(0, N) retrieves elements from the start (index 0) up to index N (exclusive).\nlet firstN = currentArray.slice(0, N);\n\n// 3. Get the remaining items (these will stay at the front)\n// slice(N) retrieves elements from index N to the end of the array.\nlet remaining = currentArray.slice(N);\n\n// 4. Concatenate them: remaining items (front) + first N items (back)\nlet newArray = remaining.concat(firstN);\n\n// 5. Place the new array back into msg.batteries\nmsg.batteries = newArray;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 940,
        "wires": [
            [
                "cc45c397cd7abb89"
            ]
        ]
    },
    {
        "id": "eea6414f944fc6fd",
        "type": "inject",
        "z": "8ec5147c0b5a7c62",
        "g": "3c42f1a5bf93f5bf",
        "name": "Every day 02:00",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "00 02 * * *",
        "once": false,
        "onceDelay": "5",
        "topic": "cycle_battery_priority",
        "payload": "",
        "payloadType": "date",
        "x": 610,
        "y": 940,
        "wires": [
            [
                "70814dcc94731634"
            ]
        ]
    },
    {
        "id": "65c5a929c49d41dd",
        "type": "function",
        "z": "8ec5147c0b5a7c62",
        "g": "3c42f1a5bf93f5bf",
        "name": "Change priority",
        "func": "// Current prioritized battery is the Mth battery\nlet M = RED.util.getMessageProperty(msg,\"prioritize_battery\") || 1;\n\n// Prioritize the next battery\nM += 1;\n\n// If the next battery does not exist, prioritize the first again\nif(M > msg.battery_count) M = 1;\n\n// Pass along as payload\nmsg.payload = M;\n\n// Show which battery has priority\nnode.status({fill:\"green\",shape:\"dot\",text:`Prioritize battery #${M}`});\n\n// Done\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1540,
        "y": 940,
        "wires": [
            [
                "813c708259b98e4f"
            ]
        ]
    },
    {
        "id": "65f1810ea608bb29",
        "type": "api-current-state",
        "z": "8ec5147c0b5a7c62",
        "g": "3c42f1a5bf93f5bf",
        "name": "Your battery count",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_number.house_battery_count",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "number",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "battery_count",
                "propertyType": "msg",
                "value": "number",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 1350,
        "y": 940,
        "wires": [
            [
                "65c5a929c49d41dd"
            ]
        ]
    },
    {
        "id": "c66e32c95e3f8a62",
        "type": "api-current-state",
        "z": "8ec5147c0b5a7c62",
        "g": "3c42f1a5bf93f5bf",
        "name": "Prioritize battery M",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_number.house_battery_control_prioritize_battery",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "number",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "prioritize_battery",
                "propertyType": "msg",
                "value": "number",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 150,
        "y": 940,
        "wires": [
            [
                "2447c8bec4ae0834"
            ]
        ]
    },
    {
        "id": "813c708259b98e4f",
        "type": "api-call-service",
        "z": "8ec5147c0b5a7c62",
        "g": "3c42f1a5bf93f5bf",
        "name": "Update prioritized battery",
        "server": "176d29a.6f648d6",
        "version": 7,
        "debugenabled": false,
        "action": "input_number.set_value",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_number.house_battery_control_prioritize_battery"
        ],
        "labelId": [],
        "data": "{\"value\": \"{{payload}}\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "input_number",
        "service": "set_value",
        "x": 1750,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "70814dcc94731634",
        "type": "api-current-state",
        "z": "8ec5147c0b5a7c62",
        "g": "3c42f1a5bf93f5bf",
        "name": "Desired interval",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_select.house_battery_control_priority_change_interval",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 800,
        "y": 940,
        "wires": [
            [
                "b4d7b6076d97b576"
            ]
        ]
    },
    {
        "id": "b4d7b6076d97b576",
        "type": "function",
        "z": "8ec5147c0b5a7c62",
        "g": "3c42f1a5bf93f5bf",
        "name": "Check interval ",
        "func": "// Manual priority, never pass\nif(msg.payload == \"Never\") {\n    node.status({fill:\"yellow\",shape:\"dot\",text:\"Auto cycle disabled\"});\n    return null;\n}\n\n// Daily interval, always pass\nif(msg.payload == \"Daily\") {\n    node.status({ fill: \"green\", shape: \"dot\", text: `Pass` });\n    return msg;\n}\n\n// Weekly interval\nconst today = new Date();\n// Get the day of the week (0 = Sunday, 1 = Monday, ..., 6 = Saturday)\nconst dayOfWeek = today.getDay();\n\n// Check if the day is Sunday (which is represented by the number 0)\nif (dayOfWeek === 0) {\n    // If it is Sunday, pass\n    node.status({ fill: \"green\", shape: \"dot\", text: `Passed on Sunday` });\n    return msg;\n} else {\n    // If it is not Sunday, stop\n    node.status({ fill: \"yellow\", shape: \"dot\", text: `Halted, not Sunday` });\n    return null;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 940,
        "wires": [
            [
                "1633d9b62109fb03"
            ]
        ]
    },
    {
        "id": "1633d9b62109fb03",
        "type": "api-current-state",
        "z": "8ec5147c0b5a7c62",
        "g": "3c42f1a5bf93f5bf",
        "name": "Current priority",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_number.house_battery_control_prioritize_battery",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "number",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "prioritize_battery",
                "propertyType": "msg",
                "value": "number",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 1160,
        "y": 940,
        "wires": [
            [
                "65f1810ea608bb29"
            ]
        ]
    },
    {
        "id": "03dfd6467053da0a",
        "type": "function",
        "z": "8ec5147c0b5a7c62",
        "g": "ed3015611a09a287",
        "name": "Batteries (totals)",
        "func": "// batteries | calculate total and max. power delivered by batteries\nlet batteries = msg.batteries;\nlet batteries_total_power = 0;\nlet batteries_max_charging_power = 0;\nlet batteries_max_discharging_power = 0;\nlet batteries_available_energy = 0;\nlet batteries_max_energy = 0;\n\nbatteries.forEach(battery => {\n    batteries_total_power += Number(battery.power);\n    batteries_max_charging_power += Number(battery.charging_max);\n    batteries_max_discharging_power += Number(battery.discharging_max);\n    batteries_available_energy += Number(battery.energy - battery.energy_max*battery.soc_min/100);\n    batteries_max_energy += (Number(battery.energy_max*battery.soc_max) - Number(battery.energy_max*battery.soc_min))/100; // kWh\n});\n\n// OUTPUT\nRED.util.setMessageProperty(msg, \"batteries_total_power\", batteries_total_power, true); // W\nRED.util.setMessageProperty(msg, \"batteries_max_charge_power\", batteries_max_charging_power,true); // W\nRED.util.setMessageProperty(msg, \"batteries_max_discharge_power\", batteries_max_discharging_power,true); // W\nRED.util.setMessageProperty(msg, \"batteries_available_energy\",batteries_available_energy,true); // kWh usable\nRED.util.setMessageProperty(msg, \"batteries_max_energy\", batteries_max_energy, true); // kWh usable\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 140,
        "y": 680,
        "wires": [
            [
                "c66e32c95e3f8a62",
                "904e95acf63a4411",
                "883e7498898aefe1"
            ]
        ],
        "inputLabels": [
            "Mapping (from Home Battery IO)"
        ]
    },
    {
        "id": "4f4aeca01c7be2ec",
        "type": "api-current-state",
        "z": "8ec5147c0b5a7c62",
        "g": "96423a905258a6c8",
        "name": "Energy max",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.marstek_m{{battery_index}}_battery_total_energy",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "battery_total_energy",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 1590,
        "y": 500,
        "wires": [
            [
                "f583117877cb4816"
            ]
        ]
    },
    {
        "id": "1aa42932fa947bdc",
        "type": "function",
        "z": "8ec5147c0b5a7c62",
        "g": "8f0832d901d66537",
        "name": "Loop end",
        "func": "// cleanup \ndelete msg.battery_index;\n\ndelete msg.battery_power;\ndelete msg.max_charge_power;\ndelete msg.max_discharge_power;\ndelete msg.battery_state_of_charge;\ndelete msg.charging_cutoff_capacity;\ndelete msg.discharging_cutoff_capacity;\ndelete msg.inverter_state;\ndelete msg.battery_remaining_capacity;\ndelete msg.battery_total_energy;\ndelete msg.rs485_control_mode;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 580,
        "wires": [
            [
                "69bf3e23a0ae5102",
                "03dfd6467053da0a"
            ]
        ]
    },
    {
        "id": "b284371056837f89",
        "type": "api-call-service",
        "z": "8ec5147c0b5a7c62",
        "g": "f2ff42e42b903499",
        "name": "Usable energy",
        "server": "176d29a.6f648d6",
        "version": 7,
        "debugenabled": false,
        "action": "input_number.set_value",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_number.house_battery_total_available_energy"
        ],
        "labelId": [],
        "data": "{\"value\":$$.batteries_available_energy}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "input_number",
        "service": "set_value",
        "x": 1740,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "0bf452b3823a1a70",
        "type": "rbe",
        "z": "8ec5147c0b5a7c62",
        "g": "f2ff42e42b903499",
        "name": "On change",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": false,
        "property": "batteries_available_energy",
        "topi": "topic",
        "x": 1570,
        "y": 680,
        "wires": [
            [
                "b284371056837f89"
            ]
        ]
    },
    {
        "id": "81f472e70d2a2a0e",
        "type": "switch",
        "z": "8ec5147c0b5a7c62",
        "g": "c888a6e4ea53cb4c",
        "name": "Select rate limit",
        "property": "p1_rate_limit.save_power",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 660,
        "y": 280,
        "wires": [
            [
                "b261e6397bb3ec36"
            ],
            [
                "ce2b6f35fea6c62a"
            ]
        ]
    },
    {
        "id": "ec7aebb3a8364f31",
        "type": "delay",
        "z": "8ec5147c0b5a7c62",
        "g": "c888a6e4ea53cb4c",
        "name": "Rate limit",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "3",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": true,
        "outputs": 2,
        "x": 980,
        "y": 280,
        "wires": [
            [
                "4e1b5e7869e2a0e5"
            ],
            [
                "0b9ce404eaf1c945"
            ]
        ],
        "outputLabels": [
            "Pass",
            ""
        ]
    },
    {
        "id": "ce2b6f35fea6c62a",
        "type": "change",
        "z": "8ec5147c0b5a7c62",
        "g": "c888a6e4ea53cb4c",
        "name": "1 msg/s",
        "rules": [
            {
                "t": "set",
                "p": "rate",
                "pt": "msg",
                "to": "1000",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 300,
        "wires": [
            [
                "ec7aebb3a8364f31"
            ]
        ]
    },
    {
        "id": "b261e6397bb3ec36",
        "type": "change",
        "z": "8ec5147c0b5a7c62",
        "g": "c888a6e4ea53cb4c",
        "name": "0.333 msg/s",
        "rules": [
            {
                "t": "set",
                "p": "rate",
                "pt": "msg",
                "to": "3000",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 830,
        "y": 260,
        "wires": [
            [
                "ec7aebb3a8364f31"
            ]
        ]
    },
    {
        "id": "5eaf4fcd159b092c",
        "type": "function",
        "z": "8ec5147c0b5a7c62",
        "g": "c888a6e4ea53cb4c",
        "name": "P1 change (20W or 2%)",
        "func": "// Switch between low and high rate limiting to decrease load and power consumption\n// --\n// The flow should always be rate limited by atleast the total execution time of strategies\n// The flow should not lock up indefinitly when grid_power is constant.\n// In the latter case, a more relaxed rate limit can help reduce system load.\n// Devs: don't set msg.rate directly. Use nodes, so novice users can easily read the flow.\n\n// Thresholds for change in power, before switching to high rate limit\nconst THRESHOLD_POWER = 20; // Watt change\nconst THRESHOLD_PERCENT = 2; // Percentage\nRED.util.setMessageProperty(msg, \"p1_rate_limit.threshold_power\", THRESHOLD_POWER,true);\nRED.util.setMessageProperty(msg, \"p1_rate_limit.threshold_percent\", THRESHOLD_PERCENT, true);\n\n// Get the previous value from this node's context\n// If it doesn't exist yet, initialize it as null\nlet previousValue = context.get('previousValue') || null;\nlet currentValue = Number(msg.grid_power);\n\n// Save the current value for the next time the node is triggered\ncontext.set('previousValue', currentValue);\n\n// Default rate limiting\nRED.util.setMessageProperty(msg,\"p1_rate_limit.save_power\",true);\n\n// Check if we have a valid history to compare with\nif (previousValue !== null) {\n    let powerChange = Math.abs(currentValue - previousValue);\n    let percentageChange = previousValue !== 0 ? Math.abs((powerChange / previousValue) * 100):0;\n\n    // Condition: Absolute difference > N Watt AND percentage change > M %\n    if (powerChange > THRESHOLD_POWER && percentageChange > THRESHOLD_PERCENT) {\n        // Enable faster refresh rate\n        RED.util.setMessageProperty(msg,\"p1_rate_limit.save_power\",false);\n    }\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 280,
        "wires": [
            [
                "81f472e70d2a2a0e"
            ]
        ]
    },
    {
        "id": "558219e674139879",
        "type": "function",
        "z": "8ec5147c0b5a7c62",
        "g": "c888a6e4ea53cb4c",
        "name": "CPU power saved",
        "func": "// Logger\nconst logger = global.get(\"logger\");\n\n// Passed or blocked\nconst hasPassed = msg.payload; // 0 = blocked, 1 = passed\n\n// 1. Get evaluations (Total attempts)\nlet evaluations = (context.get(\"p1_rate_limit_evaluations\") || 0) + 1;\ncontext.set(\"p1_rate_limit_evaluations\", evaluations);\n\n// 2. Increment and get passes (Filtered/successful events)\nlet passes = (context.get(\"p1_rate_limit_passes\") || 0) + hasPassed;\ncontext.set(\"p1_rate_limit_passes\", passes);\n\n// 3a. Calculate percentage (Rate of passing vs total evaluations)\nlet percentage = evaluations > 0 ? (passes / evaluations) * 100 : 0;\n// 3b. Display the percentage rate of not-passing as a measure of efficiency gained\npercentage = 100 - percentage;\n\n// 4. Update Node Status\nnode.status({\n    fill: \"blue\",\n    shape: \"dot\",\n    text: `Saved: ${percentage.toFixed(2)}% (${evaluations-passes}/${evaluations})`\n});\n\n// 5. Explain\n// On block\nif(hasPassed === 0) {\n    if(msg.p1_rate_limit.save_power === true) {\n        // This is good\n        logger(this, `<font color=\"#009ac7\">Power saved</font> by P1 Rate Limiter, execution stopped.`); \n    } else {\n        // This is not so good. P1 updates are coming in fast.\n        logger(this, `<font color=\"orange\">Blocked</font> by P1 Rate Limiter. ${Number(1000/msg.rate).toFixed(2)} messages per second exceeded.`); \n    }\n    \n    // Send message onward to debug dashboard\n    return msg;\n}\n// No output on pass\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1270,
        "y": 280,
        "wires": [
            [
                "07f4218077134482"
            ]
        ]
    },
    {
        "id": "72bf48f3b4096a26",
        "type": "debug",
        "z": "8ec5147c0b5a7c62",
        "g": "a1f0c7a0f8c3745b",
        "name": "Strategy evaluation",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "strategy",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 1220,
        "wires": []
    },
    {
        "id": "e822068dc16946a1",
        "type": "api-call-service",
        "z": "8ec5147c0b5a7c62",
        "g": "e9573b50bc71af07",
        "name": "Show on dashboard",
        "server": "176d29a.6f648d6",
        "version": 7,
        "debugenabled": false,
        "action": "input_text.set_value",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_text.house_battery_strategy_active_sub_strategy"
        ],
        "labelId": [],
        "data": "{\"value\": $$.ui_value_new}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "input_text",
        "service": "set_value",
        "x": 1760,
        "y": 1220,
        "wires": [
            []
        ]
    },
    {
        "id": "13662f1369a49294",
        "type": "api-current-state",
        "z": "8ec5147c0b5a7c62",
        "g": "e9573b50bc71af07",
        "name": "current UI value",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_text.house_battery_strategy_active_sub_strategy",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "ui_value_current",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 1360,
        "y": 1220,
        "wires": [
            [
                "c742816fa126698a"
            ]
        ]
    },
    {
        "id": "c742816fa126698a",
        "type": "function",
        "z": "8ec5147c0b5a7c62",
        "g": "e9573b50bc71af07",
        "name": "on new UI value",
        "func": "// Block when undefined (don't update UI)\nif(msg.ui_value_current === undefined) return null;\n\n// We show the 2nd strategy in the trace (if available) on the dashboard as the 'active sub-strategy'\nconst secondTraceEntry = msg.strategy?.trace?.[1];\nif (secondTraceEntry) {\n    // Handle case where 2nd flow is present\n    msg.ui_value_new =  secondTraceEntry.flow;\n} else {\n    // Handle case where the 2nd flow is missing\n    // Get a sensible alternative\n    msg.ui_value_new = msg.strategy?.selected || \"\"; // don't use unknown or unavailable as these are reserved HA keywords\n}\n\n// Improve human readability\nif(msg.ui_value_new == \"Self-consumption\" && secondTraceEntry?.flow_settings?.discharge_disabled === true){\n    msg.ui_value_new = \"Self-consumption (charge only)\";\n}\nif(msg.ui_value_new == \"Self-consumption\" && secondTraceEntry?.flow_settings?.charge_disabled === true){\n    msg.ui_value_new = \"Self-consumption (no charging)\";\n}\nif(msg.strategy?.is_peak_shaving === true){\n    msg.ui_value_new = \"Peak shaving\";\n}\n\n// Node status for devs\nnode.status({fill:\"grey\",shape:\"dot\",text:`new: ${msg.ui_value_new}`});\n\n// Block when equal (don't update UI)\nif(msg.ui_value_current === msg.ui_value_new) return null;\n\n// Pass otherwise\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1560,
        "y": 1220,
        "wires": [
            [
                "e822068dc16946a1"
            ]
        ]
    },
    {
        "id": "0ac0fe4519fc3c0e",
        "type": "ha-fire-event",
        "z": "8ec5147c0b5a7c62",
        "g": "c7aedf6411dd3848",
        "name": "Show on debug board",
        "server": "176d29a.6f648d6",
        "version": 0,
        "event": "update_trace_sensor",
        "data": "{\t   \"trace\": $$.strategy.trace ? $$.strategy.trace : [],\t   \"start\": $$.strategy.execution_start ? $$.strategy.execution_start : 0,\t   \"end\": $$.strategy.execution_end ? $$.strategy.execution_end : 0,\t   \"log\": $$.log ? $$.log : []\t}",
        "dataType": "jsonata",
        "x": 1740,
        "y": 1580,
        "wires": [
            []
        ]
    },
    {
        "id": "67f1f0b0242d3e25",
        "type": "api-current-state",
        "z": "8ec5147c0b5a7c62",
        "g": "6c2f2b5f0b585581",
        "name": "Insight mode",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.house_battery_control_is_debug_mode",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "debug_mode",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 130,
        "y": 160,
        "wires": [
            [
                "5f90559fb3987b05"
            ]
        ]
    },
    {
        "id": "906f1f1caf3a42a2",
        "type": "switch",
        "z": "8ec5147c0b5a7c62",
        "g": "c7aedf6411dd3848",
        "name": "Debug mode?",
        "property": "debug_mode",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1540,
        "y": 1580,
        "wires": [
            [
                "0ac0fe4519fc3c0e"
            ]
        ]
    },
    {
        "id": "6195c25a34c73c30",
        "type": "server-state-changed",
        "z": "8ec5147c0b5a7c62",
        "g": "6c2f2b5f0b585581",
        "name": "Turned ON",
        "server": "176d29a.6f648d6",
        "version": 6,
        "outputs": 2,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "input_boolean.house_battery_control_is_debug_mode"
            ],
            "substring": [],
            "regex": []
        },
        "outputInitially": false,
        "stateType": "str",
        "ifState": "on",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 420,
        "y": 160,
        "wires": [
            [
                "1f08a13fd59f8cef"
            ],
            []
        ]
    },
    {
        "id": "1f08a13fd59f8cef",
        "type": "trigger",
        "z": "8ec5147c0b5a7c62",
        "g": "6c2f2b5f0b585581",
        "name": "disable after 5 minutes",
        "op1": "",
        "op2": "off",
        "op1type": "nul",
        "op2type": "str",
        "duration": "5",
        "extend": false,
        "overrideDelay": false,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 600,
        "y": 160,
        "wires": [
            [
                "e9d58d5970404263"
            ]
        ]
    },
    {
        "id": "e9d58d5970404263",
        "type": "api-call-service",
        "z": "8ec5147c0b5a7c62",
        "g": "6c2f2b5f0b585581",
        "name": "Turn insight OFF",
        "server": "176d29a.6f648d6",
        "version": 7,
        "debugenabled": false,
        "action": "input_boolean.turn_off",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_boolean.house_battery_control_is_debug_mode"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "input_boolean",
        "service": "turn_off",
        "x": 810,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "d09eaf5114448779",
        "type": "delay",
        "z": "8ec5147c0b5a7c62",
        "g": "6003d1d9a085415f",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1580,
        "y": 60,
        "wires": [
            [
                "f552d2be508e1c7c"
            ]
        ]
    },
    {
        "id": "cd9b77a90cb4b65f",
        "type": "function",
        "z": "8ec5147c0b5a7c62",
        "g": "60ef43c79e906e87",
        "name": "Custom logger",
        "func": "/**\n * Custom Logger Function\n * * Provides centralized logging, node-status updates, and message tracing.\n * Specifically designed for Home Battery Control logic within Node-RED.\n * \n * Debug dashboard updating:\n * A msg needs to reach 'Strategy Evaluation' or be passed to the \"Show on debug board\" trigger node.\n * Errors are automatically passed to the \"Show on debug board\" trigger node.\n * \n * * @param {object} callingNode - The context of the calling node (pass 'this').\n * @param {string} text - The log message/explanation.\n * @param {string} level - Log level: 'log', 'warn', 'error', or 'info' (default: 'info').\n * \n * Note: anything above 'info' will also write to the Node-RED log files \n * \n * * @usage: \n * const log = global.get(\"logger\");\n * log(this, \"Charging cycle started\");\n */\nconst customLogger = (callingNode, text, level = 'info') => {\n    \n    // Log only when debug_mode is ON\n    const debug_mode = global.get(\"debug_mode\") || false;\n    if(debug_mode == false) return null;\n\n    // Max log elements to keep\n    const MAX_ELEMENTS = 100;\n\n    // Create the YYYY-MM-DD HH:MM:SS.mmm format\n    const now = new Date();\n    const timestamp = now.getHours().toString().padStart(2, '0') + \":\" +\n                now.getMinutes().toString().padStart(2, '0') + \":\" +\n                now.getSeconds().toString().padStart(2, '0') + \".\" +\n                now.getMilliseconds().toString().padStart(3, '0');\n\n    const formattedTimeLevel = `${timestamp} [${level.toLowerCase()}]`;\n    \n    // Get the name of the node or fallback to the ID\n    const nodeName = callingNode.__node__ ? callingNode.__node__.name || callingNode.__node__.id : undefined;\n    // Get the name of the Flow/Tab\n    const flowName = callingNode.env.get(\"NR_FLOW_NAME\") || \"Unknown flow\";\n    // Explain to the Home Battery Control user what is going on\n    const formattedExplenation = `[${flowName} >> ${nodeName}]: ${text}`;\n\n    // Level icons\n    let icon = \"⚪\";\n    switch (level) {\n        case \"info\":\n            icon = \"ℹ️\";\n            break;\n        case \"log\":\n            icon = \"🔧\";\n            break;\n        case \"warn\":\n            icon = \"⚠️\";      \n            break;\n        case \"error\":\n            icon = \"❌\";\n            break;\n    }\n\n    // Enrich msg with log info\n    const msg = callingNode.msg;\n    (msg.log = msg.log || []).push({ timestamp: timestamp, level:level, flow:flowName, node:nodeName, payload: text, icon: icon});\n\n    if (msg.log.length > MAX_ELEMENTS) {\n        // Slice keeps the last X elements\n        msg.log = msg.log.slice(-MAX_ELEMENTS);\n    }\n\n    // Log to the Node-RED system log\n    switch (level) {\n        case \"log\":\n            node.log(`${formattedExplenation}`);\n            break;\n        case \"warn\":\n            node.warn(`${formattedExplenation}`);       \n            break;\n        case \"error\":\n            node.error(`${formattedExplenation}`, callingNode.msg);\n            break;\n        default:\n            // don't log to logfiles by default\n    }\n\n};\n\nglobal.set('logger', customLogger);\nglobal.set('unhandledException', \"\");\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1740,
        "y": 160,
        "wires": [
            [
                "8b78b768979af063"
            ]
        ]
    },
    {
        "id": "4e1b5e7869e2a0e5",
        "type": "change",
        "z": "8ec5147c0b5a7c62",
        "g": "c888a6e4ea53cb4c",
        "name": "Pass",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1110,
        "y": 300,
        "wires": [
            [
                "558219e674139879",
                "ef4cbf06d8dfdf51"
            ]
        ]
    },
    {
        "id": "0b9ce404eaf1c945",
        "type": "change",
        "z": "8ec5147c0b5a7c62",
        "g": "c888a6e4ea53cb4c",
        "name": "Block",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1110,
        "y": 260,
        "wires": [
            [
                "558219e674139879"
            ]
        ]
    },
    {
        "id": "f895e290614e2888",
        "type": "link in",
        "z": "8ec5147c0b5a7c62",
        "g": "c7aedf6411dd3848",
        "name": "Update debug dashboard",
        "links": [
            "07f4218077134482",
            "44467ccce283d09b",
            "9e941cd3de225a6d"
        ],
        "x": 1395,
        "y": 1520,
        "wires": [
            [
                "906f1f1caf3a42a2",
                "8df2242b1a15812d"
            ]
        ]
    },
    {
        "id": "07f4218077134482",
        "type": "link out",
        "z": "8ec5147c0b5a7c62",
        "g": "c888a6e4ea53cb4c",
        "name": "goto Debug Dashboard update",
        "mode": "link",
        "links": [
            "f895e290614e2888"
        ],
        "x": 1395,
        "y": 280,
        "wires": []
    },
    {
        "id": "59b82ba7d6cccb3d",
        "type": "catch",
        "z": "8ec5147c0b5a7c62",
        "g": "c7aedf6411dd3848",
        "name": "Custom logger",
        "scope": [
            "cd9b77a90cb4b65f"
        ],
        "uncaught": false,
        "x": 1340,
        "y": 1640,
        "wires": [
            [
                "906f1f1caf3a42a2",
                "1778ddfa8de0d008"
            ]
        ]
    },
    {
        "id": "1778ddfa8de0d008",
        "type": "debug",
        "z": "8ec5147c0b5a7c62",
        "g": "c7aedf6411dd3848",
        "name": "Via Catch",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "counter",
        "x": 1520,
        "y": 1640,
        "wires": []
    },
    {
        "id": "8df2242b1a15812d",
        "type": "debug",
        "z": "8ec5147c0b5a7c62",
        "g": "c7aedf6411dd3848",
        "name": "Via link",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "counter",
        "x": 1520,
        "y": 1520,
        "wires": []
    },
    {
        "id": "44467ccce283d09b",
        "type": "link out",
        "z": "8ec5147c0b5a7c62",
        "g": "0f38c6ca86aee752",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "f895e290614e2888"
        ],
        "x": 285,
        "y": 1320,
        "wires": []
    },
    {
        "id": "226af446334c1244",
        "type": "switch",
        "z": "8ec5147c0b5a7c62",
        "g": "c888a6e4ea53cb4c",
        "name": "Skip rate limiter during debug",
        "property": "debug_mode",
        "propertyType": "global",
        "rules": [
            {
                "t": "false"
            },
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 180,
        "y": 280,
        "wires": [
            [
                "5eaf4fcd159b092c"
            ],
            [
                "ef4cbf06d8dfdf51"
            ]
        ]
    },
    {
        "id": "5f90559fb3987b05",
        "type": "function",
        "z": "8ec5147c0b5a7c62",
        "g": "6c2f2b5f0b585581",
        "name": "Notice",
        "func": "// enable or disable Insights Mode\nif(msg.debug_mode == \"on\"){\n    // ENABLED - explain to user\n    const log = global.get(\"logger\");\n    log(this, \"P1 Rate limiter is *disabled* during *debug mode*\");\n\n    // Set global (setting this via current state node has proven irriliable)\n    global.set(\"debug_mode\", true);\n} else {\n    // DISABLED - set global\n    global.set(\"debug_mode\", false);\n}\n\n// Clean up - only use the global\ndelete msg.debug_mode;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 235,
        "y": 160,
        "wires": [
            [
                "f2a2b639e0e303ee"
            ]
        ],
        "l": false
    },
    {
        "id": "3606188ba5d67b49",
        "type": "api-current-state",
        "z": "8ec5147c0b5a7c62",
        "g": "96423a905258a6c8",
        "name": "SoC min",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_number.marstek_m{{battery_index}}_discharging_cutoff_capacity",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "discharging_cutoff_capacity",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 1000,
        "y": 500,
        "wires": [
            [
                "b285414f8171a805"
            ]
        ]
    },
    {
        "id": "b285414f8171a805",
        "type": "api-current-state",
        "z": "8ec5147c0b5a7c62",
        "g": "96423a905258a6c8",
        "name": "SoC max",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_number.marstek_m{{battery_index}}_charging_cutoff_capacity",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "charging_cutoff_capacity",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 1140,
        "y": 500,
        "wires": [
            [
                "4b8919a9f02cac78"
            ]
        ]
    },
    {
        "id": "8b78b768979af063",
        "type": "function",
        "z": "8ec5147c0b5a7c62",
        "g": "60ef43c79e906e87",
        "name": "Unhandled Exception",
        "func": "/**\n * Handles exceptions by extracting node details and routing them to a global logger.\n * This is designed to be called from within a Node-RED Function node or sub-flow.\n *\n * @param {Object} callingNode - The Node-RED 'this' context or msg object containing node metadata.\n * @param {Object} [callingNode.msg] - The message object associated with the error.\n * @param {Object} [callingNode.msg.error] - Error details provided by a Node-RED error catch.\n * @param {string} [callingNode.msg.error.message] - The specific error message.\n * @param {Object} [callingNode.msg.error.source] - The node that triggered the error.\n * * @example\n * // Usage in a Function Node:\n * const unhandledException = global.get('unhandledException');\n * unhandledException(this);\n */\nconst unhandledException = (callingNode) => {\n    // 1. Get the custom logger from global context\n    const log = global.get(\"logger\");\n\n    // 2. Extract error details from the msg object\n    const errorData = callingNode.msg?.error || {};\n    const errorMessage = errorData.message || \"Unknown error occurred\";\n    const sourceName = errorData.source ? (errorData.source.name || errorData.source.id) : \"Unknown Node\";\n    const sourceType = errorData.source ? errorData.source.type : \"unknown-type\";\n\n    // 3. Construct a user-friendly message for the logger\n    const friendlyMessage = `**Unhandled exception** (${sourceType} node) ${errorMessage}`;\n    callingNode.__node__ ??= {};\n    callingNode.__node__.name = sourceName;\n\n    // 4. Call the logger with level 'error'\n    // Note: the logger uses 'callingNode', we pass on whatever we have.\n    log(callingNode, friendlyMessage, 'error');\n\n};\n\nglobal.set('unhandledException', unhandledException);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1760,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "a1c66412d4fcfe8e",
        "type": "catch",
        "z": "8ec5147c0b5a7c62",
        "g": "b9267994ad92dff5",
        "name": "",
        "scope": null,
        "uncaught": true,
        "x": 1745,
        "y": 320,
        "wires": [
            [
                "a6b49e1d7bf9ac4a"
            ]
        ],
        "l": false
    },
    {
        "id": "a6b49e1d7bf9ac4a",
        "type": "function",
        "z": "8ec5147c0b5a7c62",
        "g": "b9267994ad92dff5",
        "name": "Unhandled Exception",
        "func": "const handle = global.get('unhandledException');\n\nhandle(this);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1795,
        "y": 320,
        "wires": [
            [
                "9e941cd3de225a6d"
            ]
        ],
        "l": false
    },
    {
        "id": "9e941cd3de225a6d",
        "type": "link out",
        "z": "8ec5147c0b5a7c62",
        "g": "b9267994ad92dff5",
        "name": "link out 9",
        "mode": "link",
        "links": [
            "f895e290614e2888"
        ],
        "x": 1845,
        "y": 320,
        "wires": []
    },
    {
        "id": "8d041cd31e5ec7d7",
        "type": "api-current-state",
        "z": "8ec5147c0b5a7c62",
        "g": "a1f0c7a0f8c3745b",
        "name": "Battery Strategy",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_select.house_battery_strategy",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "house_battery_strategy",
                "propertyType": "flow",
                "value": "string",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 140,
        "y": 1140,
        "wires": [
            [
                "6d7bb50f57765de3"
            ]
        ]
    },
    {
        "id": "6d7bb50f57765de3",
        "type": "api-current-state",
        "z": "8ec5147c0b5a7c62",
        "g": "a1f0c7a0f8c3745b",
        "name": "Full Stop Trigger",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.ev_is_charging",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "full_stop_trigger",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 320,
        "y": 1140,
        "wires": [
            [
                "e95e87f1d32fc6ac"
            ]
        ]
    },
    {
        "id": "cc45c397cd7abb89",
        "type": "api-current-state",
        "z": "8ec5147c0b5a7c62",
        "g": "3c2cfc0d1bd1ce5d",
        "name": "Has import limit?",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.house_battery_control_has_power_limit_import",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "grid_power_has_limit_import",
                "propertyType": "msg",
                "value": "$entity().state = \"on\"",
                "valueType": "jsonata"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 150,
        "y": 1040,
        "wires": [
            [
                "11c16f2d1f9e1322"
            ]
        ]
    },
    {
        "id": "11c16f2d1f9e1322",
        "type": "api-current-state",
        "z": "8ec5147c0b5a7c62",
        "g": "3c2cfc0d1bd1ce5d",
        "name": "Has export limit?",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.house_battery_control_has_power_limit_export",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "grid_power_has_limit_export",
                "propertyType": "msg",
                "value": "$entity().state = \"on\"",
                "valueType": "jsonata"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 350,
        "y": 1040,
        "wires": [
            [
                "3574897cdcea3b0d"
            ]
        ]
    },
    {
        "id": "f2a2b639e0e303ee",
        "type": "function",
        "z": "8ec5147c0b5a7c62",
        "g": "6c2f2b5f0b585581",
        "name": "Grid power",
        "func": "const log = global.get(\"logger\");\n\n// prepare grid power message\nlet state = \"measure\";\nlet ending = \"\";\nif(msg.grid_power>0) {state = \"import\"; ending = \"from grid\";}\nif(msg.grid_power<0) {state = \"export\"; ending = \"to grid\";}\nconst displayPower = Math.abs(Math.round(msg.grid_power));\n\n// explain\nlog(this, `You currently ${state} ${displayPower} W ${ending}`);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 285,
        "y": 160,
        "wires": [
            [
                "226af446334c1244"
            ]
        ],
        "l": false
    },
    {
        "id": "3574897cdcea3b0d",
        "type": "api-current-state",
        "z": "8ec5147c0b5a7c62",
        "g": "3c2cfc0d1bd1ce5d",
        "name": "Import limit",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_number.house_battery_control_power_limit_import",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "grid_power_limit_import",
                "propertyType": "msg",
                "value": "number",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 530,
        "y": 1040,
        "wires": [
            [
                "b030fe472cce0529"
            ]
        ]
    },
    {
        "id": "b030fe472cce0529",
        "type": "api-current-state",
        "z": "8ec5147c0b5a7c62",
        "g": "3c2cfc0d1bd1ce5d",
        "name": "Export limit",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_number.house_battery_control_power_limit_export",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "grid_power_limit_export",
                "propertyType": "msg",
                "value": "number",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 690,
        "y": 1040,
        "wires": [
            [
                "8d041cd31e5ec7d7"
            ]
        ]
    },
    {
        "id": "4a87111d1848ff2b",
        "type": "rbe",
        "z": "8ec5147c0b5a7c62",
        "g": "f2ff42e42b903499",
        "name": "On change",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": false,
        "property": "batteries_max_energy",
        "topi": "topic",
        "x": 1570,
        "y": 720,
        "wires": [
            [
                "23df2a423dc68d7c"
            ]
        ]
    },
    {
        "id": "23df2a423dc68d7c",
        "type": "api-call-service",
        "z": "8ec5147c0b5a7c62",
        "g": "f2ff42e42b903499",
        "name": "Max usable energy",
        "server": "176d29a.6f648d6",
        "version": 7,
        "debugenabled": false,
        "action": "input_number.set_value",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_number.house_battery_total_max_available_energy"
        ],
        "labelId": [],
        "data": "{\"value\":$$.batteries_max_energy}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "input_number",
        "service": "set_value",
        "x": 1750,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "a0077bbc0e4c86fa",
        "type": "rbe",
        "z": "8ec5147c0b5a7c62",
        "g": "f2ff42e42b903499",
        "name": "On change",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": false,
        "property": "batteries_total_power",
        "topi": "topic",
        "x": 1570,
        "y": 760,
        "wires": [
            [
                "ec3b065b3092a012"
            ]
        ]
    },
    {
        "id": "ec3b065b3092a012",
        "type": "api-call-service",
        "z": "8ec5147c0b5a7c62",
        "g": "f2ff42e42b903499",
        "name": "Current power",
        "server": "176d29a.6f648d6",
        "version": 7,
        "debugenabled": false,
        "action": "input_number.set_value",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_number.house_battery_total_battery_power"
        ],
        "labelId": [],
        "data": "{\"value\":$$.batteries_total_power}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "input_number",
        "service": "set_value",
        "x": 1740,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "96fc869e13f80a50",
        "type": "rbe",
        "z": "8ec5147c0b5a7c62",
        "g": "f2ff42e42b903499",
        "name": "On change",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": false,
        "property": "batteries_max_charge_power",
        "topi": "topic",
        "x": 1570,
        "y": 800,
        "wires": [
            [
                "823388b2235818f6"
            ]
        ]
    },
    {
        "id": "823388b2235818f6",
        "type": "api-call-service",
        "z": "8ec5147c0b5a7c62",
        "g": "f2ff42e42b903499",
        "name": "Max charging power",
        "server": "176d29a.6f648d6",
        "version": 7,
        "debugenabled": false,
        "action": "input_number.set_value",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_number.house_battery_total_max_charge_power"
        ],
        "labelId": [],
        "data": "{\"value\":$$.batteries_max_charge_power}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "input_number",
        "service": "set_value",
        "x": 1760,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "1883a6ca2a966421",
        "type": "rbe",
        "z": "8ec5147c0b5a7c62",
        "g": "f2ff42e42b903499",
        "name": "On change",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": false,
        "property": "batteries_max_discharge_power",
        "topi": "topic",
        "x": 1570,
        "y": 840,
        "wires": [
            [
                "2912faed791e0ede"
            ]
        ]
    },
    {
        "id": "2912faed791e0ede",
        "type": "api-call-service",
        "z": "8ec5147c0b5a7c62",
        "g": "f2ff42e42b903499",
        "name": "Max discharging power",
        "server": "176d29a.6f648d6",
        "version": 7,
        "debugenabled": false,
        "action": "input_number.set_value",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_number.house_battery_total_max_discharge_power"
        ],
        "labelId": [],
        "data": "{\"value\":$$.batteries_max_discharge_power}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "input_number",
        "service": "set_value",
        "x": 1770,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "883e7498898aefe1",
        "type": "debug",
        "z": "8ec5147c0b5a7c62",
        "name": "Check totals",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 370,
        "y": 700,
        "wires": []
    },
    {
        "id": "176d29a.6f648d6",
        "type": "server",
        "name": "Home Assistant",
        "addon": true,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "",
        "connectionDelay": false,
        "cacheJson": false,
        "heartbeat": false,
        "heartbeatInterval": "",
        "statusSeparator": "",
        "enableGlobalContextStore": false
    },
    {
        "id": "7b1f3b2cd747c633",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-home-assistant-websocket": "0.80.3"
        }
    }
]