node-red/02 strategy-charge.json
[
    {
        "id": "b7abe18b8a86b057",
        "type": "tab",
        "label": "Strategy Charge",
        "disabled": false,
        "info": "Charges batteries to desired energy level\r\nregardless of available PV/Grid power mix.",
        "env": []
    },
    {
        "id": "4c22355b5db77a41",
        "type": "group",
        "z": "b7abe18b8a86b057",
        "name": "Configuration",
        "style": {
            "label": true
        },
        "nodes": [
            "295b0576db396a0e",
            "c520e7714700c33f",
            "d8109d143a08ad16"
        ],
        "x": 34,
        "y": 79,
        "w": 192,
        "h": 162
    },
    {
        "id": "8157bf8c8171e5ac",
        "type": "group",
        "z": "b7abe18b8a86b057",
        "name": "Battery solutions",
        "style": {
            "label": true
        },
        "nodes": [
            "c0cd86700ffa8faa",
            "f3261e3623c6d414"
        ],
        "x": 34,
        "y": 339,
        "w": 192,
        "h": 142
    },
    {
        "id": "dc0d393bc8a743b8",
        "type": "group",
        "z": "b7abe18b8a86b057",
        "style": {
            "stroke": "#565656",
            "stroke-opacity": "1",
            "fill": "#3a3a3a",
            "fill-opacity": "0.5",
            "label": true,
            "label-position": "nw",
            "color": "#cccccc"
        },
        "nodes": [
            "03c0545c0c5ed77e",
            "b968c13959dc64e4",
            "60a247e82355b857"
        ],
        "x": 254,
        "y": 119,
        "w": 752,
        "h": 82
    },
    {
        "id": "c634d9c63ef3d217",
        "type": "group",
        "z": "b7abe18b8a86b057",
        "style": {
            "stroke": "#565656",
            "stroke-opacity": "1",
            "fill": "#3a3a3a",
            "fill-opacity": "0.5",
            "label": true,
            "label-position": "nw",
            "color": "#cccccc"
        },
        "nodes": [
            "b316671e91e43ced",
            "77379b3c539b69fb",
            "9a08cfadbddbc2be",
            "6fb5c979731bc62f",
            "e12d2dda85384402",
            "1b36d711b7976978",
            "fda06a59eb328977",
            "5911cf514f9cd637",
            "5a26ece6608b4bfc",
            "678d26e9938445d8",
            "52ee324928f12446"
        ],
        "x": 254,
        "y": 219,
        "w": 1152,
        "h": 162
    },
    {
        "id": "97203453dd020b34",
        "type": "group",
        "z": "b7abe18b8a86b057",
        "name": "UI helper | set bounds for charge levels",
        "style": {
            "label": true
        },
        "nodes": [
            "a09a73bfcbee9a67",
            "4223abe5e470bb4f",
            "792fd0fa5483aa67"
        ],
        "x": 254,
        "y": 19,
        "w": 672,
        "h": 82
    },
    {
        "id": "bf325abd0388112b",
        "type": "junction",
        "z": "b7abe18b8a86b057",
        "x": 1220,
        "y": 400,
        "wires": [
            [
                "c0cd86700ffa8faa"
            ]
        ]
    },
    {
        "id": "b316671e91e43ced",
        "type": "function",
        "z": "b7abe18b8a86b057",
        "g": "c634d9c63ef3d217",
        "name": "Max power solution",
        "func": "// Logger, usage: log(this, \"\");\nconst log = global.get('logger');\nlog(this, \"Charge at **max. power**\");\n\n// INPUT\nlet batteries = msg.batteries;\nlet solution_array = [];\n\n// battery life improvement (slow charge near max SoC)\n/**\n* @param {number} soc\n* @param {number} max_power\n*/\nfunction chargingLimiter(soc, max_power) {\n    if (soc == 100) return Math.min(0, max_power);\n    if (soc >= 98) return Math.min(300, max_power);\n    if (soc >= 95) return Math.min(500, max_power);\n    if (soc >= 85) return Math.min(1500, max_power);\n    return max_power;\n}\n\n// build solution\nmsg.batteries.forEach(battery => {\n    const calculatedPower = chargingLimiter(battery.soc, battery.charging_max);\n\n    solution_array.push({\n        id: battery.id,\n        mode: \"charge\",\n        power: calculatedPower\n    });\n\n    // if charge limited\n    if(calculatedPower < battery.charging_max) {\n        log(this, `${battery.id} reduced charging from ${battery.charging_max}W to ${calculatedPower}W as it has a high ${Number(battery.soc).toFixed(1)}% SoC. To preserve battery life.`);\n    }\n});\n\n// return solution\nmsg.solutions = solution_array;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 260,
        "wires": [
            [
                "52ee324928f12446"
            ]
        ]
    },
    {
        "id": "1c57f94ec3088881",
        "type": "comment",
        "z": "b7abe18b8a86b057",
        "name": "Home Battery Strategy",
        "info": "The `Home Battery Start` flow will call this strategy flow\nby matching the strategy name with the Link In name.\n\nConfigure the Link In node in the Start group.\n\nDon't modify other parts of the Start and End groups.\nThey handle the calling and returning for you.",
        "x": 140,
        "y": 40,
        "wires": []
    },
    {
        "id": "295b0576db396a0e",
        "type": "link in",
        "z": "b7abe18b8a86b057",
        "g": "4c22355b5db77a41",
        "name": "Charge",
        "links": [],
        "x": 110,
        "y": 200,
        "wires": [
            [
                "d8109d143a08ad16"
            ]
        ],
        "l": true
    },
    {
        "id": "c520e7714700c33f",
        "type": "comment",
        "z": "b7abe18b8a86b057",
        "g": "4c22355b5db77a41",
        "name": "Start (readme)",
        "info": "# Setting up your battery strategy flow\n\n## Setup\nName the `Link In node` in this start group exactly after the <select> option configured in your\nselect_input.house_battery_strategy\n\nconfigure select options in:\ninput_select_house_battery_control.yaml\n\n### example\n`house_battery_strategy:\n  name: House Battery Strategy\n  options:\n    - AcmE example`\n\nThe above creates a select option, allowing user to select 'AcmE example'\n\nWhen selected, battery control will search for a flow containing a Link In node\ncalled 'AcmE example' (case sensitive).",
        "x": 130,
        "y": 120,
        "wires": []
    },
    {
        "id": "c0cd86700ffa8faa",
        "type": "link out",
        "z": "b7abe18b8a86b057",
        "g": "8157bf8c8171e5ac",
        "name": "Return",
        "mode": "return",
        "links": [],
        "x": 75,
        "y": 440,
        "wires": []
    },
    {
        "id": "f3261e3623c6d414",
        "type": "comment",
        "z": "b7abe18b8a86b057",
        "g": "8157bf8c8171e5ac",
        "name": "End (readme)",
        "info": "Should return a solution_array of battery objects\n\n## battery object format\n`{{id: string|number, mode: string, power: number}} battery solution`\n- id is an arbitrary battery ID\n- mode is \"stop\", \"charge\", \"discharge\" for Marstek\n- power in Watts\n\n### example array\nreturn this type of solution_array via msg.solutions\n` \nlet solution_array = [];\nsolution_array.push({id:\"M1\", mode: \"charge\", power: 100}); // per battery\nreturn {solutions: solution_array};\n` ",
        "x": 130,
        "y": 380,
        "wires": []
    },
    {
        "id": "03c0545c0c5ed77e",
        "type": "api-current-state",
        "z": "b7abe18b8a86b057",
        "g": "dc0d393bc8a743b8",
        "name": "Desired energy reserve",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_number.house_battery_strategy_charge_target_energy",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "house_battery_strategy_charge_target_energy",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 390,
        "y": 160,
        "wires": [
            [
                "60a247e82355b857",
                "792fd0fa5483aa67"
            ]
        ]
    },
    {
        "id": "b968c13959dc64e4",
        "type": "api-current-state",
        "z": "b7abe18b8a86b057",
        "g": "dc0d393bc8a743b8",
        "name": "Or charge at max power?",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.house_battery_strategy_charge_has_max_power",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "house_battery_strategy_charge_has_max_power",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 870,
        "y": 160,
        "wires": [
            [
                "77379b3c539b69fb"
            ]
        ]
    },
    {
        "id": "60a247e82355b857",
        "type": "api-current-state",
        "z": "b7abe18b8a86b057",
        "g": "dc0d393bc8a743b8",
        "name": "Desired charging power",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_number.house_battery_strategy_charge_target_power",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "house_battery_strategy_charge_target_power",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 630,
        "y": 160,
        "wires": [
            [
                "b968c13959dc64e4"
            ]
        ]
    },
    {
        "id": "77379b3c539b69fb",
        "type": "switch",
        "z": "b7abe18b8a86b057",
        "g": "c634d9c63ef3d217",
        "name": "Check desired energy reserve",
        "property": "batteries_available_energy",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "house_battery_strategy_charge_target_energy",
                "vt": "msg"
            },
            {
                "t": "gte",
                "v": "house_battery_strategy_charge_target_energy",
                "vt": "msg"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 410,
        "y": 300,
        "wires": [
            [
                "e12d2dda85384402"
            ],
            [
                "678d26e9938445d8"
            ]
        ],
        "info": "batteries_available_energy is calculated in the Start flow"
    },
    {
        "id": "9a08cfadbddbc2be",
        "type": "link call",
        "z": "b7abe18b8a86b057",
        "g": "c634d9c63ef3d217",
        "name": "Call flow",
        "links": [],
        "linkType": "dynamic",
        "timeout": "30",
        "x": 1040,
        "y": 340,
        "wires": [
            [
                "1b36d711b7976978",
                "bf325abd0388112b"
            ]
        ]
    },
    {
        "id": "6fb5c979731bc62f",
        "type": "link call",
        "z": "b7abe18b8a86b057",
        "g": "c634d9c63ef3d217",
        "name": "Call flow",
        "links": [],
        "linkType": "dynamic",
        "timeout": "30",
        "x": 1040,
        "y": 300,
        "wires": [
            [
                "bf325abd0388112b",
                "fda06a59eb328977"
            ]
        ]
    },
    {
        "id": "e12d2dda85384402",
        "type": "switch",
        "z": "b7abe18b8a86b057",
        "g": "c634d9c63ef3d217",
        "name": "Charge at max power",
        "property": "house_battery_strategy_charge_has_max_power",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 660,
        "y": 280,
        "wires": [
            [
                "b316671e91e43ced"
            ],
            [
                "5a26ece6608b4bfc"
            ]
        ]
    },
    {
        "id": "1b36d711b7976978",
        "type": "debug",
        "z": "b7abe18b8a86b057",
        "g": "c634d9c63ef3d217",
        "name": "Full stop",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "counter",
        "x": 1280,
        "y": 340,
        "wires": []
    },
    {
        "id": "fda06a59eb328977",
        "type": "debug",
        "z": "b7abe18b8a86b057",
        "g": "c634d9c63ef3d217",
        "name": "Regulated",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1290,
        "y": 300,
        "wires": []
    },
    {
        "id": "5911cf514f9cd637",
        "type": "debug",
        "z": "b7abe18b8a86b057",
        "g": "c634d9c63ef3d217",
        "name": "Maximum",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "counter",
        "x": 1280,
        "y": 260,
        "wires": []
    },
    {
        "id": "a09a73bfcbee9a67",
        "type": "function",
        "z": "b7abe18b8a86b057",
        "g": "97203453dd020b34",
        "name": "Min/max",
        "func": "\n// Lower bound\nlet output = msg.payload | 0; // kWh\noutput = Math.max(msg.payload, 0);\n\n// Upper bound\nlet max_reserve = 0; // kWh\nmsg.batteries.forEach(battery => {\n    max_reserve += (Number(battery.energy_max*battery.soc_max) - Number(battery.energy_max*battery.soc_min))/100; // kWh\n});\noutput = Math.min(output, max_reserve);\n\nnode.status({fill:\"blue\",shape:\"dot\",text:`${output}`});\n\n// Output\nmsg.payload = output;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 60,
        "wires": [
            [
                "4223abe5e470bb4f"
            ]
        ]
    },
    {
        "id": "4223abe5e470bb4f",
        "type": "api-call-service",
        "z": "b7abe18b8a86b057",
        "g": "97203453dd020b34",
        "name": "Set desired energy reserve",
        "server": "176d29a.6f648d6",
        "version": 7,
        "debugenabled": false,
        "action": "input_number.set_value",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_number.house_battery_strategy_charge_target_energy"
        ],
        "labelId": [],
        "data": "{\"value\": $$.payload}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "input_number",
        "service": "set_value",
        "x": 780,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "792fd0fa5483aa67",
        "type": "rbe",
        "z": "b7abe18b8a86b057",
        "g": "97203453dd020b34",
        "name": "Desired energy changed",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": false,
        "property": "payload",
        "topi": "topic",
        "x": 390,
        "y": 60,
        "wires": [
            [
                "a09a73bfcbee9a67"
            ]
        ]
    },
    {
        "id": "5a26ece6608b4bfc",
        "type": "function",
        "z": "b7abe18b8a86b057",
        "g": "c634d9c63ef3d217",
        "name": "Regulated power",
        "func": "// Logger, usage: log(this, \"\");\nconst log = global.get('logger');\n\n// Which sub-strategy to use\nmsg.target = \"Self-consumption\";\n\n// Set target grid consumption for the PID controller\nmsg.house_target_grid_consumption_in_w = msg.house_battery_strategy_charge_target_power;\n\n// Finally\nlog(this, `**Regulated** charging. Target energy ${Number(msg.batteries_available_energy).toFixed(1)}/${Number(msg.house_battery_strategy_charge_target_energy).toFixed(1)} kWh @ target grid consumption ${Math.floor(msg.house_target_grid_consumption_in_w)} W`);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 300,
        "wires": [
            [
                "6fb5c979731bc62f"
            ]
        ]
    },
    {
        "id": "678d26e9938445d8",
        "type": "function",
        "z": "b7abe18b8a86b057",
        "g": "c634d9c63ef3d217",
        "name": "Full stop ",
        "func": "// logger, usage: log(this, \"\");\nconst log = global.get('logger');\nlog(this, `**Stopped** charging. Target energy of ${Number(msg.house_battery_strategy_charge_target_energy).toFixed(1)} kWh reached. Available: ${Number(msg.batteries_available_energy).toFixed(1)} kWh`);\n\n// set target flow\nmsg.target = \"Full stop\";\nnode.status({fill:\"grey\",shape:\"dot\",text:`${Math.round(msg.batteries_available_energy*100)/100} of ${Math.round(msg.house_battery_strategy_charge_target_energy*100)/100} kWh in reserve`});\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 340,
        "wires": [
            [
                "9a08cfadbddbc2be"
            ]
        ]
    },
    {
        "id": "52ee324928f12446",
        "type": "change",
        "z": "b7abe18b8a86b057",
        "g": "c634d9c63ef3d217",
        "name": "Continue",
        "rules": [
            {
                "t": "set",
                "p": "target",
                "pt": "msg",
                "to": "Charge",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1040,
        "y": 260,
        "wires": [
            [
                "5911cf514f9cd637",
                "bf325abd0388112b"
            ]
        ]
    },
    {
        "id": "d8109d143a08ad16",
        "type": "change",
        "z": "b7abe18b8a86b057",
        "g": "4c22355b5db77a41",
        "name": "Trace",
        "rules": [
            {
                "t": "set",
                "p": "strategy.trace",
                "pt": "msg",
                "to": "[\t   strategy.trace,\t   {\t       \"flow\": target,\t       \"flow_settings\": advanced_settings,\t       \"timestamp\": $now()\t   } \t]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 110,
        "y": 160,
        "wires": [
            [
                "03c0545c0c5ed77e"
            ]
        ],
        "info": "Attaches a breadcrumb trace to the msg\r\nso the user can reconstruct which route has\r\nbeen traveled"
    },
    {
        "id": "176d29a.6f648d6",
        "type": "server",
        "name": "Home Assistant",
        "addon": true,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "",
        "connectionDelay": false,
        "cacheJson": false,
        "heartbeat": false,
        "heartbeatInterval": "",
        "statusSeparator": "",
        "enableGlobalContextStore": false
    },
    {
        "id": "a827b503fe138c47",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-home-assistant-websocket": "0.80.3"
        }
    }
]