node-red/02 strategy-timed.json
[
    {
        "id": "7728870d8f926144",
        "type": "tab",
        "label": "Strategy Timed v4.8.2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "aa9a8c2151c85271",
        "type": "group",
        "z": "7728870d8f926144",
        "name": "Battery solutions",
        "style": {
            "label": true
        },
        "nodes": [
            "cafa5d012f5fdaf2",
            "8a32838a8c79bf4a"
        ],
        "x": 1214,
        "y": 419,
        "w": 192,
        "h": 142
    },
    {
        "id": "1ac9173cb5645b2b",
        "type": "group",
        "z": "7728870d8f926144",
        "style": {
            "stroke": "#565656",
            "stroke-opacity": "1",
            "fill": "#3a3a3a",
            "fill-opacity": "0.5",
            "label": true,
            "label-position": "nw",
            "color": "#cccccc"
        },
        "nodes": [
            "11dc623036e469ad",
            "7ff152bad6905193",
            "6768b3cff1163215"
        ],
        "x": 24,
        "y": 79,
        "w": 192,
        "h": 162
    },
    {
        "id": "d3ce8a12f2c155cf",
        "type": "group",
        "z": "7728870d8f926144",
        "style": {
            "stroke": "#565656",
            "stroke-opacity": "1",
            "fill": "#3a3a3a",
            "fill-opacity": "0.5",
            "label": true,
            "label-position": "nw",
            "color": "#cccccc"
        },
        "nodes": [
            "fe240db986d87771",
            "924e9c4c42b058de",
            "73b213fd354a679a"
        ],
        "x": 454,
        "y": 79,
        "w": 532,
        "h": 82
    },
    {
        "id": "efabab2c09637430",
        "type": "group",
        "z": "7728870d8f926144",
        "style": {
            "stroke": "#565656",
            "stroke-opacity": "1",
            "fill": "#3a3a3a",
            "fill-opacity": "0.5",
            "label": true,
            "label-position": "nw",
            "color": "#cccccc"
        },
        "nodes": [
            "e999809a75872f7a",
            "0ab45cf50f015b2f",
            "d553b4c4cb0cbeba",
            "176ce75d581e3a52"
        ],
        "x": 254,
        "y": 179,
        "w": 732,
        "h": 82
    },
    {
        "id": "5b5cf5c78c3c259e",
        "type": "group",
        "z": "7728870d8f926144",
        "style": {
            "stroke": "#565656",
            "stroke-opacity": "1",
            "fill": "#3a3a3a",
            "fill-opacity": "0.5",
            "label": true,
            "label-position": "nw",
            "color": "#cccccc"
        },
        "nodes": [
            "f276d5f8bfa30850"
        ],
        "x": 254,
        "y": 79,
        "w": 192,
        "h": 82
    },
    {
        "id": "4239a1ccb22ed61c",
        "type": "group",
        "z": "7728870d8f926144",
        "name": "Determine sub-strategy based on time period",
        "style": {
            "label": true
        },
        "nodes": [
            "39cbc1af3386caf0",
            "2d7615d223ee5983",
            "6ab34e4e35f274bb",
            "b568ae99d540090d",
            "cda3b2f1d5eb2181",
            "9e93a840a96e933f",
            "ce85c460fb8b4988",
            "2e7ffa7c0d8e58df",
            "9d305e0d681f4c66",
            "d453318d4dbdef08",
            "54e9d5b502e76eae",
            "d274e82c7734e2b2",
            "02717c01863276c6",
            "0aa5a903b67c3e26",
            "87b335d1fe6d2f46",
            "29e67c0706cc405b",
            "7f8de8db550ac02b",
            "609c9c3fb0e928a4",
            "30ac5ad7145e3133",
            "22d1626908ece0d6",
            "f6a7fbe779fa5f27"
        ],
        "x": 254,
        "y": 379,
        "w": 692,
        "h": 402
    },
    {
        "id": "66c00370a8ddeaaf",
        "type": "group",
        "z": "7728870d8f926144",
        "name": "Execute sub-strategy",
        "style": {
            "label": true
        },
        "nodes": [
            "b12eeda26dafc00f",
            "e904f83bb6d20bda"
        ],
        "x": 984,
        "y": 419,
        "w": 192,
        "h": 142
    },
    {
        "id": "1d1c93f655554bae",
        "type": "group",
        "z": "7728870d8f926144",
        "style": {
            "stroke": "#565656",
            "stroke-opacity": "1",
            "fill": "#3a3a3a",
            "fill-opacity": "0.5",
            "label": true,
            "label-position": "nw",
            "color": "#cccccc"
        },
        "nodes": [
            "5f1b2a04fada1fa5",
            "319f6ef4aca6761c",
            "d005ebbd483a1e0c",
            "cd420a276517cedc"
        ],
        "x": 254,
        "y": 279,
        "w": 732,
        "h": 82
    },
    {
        "id": "033d84ec511d515c",
        "type": "group",
        "z": "7728870d8f926144",
        "name": "Unhandled exceptions",
        "style": {
            "label": true,
            "stroke": "#d88a8a",
            "color": "#d88a8a"
        },
        "nodes": [
            "2948decbcaf1f466",
            "a790ce2ae5080f6f",
            "b59ee0cf12bb58c8"
        ],
        "x": 24,
        "y": 279,
        "w": 182,
        "h": 82
    },
    {
        "id": "11dc623036e469ad",
        "type": "link in",
        "z": "7728870d8f926144",
        "g": "1ac9173cb5645b2b",
        "name": "Timed",
        "links": [],
        "x": 110,
        "y": 160,
        "wires": [
            [
                "6768b3cff1163215"
            ]
        ],
        "l": true
    },
    {
        "id": "f736d86dc7b7fd1f",
        "type": "comment",
        "z": "7728870d8f926144",
        "name": "Home Battery Strategy",
        "info": "The `Home Battery Start` flow will call this strategy flow\nby matching the strategy name with the Link In name.\n\nConfigure the Link In node in the Start group.\n\nDon't modify other parts of the Start and End groups.\nThey handle the calling and returning for you.",
        "x": 130,
        "y": 40,
        "wires": []
    },
    {
        "id": "7ff152bad6905193",
        "type": "comment",
        "z": "7728870d8f926144",
        "g": "1ac9173cb5645b2b",
        "name": "Start (readme)",
        "info": "# Setting up your battery strategy flow\n\n## Setup\nName the `Link In node` in this start group exactly after the <select> option configured in your\nselect_input.house_battery_strategy\n\nconfigure select options in:\ninput_select_house_battery_control.yaml\n\n### example\n`house_battery_strategy:\n  name: House Battery Strategy\n  options:\n    - AcmE example`\n\nThe above creates a select option, allowing user to select 'AcmE example'\n\nWhen selected, battery control will search for a flow containing a Link In node\ncalled 'AcmE example' (case sensitive).",
        "x": 120,
        "y": 120,
        "wires": []
    },
    {
        "id": "cafa5d012f5fdaf2",
        "type": "link out",
        "z": "7728870d8f926144",
        "g": "aa9a8c2151c85271",
        "name": "Return",
        "mode": "return",
        "links": [],
        "x": 1255,
        "y": 520,
        "wires": []
    },
    {
        "id": "8a32838a8c79bf4a",
        "type": "comment",
        "z": "7728870d8f926144",
        "g": "aa9a8c2151c85271",
        "name": "End (readme)",
        "info": "Should return a solution_array of battery objects\n\n## battery object format\n`{{id: string|number, mode: string, power: number}} battery solution`\n- id is an arbitrary battery ID\n- mode is \"stop\", \"charge\", \"discharge\" for Marstek\n- power in Watts\n\n### example array\nreturn this type of solution_array via msg.solutions\n` \nlet solution_array = [];\nsolution_array.push({id:\"M1\", mode: \"charge\", power: 100}); // per battery\nreturn {solutions: solution_array};\n` ",
        "x": 1310,
        "y": 460,
        "wires": []
    },
    {
        "id": "fe240db986d87771",
        "type": "api-current-state",
        "z": "7728870d8f926144",
        "g": "d3ce8a12f2c155cf",
        "name": "Period A start",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_datetime.house_battery_strategy_timed_period_a1",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "house_battery_strategy_timed_period_a1",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 550,
        "y": 120,
        "wires": [
            [
                "924e9c4c42b058de"
            ]
        ]
    },
    {
        "id": "924e9c4c42b058de",
        "type": "api-current-state",
        "z": "7728870d8f926144",
        "g": "d3ce8a12f2c155cf",
        "name": "Period A end",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_datetime.house_battery_strategy_timed_period_a2",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "house_battery_strategy_timed_period_a2",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 710,
        "y": 120,
        "wires": [
            [
                "73b213fd354a679a"
            ]
        ]
    },
    {
        "id": "e999809a75872f7a",
        "type": "api-current-state",
        "z": "7728870d8f926144",
        "g": "efabab2c09637430",
        "name": "Period B start",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_datetime.house_battery_strategy_timed_period_b1",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "house_battery_strategy_timed_period_b1",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 540,
        "y": 220,
        "wires": [
            [
                "0ab45cf50f015b2f"
            ]
        ]
    },
    {
        "id": "0ab45cf50f015b2f",
        "type": "api-current-state",
        "z": "7728870d8f926144",
        "g": "efabab2c09637430",
        "name": "Period B end",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_datetime.house_battery_strategy_timed_period_b2",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "house_battery_strategy_timed_period_b2",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 710,
        "y": 220,
        "wires": [
            [
                "d553b4c4cb0cbeba"
            ]
        ]
    },
    {
        "id": "73b213fd354a679a",
        "type": "api-current-state",
        "z": "7728870d8f926144",
        "g": "d3ce8a12f2c155cf",
        "name": "Strat during A",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_select.house_battery_strategy_timed_strat_a",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "house_battery_strategy_timed_strat_a",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 880,
        "y": 120,
        "wires": [
            [
                "176ce75d581e3a52"
            ]
        ]
    },
    {
        "id": "d553b4c4cb0cbeba",
        "type": "api-current-state",
        "z": "7728870d8f926144",
        "g": "efabab2c09637430",
        "name": "Strat during B",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_select.house_battery_strategy_timed_strat_b",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "house_battery_strategy_timed_strat_b",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 880,
        "y": 220,
        "wires": [
            [
                "cd420a276517cedc"
            ]
        ]
    },
    {
        "id": "176ce75d581e3a52",
        "type": "api-current-state",
        "z": "7728870d8f926144",
        "g": "efabab2c09637430",
        "name": "Has period B",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.house_battery_strategy_timed_has_period_b",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "house_battery_strategy_timed_has_period_b",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 350,
        "y": 220,
        "wires": [
            [
                "e999809a75872f7a"
            ]
        ]
    },
    {
        "id": "6a140e0f16616d32",
        "type": "inject",
        "z": "7728870d8f926144",
        "name": "Test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 330,
        "y": 40,
        "wires": [
            [
                "f276d5f8bfa30850"
            ]
        ]
    },
    {
        "id": "39cbc1af3386caf0",
        "type": "change",
        "z": "7728870d8f926144",
        "g": "4239a1ccb22ed61c",
        "name": "set Strat 0",
        "rules": [
            {
                "t": "set",
                "p": "timed_strategy",
                "pt": "msg",
                "to": "house_battery_strategy_timed_strat_0",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 460,
        "wires": [
            [
                "6ab34e4e35f274bb"
            ]
        ]
    },
    {
        "id": "2d7615d223ee5983",
        "type": "change",
        "z": "7728870d8f926144",
        "g": "4239a1ccb22ed61c",
        "name": "set Strat A",
        "rules": [
            {
                "t": "set",
                "p": "timed_strategy",
                "pt": "msg",
                "to": "house_battery_strategy_timed_strat_a",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 420,
        "wires": [
            [
                "0aa5a903b67c3e26",
                "d453318d4dbdef08"
            ]
        ]
    },
    {
        "id": "6ab34e4e35f274bb",
        "type": "switch",
        "z": "7728870d8f926144",
        "g": "4239a1ccb22ed61c",
        "name": "has period B",
        "property": "house_battery_strategy_timed_has_period_b",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 630,
        "y": 500,
        "wires": [
            [
                "0aa5a903b67c3e26",
                "54e9d5b502e76eae"
            ],
            [
                "9e93a840a96e933f"
            ]
        ]
    },
    {
        "id": "b568ae99d540090d",
        "type": "function",
        "z": "7728870d8f926144",
        "g": "4239a1ccb22ed61c",
        "name": "config A",
        "func": "msg.__config = {\n    startTime: RED.util.getMessageProperty(msg,'house_battery_strategy_timed_period_a1'),\n    endTime: RED.util.getMessageProperty(msg,'house_battery_strategy_timed_period_a2'),\n    startOffset: 0,\n    endOffset: 0\n}\n  \nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 440,
        "wires": [
            [
                "cda3b2f1d5eb2181"
            ]
        ]
    },
    {
        "id": "cda3b2f1d5eb2181",
        "type": "time-range-switch",
        "z": "7728870d8f926144",
        "g": "4239a1ccb22ed61c",
        "name": "Period A",
        "lat": "",
        "lon": "",
        "startTime": "00:00",
        "endTime": "00:00",
        "startOffset": 0,
        "endOffset": 0,
        "x": 480,
        "y": 440,
        "wires": [
            [
                "2d7615d223ee5983"
            ],
            [
                "39cbc1af3386caf0"
            ]
        ]
    },
    {
        "id": "9e93a840a96e933f",
        "type": "function",
        "z": "7728870d8f926144",
        "g": "4239a1ccb22ed61c",
        "name": "config B",
        "func": "msg.__config = {\n    startTime: RED.util.getMessageProperty(msg,'house_battery_strategy_timed_period_b1'),\n    endTime: RED.util.getMessageProperty(msg,'house_battery_strategy_timed_period_b2'),\n    startOffset: 0,\n    endOffset: 0\n}\n  \nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 580,
        "wires": [
            [
                "ce85c460fb8b4988"
            ]
        ]
    },
    {
        "id": "ce85c460fb8b4988",
        "type": "time-range-switch",
        "z": "7728870d8f926144",
        "g": "4239a1ccb22ed61c",
        "name": "Period B",
        "lat": "",
        "lon": "",
        "startTime": "00:00",
        "endTime": "00:00",
        "startOffset": 0,
        "endOffset": 0,
        "x": 480,
        "y": 580,
        "wires": [
            [
                "2e7ffa7c0d8e58df"
            ],
            [
                "9d305e0d681f4c66"
            ]
        ]
    },
    {
        "id": "2e7ffa7c0d8e58df",
        "type": "change",
        "z": "7728870d8f926144",
        "g": "4239a1ccb22ed61c",
        "name": "set Strat B",
        "rules": [
            {
                "t": "set",
                "p": "timed_strategy",
                "pt": "msg",
                "to": "house_battery_strategy_timed_strat_b",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 560,
        "wires": [
            [
                "0aa5a903b67c3e26",
                "d274e82c7734e2b2"
            ]
        ]
    },
    {
        "id": "9d305e0d681f4c66",
        "type": "change",
        "z": "7728870d8f926144",
        "g": "4239a1ccb22ed61c",
        "name": "set Strat 0",
        "rules": [
            {
                "t": "set",
                "p": "timed_strategy",
                "pt": "msg",
                "to": "house_battery_strategy_timed_strat_0",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 600,
        "wires": [
            [
                "87b335d1fe6d2f46"
            ]
        ]
    },
    {
        "id": "f276d5f8bfa30850",
        "type": "api-current-state",
        "z": "7728870d8f926144",
        "g": "5b5cf5c78c3c259e",
        "name": "Default Strat",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_select.house_battery_strategy_timed_strat_0",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "house_battery_strategy_timed_strat_0",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 350,
        "y": 120,
        "wires": [
            [
                "fe240db986d87771"
            ]
        ]
    },
    {
        "id": "b12eeda26dafc00f",
        "type": "link call",
        "z": "7728870d8f926144",
        "g": "66c00370a8ddeaaf",
        "name": "Sub strategy",
        "links": [],
        "linkType": "dynamic",
        "timeout": "30",
        "x": 1080,
        "y": 520,
        "wires": [
            [
                "cafa5d012f5fdaf2"
            ]
        ]
    },
    {
        "id": "0aa5a903b67c3e26",
        "type": "change",
        "z": "7728870d8f926144",
        "g": "4239a1ccb22ed61c",
        "name": "Select flow",
        "rules": [
            {
                "t": "set",
                "p": "target",
                "pt": "msg",
                "to": "timed_strategy",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 850,
        "y": 520,
        "wires": [
            [
                "b12eeda26dafc00f",
                "e904f83bb6d20bda"
            ]
        ]
    },
    {
        "id": "d453318d4dbdef08",
        "type": "debug",
        "z": "7728870d8f926144",
        "g": "4239a1ccb22ed61c",
        "name": "A",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "strategy",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "counter",
        "x": 830,
        "y": 420,
        "wires": []
    },
    {
        "id": "54e9d5b502e76eae",
        "type": "debug",
        "z": "7728870d8f926144",
        "g": "4239a1ccb22ed61c",
        "name": "0",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "strategy",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "counter",
        "x": 830,
        "y": 460,
        "wires": []
    },
    {
        "id": "d274e82c7734e2b2",
        "type": "debug",
        "z": "7728870d8f926144",
        "g": "4239a1ccb22ed61c",
        "name": "B",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "strategy",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "counter",
        "x": 830,
        "y": 560,
        "wires": []
    },
    {
        "id": "02717c01863276c6",
        "type": "debug",
        "z": "7728870d8f926144",
        "g": "4239a1ccb22ed61c",
        "name": "0",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "strategy",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "counter",
        "x": 830,
        "y": 600,
        "wires": []
    },
    {
        "id": "e904f83bb6d20bda",
        "type": "debug",
        "z": "7728870d8f926144",
        "g": "66c00370a8ddeaaf",
        "name": "Target",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "target",
        "targetType": "msg",
        "statusVal": "target",
        "statusType": "auto",
        "x": 1060,
        "y": 460,
        "wires": []
    },
    {
        "id": "5f1b2a04fada1fa5",
        "type": "api-current-state",
        "z": "7728870d8f926144",
        "g": "1d1c93f655554bae",
        "name": "Period C start",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_datetime.house_battery_strategy_timed_period_c1",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "house_battery_strategy_timed_period_c1",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 540,
        "y": 320,
        "wires": [
            [
                "319f6ef4aca6761c"
            ]
        ]
    },
    {
        "id": "319f6ef4aca6761c",
        "type": "api-current-state",
        "z": "7728870d8f926144",
        "g": "1d1c93f655554bae",
        "name": "Period C end",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_datetime.house_battery_strategy_timed_period_c2",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "house_battery_strategy_timed_period_c2",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 710,
        "y": 320,
        "wires": [
            [
                "d005ebbd483a1e0c"
            ]
        ]
    },
    {
        "id": "d005ebbd483a1e0c",
        "type": "api-current-state",
        "z": "7728870d8f926144",
        "g": "1d1c93f655554bae",
        "name": "Strat during C",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_select.house_battery_strategy_timed_strat_c",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "house_battery_strategy_timed_strat_c",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 880,
        "y": 320,
        "wires": [
            [
                "b568ae99d540090d"
            ]
        ]
    },
    {
        "id": "cd420a276517cedc",
        "type": "api-current-state",
        "z": "7728870d8f926144",
        "g": "1d1c93f655554bae",
        "name": "Has period C",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.house_battery_strategy_timed_has_period_c",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "house_battery_strategy_timed_has_period_c",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 350,
        "y": 320,
        "wires": [
            [
                "5f1b2a04fada1fa5"
            ]
        ]
    },
    {
        "id": "87b335d1fe6d2f46",
        "type": "switch",
        "z": "7728870d8f926144",
        "g": "4239a1ccb22ed61c",
        "name": "has period C",
        "property": "house_battery_strategy_timed_has_period_c",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 630,
        "y": 640,
        "wires": [
            [
                "0aa5a903b67c3e26",
                "02717c01863276c6"
            ],
            [
                "7f8de8db550ac02b"
            ]
        ]
    },
    {
        "id": "29e67c0706cc405b",
        "type": "debug",
        "z": "7728870d8f926144",
        "g": "4239a1ccb22ed61c",
        "name": "C",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "strategy",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "counter",
        "x": 830,
        "y": 700,
        "wires": []
    },
    {
        "id": "7f8de8db550ac02b",
        "type": "function",
        "z": "7728870d8f926144",
        "g": "4239a1ccb22ed61c",
        "name": "config C",
        "func": "msg.__config = {\n    startTime: RED.util.getMessageProperty(msg,'house_battery_strategy_timed_period_c1'),\n    endTime: RED.util.getMessageProperty(msg,'house_battery_strategy_timed_period_c2'),\n    startOffset: 0,\n    endOffset: 0\n}\n  \nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 720,
        "wires": [
            [
                "609c9c3fb0e928a4"
            ]
        ]
    },
    {
        "id": "609c9c3fb0e928a4",
        "type": "time-range-switch",
        "z": "7728870d8f926144",
        "g": "4239a1ccb22ed61c",
        "name": "Period C",
        "lat": "",
        "lon": "",
        "startTime": "00:00",
        "endTime": "00:00",
        "startOffset": 0,
        "endOffset": 0,
        "x": 480,
        "y": 720,
        "wires": [
            [
                "30ac5ad7145e3133"
            ],
            [
                "22d1626908ece0d6"
            ]
        ]
    },
    {
        "id": "30ac5ad7145e3133",
        "type": "change",
        "z": "7728870d8f926144",
        "g": "4239a1ccb22ed61c",
        "name": "set Strat C",
        "rules": [
            {
                "t": "set",
                "p": "timed_strategy",
                "pt": "msg",
                "to": "house_battery_strategy_timed_strat_c",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 700,
        "wires": [
            [
                "29e67c0706cc405b",
                "0aa5a903b67c3e26"
            ]
        ]
    },
    {
        "id": "22d1626908ece0d6",
        "type": "change",
        "z": "7728870d8f926144",
        "g": "4239a1ccb22ed61c",
        "name": "set Strat 0",
        "rules": [
            {
                "t": "set",
                "p": "timed_strategy",
                "pt": "msg",
                "to": "house_battery_strategy_timed_strat_0",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 740,
        "wires": [
            [
                "0aa5a903b67c3e26",
                "f6a7fbe779fa5f27"
            ]
        ]
    },
    {
        "id": "f6a7fbe779fa5f27",
        "type": "debug",
        "z": "7728870d8f926144",
        "g": "4239a1ccb22ed61c",
        "name": "0",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "strategy",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "counter",
        "x": 830,
        "y": 740,
        "wires": []
    },
    {
        "id": "6768b3cff1163215",
        "type": "change",
        "z": "7728870d8f926144",
        "g": "1ac9173cb5645b2b",
        "name": "Trace",
        "rules": [
            {
                "t": "set",
                "p": "strategy.trace",
                "pt": "msg",
                "to": "[\t   strategy.trace,\t   {\t       \"flow\": target,\t       \"flow_settings\": advanced_settings,\t       \"timestamp\": $now()\t   } \t]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 110,
        "y": 200,
        "wires": [
            [
                "f276d5f8bfa30850"
            ]
        ],
        "info": "Attaches a breadcrumb trace to the msg\r\nso the user can reconstruct which route has\r\nbeen traveled"
    },
    {
        "id": "2948decbcaf1f466",
        "type": "catch",
        "z": "7728870d8f926144",
        "g": "033d84ec511d515c",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 65,
        "y": 320,
        "wires": [
            [
                "a790ce2ae5080f6f"
            ]
        ],
        "l": false
    },
    {
        "id": "a790ce2ae5080f6f",
        "type": "function",
        "z": "7728870d8f926144",
        "g": "033d84ec511d515c",
        "name": "Unhandled Exception",
        "func": "// Log unhandled exception\nconst handle = global.get('unhandledException');\nif(handle) handle(this);\n\n// Check origin of msg execution\nif (msg._linkSource) {\n    return msg; // Origin: some other flow\n} else {\n    return null; // Origin: this flow. Stop to prevent 'Missing return' warning\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 115,
        "y": 320,
        "wires": [
            [
                "b59ee0cf12bb58c8"
            ]
        ],
        "l": false
    },
    {
        "id": "b59ee0cf12bb58c8",
        "type": "link out",
        "z": "7728870d8f926144",
        "g": "033d84ec511d515c",
        "name": "link out 8",
        "mode": "return",
        "links": [],
        "x": 165,
        "y": 320,
        "wires": []
    },
    {
        "id": "176d29a.6f648d6",
        "type": "server",
        "name": "Home Assistant",
        "addon": true,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": [],
        "connectionDelay": false,
        "cacheJson": false,
        "heartbeat": false,
        "heartbeatInterval": "",
        "statusSeparator": "",
        "enableGlobalContextStore": false
    },
    {
        "id": "360fea02021712f8",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-home-assistant-websocket": "0.80.3",
            "node-red-contrib-time-range-switch": "1.2.0"
        }
    }
]