node-red/02 strategy-full-stop.json
[
    {
        "id": "9c775009242a5a6b",
        "type": "tab",
        "label": "Strategy Full stop ",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0bd042d837a592d2",
        "type": "group",
        "z": "9c775009242a5a6b",
        "name": "Configuration",
        "style": {
            "label": true
        },
        "nodes": [
            "26460a293ad3466a",
            "fd021c46fa86cb98"
        ],
        "x": 14,
        "y": 79,
        "w": 192,
        "h": 142
    },
    {
        "id": "cd31f39c38ae6c21",
        "type": "group",
        "z": "9c775009242a5a6b",
        "name": "Battery solutions",
        "style": {
            "label": true
        },
        "nodes": [
            "c1e3cac395f0b1cb",
            "5b9d0683cbf0cf39"
        ],
        "x": 464,
        "y": 79,
        "w": 192,
        "h": 142
    },
    {
        "id": "36d3d713969b2832",
        "type": "group",
        "z": "9c775009242a5a6b",
        "name": "Update UI - active sub-strategy",
        "style": {
            "label": true
        },
        "nodes": [
            "c23de8e8ab568b52",
            "f322b34904d4944b",
            "72ce79bf6a03a3d6",
            "b890d6c270915ce5",
            "3363b72314098044"
        ],
        "x": 474,
        "y": 259,
        "w": 1012,
        "h": 82
    },
    {
        "id": "26460a293ad3466a",
        "type": "link in",
        "z": "9c775009242a5a6b",
        "g": "0bd042d837a592d2",
        "name": "Full stop",
        "links": [],
        "x": 120,
        "y": 180,
        "wires": [
            [
                "e8765c8c2f9d4414"
            ]
        ],
        "l": true
    },
    {
        "id": "c1e3cac395f0b1cb",
        "type": "link out",
        "z": "9c775009242a5a6b",
        "g": "cd31f39c38ae6c21",
        "name": "Return",
        "mode": "return",
        "links": [],
        "x": 505,
        "y": 180,
        "wires": []
    },
    {
        "id": "e8765c8c2f9d4414",
        "type": "function",
        "z": "9c775009242a5a6b",
        "name": "Stop all batteries",
        "func": "// INPUT\n// Home Battery Start payload\n\n// Process\nlet solution_array = [];\n\n// Add a solution per battery\nmsg.batteries.forEach(battery => {\n    solution_array.push({ id: battery.id, \n    mode: \"stop\", // disengages Marstek Battery\n    power: 0 }); // set power to 0W\n});\n\n// OUTPUT\nmsg.solutions = solution_array;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 180,
        "wires": [
            [
                "c1e3cac395f0b1cb",
                "f322b34904d4944b"
            ]
        ]
    },
    {
        "id": "9972c8e39e2f5320",
        "type": "comment",
        "z": "9c775009242a5a6b",
        "name": "Home Battery Strategy",
        "info": "The `Home Battery Start` flow will call this strategy flow\nby matching the strategy name with the Link In name.\n\nConfigure the Link In node in the Start group.\n\nDon't modify other parts of the Start and End groups.\nThey handle the calling and returning for you.",
        "x": 120,
        "y": 40,
        "wires": []
    },
    {
        "id": "5b9d0683cbf0cf39",
        "type": "comment",
        "z": "9c775009242a5a6b",
        "g": "cd31f39c38ae6c21",
        "name": "End (readme)",
        "info": "Should return a solution_array of battery objects\n\n## battery object format\n`{{id: string|number, mode: string, power: number}} battery solution`\n- id is an arbitrary battery ID\n- mode is \"stop\", \"charge\", \"discharge\" for Marstek\n- power in Watts\n\n### example array\nreturn this type of solution_array via msg.solutions\n` \nlet solution_array = [];\nsolution_array.push({id:\"M1\", mode: \"charge\", power: 100}); // per battery\nreturn {solutions: solution_array};\n` ",
        "x": 560,
        "y": 120,
        "wires": []
    },
    {
        "id": "fd021c46fa86cb98",
        "type": "comment",
        "z": "9c775009242a5a6b",
        "g": "0bd042d837a592d2",
        "name": "Start (readme)",
        "info": "# Setting up your battery strategy flow\n\n## Setup\nName the `Link In node` in this start group exactly after the <select> option configured in your\nselect_input.house_battery_strategy\n\nconfigure select options in:\ninput_select_house_battery_control.yaml\n\n### example\n`house_battery_strategy:\n  name: House Battery Strategy\n  options:\n    - AcmE example`\n\nThe above creates a select option, allowing user to select 'AcmE example'\n\nWhen selected, battery control will search for a flow containing a Link In node\ncalled 'AcmE example' (case sensitive).",
        "x": 110,
        "y": 120,
        "wires": []
    },
    {
        "id": "c23de8e8ab568b52",
        "type": "api-call-service",
        "z": "9c775009242a5a6b",
        "g": "36d3d713969b2832",
        "name": "Active sub strategy text field",
        "server": "176d29a.6f648d6",
        "version": 7,
        "debugenabled": false,
        "action": "input_text.set_value",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_text.house_battery_strategy_active_sub_strategy"
        ],
        "labelId": [],
        "data": "{\"value\": $$.target}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "input_text",
        "service": "set_value",
        "x": 1340,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "f322b34904d4944b",
        "type": "api-current-state",
        "z": "9c775009242a5a6b",
        "g": "36d3d713969b2832",
        "name": "User strategy",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_select.house_battery_strategy",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "master_strategy",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 570,
        "y": 300,
        "wires": [
            [
                "72ce79bf6a03a3d6"
            ]
        ]
    },
    {
        "id": "72ce79bf6a03a3d6",
        "type": "switch",
        "z": "9c775009242a5a6b",
        "g": "36d3d713969b2832",
        "name": "is Full stop",
        "property": "master_strategy",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Full stop",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 730,
        "y": 300,
        "wires": [
            [
                "b890d6c270915ce5"
            ]
        ]
    },
    {
        "id": "b890d6c270915ce5",
        "type": "api-current-state",
        "z": "9c775009242a5a6b",
        "g": "36d3d713969b2832",
        "name": "sub strategy UI value",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_text.house_battery_strategy_active_sub_strategy",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "ui_value",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 920,
        "y": 300,
        "wires": [
            [
                "3363b72314098044"
            ]
        ]
    },
    {
        "id": "3363b72314098044",
        "type": "function",
        "z": "9c775009242a5a6b",
        "g": "36d3d713969b2832",
        "name": "On difference",
        "func": "// This flow is the target flow\nmsg.target = \"Full stop\";\n\n// Block when equal\nif(msg.ui_value === msg.target) return null;\n\n// Pass otherwise\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1120,
        "y": 300,
        "wires": [
            [
                "c23de8e8ab568b52"
            ]
        ]
    },
    {
        "id": "176d29a.6f648d6",
        "type": "server",
        "name": "Home Assistant",
        "addon": true,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "",
        "connectionDelay": false,
        "cacheJson": false,
        "heartbeat": false,
        "heartbeatInterval": "",
        "statusSeparator": "",
        "enableGlobalContextStore": false
    },
    {
        "id": "aa5bceda72af6823",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-home-assistant-websocket": "0.80.3"
        }
    }
]