node-red/02 strategy-dynamic-2.json
[
    {
        "id": "bdbd06f2d55d48a6",
        "type": "tab",
        "label": "Strategy Dynamic 2 v4.10.1",
        "disabled": false,
        "info": "Dynamic contract automated management",
        "env": []
    },
    {
        "id": "d00edbf2769626eb",
        "type": "group",
        "z": "bdbd06f2d55d48a6",
        "name": "Battery solutions",
        "style": {
            "label": true
        },
        "nodes": [
            "43b27b0b89b99948",
            "4fb736509068cca7"
        ],
        "x": 934,
        "y": 79,
        "w": 192,
        "h": 142
    },
    {
        "id": "873e2f613f37f464",
        "type": "group",
        "z": "bdbd06f2d55d48a6",
        "name": "Home battery start",
        "style": {
            "label": true
        },
        "nodes": [
            "b1fcfef81c6d21f1",
            "8de3c4b40457701d",
            "7095a6612a81b3f3"
        ],
        "x": 14,
        "y": 79,
        "w": 192,
        "h": 162
    },
    {
        "id": "29a32a7ec3fb9dfa",
        "type": "group",
        "z": "bdbd06f2d55d48a6",
        "name": "Plan",
        "style": {
            "label": true
        },
        "nodes": [
            "b42490650e9c334e",
            "0665029a9d16fd83",
            "c640a2f5df5666cf",
            "8c41d911472df3f4",
            "e8f5ca6298baa1a5",
            "98098c51fcd3210a",
            "8fc7aed868d7a2df"
        ],
        "x": 228,
        "y": 273,
        "w": 1384,
        "h": 794
    },
    {
        "id": "34203f6eaa61ae78",
        "type": "group",
        "z": "bdbd06f2d55d48a6",
        "name": "Execute",
        "style": {
            "label": true
        },
        "nodes": [
            "7614e6093f516aac",
            "f08a9396057e185e",
            "7a710742d8c7867c",
            "666e85cfef2b647a",
            "b7507e056facb520"
        ],
        "x": 234,
        "y": 119,
        "w": 672,
        "h": 122
    },
    {
        "id": "82621ba0d05390fa",
        "type": "group",
        "z": "bdbd06f2d55d48a6",
        "name": "Test area",
        "style": {
            "label": true
        },
        "nodes": [
            "9d556635f0e1519a",
            "cd236d4dba4e11d8",
            "93a203c1ebfe3f98",
            "14bf22f0d2c3abd1",
            "5b05f30c091ca096",
            "2772d194dd5f5c85",
            "68a936f6bc73db20",
            "b9ea4de355537694"
        ],
        "x": 234,
        "y": 1479,
        "w": 912,
        "h": 162
    },
    {
        "id": "09c5fddd190cd4b0",
        "type": "group",
        "z": "bdbd06f2d55d48a6",
        "name": "All data",
        "style": {
            "label": true
        },
        "nodes": [
            "7c2cfb2293191ddc",
            "2c20b2cc3d851939",
            "9e960fe47d74698d",
            "3f634413e8fbadf6",
            "e41cfbaa1ada19b6"
        ],
        "x": 234,
        "y": 1659,
        "w": 672,
        "h": 142
    },
    {
        "id": "803d76ec23ced7d9",
        "type": "group",
        "z": "bdbd06f2d55d48a6",
        "name": "Unhandled exceptions",
        "style": {
            "label": true,
            "stroke": "#d88a8a",
            "color": "#d88a8a"
        },
        "nodes": [
            "35b26d7b468f1fd0",
            "ebc24bfe05743d79",
            "9f62f6c89cea7330"
        ],
        "x": 24,
        "y": 279,
        "w": 182,
        "h": 82
    },
    {
        "id": "e8f5ca6298baa1a5",
        "type": "group",
        "z": "bdbd06f2d55d48a6",
        "g": "29a32a7ec3fb9dfa",
        "name": "API call to Data Source",
        "style": {
            "label": true
        },
        "nodes": [
            "867b42a173862517",
            "afe8960d93c21e2f",
            "f8cf685e5813563c",
            "fb8d043c23a5bd82",
            "f450d9d3e2bddd44",
            "8cc1926a29fedf7b",
            "7d3f1b43daee6193",
            "9e5d04478eeac327",
            "c2c3cf5fb2cae520",
            "c22f8847fc131f70",
            "182e4d75a4c9dbba"
        ],
        "x": 254,
        "y": 519,
        "w": 652,
        "h": 242
    },
    {
        "id": "98098c51fcd3210a",
        "type": "group",
        "z": "bdbd06f2d55d48a6",
        "g": "29a32a7ec3fb9dfa",
        "name": "Update when",
        "style": {
            "label": true
        },
        "nodes": [
            "7cb5691033c9501e",
            "af002e6d0cf16c34",
            "b632269687e7f5d5",
            "137343108443b1f1",
            "3b0a9286b7d26aae",
            "e57dc61a891889be",
            "445ffc9ded3a2691",
            "518c61dc242c6356",
            "59ecc77acbd9cafa",
            "92d1f09dfed473c4",
            "ca2b745599f1156d",
            "ac194de56255d6a6",
            "6b97322874ecbef1",
            "74c2178d55d06602",
            "fb939e165ae91ee7",
            "c746a4e3cead6f4e",
            "5d02cf12e178fdc6",
            "dfa1161fe163528e",
            "a6cbff1ac5cf5fe0"
        ],
        "x": 254,
        "y": 299,
        "w": 1332,
        "h": 202
    },
    {
        "id": "8fc7aed868d7a2df",
        "type": "group",
        "z": "bdbd06f2d55d48a6",
        "g": "29a32a7ec3fb9dfa",
        "name": "Determine strategy",
        "style": {
            "label": true
        },
        "nodes": [
            "879a5fa648a96042",
            "8f528f8818641c87",
            "42645b4b52a54d26",
            "552943cb3f64b6e0",
            "4f5debe1069a0d4e",
            "61692dbfbc36591e",
            "baef7c9ef1d76dec",
            "f06909c4d490b7cb",
            "d10758a4c021c27f",
            "2157188cf3542812",
            "70083d5f7a16065e"
        ],
        "x": 254,
        "y": 799,
        "w": 1072,
        "h": 242
    },
    {
        "id": "92d1f09dfed473c4",
        "type": "junction",
        "z": "bdbd06f2d55d48a6",
        "g": "98098c51fcd3210a",
        "x": 640,
        "y": 340,
        "wires": [
            [
                "5d02cf12e178fdc6"
            ]
        ]
    },
    {
        "id": "b1fcfef81c6d21f1",
        "type": "link in",
        "z": "bdbd06f2d55d48a6",
        "g": "873e2f613f37f464",
        "name": "Dynamic 2",
        "links": [],
        "x": 100,
        "y": 160,
        "wires": [
            [
                "7095a6612a81b3f3"
            ]
        ],
        "l": true
    },
    {
        "id": "567ddad4de3f76d2",
        "type": "comment",
        "z": "bdbd06f2d55d48a6",
        "name": "Home Battery Strategy",
        "info": "The `Home Battery Start` flow will call this strategy flow\nby matching the strategy name with the Link In name.\n\nConfigure the Link In node in the Start group.\n\nDon't modify other parts of the Start and End groups.\nThey handle the calling and returning for you.",
        "x": 120,
        "y": 40,
        "wires": []
    },
    {
        "id": "8de3c4b40457701d",
        "type": "comment",
        "z": "bdbd06f2d55d48a6",
        "g": "873e2f613f37f464",
        "name": "Start (readme)",
        "info": "# Setting up your battery strategy flow\n\n## Setup\nName the `Link In node` in this start group exactly after the <select> option configured in your\nselect_input.house_battery_strategy\n\nconfigure select options in:\ninput_select_house_battery_control.yaml\n\n### example\n`house_battery_strategy:\n  name: House Battery Strategy\n  options:\n    - AcmE example`\n\nThe above creates a select option, allowing user to select 'AcmE example'\n\nWhen selected, battery control will search for a flow containing a Link In node\ncalled 'AcmE example' (case sensitive).",
        "x": 110,
        "y": 120,
        "wires": []
    },
    {
        "id": "43b27b0b89b99948",
        "type": "link out",
        "z": "bdbd06f2d55d48a6",
        "g": "d00edbf2769626eb",
        "name": "Return",
        "mode": "return",
        "links": [],
        "x": 975,
        "y": 180,
        "wires": []
    },
    {
        "id": "4fb736509068cca7",
        "type": "comment",
        "z": "bdbd06f2d55d48a6",
        "g": "d00edbf2769626eb",
        "name": "End (readme)",
        "info": "Should return a solution_array of battery objects\n\n## battery object format\n`{{id: string|number, mode: string, power: number}} battery solution`\n- id is an arbitrary battery ID\n- mode is \"stop\", \"charge\", \"discharge\" for Marstek\n- power in Watts\n\n### example array\nreturn this type of solution_array via msg.solutions\n` \nlet solution_array = [];\nsolution_array.push({id:\"M1\", mode: \"charge\", power: 100}); // per battery\nreturn {solutions: solution_array};\n` ",
        "x": 1030,
        "y": 120,
        "wires": []
    },
    {
        "id": "879a5fa648a96042",
        "type": "debug",
        "z": "bdbd06f2d55d48a6",
        "g": "8fc7aed868d7a2df",
        "name": "Complete message",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1110,
        "y": 960,
        "wires": []
    },
    {
        "id": "8f528f8818641c87",
        "type": "function",
        "z": "bdbd06f2d55d48a6",
        "g": "8fc7aed868d7a2df",
        "name": "Determine dynamic strategy",
        "func": "// logger, usage: log(this, \"\");\nconst log = global.get('logger');\n\n// 1.  Input\nconst minDeltaCents = parseInt(RED.util.getMessageProperty(msg, \"dynamic.min_delta_cents\")) || 0;\n// Per-day caps on the number of LOW / HIGH marks, expressed in hours.\n// 0 (or missing/invalid/negative) means no limit.\nconst cheapestHrs = parseFloat(RED.util.getMessageProperty(msg, \"dynamic.cheapest_hrs\")) || 0;\nconst expensiveHrs = parseFloat(RED.util.getMessageProperty(msg, \"dynamic.expensive_hrs\")) || 0;\nconst dataAll = RED.util.getMessageProperty(msg, \"dynamic.data_all\");\n\nif (!dataAll || !Array.isArray(dataAll.list) || dataAll.list.length === 0) {\n    log(this, \"Price list missing or empty\", \"warn\");\n    node.status({ fill: \"red\", shape: \"ring\", text: \"No price data\" });\n    return null;\n}\n\nconst STRATEGY = {\n    HIGH: RED.util.getMessageProperty(msg, \"dynamic.strategy_expensive\") || \"Self-consumption\",\n    LOW: RED.util.getMessageProperty(msg, \"dynamic.strategy_cheapest\") || \"Charge\",\n    NEUTRAL: RED.util.getMessageProperty(msg, \"dynamic.strategy_default\") || \"Charge PV\",\n};\n\n// 2.  Build interval timestamps\n// Each datapoint covers (hours / datapoints) hours.\nconst prices = dataAll.list; // cents/kWh — already converted by \"Convert price\" node\nconst n = prices.length;\nconst startTime = new Date(dataAll.start);\nconst intervalMs = (dataAll.hours / dataAll.datapoints) * 3_600_000;\n\n// 3.  Mark intervals: pair extremes inward — independently per calendar day\n//\n// Pairing runs separately within each local calendar day, so today's marks\n// don't shift when tomorrow's prices arrive. Pair detection is one-to-one\n// (each candidate HIGH is matched against one candidate LOW), but the\n// per-day cheapest_hrs / expensive_hrs caps may suppress one side of a\n// detected pair — so the final marks can be asymmetric (e.g. 2 LOW + 1 HIGH\n// in a day if expensive_hrs caps HIGH at 1). The minDelta threshold\n// accounts for round-trip efficiency and other losses, so a pair is only\n// considered viable when its spread covers the loss.\n//\n// Method (Extreme-Pair Matching, O(n log n)):\n//   1. Sort intervals by price, keep original time-index for re-mapping.\n//   2. Two pointers walk inward from the extremes — `lo` from the cheapest\n//      unmatched, `hi` from the most-expensive unmatched.\n//   3. If the spread between them clears minDelta: mark them, advance both.\n//   4. If it does not clear minDelta: the cheapest unmatched LOW paired\n//      with the most-expensive unmatched HIGH yields the largest spread\n//      still achievable. If even that fails, no remaining pair can satisfy\n//      the threshold, so we stop.\n//\n// This algorithm prefers to mark the truly extreme\n// hours (highest-priced as HIGH, lowest-priced as LOW). On well-behaved\n// daily curves this produces the same number of pairs as \n// other algorithm variants; but in tight cases it can produce one or two fewer\n// pairs. Why choose this version? It marks the price peaks/troughs the user\n// would intuitively expect, which is good for user confidence and acceptance of the strategy. It is also efficient and straightforward to implement, without needing complex data structures or backtracking. \n// The main goal is to identify a set of HIGH and LOW intervals that are economically justified by their price spread, while keeping the logic transparent and explainable to the user.\n\n// Note:\n// It is up to the user to set minDelta appropriately for their system's efficiency and other costs, to ensure that marked cycles are truly beneficial.\n// Also the user can pick strategies that reflect their preferences for what to do during LOW and HIGH intervals, e.g. prioritising self-consumption during HIGH intervals, or selling back to the grid if allowed and profitable.\n// This makes optimisation flexible and user-configurable, while still being based on a clear economic rationale.\n// However, the algorithm does not attempt to find the optimal global pairing (which would be more complex), but rather a good local pairing that is computationally efficient and easy to understand.\n\n/**\n * @typedef {{ start: Date, end: Date, price: number, mark: 'high'|'low'|null, is_now: boolean }} Interval\n * @type {Interval[]}\n */\nconst intervals = new Array(n);\nfor (let i = 0; i < n; i++) {\n    const iStart = new Date(startTime.getTime() + i * intervalMs);\n    const iEnd = new Date(iStart.getTime() + intervalMs);\n    intervals[i] = { start: iStart, end: iEnd, price: prices[i], mark: null, is_now: false };\n}\n\n// Group interval indices by local calendar day (key = Y-M-D in local TZ).\nconst dayBuckets = new Map();\nfor (let i = 0; i < n; i++) {\n    const d = intervals[i].start;\n    const key = `${d.getFullYear()}-${d.getMonth()}-${d.getDate()}`;\n    let bucket = dayBuckets.get(key);\n    if (!bucket) { bucket = []; dayBuckets.set(key, bucket); }\n    bucket.push(i);\n}\n\n// Convert per-day hour caps to per-day interval counts.\n// intervalsPerHour = datapoints / hours (e.g. 4 for 15-min intervals).\n// 0 hrs => Infinity (no cap). Negatives are treated as 0 (no cap).\nconst intervalsPerHour = dataAll.datapoints / dataAll.hours;\nconst maxLowPerDay = cheapestHrs > 0 ? Math.round(cheapestHrs * intervalsPerHour) : Infinity;\nconst maxHighPerDay = expensiveHrs > 0 ? Math.round(expensiveHrs * intervalsPerHour) : Infinity;\n\n// Per dag de markeringen zetten.\nlet fullPairCount = 0;   // pairs where BOTH sides were marked (a complete cycle)\nlet lowMarkCount = 0;    // total LOW marks across all days\nlet highMarkCount = 0;   // total HIGH marks across all days\nfor (const dayIndices of dayBuckets.values()) {\n    // This day's indices sorted ascending by price (stable on ties).\n    const sortedIdx = [...dayIndices].sort((a, b) => prices[a] - prices[b]);\n    let lo = 0;\n    let hi = sortedIdx.length - 1;\n    let lowMarkedToday = 0;\n    let highMarkedToday = 0;\n    while (lo < hi) {\n        const loIdx = sortedIdx[lo];\n        const hiIdx = sortedIdx[hi];\n        if (prices[hiIdx] - prices[loIdx] >= minDeltaCents) {\n            const markLow = lowMarkedToday < maxLowPerDay;\n            const markHigh = highMarkedToday < maxHighPerDay;\n            // Both caps reached on this day — no more useful work here.\n            if (!markLow && !markHigh) break;\n            if (markLow) {\n                intervals[loIdx].mark = 'low';\n                lowMarkedToday++;\n                lowMarkCount++;\n            }\n            if (markHigh) {\n                intervals[hiIdx].mark = 'high';\n                highMarkedToday++;\n                highMarkCount++;\n            }\n            if (markLow && markHigh) fullPairCount++;\n            lo++; hi--;\n        } else {\n            // sortedIdx[lo] is the cheapest unmatched within this day,\n            // sortedIdx[hi] the most-expensive. Their spread is the largest\n            // still possible today — if it falls below minDelta, no further\n            // pair on this day can satisfy the threshold.\n            break;\n        }\n    }\n}\n\n// 4.  Determine current strategy\nconst now = new Date();\nconst currentInterval = intervals.find(iv => now >= iv.start && now < iv.end);\nif (currentInterval) currentInterval.is_now = true;\nconst currentMark = currentInterval ? currentInterval.mark : null;\n\nconst strategy =\n    currentMark === 'high' ? STRATEGY.HIGH :\n        currentMark === 'low' ? STRATEGY.LOW :\n            STRATEGY.NEUTRAL;\n\nconst strategyMark = \n    currentMark === 'high' ? 'Expensive' :\n        currentMark === 'low' ? 'Cheap' :\n            'Regular';\n\n\n// 5.  Store results\nRED.util.setMessageProperty(msg,\"dynamic.data_all.list_marked\",intervals,true);\nRED.util.setMessageProperty(msg, \"dynamic.data_all.mark_now\", strategyMark, true);\nRED.util.setMessageProperty(msg,\"dynamic.strategy\",strategy);\nflow.set(\"dynamic_strategy\", strategy); // this is the strategy executed when dynamic strategy is active, see the 'Execute' section of this flow.\n\n// 6.  Explain\n// Gross spread: sum over all marked intervals of (+price for HIGH, -price for LOW), in cents/kWh.\n//               With symmetric caps this equals the sum of (high - low) over paired cycles;\n//               with asymmetric caps it also includes unpaired single-side marks.\n// Net spread:   minus round-trip losses on complete cycles (one minDelta per full pair).\n//               Half-pairs (one side suppressed by a cap) incur no round-trip loss here.\nconst grossSpread = Math.round(intervals\n    .filter(iv => iv.mark !== null)\n    .reduce((sum, iv) => sum + (iv.mark === 'high' ? iv.price : -iv.price), 0));\nconst netSpread = grossSpread - fullPairCount * minDeltaCents;\nconst markedCount = lowMarkCount + highMarkCount;\n\nnode.status({\n    fill: \"blue\", shape: \"dot\",\n    text: `${strategy} | ${fullPairCount} cycle${fullPairCount === 1 ? '' : 's'} | net Σ${netSpread}¢`\n});\nlog(this, `Strategy: **${strategy}** | cycles=${fullPairCount} low=${lowMarkCount} high=${highMarkCount} unmarked=${n - markedCount} | gross=${grossSpread}¢ net=${netSpread}¢ minDelta=${minDeltaCents}¢ caps=L${cheapestHrs}h/H${expensiveHrs}h`);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 960,
        "wires": [
            [
                "879a5fa648a96042",
                "42645b4b52a54d26",
                "f06909c4d490b7cb"
            ]
        ]
    },
    {
        "id": "7614e6093f516aac",
        "type": "change",
        "z": "bdbd06f2d55d48a6",
        "g": "34203f6eaa61ae78",
        "name": "Set strategy",
        "rules": [
            {
                "t": "set",
                "p": "target",
                "pt": "msg",
                "to": "dynamic_strategy",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 200,
        "wires": [
            [
                "b7507e056facb520"
            ]
        ]
    },
    {
        "id": "f08a9396057e185e",
        "type": "link call",
        "z": "bdbd06f2d55d48a6",
        "g": "34203f6eaa61ae78",
        "name": "Sub-strategy",
        "links": [],
        "linkType": "dynamic",
        "timeout": "3",
        "x": 810,
        "y": 180,
        "wires": [
            [
                "43b27b0b89b99948"
            ]
        ]
    },
    {
        "id": "7cb5691033c9501e",
        "type": "inject",
        "z": "bdbd06f2d55d48a6",
        "g": "98098c51fcd3210a",
        "name": "Clear cache",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "00 15 * * *",
        "once": false,
        "onceDelay": "3",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 370,
        "y": 420,
        "wires": [
            [
                "af002e6d0cf16c34"
            ]
        ]
    },
    {
        "id": "7a710742d8c7867c",
        "type": "switch",
        "z": "bdbd06f2d55d48a6",
        "g": "34203f6eaa61ae78",
        "name": "Has strategy",
        "property": "dynamic_strategy",
        "propertyType": "flow",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 330,
        "y": 180,
        "wires": [
            [
                "666e85cfef2b647a"
            ],
            [
                "7614e6093f516aac"
            ]
        ]
    },
    {
        "id": "666e85cfef2b647a",
        "type": "change",
        "z": "bdbd06f2d55d48a6",
        "g": "34203f6eaa61ae78",
        "name": "Set Full stop",
        "rules": [
            {
                "t": "set",
                "p": "target",
                "pt": "msg",
                "to": "Full stop",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 160,
        "wires": [
            [
                "b7507e056facb520"
            ]
        ]
    },
    {
        "id": "cd236d4dba4e11d8",
        "type": "inject",
        "z": "bdbd06f2d55d48a6",
        "g": "82621ba0d05390fa",
        "name": "Test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 330,
        "y": 1520,
        "wires": [
            [
                "9d556635f0e1519a"
            ]
        ]
    },
    {
        "id": "9d556635f0e1519a",
        "type": "api-render-template",
        "z": "bdbd06f2d55d48a6",
        "g": "82621ba0d05390fa",
        "name": "Cheapest",
        "server": "176d29a.6f648d6",
        "version": 0,
        "template": "{% from 'cheapest_energy_hours.jinja' import cheapest_energy_hours %}\n{{ cheapest_energy_hours(\n    sensor=\"sensor.zonneplan_current_electricity_tariff\",\n    source_settings=\"zonneplan\",\n    hours=1,\n    mode=\"all\"\n) | to_json }}",
        "resultsLocation": "cheapest",
        "resultsLocationType": "msg",
        "templateLocation": "",
        "templateLocationType": "none",
        "x": 500,
        "y": 1520,
        "wires": [
            [
                "93a203c1ebfe3f98"
            ]
        ]
    },
    {
        "id": "93a203c1ebfe3f98",
        "type": "json",
        "z": "bdbd06f2d55d48a6",
        "g": "82621ba0d05390fa",
        "name": "",
        "property": "cheapest",
        "action": "obj",
        "pretty": false,
        "x": 595,
        "y": 1520,
        "wires": [
            [
                "14bf22f0d2c3abd1"
            ]
        ],
        "l": false
    },
    {
        "id": "14bf22f0d2c3abd1",
        "type": "api-render-template",
        "z": "bdbd06f2d55d48a6",
        "g": "82621ba0d05390fa",
        "name": "Expensive",
        "server": "176d29a.6f648d6",
        "version": 0,
        "template": "{% from 'cheapest_energy_hours.jinja' import cheapest_energy_hours %}\n{{ cheapest_energy_hours(\n    sensor=\"sensor.zonneplan_current_electricity_tariff\",\n    source_settings=\"zonneplan\",\n    lowest=false,\n    hours=1,\n    mode=\"all\"\n) | to_json }}",
        "resultsLocation": "expensive",
        "resultsLocationType": "msg",
        "templateLocation": "",
        "templateLocationType": "none",
        "x": 750,
        "y": 1520,
        "wires": [
            [
                "5b05f30c091ca096"
            ]
        ]
    },
    {
        "id": "5b05f30c091ca096",
        "type": "json",
        "z": "bdbd06f2d55d48a6",
        "g": "82621ba0d05390fa",
        "name": "",
        "property": "expensive",
        "action": "obj",
        "pretty": false,
        "x": 855,
        "y": 1520,
        "wires": [
            [
                "2772d194dd5f5c85",
                "68a936f6bc73db20",
                "b9ea4de355537694"
            ]
        ],
        "l": false
    },
    {
        "id": "2772d194dd5f5c85",
        "type": "debug",
        "z": "bdbd06f2d55d48a6",
        "g": "82621ba0d05390fa",
        "name": "Cheap",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "cheapest.start",
        "targetType": "msg",
        "statusVal": "cheapest.start",
        "statusType": "auto",
        "x": 990,
        "y": 1560,
        "wires": []
    },
    {
        "id": "68a936f6bc73db20",
        "type": "debug",
        "z": "bdbd06f2d55d48a6",
        "g": "82621ba0d05390fa",
        "name": "Expensive",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "expensive.start",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1010,
        "y": 1600,
        "wires": []
    },
    {
        "id": "7c2cfb2293191ddc",
        "type": "api-render-template",
        "z": "bdbd06f2d55d48a6",
        "g": "09c5fddd190cd4b0",
        "name": "All Zonneplan",
        "server": "176d29a.6f648d6",
        "version": 0,
        "template": "{% from 'cheapest_energy_hours.jinja' import cheapest_energy_hours %}\n{{ cheapest_energy_hours(\n    sensor=\"sensor.zonneplan_current_electricity_tariff\",\n    source_settings=\"zonneplan\",\n    include_tomorrow=true,\n    hours=\"all\",\n    mode=\"all\"\n) | to_json }}",
        "resultsLocation": "all_data",
        "resultsLocationType": "msg",
        "templateLocation": "",
        "templateLocationType": "none",
        "x": 480,
        "y": 1700,
        "wires": [
            [
                "9e960fe47d74698d"
            ]
        ]
    },
    {
        "id": "2c20b2cc3d851939",
        "type": "inject",
        "z": "bdbd06f2d55d48a6",
        "g": "09c5fddd190cd4b0",
        "name": "Fetch",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 330,
        "y": 1700,
        "wires": [
            [
                "7c2cfb2293191ddc"
            ]
        ]
    },
    {
        "id": "9e960fe47d74698d",
        "type": "json",
        "z": "bdbd06f2d55d48a6",
        "g": "09c5fddd190cd4b0",
        "name": "",
        "property": "all_data",
        "action": "obj",
        "pretty": false,
        "x": 595,
        "y": 1700,
        "wires": [
            [
                "3f634413e8fbadf6",
                "e41cfbaa1ada19b6"
            ]
        ],
        "l": false
    },
    {
        "id": "af002e6d0cf16c34",
        "type": "delay",
        "z": "bdbd06f2d55d48a6",
        "g": "98098c51fcd3210a",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 540,
        "y": 420,
        "wires": [
            [
                "74c2178d55d06602"
            ]
        ]
    },
    {
        "id": "b632269687e7f5d5",
        "type": "api-current-state",
        "z": "bdbd06f2d55d48a6",
        "g": "98098c51fcd3210a",
        "name": "Source",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_select.house_battery_strategy_dynamic_data_source",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "dynamic.data_source",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 980,
        "y": 380,
        "wires": [
            [
                "445ffc9ded3a2691"
            ]
        ]
    },
    {
        "id": "867b42a173862517",
        "type": "function",
        "z": "bdbd06f2d55d48a6",
        "g": "e8f5ca6298baa1a5",
        "name": "Data source settings",
        "func": "// logger, usage: log(this, \"\");\nconst log = global.get('logger');\n\n/*    From cheapes-energy-hours macro\n      See: https://github.com/TheFes/cheapest-energy-hours/blob/main/documentation/1-source_data.md#data-provider-settings\n\n      - None (default selection)\n      - Zonneplan\n      - Amber Electric\n      - EasyEnergy, EnergyZero (core)\n      - ENTSO-E\n      - Frank Energie\n      - GE-Spot\n      - Tibber, Nordpool (core)\n      - Tibber (custom)\n      - Nordpool (custom)\n      - PVPC (Spain)\n      - Octopus Energy\n      - Omie\n*/\n\nswitch (msg.dynamic.data_source) {\n      case \"None\":\n            // Handle the 'None' case (e.g., no supplier selected or data is unavailable)\n            log(this,\"No data source selected.\");\n            // Add config here...\n            break;\n\n      case \"Zonneplan\":\n            // Code for Zonneplan (a Dutch energy supplier)\n            log(this,\"Processing Zonneplan data.\");\n            // Add config here...\n            msg.dynamic.sensor='sensor.zonneplan_current_electricity_tariff'; // when using: https://github.com/fsaris/home-assistant-zonneplan-one\n            msg.dynamic.source_settings='zonneplan'\n            // msg.dynamic.attr_all='forecast';\n            // msg.dynamic.value_key='electricity_price';\n            msg.dynamic.value_conversion = 10000000; // whole currency / kWh\n            break;\n\n      case \"Amber Electric\":\n            // Code for Amber Electric (Australian energy retailer)\n            log(this,\"Processing Amber Electric data.\");\n            // Add config here...\n            msg.dynamic.attr_all='forecasts'; \n            msg.dynamic.time_key='start_time'; \n            msg.dynamic.value_key='per_kwh';\n            break;\n\n      case \"EasyEnergy, EnergyZero (core)\":\n            // Code for EasyEnergy and EnergyZero (core/default implementation)\n            log(this,\"Processing EasyEnergy/EnergyZero core data.\");\n            // Add config here...\n            break;\n\n      case \"ENTSO-E\":\n            // Code for ENTSO-E (European Network of Transmission System Operators for Electricity)\n            log(this,\"Processing ENTSO-E data.\");\n            // Add config here...\n            msg.dynamic.attr_today='prices_today'; \n            msg.dynamic.attr_tomorrow='prices_tomorrow'; \n            msg.dynamic.time_key='time';\n            msg.dynamic.value_key='price';\n            break;\n\n      case \"Frank Energie\":\n            // Code for Frank Energie (Dutch energy supplier)\n            log(this,\"Processing Frank Energie data.\");\n            // Add config here...\n            msg.dynamic.sensor = 'sensor.frank_energie_prijzen_gemiddelde_elektriciteitsprijs_alle_uren_all_in'; // when using: https://github.com/HiDiHo01/home-assistant-frank_energie\n            msg.dynamic.attr_all = 'prices'; \n            msg.dynamic.time_key = 'from'; \n            msg.dynamic.value_key = 'price';\n            break;\n\n      case \"GE-Spot\":\n            // Code for GE-Spot (Global Electric Spot price)\n            log(this,\"Processing GE-Spot data.\");\n            // Add config here...\n            msg.dynamic.attr_today = 'today_hourly_prices'; // using the hourly version. today_interval_prices is per 15 mins\n            msg.dynamic.attr_tomorrow = 'tomorrow_hourly_prices'; // using the hourly version\n            msg.dynamic.time_key = 'time'; \n            msg.dynamic.value_key = 'value';\n            break;\n\n      case \"Nordpool (core)\":\n            // Code for Nordpool (core/default implementation)\n            log(this, \"Processing Nordpool core data.\");\n            // Add config here...\n            msg.dynamic.sensor = 'sensor.nordpool_ceh_prices';\n            msg.dynamic.attr_today = 'today';\n            msg.dynamic.attr_tomorrow = 'tomorrow';\n            msg.dynamic.time_key = 'start';\n            msg.dynamic.value_key = 'value';\n            msg.dynamic.datetime_in_data = true; // datetime is in the data\n            break;\n\n      case \"Tibber (core)\":\n            // Code for Tibber (core/default implementation)\n            log(this,\"Processing Tibber core data.\");\n            // Add config here...\n            msg.dynamic.sensor = 'sensor.tibber_ceh_prices';\n            msg.dynamic.attr_today = 'today';\n            msg.dynamic.attr_tomorrow = 'tomorrow';\n            msg.dynamic.time_key = 'start';\n            msg.dynamic.value_key = 'value';\n            msg.dynamic.datetime_in_data = true; // datetime is in the data\n            break;\n\n      case \"Tibber (custom)\":\n            // Code for a custom Tibber setup/configuration\n            log(this,\"Processing Tibber custom data.\");\n            // Add config here...\n            msg.dynamic.attr_today = 'today';\n            msg.dynamic.attr_tomorrow = 'tomorrow';\n            msg.dynamic.datetime_in_data = false;\n            break;\n\n      case \"Nordpool (custom)\":\n            // Code for a custom Nordpool setup/configuration\n            log(this,\"Processing Nordpool custom data.\");\n            // Add config here...\n            break;\n\n      case \"PVPC (Spain)\":\n            // Code for PVPC (Voluntary Price for Small Consumers in Spain)\n            log(this,\"Processing Spanish PVPC data.\");\n            // Add config here...\n            break;\n\n      case \"Octopus Energy\":\n            // Code for Octopus Energy (UK/international energy supplier)\n            log(this,\"Processing Octopus Energy data.\");\n            // Add config here...\n            msg.dynamic.attr_all = 'rates'; \n            msg.dynamic.value_key = 'value_incl_vat';\n            break;\n\n      case \"Omie\":\n            // Code for Omie (Iberian Energy Market Operator)\n            log(this,\"Processing Omie data.\");\n            // Add config here...\n            break;\n\n      default:\n            // Code to execute if the supplier does not match any of the above cases\n            node.warn(`Unknown supplier: ${msg.dynamic.data_source}. Using default logic.`);\n            log(this,`Unknown supplier: ${msg.dynamic.data_source}. Using default logic.`);\n            // Add default error handling...\n}\n\nlog(this, \"Performing API calls...\");\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 600,
        "wires": [
            [
                "afe8960d93c21e2f"
            ]
        ]
    },
    {
        "id": "137343108443b1f1",
        "type": "inject",
        "z": "bdbd06f2d55d48a6",
        "g": "98098c51fcd3210a",
        "name": "Update strat",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "*/15 0-23 * * *",
        "once": true,
        "onceDelay": "3",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 380,
        "y": 380,
        "wires": [
            [
                "5d02cf12e178fdc6"
            ]
        ]
    },
    {
        "id": "3b0a9286b7d26aae",
        "type": "function",
        "z": "bdbd06f2d55d48a6",
        "g": "98098c51fcd3210a",
        "name": "Init",
        "func": "if(msg.payload !== \"Dynamic 2\") {\n    node.status({fill:\"red\",shape:\"ring\",text:\"Strategy not selected\"});\n    return null;\n}\nnode.status({fill:\"green\",shape:\"dot\",text:\"Ok\"});\n\n// Init\nmsg.dynamic = {};\nmsg.log = [];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 360,
        "wires": [
            [
                "b632269687e7f5d5"
            ]
        ]
    },
    {
        "id": "afe8960d93c21e2f",
        "type": "function",
        "z": "bdbd06f2d55d48a6",
        "g": "e8f5ca6298baa1a5",
        "name": "Generate templates",
        "func": "// final template initialization\nmsg.dynamic.template_all = \"\";\n\n// temporary template parts\nlet template_start = \"\";\nlet template_common = [];\nlet template_all = [];\nlet template_end = \"\";\n\n// load the macro\ntemplate_start = `{% from 'cheapest_energy_hours.jinja' import cheapest_energy_hours %}\n{{ cheapest_energy_hours(\n`;\ntemplate_end = `) | to_json }}`;\n\n// collect arguments | strings\nconst stringKeys = [\n    'sensor',\n    'attr_all',\n    'value_key',\n    'attr_today',\n    'attr_tomorrow',\n    'time_key',\n    'source_settings'\n];\n\nstringKeys.forEach(key => {\n    if (msg.dynamic[key] !== undefined) {\n        template_common.push(`${key}='${msg.dynamic[key]}'`);\n    }\n});\n\n// collect arguments | boolean, integer\nconst otherKeys = [\n    'datetime_in_data',\n    'data_minutes',\n];\n\notherKeys.forEach(key => {\n    if (msg.dynamic[key] !== undefined) {\n        template_common.push(`${key}=${msg.dynamic[key]}`);\n    }\n});\n\n// copy common items\ntemplate_all = [...template_common];\n\n// collect all hours | via extra call\ntemplate_all.push(`hours=\"all\"`);\ntemplate_all.push(`include_tomorrow=true`);\ntemplate_all.push(`mode=\"all\"`);\n\n/**\n * Formats an array of strings into a single string:\n * - Each item starts with 4 spaces.\n * - Each item ends with a comma, except the last one.\n * - Items are separated by a newline.\n */\nfunction formatTemplateArray(array) {\n    if (!array || array.length === 0) {\n        return \"\";\n    }\n\n    const indent = \"    \"; \n\n    const formatted_lines = array.map((element, index) => {\n        const suffix = (index < array.length - 1) ? \",\" : \"\";\n        return `${indent}${element}${suffix}`;\n    });\n\n    return formatted_lines.join('\\n');\n}\n\n// generate string templates\nconst template_all_string = formatTemplateArray(template_all);\n\n// done\nmsg.dynamic.template_all = `${template_start}${template_all_string}${template_end}`;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 600,
        "wires": [
            [
                "c22f8847fc131f70",
                "c2c3cf5fb2cae520"
            ]
        ]
    },
    {
        "id": "f8cf685e5813563c",
        "type": "change",
        "z": "bdbd06f2d55d48a6",
        "g": "e8f5ca6298baa1a5",
        "name": "Cleanup",
        "rules": [
            {
                "t": "delete",
                "p": "template",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 720,
        "wires": [
            [
                "fb8d043c23a5bd82"
            ]
        ]
    },
    {
        "id": "42645b4b52a54d26",
        "type": "debug",
        "z": "bdbd06f2d55d48a6",
        "g": "8fc7aed868d7a2df",
        "name": "Log: activate 'debug mode' first",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "log",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1150,
        "y": 1000,
        "wires": []
    },
    {
        "id": "e57dc61a891889be",
        "type": "server-state-changed",
        "z": "bdbd06f2d55d48a6",
        "g": "98098c51fcd3210a",
        "name": "User input",
        "server": "176d29a.6f648d6",
        "version": 6,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "input_number.house_battery_strategy_dynamic_cheapest_hrs",
                "input_number.house_battery_strategy_dynamic_expensive_hrs",
                "input_select.house_battery_strategy_dynamic_data_source",
                "input_number.house_battery_strategy_dynamic_threshold_delta",
                "input_number.house_battery_strategy_dynamic_threshold_cheapest_period",
                "input_select.house_battery_strategy"
            ],
            "substring": [],
            "regex": []
        },
        "outputInitially": false,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 360,
        "y": 340,
        "wires": [
            [
                "92d1f09dfed473c4"
            ]
        ]
    },
    {
        "id": "445ffc9ded3a2691",
        "type": "switch",
        "z": "bdbd06f2d55d48a6",
        "g": "98098c51fcd3210a",
        "name": "Source selected?",
        "property": "dynamic.data_source",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "None",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1085,
        "y": 380,
        "wires": [
            [
                "59ecc77acbd9cafa"
            ],
            [
                "ca2b745599f1156d"
            ]
        ],
        "l": false
    },
    {
        "id": "518c61dc242c6356",
        "type": "debug",
        "z": "bdbd06f2d55d48a6",
        "g": "98098c51fcd3210a",
        "name": "Not set",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "counter",
        "x": 1480,
        "y": 340,
        "wires": []
    },
    {
        "id": "59ecc77acbd9cafa",
        "type": "change",
        "z": "bdbd06f2d55d48a6",
        "g": "98098c51fcd3210a",
        "name": "Set dynamic strategy to null",
        "rules": [
            {
                "t": "set",
                "p": "dynamic_strategy",
                "pt": "flow",
                "to": "null",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1280,
        "y": 340,
        "wires": [
            [
                "518c61dc242c6356"
            ]
        ]
    },
    {
        "id": "3f634413e8fbadf6",
        "type": "debug",
        "z": "bdbd06f2d55d48a6",
        "g": "09c5fddd190cd4b0",
        "name": "All data",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "all_data",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 1700,
        "wires": []
    },
    {
        "id": "b9ea4de355537694",
        "type": "debug",
        "z": "bdbd06f2d55d48a6",
        "g": "82621ba0d05390fa",
        "name": "Complete msg",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 1520,
        "wires": []
    },
    {
        "id": "7095a6612a81b3f3",
        "type": "change",
        "z": "bdbd06f2d55d48a6",
        "g": "873e2f613f37f464",
        "name": "Trace",
        "rules": [
            {
                "t": "set",
                "p": "strategy.trace",
                "pt": "msg",
                "to": "[\t   strategy.trace,\t   {\t       \"flow\": target,\t       \"flow_settings\": advanced_settings,\t       \"timestamp\": $now()\t   } \t]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 90,
        "y": 200,
        "wires": [
            [
                "7a710742d8c7867c"
            ]
        ],
        "info": "Attaches a breadcrumb trace to the msg\r\nso the user can reconstruct which route has\r\nbeen traveled"
    },
    {
        "id": "b7507e056facb520",
        "type": "function",
        "z": "bdbd06f2d55d48a6",
        "g": "34203f6eaa61ae78",
        "name": "Selected",
        "func": "// Logger\nconst log = global.get(\"logger\");\nlog(this,`${msg.target} strategy`);\n\n// Status\nnode.status({fill:\"green\",shape:\"dot\",text:`${msg.target}`});\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 180,
        "wires": [
            [
                "f08a9396057e185e"
            ]
        ]
    },
    {
        "id": "35b26d7b468f1fd0",
        "type": "catch",
        "z": "bdbd06f2d55d48a6",
        "g": "803d76ec23ced7d9",
        "name": "",
        "scope": null,
        "uncaught": true,
        "x": 65,
        "y": 320,
        "wires": [
            [
                "ebc24bfe05743d79"
            ]
        ],
        "l": false
    },
    {
        "id": "ebc24bfe05743d79",
        "type": "function",
        "z": "bdbd06f2d55d48a6",
        "g": "803d76ec23ced7d9",
        "name": "Unhandled Exception",
        "func": "// Log unhandled exception\nconst handle = global.get('unhandledException');\nif(handle) handle(this);\n\n// Check origin of msg execution\nif (msg._linkSource) {\n    return msg; // Origin: some other flow\n} else {\n    return null; // Origin: this flow. Stop to prevent 'Missing return' warning\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 115,
        "y": 320,
        "wires": [
            [
                "9f62f6c89cea7330"
            ]
        ],
        "l": false
    },
    {
        "id": "9f62f6c89cea7330",
        "type": "link out",
        "z": "bdbd06f2d55d48a6",
        "g": "803d76ec23ced7d9",
        "name": "link out 5",
        "mode": "return",
        "links": [],
        "x": 165,
        "y": 320,
        "wires": []
    },
    {
        "id": "552943cb3f64b6e0",
        "type": "api-current-state",
        "z": "bdbd06f2d55d48a6",
        "g": "8fc7aed868d7a2df",
        "name": "Strategy default",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_select.house_battery_strategy_dynamic_default",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "dynamic.strategy_default",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 360,
        "y": 880,
        "wires": [
            [
                "4f5debe1069a0d4e"
            ]
        ]
    },
    {
        "id": "4f5debe1069a0d4e",
        "type": "api-current-state",
        "z": "bdbd06f2d55d48a6",
        "g": "8fc7aed868d7a2df",
        "name": "Strategy cheapest",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_select.house_battery_strategy_dynamic_cheapest",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "dynamic.strategy_cheapest",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 370,
        "y": 920,
        "wires": [
            [
                "61692dbfbc36591e"
            ]
        ]
    },
    {
        "id": "61692dbfbc36591e",
        "type": "api-current-state",
        "z": "bdbd06f2d55d48a6",
        "g": "8fc7aed868d7a2df",
        "name": "Strategy expensive",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_select.house_battery_strategy_dynamic_expensive",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "dynamic.strategy_expensive",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 370,
        "y": 960,
        "wires": [
            [
                "d10758a4c021c27f"
            ]
        ]
    },
    {
        "id": "fb8d043c23a5bd82",
        "type": "function",
        "z": "bdbd06f2d55d48a6",
        "g": "e8f5ca6298baa1a5",
        "name": "Cache data source",
        "func": "// logger, usage: log(this, \"\");\nconst log = global.get('logger');\n\nconst dynamicData = msg.dynamic;\n\n// Helper to check for errors in the object\nconst isInvalid = (data) => {\n    if (!data) return true;\n    // Check if the stringified object contains \"error\"\n    return JSON.stringify(data).toLowerCase().includes(\"error\");\n};\n\nif (isInvalid(dynamicData)) {\n    // Explain issue\n    log(this, \"Invalid data received, clearing cache\", \"warn\");\n    // Clear cache\n    flow.set(\"cached_dynamic_data\", undefined);\n} else {\n    // Cache on success\n    log(this, \"Caching `msg.dynamic`\");\n    // Save the entire object to flow context\n    flow.set(\"cached_dynamic_data\", dynamicData);\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 720,
        "wires": [
            [
                "8cc1926a29fedf7b"
            ]
        ]
    },
    {
        "id": "b42490650e9c334e",
        "type": "catch",
        "z": "bdbd06f2d55d48a6",
        "g": "29a32a7ec3fb9dfa",
        "name": "Catch group",
        "scope": "group",
        "uncaught": false,
        "x": 1090,
        "y": 580,
        "wires": [
            [
                "8c41d911472df3f4"
            ]
        ]
    },
    {
        "id": "0665029a9d16fd83",
        "type": "debug",
        "z": "bdbd06f2d55d48a6",
        "g": "29a32a7ec3fb9dfa",
        "name": "Strategy errors",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1320,
        "y": 580,
        "wires": []
    },
    {
        "id": "c640a2f5df5666cf",
        "type": "comment",
        "z": "bdbd06f2d55d48a6",
        "g": "29a32a7ec3fb9dfa",
        "name": "Cheapest Energy Hours - errors",
        "info": "\"No valid sensor found\" if price_data is none and not valid_sensor,\n\"No valid data in {}\".format(sensor) if price_data is none and data == [] and valid_sensor,\n\"No valid data in provided price_data\" if price_data is not none and not valid_price_data,\n\"Time key '{}' not found in data\".format(time_key) if data and time_key not in data[0],\n\"Value key '{}' not found in data\".format(value_key) if data and value_key not in data[0],\n\"Invalid mode '{}' selected\".format(mode) if mode not in modes,\n\"Boolean input expected for include_today, '{}' can not be processed as a boolean\".format(include_today) if include_today | bool(\"\") is not boolean,\n\"Boolean input expected for include_tomorrow, '{}' can not be processed as a boolean\".format(include_tomorrow) if include_tomorrow | bool(\"\") is not boolean,\n\"Boolean input expected for look_ahead, '{}' can not be processed as a boolean\".format(look_ahead) if look_ahead | bool(\"\") is not boolean,\n\"Boolean input expected for lowest, '{}' can not be processed as a boolean\".format(lowest) if lowest | bool(\"\") is not boolean,\n\"Boolean input expected for latest_possible, '{}' can not be processed as a boolean\".format(latest_possible) if latest_possible | bool(\"\") is not boolean,\n\"Numeric input or percentage expected for price_tolerance, '{}' can not be processed as a float or percentage\".format(price_tolerance) if not valid_pt,\n\"Numeric input expected for kwh, '{}' can not be processed as a float\".format(kwh) if kwh is not none and not kwh | is_number,\n\"Selected program '{}' is not available or has no data\".format(program) if program is not none and w is none,\n\"Selected start parameter is after the end parameter\" if start_end and data,\n\"{} hours between start and end, where {} hours are required\".format(end_start, h | round(3)) if not start_end and end_start < h | round(3) and data,\n\"Invalid combination of source data points per hour '{}' and number of weight points '{}'\".format(dp, dph) if all_keys and not wp_check",
        "x": 1150,
        "y": 540,
        "wires": []
    },
    {
        "id": "8c41d911472df3f4",
        "type": "function",
        "z": "bdbd06f2d55d48a6",
        "g": "29a32a7ec3fb9dfa",
        "name": "Unhandled Exception",
        "func": "const handle = global.get('unhandledException');\n\nhandle(this);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1195,
        "y": 580,
        "wires": [
            [
                "0665029a9d16fd83"
            ]
        ],
        "l": false
    },
    {
        "id": "ca2b745599f1156d",
        "type": "function",
        "z": "bdbd06f2d55d48a6",
        "g": "98098c51fcd3210a",
        "name": "Cache check",
        "func": "// Check if cache can be used or a new call to Data Source is required\nconst log = global.get('logger');\n\n// Retrieve stored data from flow context\nconst cachedData = flow.get(\"cached_dynamic_data\");\n\n// Determine cache hit\nif (cachedData){\n    // Cache HIT\n    node.status({ fill: \"green\", shape: \"dot\", text: `Cache hit` });\n    log(this,`*CACHE HIT* using stored tariff data`);\n\n    // Attach cached data to the message so following nodes can use it\n    msg.dynamic = cachedData;\n\n    // Output #1\n    return [msg, null];\n\n} else {\n    // Cache MISS\n    node.status({ fill: \"green\", shape: \"ring\", text: `Cache miss }` });\n\n    // Output #2\n    return [null, msg];\n}",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1230,
        "y": 420,
        "wires": [
            [
                "ac194de56255d6a6"
            ],
            [
                "6b97322874ecbef1"
            ]
        ],
        "outputLabels": [
            "Cache HIT",
            "Cache MISS"
        ]
    },
    {
        "id": "ac194de56255d6a6",
        "type": "link out",
        "z": "bdbd06f2d55d48a6",
        "g": "98098c51fcd3210a",
        "name": "from Cache Check ok",
        "mode": "link",
        "links": [
            "baef7c9ef1d76dec"
        ],
        "x": 1335,
        "y": 400,
        "wires": []
    },
    {
        "id": "f450d9d3e2bddd44",
        "type": "link in",
        "z": "bdbd06f2d55d48a6",
        "g": "e8f5ca6298baa1a5",
        "name": "link Fetch from Data Source",
        "links": [
            "6b97322874ecbef1"
        ],
        "x": 295,
        "y": 560,
        "wires": [
            [
                "867b42a173862517"
            ]
        ]
    },
    {
        "id": "6b97322874ecbef1",
        "type": "link out",
        "z": "bdbd06f2d55d48a6",
        "g": "98098c51fcd3210a",
        "name": "from Cache Check NoK",
        "mode": "link",
        "links": [
            "f450d9d3e2bddd44"
        ],
        "x": 1335,
        "y": 440,
        "wires": []
    },
    {
        "id": "baef7c9ef1d76dec",
        "type": "link in",
        "z": "bdbd06f2d55d48a6",
        "g": "8fc7aed868d7a2df",
        "name": "link Determine Strategy",
        "links": [
            "8cc1926a29fedf7b",
            "ac194de56255d6a6"
        ],
        "x": 295,
        "y": 840,
        "wires": [
            [
                "552943cb3f64b6e0"
            ]
        ]
    },
    {
        "id": "8cc1926a29fedf7b",
        "type": "link out",
        "z": "bdbd06f2d55d48a6",
        "g": "e8f5ca6298baa1a5",
        "name": "link out 12",
        "mode": "link",
        "links": [
            "baef7c9ef1d76dec"
        ],
        "x": 635,
        "y": 720,
        "wires": []
    },
    {
        "id": "74c2178d55d06602",
        "type": "function",
        "z": "bdbd06f2d55d48a6",
        "g": "98098c51fcd3210a",
        "name": "Clear Cache",
        "func": "// Clear cache\nflow.set(\"cached_dynamic_data\", undefined);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 635,
        "y": 420,
        "wires": [
            [
                "5d02cf12e178fdc6"
            ]
        ],
        "l": false
    },
    {
        "id": "e41cfbaa1ada19b6",
        "type": "ha-fire-event",
        "z": "bdbd06f2d55d48a6",
        "g": "09c5fddd190cd4b0",
        "name": "",
        "server": "176d29a.6f648d6",
        "version": 0,
        "event": "update_energy_prices",
        "data": "msg.all_data",
        "dataType": "jsonata",
        "x": 760,
        "y": 1760,
        "wires": [
            []
        ]
    },
    {
        "id": "7d3f1b43daee6193",
        "type": "api-render-template",
        "z": "bdbd06f2d55d48a6",
        "g": "e8f5ca6298baa1a5",
        "name": "All",
        "server": "176d29a.6f648d6",
        "version": 0,
        "template": "",
        "resultsLocation": "dynamic.data_all",
        "resultsLocationType": "msg",
        "templateLocation": "",
        "templateLocationType": "none",
        "x": 450,
        "y": 660,
        "wires": [
            [
                "9e5d04478eeac327"
            ]
        ]
    },
    {
        "id": "9e5d04478eeac327",
        "type": "json",
        "z": "bdbd06f2d55d48a6",
        "g": "e8f5ca6298baa1a5",
        "name": "",
        "property": "dynamic.data_all",
        "action": "obj",
        "pretty": false,
        "x": 535,
        "y": 660,
        "wires": [
            [
                "182e4d75a4c9dbba"
            ]
        ],
        "l": false
    },
    {
        "id": "c2c3cf5fb2cae520",
        "type": "change",
        "z": "bdbd06f2d55d48a6",
        "g": "e8f5ca6298baa1a5",
        "name": "Set",
        "rules": [
            {
                "t": "set",
                "p": "template",
                "pt": "msg",
                "to": "dynamic.template_all",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 660,
        "wires": [
            [
                "7d3f1b43daee6193"
            ]
        ]
    },
    {
        "id": "f06909c4d490b7cb",
        "type": "ha-fire-event",
        "z": "bdbd06f2d55d48a6",
        "g": "8fc7aed868d7a2df",
        "name": "Update energy prices",
        "server": "176d29a.6f648d6",
        "version": 0,
        "event": "update_energy_prices",
        "data": "msg.dynamic.data_all",
        "dataType": "jsonata",
        "x": 1120,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "c22f8847fc131f70",
        "type": "debug",
        "z": "bdbd06f2d55d48a6",
        "g": "e8f5ca6298baa1a5",
        "name": "Template all",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "dynamic.template_all",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 600,
        "wires": []
    },
    {
        "id": "182e4d75a4c9dbba",
        "type": "function",
        "z": "bdbd06f2d55d48a6",
        "g": "e8f5ca6298baa1a5",
        "name": "Convert price",
        "func": "// logger, usage: log(this, \"\");\nconst log = global.get('logger');\n\n// Conversion\nconst CONVERSION_RATE = parseFloat(RED.util.getMessageProperty(msg, \"dynamic.value_conversion\")) || 1;\n\n// Check if the list exists and is an array to prevent errors\nif (msg.dynamic && msg.dynamic.data_all && Array.isArray(msg.dynamic.data_all.list)) {\n    \n    // Create a new array where each value is multiplied\n    if (Array.isArray(msg.dynamic.data_all?.list)) {\n        msg.dynamic.data_all.list = msg.dynamic.data_all.list.map(v => v / CONVERSION_RATE * 100); // cents\n    }\n\n    // Update other fields\n    if (msg.dynamic.data_all?.average) {\n        msg.dynamic.data_all.average = parseInt(msg.dynamic.data_all.average / CONVERSION_RATE * 100); // cents\n    }\n    if (msg.dynamic.data_all?.weighted_average){\n        msg.dynamic.data_all.weighted_average = parseInt(msg.dynamic.data_all.weighted_average / CONVERSION_RATE * 100); // cents\n    }\n    if (msg.dynamic.data_all?.min) {\n        msg.dynamic.data_all.min = parseInt(msg.dynamic.data_all.min / CONVERSION_RATE * 100); // cents\n    }\n    if (msg.dynamic.data_all?.max) {\n        msg.dynamic.data_all.max = parseInt(msg.dynamic.data_all.max / CONVERSION_RATE * 100); // cents\n    }\n} else {\n    // Do not continue\n    log(this,\"*price data not updated* price data missing\");\n    return null;\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 660,
        "wires": [
            [
                "f8cf685e5813563c"
            ]
        ]
    },
    {
        "id": "fb939e165ae91ee7",
        "type": "inject",
        "z": "bdbd06f2d55d48a6",
        "g": "98098c51fcd3210a",
        "name": "Test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 410,
        "y": 460,
        "wires": [
            [
                "c746a4e3cead6f4e"
            ]
        ]
    },
    {
        "id": "c746a4e3cead6f4e",
        "type": "api-call-service",
        "z": "bdbd06f2d55d48a6",
        "g": "98098c51fcd3210a",
        "name": "Debug ON",
        "server": "176d29a.6f648d6",
        "version": 7,
        "debugenabled": false,
        "action": "input_boolean.turn_on",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_boolean.house_battery_control_is_debug_mode"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [
            {
                "property": "debug_mode",
                "propertyType": "global",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "input_boolean",
        "service": "turn_on",
        "x": 550,
        "y": 460,
        "wires": [
            [
                "74c2178d55d06602"
            ]
        ]
    },
    {
        "id": "5d02cf12e178fdc6",
        "type": "api-current-state",
        "z": "bdbd06f2d55d48a6",
        "g": "98098c51fcd3210a",
        "name": "Strat",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_select.house_battery_strategy",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 730,
        "y": 380,
        "wires": [
            [
                "3b0a9286b7d26aae"
            ]
        ]
    },
    {
        "id": "d10758a4c021c27f",
        "type": "api-current-state",
        "z": "bdbd06f2d55d48a6",
        "g": "8fc7aed868d7a2df",
        "name": "Threshold delta",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_number.house_battery_strategy_dynamic_threshold_delta",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "dynamic.min_delta_cents",
                "propertyType": "msg",
                "value": "number",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 600,
        "y": 880,
        "wires": [
            [
                "2157188cf3542812"
            ]
        ]
    },
    {
        "id": "2157188cf3542812",
        "type": "api-current-state",
        "z": "bdbd06f2d55d48a6",
        "g": "8fc7aed868d7a2df",
        "name": "Cheapest N hrs",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_number.house_battery_strategy_dynamic_cheapest_hrs",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "dynamic.cheapest_hrs",
                "propertyType": "msg",
                "value": "number",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 600,
        "y": 920,
        "wires": [
            [
                "70083d5f7a16065e"
            ]
        ]
    },
    {
        "id": "70083d5f7a16065e",
        "type": "api-current-state",
        "z": "bdbd06f2d55d48a6",
        "g": "8fc7aed868d7a2df",
        "name": "Expensive N hrs",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_number.house_battery_strategy_dynamic_expensive_hrs",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "dynamic.expensive_hrs",
                "propertyType": "msg",
                "value": "number",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 600,
        "y": 960,
        "wires": [
            [
                "8f528f8818641c87"
            ]
        ]
    },
    {
        "id": "dfa1161fe163528e",
        "type": "inject",
        "z": "bdbd06f2d55d48a6",
        "g": "98098c51fcd3210a",
        "name": "Clear cache",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "15 13 * * *",
        "once": false,
        "onceDelay": "3",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 390,
        "y": 420,
        "wires": [
            [
                "af002e6d0cf16c34"
            ]
        ]
    },
    {
        "id": "a6cbff1ac5cf5fe0",
        "type": "inject",
        "z": "bdbd06f2d55d48a6",
        "g": "98098c51fcd3210a",
        "name": "Midnight",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "01 00 * * *",
        "once": false,
        "onceDelay": "3",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 400,
        "y": 420,
        "wires": [
            [
                "af002e6d0cf16c34"
            ]
        ]
    },
    {
        "id": "176d29a.6f648d6",
        "type": "server",
        "name": "Home Assistant",
        "addon": true,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": [],
        "connectionDelay": false,
        "cacheJson": false,
        "heartbeat": false,
        "heartbeatInterval": "",
        "statusSeparator": "",
        "enableGlobalContextStore": false
    },
    {
        "id": "8ce69660cd55bc44",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-home-assistant-websocket": "0.80.3"
        }
    }
]