node-red/02 strategy-charge-pv.json
[
    {
        "id": "676ceac4c521834d",
        "type": "tab",
        "label": "Strategy Charge PV",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9889d591bcc38e89",
        "type": "group",
        "z": "676ceac4c521834d",
        "name": "Battery solutions",
        "style": {
            "label": true
        },
        "nodes": [
            "87be4b85f89829b6",
            "d62d870eb44d3582"
        ],
        "x": 624,
        "y": 79,
        "w": 192,
        "h": 142
    },
    {
        "id": "72059e541379a869",
        "type": "group",
        "z": "676ceac4c521834d",
        "name": "Start",
        "style": {
            "label": true
        },
        "nodes": [
            "a5e9e484430e1720",
            "bf548077ba6ca350"
        ],
        "x": 14,
        "y": 79,
        "w": 192,
        "h": 142
    },
    {
        "id": "a982ce2192b36fd5",
        "type": "group",
        "z": "676ceac4c521834d",
        "name": "Update UI: active sub-strategy",
        "style": {
            "label": true
        },
        "nodes": [
            "ce6bb883d5b1f007",
            "33fd9ce7833604ba",
            "bba58df78152ef59",
            "32caf8e345be7b6e",
            "0d8f2f25053a7fdf",
            "28c212820d1b1899"
        ],
        "x": 614,
        "y": 319,
        "w": 552,
        "h": 142
    },
    {
        "id": "a5e9e484430e1720",
        "type": "link in",
        "z": "676ceac4c521834d",
        "g": "72059e541379a869",
        "name": "Charge PV",
        "links": [],
        "x": 165,
        "y": 180,
        "wires": [
            [
                "682972c51f2870ed"
            ]
        ]
    },
    {
        "id": "13aeb5c39ba83e0a",
        "type": "comment",
        "z": "676ceac4c521834d",
        "name": "Home Battery Strategy",
        "info": "The `Home Battery Start` flow will call this strategy flow\nby matching the strategy name with the Link In name.\n\nConfigure the Link In node in the Start group.\n\nDon't modify other parts of the Start and End groups.\nThey handle the calling and returning for you.",
        "x": 120,
        "y": 40,
        "wires": []
    },
    {
        "id": "bf548077ba6ca350",
        "type": "comment",
        "z": "676ceac4c521834d",
        "g": "72059e541379a869",
        "name": "Start (readme)",
        "info": "# Setting up your battery strategy flow\n\n## Setup\nName the `Link In node` in this start group exactly after the <select> option configured in your\nselect_input.house_battery_strategy\n\nconfigure select options in:\ninput_select_house_battery_control.yaml\n\n### example\n`house_battery_strategy:\n  name: House Battery Strategy\n  options:\n    - AcmE example`\n\nThe above creates a select option, allowing user to select 'AcmE example'\n\nWhen selected, battery control will search for a flow containing a Link In node\ncalled 'AcmE example' (case sensitive).",
        "x": 110,
        "y": 120,
        "wires": []
    },
    {
        "id": "87be4b85f89829b6",
        "type": "link out",
        "z": "676ceac4c521834d",
        "g": "9889d591bcc38e89",
        "name": "Return",
        "mode": "return",
        "links": [],
        "x": 665,
        "y": 180,
        "wires": []
    },
    {
        "id": "d62d870eb44d3582",
        "type": "comment",
        "z": "676ceac4c521834d",
        "g": "9889d591bcc38e89",
        "name": "End (readme)",
        "info": "Should return a solution_array of battery objects\n\n## battery object format\n`{{id: string|number, mode: string, power: number}} battery solution`\n- id is an arbitrary battery ID\n- mode is \"stop\", \"charge\", \"discharge\" for Marstek\n- power in Watts\n\n### example array\nreturn this type of solution_array via msg.solutions\n` \nlet solution_array = [];\nsolution_array.push({id:\"M1\", mode: \"charge\", power: 100}); // per battery\nreturn {solutions: solution_array};\n` ",
        "x": 720,
        "y": 120,
        "wires": []
    },
    {
        "id": "682972c51f2870ed",
        "type": "function",
        "z": "676ceac4c521834d",
        "name": "Setup",
        "func": "// use the self consumption strategy to charge when there is PV surplus\nmsg.target = \"Self-consumption\";\n\n// tell that strategy to disalow discharging\nconst DISABLE_DISCHARGE = true;\nRED.util.setMessageProperty(msg,\"advanced_settings.discharge_disabled\",DISABLE_DISCHARGE,true);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 180,
        "wires": [
            [
                "17645a134fe6d941"
            ]
        ]
    },
    {
        "id": "17645a134fe6d941",
        "type": "link call",
        "z": "676ceac4c521834d",
        "name": "Self-consumption",
        "links": [],
        "linkType": "dynamic",
        "timeout": "5",
        "x": 470,
        "y": 180,
        "wires": [
            [
                "d612533a5317bb76",
                "87be4b85f89829b6",
                "33fd9ce7833604ba"
            ]
        ]
    },
    {
        "id": "d612533a5317bb76",
        "type": "debug",
        "z": "676ceac4c521834d",
        "name": "Batteries charging?",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "batteries_charging",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 730,
        "y": 260,
        "wires": []
    },
    {
        "id": "ce6bb883d5b1f007",
        "type": "api-call-service",
        "z": "676ceac4c521834d",
        "g": "a982ce2192b36fd5",
        "name": "Active sub strategy text field",
        "server": "176d29a.6f648d6",
        "version": 7,
        "debugenabled": false,
        "action": "input_text.set_value",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_text.house_battery_strategy_active_sub_strategy"
        ],
        "labelId": [],
        "data": "{\"value\": $$.target}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "input_text",
        "service": "set_value",
        "x": 1020,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "33fd9ce7833604ba",
        "type": "api-current-state",
        "z": "676ceac4c521834d",
        "g": "a982ce2192b36fd5",
        "name": "User strategy",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_select.house_battery_strategy",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "master_strategy",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 710,
        "y": 360,
        "wires": [
            [
                "bba58df78152ef59"
            ]
        ]
    },
    {
        "id": "bba58df78152ef59",
        "type": "switch",
        "z": "676ceac4c521834d",
        "g": "a982ce2192b36fd5",
        "name": "is Charge PV",
        "property": "master_strategy",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Charge PV",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 870,
        "y": 360,
        "wires": [
            [
                "32caf8e345be7b6e"
            ]
        ]
    },
    {
        "id": "32caf8e345be7b6e",
        "type": "function",
        "z": "676ceac4c521834d",
        "g": "a982ce2192b36fd5",
        "name": "Name sub-strategy",
        "func": "msg.target = \"Charge PV\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1050,
        "y": 360,
        "wires": [
            [
                "0d8f2f25053a7fdf"
            ]
        ]
    },
    {
        "id": "0d8f2f25053a7fdf",
        "type": "api-current-state",
        "z": "676ceac4c521834d",
        "g": "a982ce2192b36fd5",
        "name": "UI value",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_text.house_battery_strategy_active_sub_strategy",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "ui_value",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 655,
        "y": 420,
        "wires": [
            [
                "28c212820d1b1899"
            ]
        ],
        "l": false
    },
    {
        "id": "28c212820d1b1899",
        "type": "function",
        "z": "676ceac4c521834d",
        "g": "a982ce2192b36fd5",
        "name": "On difference",
        "func": "// Block when equal\nif(msg.ui_value === msg.target) return null;\n\n// Pass otherwise\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 420,
        "wires": [
            [
                "ce6bb883d5b1f007"
            ]
        ]
    },
    {
        "id": "176d29a.6f648d6",
        "type": "server",
        "name": "Home Assistant",
        "addon": true,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "",
        "connectionDelay": false,
        "cacheJson": false,
        "heartbeat": false,
        "heartbeatInterval": "",
        "statusSeparator": "",
        "enableGlobalContextStore": false
    },
    {
        "id": "4b287d235ce982a2",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-home-assistant-websocket": "0.80.3"
        }
    }
]