node-red/02 strategy-timed.json
[
    {
        "id": "08784a7d4ebd8fe8",
        "type": "tab",
        "label": "Strategy Timed v4.13.0",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "aaf2c6ac25712991",
        "type": "group",
        "z": "08784a7d4ebd8fe8",
        "name": "Battery solutions",
        "style": {
            "label": true
        },
        "nodes": [
            "480900a36fbef7f9",
            "b49b7482410d5df1"
        ],
        "x": 1644,
        "y": 639,
        "w": 192,
        "h": 142
    },
    {
        "id": "91e79e3b3acbdffa",
        "type": "group",
        "z": "08784a7d4ebd8fe8",
        "style": {
            "stroke": "#565656",
            "stroke-opacity": "1",
            "fill": "#3a3a3a",
            "fill-opacity": "0.5",
            "label": true,
            "label-position": "nw",
            "color": "#cccccc"
        },
        "nodes": [
            "f3847823a633399b",
            "2b595d5993506b8e",
            "06162fd624cd6f08"
        ],
        "x": 24,
        "y": 79,
        "w": 192,
        "h": 162
    },
    {
        "id": "3cde1de7ba4c97d2",
        "type": "group",
        "z": "08784a7d4ebd8fe8",
        "style": {
            "stroke": "#565656",
            "stroke-opacity": "1",
            "fill": "#3a3a3a",
            "fill-opacity": "0.5",
            "label": true,
            "label-position": "nw",
            "color": "#cccccc"
        },
        "nodes": [
            "7541cc272c03dd6b",
            "833daeddf29ca8e3",
            "8d070834ce801658"
        ],
        "x": 454,
        "y": 79,
        "w": 532,
        "h": 82
    },
    {
        "id": "1a47975f8c598c86",
        "type": "group",
        "z": "08784a7d4ebd8fe8",
        "style": {
            "stroke": "#565656",
            "stroke-opacity": "1",
            "fill": "#3a3a3a",
            "fill-opacity": "0.5",
            "label": true,
            "label-position": "nw",
            "color": "#cccccc"
        },
        "nodes": [
            "3922e0f3122aa3ad",
            "8b2840c23e085edc",
            "9aa07b8e8914a50d",
            "765bc70c1504f1c0"
        ],
        "x": 254,
        "y": 179,
        "w": 732,
        "h": 82
    },
    {
        "id": "de3c04daf53baca8",
        "type": "group",
        "z": "08784a7d4ebd8fe8",
        "style": {
            "stroke": "#565656",
            "stroke-opacity": "1",
            "fill": "#3a3a3a",
            "fill-opacity": "0.5",
            "label": true,
            "label-position": "nw",
            "color": "#cccccc"
        },
        "nodes": [
            "501d349b3f06d950"
        ],
        "x": 254,
        "y": 79,
        "w": 192,
        "h": 82
    },
    {
        "id": "9e63ed7da5dabe3e",
        "type": "group",
        "z": "08784a7d4ebd8fe8",
        "name": "Determine sub-strategy based on time period",
        "style": {
            "label": true
        },
        "nodes": [
            "7433f98894a13c2c",
            "09cdfaefe2e3c9da",
            "692c003e8d512ea7",
            "c67d8eb5e64c1c4d",
            "24b491e8bf71d3c3",
            "fb5cadd670585e35",
            "dc4169c3397d5984",
            "dec56f29094c5816",
            "58df32e5aa56f0ff",
            "42ef79d0591e7717",
            "614f2146614fc558",
            "a7b8265de6e57ab9",
            "750f5e3b4ce554ec",
            "0cbf713176839e18",
            "07a8cc5e519b7f45",
            "93c83a8fdfefdc91",
            "6c1113403d73ac5a",
            "132ff122f7881beb",
            "21a6eece9b5c1b1b",
            "9876cf7c50186310",
            "0d298c3151fd230e",
            "068b82044d79c2e7",
            "e995fdbcb658db31",
            "95551aa32f68ecfc",
            "440e3965776beaa2",
            "e49bb20223296c83",
            "a7a9e935d907492d",
            "9726dc030b2536ba",
            "e3b6382073f2368d",
            "6bbdd89246fdd431",
            "84329445ea97d386",
            "8a1ccd32bc239851",
            "61dc7b257ff2d773",
            "18ff593b07621fc2",
            "abd6fc8b9ddebae8",
            "d49aa38eb92941ec",
            "c2ed0f30805dda9c",
            "02fe48c9561d06a5",
            "3436873396971346",
            "e035f4e50a8ff2a8"
        ],
        "x": 254,
        "y": 639,
        "w": 732,
        "h": 682
    },
    {
        "id": "2bba16789f3f9584",
        "type": "group",
        "z": "08784a7d4ebd8fe8",
        "name": "Execute sub-strategy",
        "style": {
            "label": true
        },
        "nodes": [
            "eb5daf69f2ea7117",
            "468e7498cef3db8b"
        ],
        "x": 1434,
        "y": 639,
        "w": 192,
        "h": 142
    },
    {
        "id": "d3889253ca5d3bb6",
        "type": "group",
        "z": "08784a7d4ebd8fe8",
        "style": {
            "stroke": "#565656",
            "stroke-opacity": "1",
            "fill": "#3a3a3a",
            "fill-opacity": "0.5",
            "label": true,
            "label-position": "nw",
            "color": "#cccccc"
        },
        "nodes": [
            "9a3f088236af5341",
            "343796e2a24ead58",
            "d6a4c497e1fb3a03",
            "43c13c54cd829a83"
        ],
        "x": 254,
        "y": 279,
        "w": 732,
        "h": 82
    },
    {
        "id": "44443735735bc72f",
        "type": "group",
        "z": "08784a7d4ebd8fe8",
        "name": "Unhandled exceptions",
        "style": {
            "label": true,
            "stroke": "#d88a8a",
            "color": "#d88a8a"
        },
        "nodes": [
            "001b8c904e32e9a0",
            "732c26d8622e36b5",
            "433d3a5da338d1f1"
        ],
        "x": 24,
        "y": 279,
        "w": 182,
        "h": 82
    },
    {
        "id": "78a5ff17f2f61972",
        "type": "group",
        "z": "08784a7d4ebd8fe8",
        "style": {
            "stroke": "#565656",
            "stroke-opacity": "1",
            "fill": "#3a3a3a",
            "fill-opacity": "0.5",
            "label": true,
            "label-position": "nw",
            "color": "#cccccc"
        },
        "nodes": [
            "6b4d1d162fa3193e",
            "5534c8accad17d97",
            "09e922af85c2ba80",
            "aecfc43ca69c34c7"
        ],
        "x": 254,
        "y": 379,
        "w": 732,
        "h": 82
    },
    {
        "id": "93297a4d642a1ae9",
        "type": "group",
        "z": "08784a7d4ebd8fe8",
        "style": {
            "stroke": "#565656",
            "stroke-opacity": "1",
            "fill": "#3a3a3a",
            "fill-opacity": "0.5",
            "label": true,
            "label-position": "nw",
            "color": "#cccccc"
        },
        "nodes": [
            "3bda3c2d8a79d062",
            "c12c1ee81ca2e934",
            "6b35928cc35d871d",
            "dab3962f40e9a7a3"
        ],
        "x": 254,
        "y": 479,
        "w": 732,
        "h": 82
    },
    {
        "id": "e922d7d44558129b",
        "type": "group",
        "z": "08784a7d4ebd8fe8",
        "name": "Period selected",
        "style": {
            "label": true
        },
        "nodes": [
            "961acfe56ec115cc",
            "cc47ce5ae2e447a4",
            "95356f4d13690749",
            "13bb4ae1940697b7",
            "3b6e648507b476c9",
            "f3997895a0b6167b",
            "b8757617ef1c7da4",
            "20342dbdbba0f18e"
        ],
        "x": 1014,
        "y": 639,
        "w": 402,
        "h": 222
    },
    {
        "id": "13bb4ae1940697b7",
        "type": "junction",
        "z": "08784a7d4ebd8fe8",
        "g": "e922d7d44558129b",
        "x": 1340,
        "y": 680,
        "wires": [
            [
                "961acfe56ec115cc",
                "eb5daf69f2ea7117",
                "468e7498cef3db8b",
                "f3997895a0b6167b"
            ]
        ]
    },
    {
        "id": "f3847823a633399b",
        "type": "link in",
        "z": "08784a7d4ebd8fe8",
        "g": "91e79e3b3acbdffa",
        "name": "Timed",
        "links": [],
        "x": 110,
        "y": 160,
        "wires": [
            [
                "06162fd624cd6f08"
            ]
        ],
        "l": true
    },
    {
        "id": "5b28e63dbd9961a8",
        "type": "comment",
        "z": "08784a7d4ebd8fe8",
        "name": "Home Battery Strategy",
        "info": "The `Home Battery Start` flow will call this strategy flow\nby matching the strategy name with the Link In name.\n\nConfigure the Link In node in the Start group.\n\nDon't modify other parts of the Start and End groups.\nThey handle the calling and returning for you.",
        "x": 130,
        "y": 40,
        "wires": []
    },
    {
        "id": "2b595d5993506b8e",
        "type": "comment",
        "z": "08784a7d4ebd8fe8",
        "g": "91e79e3b3acbdffa",
        "name": "Start (readme)",
        "info": "# Setting up your battery strategy flow\n\n## Setup\nName the `Link In node` in this start group exactly after the <select> option configured in your\nselect_input.house_battery_strategy\n\nconfigure select options in:\ninput_select_house_battery_control.yaml\n\n### example\n`house_battery_strategy:\n  name: House Battery Strategy\n  options:\n    - AcmE example`\n\nThe above creates a select option, allowing user to select 'AcmE example'\n\nWhen selected, battery control will search for a flow containing a Link In node\ncalled 'AcmE example' (case sensitive).",
        "x": 120,
        "y": 120,
        "wires": []
    },
    {
        "id": "480900a36fbef7f9",
        "type": "link out",
        "z": "08784a7d4ebd8fe8",
        "g": "aaf2c6ac25712991",
        "name": "Return",
        "mode": "return",
        "links": [],
        "x": 1685,
        "y": 740,
        "wires": []
    },
    {
        "id": "b49b7482410d5df1",
        "type": "comment",
        "z": "08784a7d4ebd8fe8",
        "g": "aaf2c6ac25712991",
        "name": "End (readme)",
        "info": "Should return a solution_array of battery objects\n\n## battery object format\n`{{id: string|number, mode: string, power: number}} battery solution`\n- id is an arbitrary battery ID\n- mode is \"stop\", \"charge\", \"discharge\" for Marstek\n- power in Watts\n\n### example array\nreturn this type of solution_array via msg.solutions\n` \nlet solution_array = [];\nsolution_array.push({id:\"M1\", mode: \"charge\", power: 100}); // per battery\nreturn {solutions: solution_array};\n` ",
        "x": 1740,
        "y": 680,
        "wires": []
    },
    {
        "id": "7541cc272c03dd6b",
        "type": "api-current-state",
        "z": "08784a7d4ebd8fe8",
        "g": "3cde1de7ba4c97d2",
        "name": "Period A start",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_datetime.house_battery_strategy_timed_period_a1",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "house_battery_strategy_timed_period_a1",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 550,
        "y": 120,
        "wires": [
            [
                "833daeddf29ca8e3"
            ]
        ]
    },
    {
        "id": "833daeddf29ca8e3",
        "type": "api-current-state",
        "z": "08784a7d4ebd8fe8",
        "g": "3cde1de7ba4c97d2",
        "name": "Period A end",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_datetime.house_battery_strategy_timed_period_a2",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "house_battery_strategy_timed_period_a2",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 710,
        "y": 120,
        "wires": [
            [
                "8d070834ce801658"
            ]
        ]
    },
    {
        "id": "3922e0f3122aa3ad",
        "type": "api-current-state",
        "z": "08784a7d4ebd8fe8",
        "g": "1a47975f8c598c86",
        "name": "Period B start",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_datetime.house_battery_strategy_timed_period_b1",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "house_battery_strategy_timed_period_b1",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 540,
        "y": 220,
        "wires": [
            [
                "8b2840c23e085edc"
            ]
        ]
    },
    {
        "id": "8b2840c23e085edc",
        "type": "api-current-state",
        "z": "08784a7d4ebd8fe8",
        "g": "1a47975f8c598c86",
        "name": "Period B end",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_datetime.house_battery_strategy_timed_period_b2",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "house_battery_strategy_timed_period_b2",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 710,
        "y": 220,
        "wires": [
            [
                "9aa07b8e8914a50d"
            ]
        ]
    },
    {
        "id": "8d070834ce801658",
        "type": "api-current-state",
        "z": "08784a7d4ebd8fe8",
        "g": "3cde1de7ba4c97d2",
        "name": "Strat during A",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_select.house_battery_strategy_timed_strat_a",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "house_battery_strategy_timed_strat_a",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 880,
        "y": 120,
        "wires": [
            [
                "765bc70c1504f1c0"
            ]
        ]
    },
    {
        "id": "9aa07b8e8914a50d",
        "type": "api-current-state",
        "z": "08784a7d4ebd8fe8",
        "g": "1a47975f8c598c86",
        "name": "Strat during B",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_select.house_battery_strategy_timed_strat_b",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "house_battery_strategy_timed_strat_b",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 880,
        "y": 220,
        "wires": [
            [
                "43c13c54cd829a83"
            ]
        ]
    },
    {
        "id": "765bc70c1504f1c0",
        "type": "api-current-state",
        "z": "08784a7d4ebd8fe8",
        "g": "1a47975f8c598c86",
        "name": "Has period B",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.house_battery_strategy_timed_has_period_b",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "house_battery_strategy_timed_has_period_b",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 350,
        "y": 220,
        "wires": [
            [
                "3922e0f3122aa3ad"
            ]
        ]
    },
    {
        "id": "44ad1ea078100101",
        "type": "inject",
        "z": "08784a7d4ebd8fe8",
        "name": "Test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 330,
        "y": 40,
        "wires": [
            [
                "501d349b3f06d950"
            ]
        ]
    },
    {
        "id": "7433f98894a13c2c",
        "type": "change",
        "z": "08784a7d4ebd8fe8",
        "g": "9e63ed7da5dabe3e",
        "name": "set Strat 0",
        "rules": [
            {
                "t": "set",
                "p": "timed_strategy",
                "pt": "msg",
                "to": "house_battery_strategy_timed_strat_0",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 720,
        "wires": [
            [
                "692c003e8d512ea7"
            ]
        ]
    },
    {
        "id": "09cdfaefe2e3c9da",
        "type": "change",
        "z": "08784a7d4ebd8fe8",
        "g": "9e63ed7da5dabe3e",
        "name": "set Strat A",
        "rules": [
            {
                "t": "set",
                "p": "timed_strategy",
                "pt": "msg",
                "to": "house_battery_strategy_timed_strat_a",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 680,
        "wires": [
            [
                "42ef79d0591e7717",
                "d49aa38eb92941ec"
            ]
        ]
    },
    {
        "id": "692c003e8d512ea7",
        "type": "switch",
        "z": "08784a7d4ebd8fe8",
        "g": "9e63ed7da5dabe3e",
        "name": "has period B",
        "property": "house_battery_strategy_timed_has_period_b",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 630,
        "y": 760,
        "wires": [
            [
                "0cbf713176839e18",
                "614f2146614fc558"
            ],
            [
                "fb5cadd670585e35"
            ]
        ]
    },
    {
        "id": "c67d8eb5e64c1c4d",
        "type": "function",
        "z": "08784a7d4ebd8fe8",
        "g": "9e63ed7da5dabe3e",
        "name": "config A",
        "func": "msg.__config = {\n    startTime: RED.util.getMessageProperty(msg,'house_battery_strategy_timed_period_a1'),\n    endTime: RED.util.getMessageProperty(msg,'house_battery_strategy_timed_period_a2'),\n    startOffset: 0,\n    endOffset: 0\n}\n  \nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 700,
        "wires": [
            [
                "24b491e8bf71d3c3"
            ]
        ]
    },
    {
        "id": "24b491e8bf71d3c3",
        "type": "time-range-switch",
        "z": "08784a7d4ebd8fe8",
        "g": "9e63ed7da5dabe3e",
        "name": "Period A",
        "lat": "",
        "lon": "",
        "startTime": "00:00",
        "endTime": "00:00",
        "startOffset": 0,
        "endOffset": 0,
        "x": 480,
        "y": 700,
        "wires": [
            [
                "09cdfaefe2e3c9da"
            ],
            [
                "7433f98894a13c2c"
            ]
        ]
    },
    {
        "id": "fb5cadd670585e35",
        "type": "function",
        "z": "08784a7d4ebd8fe8",
        "g": "9e63ed7da5dabe3e",
        "name": "config B",
        "func": "msg.__config = {\n    startTime: RED.util.getMessageProperty(msg,'house_battery_strategy_timed_period_b1'),\n    endTime: RED.util.getMessageProperty(msg,'house_battery_strategy_timed_period_b2'),\n    startOffset: 0,\n    endOffset: 0\n}\n  \nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 840,
        "wires": [
            [
                "dc4169c3397d5984"
            ]
        ]
    },
    {
        "id": "dc4169c3397d5984",
        "type": "time-range-switch",
        "z": "08784a7d4ebd8fe8",
        "g": "9e63ed7da5dabe3e",
        "name": "Period B",
        "lat": "",
        "lon": "",
        "startTime": "00:00",
        "endTime": "00:00",
        "startOffset": 0,
        "endOffset": 0,
        "x": 480,
        "y": 840,
        "wires": [
            [
                "dec56f29094c5816"
            ],
            [
                "58df32e5aa56f0ff"
            ]
        ]
    },
    {
        "id": "dec56f29094c5816",
        "type": "change",
        "z": "08784a7d4ebd8fe8",
        "g": "9e63ed7da5dabe3e",
        "name": "set Strat B",
        "rules": [
            {
                "t": "set",
                "p": "timed_strategy",
                "pt": "msg",
                "to": "house_battery_strategy_timed_strat_b",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 820,
        "wires": [
            [
                "a7b8265de6e57ab9",
                "c2ed0f30805dda9c"
            ]
        ]
    },
    {
        "id": "58df32e5aa56f0ff",
        "type": "change",
        "z": "08784a7d4ebd8fe8",
        "g": "9e63ed7da5dabe3e",
        "name": "set Strat 0",
        "rules": [
            {
                "t": "set",
                "p": "timed_strategy",
                "pt": "msg",
                "to": "house_battery_strategy_timed_strat_0",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 860,
        "wires": [
            [
                "07a8cc5e519b7f45"
            ]
        ]
    },
    {
        "id": "501d349b3f06d950",
        "type": "api-current-state",
        "z": "08784a7d4ebd8fe8",
        "g": "de3c04daf53baca8",
        "name": "Default Strat",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_select.house_battery_strategy_timed_strat_0",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "house_battery_strategy_timed_strat_0",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 350,
        "y": 120,
        "wires": [
            [
                "7541cc272c03dd6b"
            ]
        ]
    },
    {
        "id": "eb5daf69f2ea7117",
        "type": "link call",
        "z": "08784a7d4ebd8fe8",
        "g": "2bba16789f3f9584",
        "name": "Sub strategy",
        "links": [],
        "linkType": "dynamic",
        "timeout": "30",
        "x": 1530,
        "y": 740,
        "wires": [
            [
                "480900a36fbef7f9"
            ]
        ]
    },
    {
        "id": "0cbf713176839e18",
        "type": "change",
        "z": "08784a7d4ebd8fe8",
        "g": "9e63ed7da5dabe3e",
        "name": "Select flow",
        "rules": [
            {
                "t": "set",
                "p": "target",
                "pt": "msg",
                "to": "timed_strategy",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 780,
        "wires": [
            [
                "cc47ce5ae2e447a4"
            ]
        ]
    },
    {
        "id": "42ef79d0591e7717",
        "type": "debug",
        "z": "08784a7d4ebd8fe8",
        "g": "9e63ed7da5dabe3e",
        "name": "A",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "strategy",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "counter",
        "x": 870,
        "y": 680,
        "wires": []
    },
    {
        "id": "614f2146614fc558",
        "type": "debug",
        "z": "08784a7d4ebd8fe8",
        "g": "9e63ed7da5dabe3e",
        "name": "0",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "strategy",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "counter",
        "x": 870,
        "y": 720,
        "wires": []
    },
    {
        "id": "a7b8265de6e57ab9",
        "type": "debug",
        "z": "08784a7d4ebd8fe8",
        "g": "9e63ed7da5dabe3e",
        "name": "B",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "strategy",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "counter",
        "x": 870,
        "y": 820,
        "wires": []
    },
    {
        "id": "750f5e3b4ce554ec",
        "type": "debug",
        "z": "08784a7d4ebd8fe8",
        "g": "9e63ed7da5dabe3e",
        "name": "0",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "strategy",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "counter",
        "x": 870,
        "y": 860,
        "wires": []
    },
    {
        "id": "468e7498cef3db8b",
        "type": "debug",
        "z": "08784a7d4ebd8fe8",
        "g": "2bba16789f3f9584",
        "name": "Target",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "target",
        "targetType": "msg",
        "statusVal": "target",
        "statusType": "auto",
        "x": 1510,
        "y": 680,
        "wires": []
    },
    {
        "id": "9a3f088236af5341",
        "type": "api-current-state",
        "z": "08784a7d4ebd8fe8",
        "g": "d3889253ca5d3bb6",
        "name": "Period C start",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_datetime.house_battery_strategy_timed_period_c1",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "house_battery_strategy_timed_period_c1",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 540,
        "y": 320,
        "wires": [
            [
                "343796e2a24ead58"
            ]
        ]
    },
    {
        "id": "343796e2a24ead58",
        "type": "api-current-state",
        "z": "08784a7d4ebd8fe8",
        "g": "d3889253ca5d3bb6",
        "name": "Period C end",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_datetime.house_battery_strategy_timed_period_c2",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "house_battery_strategy_timed_period_c2",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 710,
        "y": 320,
        "wires": [
            [
                "d6a4c497e1fb3a03"
            ]
        ]
    },
    {
        "id": "d6a4c497e1fb3a03",
        "type": "api-current-state",
        "z": "08784a7d4ebd8fe8",
        "g": "d3889253ca5d3bb6",
        "name": "Strat during C",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_select.house_battery_strategy_timed_strat_c",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "house_battery_strategy_timed_strat_c",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 880,
        "y": 320,
        "wires": [
            [
                "6b4d1d162fa3193e"
            ]
        ]
    },
    {
        "id": "43c13c54cd829a83",
        "type": "api-current-state",
        "z": "08784a7d4ebd8fe8",
        "g": "d3889253ca5d3bb6",
        "name": "Has period C",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.house_battery_strategy_timed_has_period_c",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "house_battery_strategy_timed_has_period_c",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 350,
        "y": 320,
        "wires": [
            [
                "9a3f088236af5341"
            ]
        ]
    },
    {
        "id": "07a8cc5e519b7f45",
        "type": "switch",
        "z": "08784a7d4ebd8fe8",
        "g": "9e63ed7da5dabe3e",
        "name": "has period C",
        "property": "house_battery_strategy_timed_has_period_c",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 630,
        "y": 900,
        "wires": [
            [
                "0cbf713176839e18",
                "750f5e3b4ce554ec"
            ],
            [
                "6c1113403d73ac5a"
            ]
        ]
    },
    {
        "id": "93c83a8fdfefdc91",
        "type": "debug",
        "z": "08784a7d4ebd8fe8",
        "g": "9e63ed7da5dabe3e",
        "name": "C",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "strategy",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "counter",
        "x": 870,
        "y": 960,
        "wires": []
    },
    {
        "id": "6c1113403d73ac5a",
        "type": "function",
        "z": "08784a7d4ebd8fe8",
        "g": "9e63ed7da5dabe3e",
        "name": "config C",
        "func": "msg.__config = {\n    startTime: RED.util.getMessageProperty(msg,'house_battery_strategy_timed_period_c1'),\n    endTime: RED.util.getMessageProperty(msg,'house_battery_strategy_timed_period_c2'),\n    startOffset: 0,\n    endOffset: 0\n}\n  \nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 980,
        "wires": [
            [
                "132ff122f7881beb"
            ]
        ]
    },
    {
        "id": "132ff122f7881beb",
        "type": "time-range-switch",
        "z": "08784a7d4ebd8fe8",
        "g": "9e63ed7da5dabe3e",
        "name": "Period C",
        "lat": "",
        "lon": "",
        "startTime": "00:00",
        "endTime": "00:00",
        "startOffset": 0,
        "endOffset": 0,
        "x": 480,
        "y": 980,
        "wires": [
            [
                "21a6eece9b5c1b1b"
            ],
            [
                "9876cf7c50186310"
            ]
        ]
    },
    {
        "id": "21a6eece9b5c1b1b",
        "type": "change",
        "z": "08784a7d4ebd8fe8",
        "g": "9e63ed7da5dabe3e",
        "name": "set Strat C",
        "rules": [
            {
                "t": "set",
                "p": "timed_strategy",
                "pt": "msg",
                "to": "house_battery_strategy_timed_strat_c",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 960,
        "wires": [
            [
                "93c83a8fdfefdc91",
                "02fe48c9561d06a5"
            ]
        ]
    },
    {
        "id": "9876cf7c50186310",
        "type": "change",
        "z": "08784a7d4ebd8fe8",
        "g": "9e63ed7da5dabe3e",
        "name": "set Strat 0",
        "rules": [
            {
                "t": "set",
                "p": "timed_strategy",
                "pt": "msg",
                "to": "house_battery_strategy_timed_strat_0",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 1000,
        "wires": [
            [
                "068b82044d79c2e7"
            ]
        ]
    },
    {
        "id": "0d298c3151fd230e",
        "type": "debug",
        "z": "08784a7d4ebd8fe8",
        "g": "9e63ed7da5dabe3e",
        "name": "0",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "strategy",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "counter",
        "x": 870,
        "y": 1280,
        "wires": []
    },
    {
        "id": "06162fd624cd6f08",
        "type": "change",
        "z": "08784a7d4ebd8fe8",
        "g": "91e79e3b3acbdffa",
        "name": "Trace",
        "rules": [
            {
                "t": "set",
                "p": "strategy.trace",
                "pt": "msg",
                "to": "[\t   strategy.trace,\t   {\t       \"flow\": target,\t       \"flow_settings\": advanced_settings,\t       \"timestamp\": $now()\t   } \t]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 110,
        "y": 200,
        "wires": [
            [
                "501d349b3f06d950"
            ]
        ],
        "info": "Attaches a breadcrumb trace to the msg\r\nso the user can reconstruct which route has\r\nbeen traveled"
    },
    {
        "id": "001b8c904e32e9a0",
        "type": "catch",
        "z": "08784a7d4ebd8fe8",
        "g": "44443735735bc72f",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 65,
        "y": 320,
        "wires": [
            [
                "732c26d8622e36b5"
            ]
        ],
        "l": false
    },
    {
        "id": "732c26d8622e36b5",
        "type": "function",
        "z": "08784a7d4ebd8fe8",
        "g": "44443735735bc72f",
        "name": "Unhandled Exception",
        "func": "// Log unhandled exception\nconst handle = global.get('unhandledException');\nif(handle) handle(this);\n\n// Check origin of msg execution\nif (msg._linkSource) {\n    return msg; // Origin: some other flow\n} else {\n    return null; // Origin: this flow. Stop to prevent 'Missing return' warning\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 115,
        "y": 320,
        "wires": [
            [
                "433d3a5da338d1f1"
            ]
        ],
        "l": false
    },
    {
        "id": "433d3a5da338d1f1",
        "type": "link out",
        "z": "08784a7d4ebd8fe8",
        "g": "44443735735bc72f",
        "name": "link out 8",
        "mode": "return",
        "links": [],
        "x": 165,
        "y": 320,
        "wires": []
    },
    {
        "id": "6b4d1d162fa3193e",
        "type": "api-current-state",
        "z": "08784a7d4ebd8fe8",
        "g": "78a5ff17f2f61972",
        "name": "Has period D",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.house_battery_strategy_timed_has_period_d",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "house_battery_strategy_timed_has_period_d",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 350,
        "y": 420,
        "wires": [
            [
                "5534c8accad17d97"
            ]
        ]
    },
    {
        "id": "5534c8accad17d97",
        "type": "api-current-state",
        "z": "08784a7d4ebd8fe8",
        "g": "78a5ff17f2f61972",
        "name": "Period D start",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_datetime.house_battery_strategy_timed_period_d1",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "house_battery_strategy_timed_period_d1",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 540,
        "y": 420,
        "wires": [
            [
                "09e922af85c2ba80"
            ]
        ]
    },
    {
        "id": "09e922af85c2ba80",
        "type": "api-current-state",
        "z": "08784a7d4ebd8fe8",
        "g": "78a5ff17f2f61972",
        "name": "Period D end",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_datetime.house_battery_strategy_timed_period_d2",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "house_battery_strategy_timed_period_d2",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 710,
        "y": 420,
        "wires": [
            [
                "aecfc43ca69c34c7"
            ]
        ]
    },
    {
        "id": "aecfc43ca69c34c7",
        "type": "api-current-state",
        "z": "08784a7d4ebd8fe8",
        "g": "78a5ff17f2f61972",
        "name": "Strat during D",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_select.house_battery_strategy_timed_strat_d",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "house_battery_strategy_timed_strat_d",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 880,
        "y": 420,
        "wires": [
            [
                "3bda3c2d8a79d062"
            ]
        ]
    },
    {
        "id": "3bda3c2d8a79d062",
        "type": "api-current-state",
        "z": "08784a7d4ebd8fe8",
        "g": "93297a4d642a1ae9",
        "name": "Has period E",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.house_battery_strategy_timed_has_period_e",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "house_battery_strategy_timed_has_period_e",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 350,
        "y": 520,
        "wires": [
            [
                "c12c1ee81ca2e934"
            ]
        ]
    },
    {
        "id": "c12c1ee81ca2e934",
        "type": "api-current-state",
        "z": "08784a7d4ebd8fe8",
        "g": "93297a4d642a1ae9",
        "name": "Period E start",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_datetime.house_battery_strategy_timed_period_e1",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "house_battery_strategy_timed_period_e1",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 540,
        "y": 520,
        "wires": [
            [
                "6b35928cc35d871d"
            ]
        ]
    },
    {
        "id": "6b35928cc35d871d",
        "type": "api-current-state",
        "z": "08784a7d4ebd8fe8",
        "g": "93297a4d642a1ae9",
        "name": "Period E end",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_datetime.house_battery_strategy_timed_period_e2",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "house_battery_strategy_timed_period_e2",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 710,
        "y": 520,
        "wires": [
            [
                "dab3962f40e9a7a3"
            ]
        ]
    },
    {
        "id": "dab3962f40e9a7a3",
        "type": "api-current-state",
        "z": "08784a7d4ebd8fe8",
        "g": "93297a4d642a1ae9",
        "name": "Strat during E",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_select.house_battery_strategy_timed_strat_e",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "house_battery_strategy_timed_strat_e",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 880,
        "y": 520,
        "wires": [
            [
                "c67d8eb5e64c1c4d"
            ]
        ]
    },
    {
        "id": "068b82044d79c2e7",
        "type": "switch",
        "z": "08784a7d4ebd8fe8",
        "g": "9e63ed7da5dabe3e",
        "name": "has period D",
        "property": "house_battery_strategy_timed_has_period_d",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 630,
        "y": 1040,
        "wires": [
            [
                "0cbf713176839e18",
                "e995fdbcb658db31"
            ],
            [
                "95551aa32f68ecfc"
            ]
        ]
    },
    {
        "id": "e995fdbcb658db31",
        "type": "debug",
        "z": "08784a7d4ebd8fe8",
        "g": "9e63ed7da5dabe3e",
        "name": "0",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "strategy",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "counter",
        "x": 870,
        "y": 1000,
        "wires": []
    },
    {
        "id": "95551aa32f68ecfc",
        "type": "function",
        "z": "08784a7d4ebd8fe8",
        "g": "9e63ed7da5dabe3e",
        "name": "config D",
        "func": "msg.__config = {\n    startTime: RED.util.getMessageProperty(msg,'house_battery_strategy_timed_period_d1'),\n    endTime: RED.util.getMessageProperty(msg,'house_battery_strategy_timed_period_d2'),\n    startOffset: 0,\n    endOffset: 0\n}\n  \nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 1120,
        "wires": [
            [
                "440e3965776beaa2"
            ]
        ]
    },
    {
        "id": "440e3965776beaa2",
        "type": "time-range-switch",
        "z": "08784a7d4ebd8fe8",
        "g": "9e63ed7da5dabe3e",
        "name": "Period D",
        "lat": "",
        "lon": "",
        "startTime": "00:00",
        "endTime": "00:00",
        "startOffset": 0,
        "endOffset": 0,
        "x": 480,
        "y": 1120,
        "wires": [
            [
                "e49bb20223296c83"
            ],
            [
                "9726dc030b2536ba"
            ]
        ]
    },
    {
        "id": "e49bb20223296c83",
        "type": "change",
        "z": "08784a7d4ebd8fe8",
        "g": "9e63ed7da5dabe3e",
        "name": "set Strat D",
        "rules": [
            {
                "t": "set",
                "p": "timed_strategy",
                "pt": "msg",
                "to": "house_battery_strategy_timed_strat_d",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 1100,
        "wires": [
            [
                "a7a9e935d907492d",
                "3436873396971346"
            ]
        ]
    },
    {
        "id": "a7a9e935d907492d",
        "type": "debug",
        "z": "08784a7d4ebd8fe8",
        "g": "9e63ed7da5dabe3e",
        "name": "D",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "strategy",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "counter",
        "x": 870,
        "y": 1100,
        "wires": []
    },
    {
        "id": "9726dc030b2536ba",
        "type": "change",
        "z": "08784a7d4ebd8fe8",
        "g": "9e63ed7da5dabe3e",
        "name": "set Strat 0",
        "rules": [
            {
                "t": "set",
                "p": "timed_strategy",
                "pt": "msg",
                "to": "house_battery_strategy_timed_strat_0",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 1140,
        "wires": [
            [
                "e3b6382073f2368d"
            ]
        ]
    },
    {
        "id": "e3b6382073f2368d",
        "type": "switch",
        "z": "08784a7d4ebd8fe8",
        "g": "9e63ed7da5dabe3e",
        "name": "has period E",
        "property": "house_battery_strategy_timed_has_period_e",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 630,
        "y": 1180,
        "wires": [
            [
                "0cbf713176839e18",
                "6bbdd89246fdd431"
            ],
            [
                "84329445ea97d386"
            ]
        ]
    },
    {
        "id": "6bbdd89246fdd431",
        "type": "debug",
        "z": "08784a7d4ebd8fe8",
        "g": "9e63ed7da5dabe3e",
        "name": "0",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "strategy",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "counter",
        "x": 870,
        "y": 1140,
        "wires": []
    },
    {
        "id": "84329445ea97d386",
        "type": "function",
        "z": "08784a7d4ebd8fe8",
        "g": "9e63ed7da5dabe3e",
        "name": "config E",
        "func": "msg.__config = {\n    startTime: RED.util.getMessageProperty(msg,'house_battery_strategy_timed_period_e1'),\n    endTime: RED.util.getMessageProperty(msg,'house_battery_strategy_timed_period_e2'),\n    startOffset: 0,\n    endOffset: 0\n}\n  \nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 1260,
        "wires": [
            [
                "8a1ccd32bc239851"
            ]
        ]
    },
    {
        "id": "8a1ccd32bc239851",
        "type": "time-range-switch",
        "z": "08784a7d4ebd8fe8",
        "g": "9e63ed7da5dabe3e",
        "name": "Period E",
        "lat": "",
        "lon": "",
        "startTime": "00:00",
        "endTime": "00:00",
        "startOffset": 0,
        "endOffset": 0,
        "x": 480,
        "y": 1260,
        "wires": [
            [
                "61dc7b257ff2d773"
            ],
            [
                "abd6fc8b9ddebae8"
            ]
        ]
    },
    {
        "id": "61dc7b257ff2d773",
        "type": "change",
        "z": "08784a7d4ebd8fe8",
        "g": "9e63ed7da5dabe3e",
        "name": "set Strat E",
        "rules": [
            {
                "t": "set",
                "p": "timed_strategy",
                "pt": "msg",
                "to": "house_battery_strategy_timed_strat_e",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 1240,
        "wires": [
            [
                "18ff593b07621fc2",
                "e035f4e50a8ff2a8"
            ]
        ]
    },
    {
        "id": "18ff593b07621fc2",
        "type": "debug",
        "z": "08784a7d4ebd8fe8",
        "g": "9e63ed7da5dabe3e",
        "name": "E",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "strategy",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "counter",
        "x": 870,
        "y": 1240,
        "wires": []
    },
    {
        "id": "abd6fc8b9ddebae8",
        "type": "change",
        "z": "08784a7d4ebd8fe8",
        "g": "9e63ed7da5dabe3e",
        "name": "set Strat 0",
        "rules": [
            {
                "t": "set",
                "p": "timed_strategy",
                "pt": "msg",
                "to": "house_battery_strategy_timed_strat_0",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 1280,
        "wires": [
            [
                "0cbf713176839e18",
                "0d298c3151fd230e"
            ]
        ]
    },
    {
        "id": "d49aa38eb92941ec",
        "type": "change",
        "z": "08784a7d4ebd8fe8",
        "g": "9e63ed7da5dabe3e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "timed_period",
                "pt": "msg",
                "to": "A",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 735,
        "y": 680,
        "wires": [
            [
                "0cbf713176839e18"
            ]
        ],
        "l": false
    },
    {
        "id": "c2ed0f30805dda9c",
        "type": "change",
        "z": "08784a7d4ebd8fe8",
        "g": "9e63ed7da5dabe3e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "timed_period",
                "pt": "msg",
                "to": "B",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 735,
        "y": 820,
        "wires": [
            [
                "0cbf713176839e18"
            ]
        ],
        "l": false
    },
    {
        "id": "02fe48c9561d06a5",
        "type": "change",
        "z": "08784a7d4ebd8fe8",
        "g": "9e63ed7da5dabe3e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "timed_period",
                "pt": "msg",
                "to": "C",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 735,
        "y": 960,
        "wires": [
            [
                "0cbf713176839e18"
            ]
        ],
        "l": false
    },
    {
        "id": "3436873396971346",
        "type": "change",
        "z": "08784a7d4ebd8fe8",
        "g": "9e63ed7da5dabe3e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "timed_period",
                "pt": "msg",
                "to": "D",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 735,
        "y": 1100,
        "wires": [
            [
                "0cbf713176839e18"
            ]
        ],
        "l": false
    },
    {
        "id": "e035f4e50a8ff2a8",
        "type": "change",
        "z": "08784a7d4ebd8fe8",
        "g": "9e63ed7da5dabe3e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "timed_period",
                "pt": "msg",
                "to": "E",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 735,
        "y": 1240,
        "wires": [
            [
                "0cbf713176839e18"
            ]
        ],
        "l": false
    },
    {
        "id": "961acfe56ec115cc",
        "type": "debug",
        "z": "08784a7d4ebd8fe8",
        "g": "e922d7d44558129b",
        "name": "Period",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "timed_period",
        "targetType": "msg",
        "statusVal": "target",
        "statusType": "auto",
        "x": 1090,
        "y": 720,
        "wires": []
    },
    {
        "id": "cc47ce5ae2e447a4",
        "type": "switch",
        "z": "08784a7d4ebd8fe8",
        "g": "e922d7d44558129b",
        "name": "Period",
        "property": "timed_period",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nempty"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 1090,
        "y": 680,
        "wires": [
            [
                "13bb4ae1940697b7"
            ],
            [
                "95356f4d13690749"
            ]
        ]
    },
    {
        "id": "95356f4d13690749",
        "type": "change",
        "z": "08784a7d4ebd8fe8",
        "g": "e922d7d44558129b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "timed_period",
                "pt": "msg",
                "to": "Default",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1185,
        "y": 680,
        "wires": [
            [
                "13bb4ae1940697b7"
            ]
        ],
        "l": false
    },
    {
        "id": "3b6e648507b476c9",
        "type": "server-state-changed",
        "z": "08784a7d4ebd8fe8",
        "g": "e922d7d44558129b",
        "name": "Strat change",
        "server": "176d29a.6f648d6",
        "version": 6,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "input_select.house_battery_strategy"
            ],
            "substring": [],
            "regex": []
        },
        "outputInitially": true,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 1110,
        "y": 780,
        "wires": [
            [
                "20342dbdbba0f18e"
            ]
        ]
    },
    {
        "id": "f3997895a0b6167b",
        "type": "api-call-service",
        "z": "08784a7d4ebd8fe8",
        "g": "e922d7d44558129b",
        "name": "Update UI | current period",
        "server": "176d29a.6f648d6",
        "version": 7,
        "debugenabled": false,
        "action": "input_text.set_value",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_text.house_battery_strategy_timed_period_selected"
        ],
        "labelId": [],
        "data": "{\"value\": $$.timed_period}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "input_text",
        "service": "set_value",
        "x": 1230,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "b8757617ef1c7da4",
        "type": "change",
        "z": "08784a7d4ebd8fe8",
        "g": "e922d7d44558129b",
        "name": "Set UI",
        "rules": [
            {
                "t": "set",
                "p": "timed_period",
                "pt": "msg",
                "to": "not timed",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1375,
        "y": 780,
        "wires": [
            [
                "f3997895a0b6167b"
            ]
        ],
        "l": false
    },
    {
        "id": "20342dbdbba0f18e",
        "type": "switch",
        "z": "08784a7d4ebd8fe8",
        "g": "e922d7d44558129b",
        "name": "Not timed?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "Timed",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1270,
        "y": 780,
        "wires": [
            [
                "b8757617ef1c7da4"
            ]
        ]
    },
    {
        "id": "176d29a.6f648d6",
        "type": "server",
        "name": "Home Assistant",
        "addon": true,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": [],
        "connectionDelay": false,
        "cacheJson": false,
        "heartbeat": false,
        "heartbeatInterval": "",
        "statusSeparator": "",
        "enableGlobalContextStore": false
    },
    {
        "id": "2ede76567d185269",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-home-assistant-websocket": "0.80.3",
            "node-red-contrib-time-range-switch": "1.2.0"
        }
    }
]