node-red/02 strategy-dynamic.json
[
    {
        "id": "e13a4ee16331b5fa",
        "type": "tab",
        "label": "Strategy Dynamic v4.5.1",
        "disabled": false,
        "info": "Dynamic contract automated management",
        "env": []
    },
    {
        "id": "2a34c18d3a77cf1c",
        "type": "group",
        "z": "e13a4ee16331b5fa",
        "name": "Battery solutions",
        "style": {
            "label": true
        },
        "nodes": [
            "3618d7a935f00f2f",
            "8ceb92024d75d579"
        ],
        "x": 934,
        "y": 79,
        "w": 192,
        "h": 142
    },
    {
        "id": "b1a3a1b876a4a86b",
        "type": "group",
        "z": "e13a4ee16331b5fa",
        "name": "Home battery start",
        "style": {
            "label": true
        },
        "nodes": [
            "4c891ff61fbd8bd3",
            "a19619d1265adb3b",
            "fb4f299158d2a043"
        ],
        "x": 14,
        "y": 79,
        "w": 192,
        "h": 162
    },
    {
        "id": "aa50982f2d1347fc",
        "type": "group",
        "z": "e13a4ee16331b5fa",
        "name": "Plan",
        "style": {
            "label": true
        },
        "nodes": [
            "9c93fa665bcc33a2",
            "070b4ce686ede817",
            "42f4baf159452d63",
            "fc8ec6d9afeb8ec2",
            "297a69e8dee30140",
            "37c7ff7ef6ef3986",
            "eb324ed9c60629b4"
        ],
        "x": 228,
        "y": 273,
        "w": 1244,
        "h": 1054
    },
    {
        "id": "4ef7d6aa73ad7165",
        "type": "group",
        "z": "e13a4ee16331b5fa",
        "name": "Execute",
        "style": {
            "label": true
        },
        "nodes": [
            "83f51a9971929a14",
            "0de8ccbb86ab63eb",
            "9c5cfabd73fb1087",
            "728661ae23d2f101",
            "49d37e6ea7cc4ca4"
        ],
        "x": 234,
        "y": 119,
        "w": 672,
        "h": 122
    },
    {
        "id": "a33feab7fbc34b05",
        "type": "group",
        "z": "e13a4ee16331b5fa",
        "name": "Test area",
        "style": {
            "label": true
        },
        "nodes": [
            "e3d6dfaaedc00e66",
            "ca2eaee4ace3aecd",
            "bc145d46cd79b98c",
            "3e30542f8b3eea42",
            "79b752b7712de688",
            "9e0ff59c0ab98abb",
            "faf829df8eae146f",
            "19c78b2db8834d04"
        ],
        "x": 234,
        "y": 1479,
        "w": 912,
        "h": 162
    },
    {
        "id": "53fd724609348ffc",
        "type": "group",
        "z": "e13a4ee16331b5fa",
        "name": "All data",
        "style": {
            "label": true
        },
        "nodes": [
            "3ebccf712853c55e",
            "0890dbef870d6b2b",
            "fe21193d132a406c",
            "9896fb318d52b60c",
            "f21476ac0ba6d549"
        ],
        "x": 234,
        "y": 1659,
        "w": 672,
        "h": 142
    },
    {
        "id": "f0bb59868ebdc95a",
        "type": "group",
        "z": "e13a4ee16331b5fa",
        "name": "Unhandled exceptions",
        "style": {
            "label": true,
            "stroke": "#d88a8a",
            "color": "#d88a8a"
        },
        "nodes": [
            "72933318194f95b8",
            "95fe6b6d723278b5",
            "bc80830b58195b02"
        ],
        "x": 24,
        "y": 279,
        "w": 182,
        "h": 82
    },
    {
        "id": "297a69e8dee30140",
        "type": "group",
        "z": "e13a4ee16331b5fa",
        "g": "aa50982f2d1347fc",
        "name": "API call to Data Source",
        "style": {
            "label": true
        },
        "nodes": [
            "57b1029a21acbec0",
            "d9c516f5cf4ec74c",
            "6094bff305813c1e",
            "9792ed3392e495b3",
            "240528561f94ea23",
            "ab70dbc480d54de4",
            "65492682db76abea",
            "7c72a768e387cbc8",
            "f5f89a013a35737f",
            "d880967234aa0410",
            "7aa99f71311c3ec2",
            "f144edfa2b2f1a67",
            "fcba97457096e21d",
            "4b08ae48801e6d26",
            "cb36ce9476be2169",
            "f353d0b4b7de0902",
            "2bf8b0bfd10f4a51",
            "e43a989e4511ea0b",
            "2c6b9bbc61ef9a93",
            "b3295985c3fd0ea6"
        ],
        "x": 254,
        "y": 519,
        "w": 752,
        "h": 362
    },
    {
        "id": "37c7ff7ef6ef3986",
        "type": "group",
        "z": "e13a4ee16331b5fa",
        "g": "aa50982f2d1347fc",
        "name": "Update when",
        "style": {
            "label": true
        },
        "nodes": [
            "6882010cd3f2558d",
            "a177be249745831e",
            "2572450ac7599564",
            "d6ac9eba9ce8dedd",
            "db1758030285e8c0",
            "5204b5e7f6796d2a",
            "dea25074052ed70f",
            "07aa8d94e59cd571",
            "7f44f15119aa95f1",
            "6525d59fce11f53a",
            "90ea5904b4d2cec6",
            "e25efaf8c123e6cf",
            "e96c678bd3bcafc3",
            "bba54105c9c97865",
            "f54a5f30f87e3595",
            "ee4fe7237a0f1ccf",
            "ce7b9a6ed2d81e9b",
            "1eb625fa500f9265"
        ],
        "x": 254,
        "y": 299,
        "w": 1192,
        "h": 202
    },
    {
        "id": "eb324ed9c60629b4",
        "type": "group",
        "z": "e13a4ee16331b5fa",
        "g": "aa50982f2d1347fc",
        "name": "Determine strategy",
        "style": {
            "label": true
        },
        "nodes": [
            "74a03ecdc124d8d1",
            "212c1cbf27915d2b",
            "217938d78d83f146",
            "28ad1b492071954c",
            "bdc3e16fabe37ea8",
            "cd7f6270b56a9eb4",
            "1df56b756cbe9f10",
            "ff6c4bd5d4c67b8c",
            "44e852df376b2f5b",
            "9ccf274ee43ecab8",
            "4d11f959bf13739e",
            "ec0ea42f454fb7ec",
            "e169d5ba6c93c295",
            "d3e1271d88626647",
            "f8ae27df9cf428d6",
            "f8805a87b4108541"
        ],
        "x": 254,
        "y": 899,
        "w": 872,
        "h": 402
    },
    {
        "id": "e25efaf8c123e6cf",
        "type": "junction",
        "z": "e13a4ee16331b5fa",
        "g": "37c7ff7ef6ef3986",
        "x": 640,
        "y": 340,
        "wires": [
            [
                "dea25074052ed70f"
            ]
        ]
    },
    {
        "id": "4c891ff61fbd8bd3",
        "type": "link in",
        "z": "e13a4ee16331b5fa",
        "g": "b1a3a1b876a4a86b",
        "name": "Dynamic",
        "links": [],
        "x": 100,
        "y": 160,
        "wires": [
            [
                "fb4f299158d2a043"
            ]
        ],
        "l": true
    },
    {
        "id": "e647e4480fb2d670",
        "type": "comment",
        "z": "e13a4ee16331b5fa",
        "name": "Home Battery Strategy",
        "info": "The `Home Battery Start` flow will call this strategy flow\nby matching the strategy name with the Link In name.\n\nConfigure the Link In node in the Start group.\n\nDon't modify other parts of the Start and End groups.\nThey handle the calling and returning for you.",
        "x": 120,
        "y": 40,
        "wires": []
    },
    {
        "id": "a19619d1265adb3b",
        "type": "comment",
        "z": "e13a4ee16331b5fa",
        "g": "b1a3a1b876a4a86b",
        "name": "Start (readme)",
        "info": "# Setting up your battery strategy flow\n\n## Setup\nName the `Link In node` in this start group exactly after the <select> option configured in your\nselect_input.house_battery_strategy\n\nconfigure select options in:\ninput_select_house_battery_control.yaml\n\n### example\n`house_battery_strategy:\n  name: House Battery Strategy\n  options:\n    - AcmE example`\n\nThe above creates a select option, allowing user to select 'AcmE example'\n\nWhen selected, battery control will search for a flow containing a Link In node\ncalled 'AcmE example' (case sensitive).",
        "x": 110,
        "y": 120,
        "wires": []
    },
    {
        "id": "3618d7a935f00f2f",
        "type": "link out",
        "z": "e13a4ee16331b5fa",
        "g": "2a34c18d3a77cf1c",
        "name": "Return",
        "mode": "return",
        "links": [],
        "x": 975,
        "y": 180,
        "wires": []
    },
    {
        "id": "8ceb92024d75d579",
        "type": "comment",
        "z": "e13a4ee16331b5fa",
        "g": "2a34c18d3a77cf1c",
        "name": "End (readme)",
        "info": "Should return a solution_array of battery objects\n\n## battery object format\n`{{id: string|number, mode: string, power: number}} battery solution`\n- id is an arbitrary battery ID\n- mode is \"stop\", \"charge\", \"discharge\" for Marstek\n- power in Watts\n\n### example array\nreturn this type of solution_array via msg.solutions\n` \nlet solution_array = [];\nsolution_array.push({id:\"M1\", mode: \"charge\", power: 100}); // per battery\nreturn {solutions: solution_array};\n` ",
        "x": 1030,
        "y": 120,
        "wires": []
    },
    {
        "id": "57b1029a21acbec0",
        "type": "api-render-template",
        "z": "e13a4ee16331b5fa",
        "g": "297a69e8dee30140",
        "name": "Cheapest",
        "server": "176d29a.6f648d6",
        "version": 0,
        "template": "{}",
        "resultsLocation": "dynamic.data_cheapest",
        "resultsLocationType": "msg",
        "templateLocation": "",
        "templateLocationType": "none",
        "x": 460,
        "y": 660,
        "wires": [
            [
                "6094bff305813c1e"
            ]
        ]
    },
    {
        "id": "d9c516f5cf4ec74c",
        "type": "api-render-template",
        "z": "e13a4ee16331b5fa",
        "g": "297a69e8dee30140",
        "name": "Expensive",
        "server": "176d29a.6f648d6",
        "version": 0,
        "template": "",
        "resultsLocation": "dynamic.data_expensive",
        "resultsLocationType": "msg",
        "templateLocation": "",
        "templateLocationType": "none",
        "x": 470,
        "y": 720,
        "wires": [
            [
                "9792ed3392e495b3"
            ]
        ]
    },
    {
        "id": "74a03ecdc124d8d1",
        "type": "debug",
        "z": "e13a4ee16331b5fa",
        "g": "eb324ed9c60629b4",
        "name": "Complete message",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 1220,
        "wires": []
    },
    {
        "id": "6094bff305813c1e",
        "type": "json",
        "z": "e13a4ee16331b5fa",
        "g": "297a69e8dee30140",
        "name": "",
        "property": "dynamic.data_cheapest",
        "action": "obj",
        "pretty": false,
        "x": 555,
        "y": 660,
        "wires": [
            [
                "7c72a768e387cbc8"
            ]
        ],
        "l": false
    },
    {
        "id": "9792ed3392e495b3",
        "type": "json",
        "z": "e13a4ee16331b5fa",
        "g": "297a69e8dee30140",
        "name": "",
        "property": "dynamic.data_expensive",
        "action": "obj",
        "pretty": false,
        "x": 575,
        "y": 720,
        "wires": [
            [
                "2bf8b0bfd10f4a51"
            ]
        ],
        "l": false
    },
    {
        "id": "212c1cbf27915d2b",
        "type": "function",
        "z": "e13a4ee16331b5fa",
        "g": "eb324ed9c60629b4",
        "name": "Determine dynamic strategy",
        "func": "// logger, usage: log(this, \"\");\nconst log = global.get('logger');\n\n// 1.   Input\n// Conversion\nconst CONVERSION_RATE = parseFloat(RED.util.getMessageProperty(msg, \"dynamic.value_conversion\")) || 1;\n\n// extract start/end date objects\nconst start_cheapest = new Date(RED.util.getMessageProperty(msg,\"dynamic.data_cheapest.start\"));\nconst start_expensive = new Date(RED.util.getMessageProperty(msg,\"dynamic.data_expensive.start\"));\nconst end_cheapest = new Date(RED.util.getMessageProperty(msg, \"dynamic.data_cheapest.end\"));\nconst end_expensive = new Date(RED.util.getMessageProperty(msg, \"dynamic.data_expensive.end\"));\nlet isCheapestNext = true;\n// stored price cheapest period\nlet lastCheapestPrice = context.last_cheapest_price || 0; // unit: cents/kWh\nconst nextCheapestPrice = parseInt(RED.util.getMessageProperty(msg, \"dynamic.data_cheapest.average\") / CONVERSION_RATE * 100); // unit: cents/kWh \n// average price expensive period\nconst lastExpensivePrice = parseInt(RED.util.getMessageProperty(msg, \"dynamic.data_expensive.average\") / CONVERSION_RATE * 100); // unit: cents/kWh\n// threshold rate for cheapest period\nconst cheapestThresholdCents = parseInt(RED.util.getMessageProperty(msg, \"dynamic.threshold_cheapest_cents\")) || 0; // unit: cents\n// threshold delta for expensive period\nconst deltaThresholdCents = parseInt(RED.util.getMessageProperty(msg, \"dynamic.min_delta_cents\")) || 0; // unit: cents\n\n// 1.1  Enums\nconst STRATEGY = {\n    CHEAPEST: RED.util.getMessageProperty(msg,\"dynamic.strategy_cheapest\") || \"Charge\", \n    NEUTRAL: RED.util.getMessageProperty(msg,\"dynamic.strategy_default\") || \"Charge PV\",\n    EXPENSIVE: RED.util.getMessageProperty(msg,\"dynamic.strategy_expensive\") || \"Self-consumption\"\n}\n\n// 1.2  Defaults   \nmsg.dynamic.avg_cheapest_tariff = 0;\nmsg.dynamic.avg_expensive_tariff = 0;\nmsg.dynamic.avg_delta = 0;\n\n// 2.   Tariffs\n// Check if the Date objects are valid. If 'Invalid Date', stop and warn the user.\nif (isNaN(start_cheapest.getTime()) || isNaN(start_expensive.getTime())) {\n    // warn user\n    log(this, `One or both dates are invalid. Cheap = ${start_cheapest}, Expensive = ${start_expensive}`,\"warn\");\n    node.status({fill:\"red\",shape:\"ring\",text:`One or both dates are invalid: ${start_cheapest}, ${start_expensive}`});\n    // fallback strategy\n    flow.set(\"dynamic_strategy\", STRATEGY.NEUTRAL);\n    // proceed to UI\n    return msg;\n}\n\n// Check if cheapest lies before expensive\nif (start_cheapest < start_expensive) {\n    log(this, `Cheapest moment lies before expensive moment. Cheapest moment: ${start_cheapest}, Expensive = ${start_expensive}`);\n    // store the cheapest price to compare it with future expensive rates, to determine if it's economical to discharge.\n    context.last_cheapest_price = nextCheapestPrice; // store for next iteration\n    lastCheapestPrice = nextCheapestPrice; // used for this iteration\n    log(this, `Cheapest price set to ${lastCheapestPrice} cents`);\n}\n\nif (lastCheapestPrice == 0) {\n    log(this, `I can't recall the tariff used for charging. Cheapest price set to '${lastCheapestPrice}' cents`);\n}\n\nif (lastCheapestPrice < 0) {\n    log(this, `Cheapest price set to '${lastCheapestPrice}' cents. UI will indicate 0 cents.`);\n}\n\n// delta > N cents ? -> charging is economical\nconst delta = (lastExpensivePrice - lastCheapestPrice); // unit: cents\n\n// UI values\nmsg.dynamic.avg_cheapest_tariff = Math.max(lastCheapestPrice, 0);\nmsg.dynamic.avg_expensive_tariff = Math.max(lastExpensivePrice, 0);\nmsg.dynamic.avg_delta = delta;\n\n// 3.   Strategy selection logic\n// for string time\nfunction isTimeInPeriod(startStr, endStr) {\n    const now = new Date();\n    const start = new Date(startStr);\n    const end = new Date(endStr);\n    return (now >= start && now < end);\n}\n// 3.1  is_now - which period have we entered?\nconst now = new Date();\n/** @type {boolean} */\nconst cheapestIsNow = now >= start_cheapest && now <= end_cheapest;\n// const cheapestIsNow = RED.util.getMessageProperty(msg,\"dynamic.data_cheapest.is_now\");\n/** @type {boolean} */\nconst expensiveIsNow = now >= start_expensive && now <= end_expensive;\n// const expensiveIsNow = RED.util.getMessageProperty(msg, \"dynamic.data_expensive.is_now\");\n\n// 3.2  Set strategy\n// Default strategy\nmsg.dynamic.strategy = STRATEGY.NEUTRAL;\n\n// Cheapest period?\nif (cheapestIsNow && lastCheapestPrice <= cheapestThresholdCents) {\n    msg.dynamic.strategy = STRATEGY.CHEAPEST;\n    // Explain\n    log(this, `**Cheapest period is NOW**, price limit: ${lastCheapestPrice}/${cheapestThresholdCents} cents OK`);\n} else if(cheapestIsNow) {\n    // Explain why skipped\n    log(this, `**Cheapest period SKIPPED**, the cheapest period is too expensive today. Price limit: ${lastCheapestPrice}/${cheapestThresholdCents} cents.`);\n}\n\n// Expensive period?\nif (expensiveIsNow && delta >= deltaThresholdCents) {\n    msg.dynamic.strategy = STRATEGY.EXPENSIVE;\n    // Explain\n    log(this, `**Expensive period is NOW**, price delta: ${delta}>=${deltaThresholdCents} cents OK`);\n} else if(expensiveIsNow) {\n    // Explain why skipped\n    log(this, `**Expensive period SKIPPED**, price delta too small: ${lastExpensivePrice}-${lastCheapestPrice}=${delta} cents <= ${deltaThresholdCents} cents`); \n}\n\n// 3.3  Store the strategy in flow-context. The 'Execution' area will read from the flow-context.\nflow.set(\"dynamic_strategy\",msg.dynamic.strategy);\n\n// 4.   User feedback\n// Node status\nnode.status({ fill: \"blue\", shape: \"dot\", text: `${msg.dynamic.strategy}; ${cheapestIsNow} + ${expensiveIsNow} @ ${delta} cents` });\n// Explain\nlog(this, `Strategy set to **${msg.dynamic.strategy}**`);\n\n// Proceed to UI update\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 1140,
        "wires": [
            [
                "74a03ecdc124d8d1",
                "217938d78d83f146",
                "28ad1b492071954c",
                "bdc3e16fabe37ea8",
                "cd7f6270b56a9eb4",
                "1df56b756cbe9f10",
                "ff6c4bd5d4c67b8c",
                "44e852df376b2f5b",
                "9ccf274ee43ecab8"
            ]
        ]
    },
    {
        "id": "83f51a9971929a14",
        "type": "change",
        "z": "e13a4ee16331b5fa",
        "g": "4ef7d6aa73ad7165",
        "name": "Set strategy",
        "rules": [
            {
                "t": "set",
                "p": "target",
                "pt": "msg",
                "to": "dynamic_strategy",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 200,
        "wires": [
            [
                "49d37e6ea7cc4ca4"
            ]
        ]
    },
    {
        "id": "0de8ccbb86ab63eb",
        "type": "link call",
        "z": "e13a4ee16331b5fa",
        "g": "4ef7d6aa73ad7165",
        "name": "Sub-strategy",
        "links": [],
        "linkType": "dynamic",
        "timeout": "3",
        "x": 810,
        "y": 180,
        "wires": [
            [
                "3618d7a935f00f2f"
            ]
        ]
    },
    {
        "id": "217938d78d83f146",
        "type": "api-call-service",
        "z": "e13a4ee16331b5fa",
        "g": "eb324ed9c60629b4",
        "name": "Cheapest Start",
        "server": "176d29a.6f648d6",
        "version": 7,
        "debugenabled": false,
        "action": "input_datetime.set_datetime",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_datetime.house_battery_strategy_dynamic_cheapest_start"
        ],
        "labelId": [],
        "data": "{\t    \"datetime\": $moment($$.dynamic.data_cheapest.start).format('YYYY-MM-DD HH:mm:ss')\t}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "input_datetime",
        "service": "set_datetime",
        "x": 900,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "28ad1b492071954c",
        "type": "api-call-service",
        "z": "e13a4ee16331b5fa",
        "g": "eb324ed9c60629b4",
        "name": "Cheapest End",
        "server": "176d29a.6f648d6",
        "version": 7,
        "debugenabled": false,
        "action": "input_datetime.set_datetime",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_datetime.house_battery_strategy_dynamic_cheapest_end"
        ],
        "labelId": [],
        "data": "{\t    \"datetime\": $moment($$.dynamic.data_cheapest.end).format('YYYY-MM-DD HH:mm:ss')\t}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "input_datetime",
        "service": "set_datetime",
        "x": 900,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "bdc3e16fabe37ea8",
        "type": "api-call-service",
        "z": "e13a4ee16331b5fa",
        "g": "eb324ed9c60629b4",
        "name": "Expensive Start",
        "server": "176d29a.6f648d6",
        "version": 7,
        "debugenabled": false,
        "action": "input_datetime.set_datetime",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_datetime.house_battery_strategy_dynamic_expensive_start"
        ],
        "labelId": [],
        "data": "{\t    \"datetime\": $moment($$.dynamic.data_expensive.start).format('YYYY-MM-DD HH:mm:ss')\t}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "input_datetime",
        "service": "set_datetime",
        "x": 900,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "cd7f6270b56a9eb4",
        "type": "api-call-service",
        "z": "e13a4ee16331b5fa",
        "g": "eb324ed9c60629b4",
        "name": "Expensive End",
        "server": "176d29a.6f648d6",
        "version": 7,
        "debugenabled": false,
        "action": "input_datetime.set_datetime",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_datetime.house_battery_strategy_dynamic_expensive_end"
        ],
        "labelId": [],
        "data": "{\t    \"datetime\": $moment($$.dynamic.data_expensive.end).format('YYYY-MM-DD HH:mm:ss')\t}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "input_datetime",
        "service": "set_datetime",
        "x": 900,
        "y": 1060,
        "wires": [
            []
        ]
    },
    {
        "id": "6882010cd3f2558d",
        "type": "inject",
        "z": "e13a4ee16331b5fa",
        "g": "37c7ff7ef6ef3986",
        "name": "Every 60 min",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "0 0-23 * * *",
        "once": false,
        "onceDelay": "3",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 380,
        "y": 420,
        "wires": [
            [
                "a177be249745831e"
            ]
        ]
    },
    {
        "id": "9c5cfabd73fb1087",
        "type": "switch",
        "z": "e13a4ee16331b5fa",
        "g": "4ef7d6aa73ad7165",
        "name": "Has strategy",
        "property": "dynamic_strategy",
        "propertyType": "flow",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 330,
        "y": 180,
        "wires": [
            [
                "728661ae23d2f101"
            ],
            [
                "83f51a9971929a14"
            ]
        ]
    },
    {
        "id": "728661ae23d2f101",
        "type": "change",
        "z": "e13a4ee16331b5fa",
        "g": "4ef7d6aa73ad7165",
        "name": "Set Full stop",
        "rules": [
            {
                "t": "set",
                "p": "target",
                "pt": "msg",
                "to": "Full stop",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 160,
        "wires": [
            [
                "49d37e6ea7cc4ca4"
            ]
        ]
    },
    {
        "id": "ca2eaee4ace3aecd",
        "type": "inject",
        "z": "e13a4ee16331b5fa",
        "g": "a33feab7fbc34b05",
        "name": "Test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 330,
        "y": 1520,
        "wires": [
            [
                "e3d6dfaaedc00e66"
            ]
        ]
    },
    {
        "id": "e3d6dfaaedc00e66",
        "type": "api-render-template",
        "z": "e13a4ee16331b5fa",
        "g": "a33feab7fbc34b05",
        "name": "Cheapest",
        "server": "176d29a.6f648d6",
        "version": 0,
        "template": "{% from 'cheapest_energy_hours.jinja' import cheapest_energy_hours %}\n{{ cheapest_energy_hours(\n    sensor=\"sensor.zonneplan_current_electricity_tariff\",\n    source_settings=\"zonneplan\",\n    hours=1,\n    mode=\"all\"\n) | to_json }}",
        "resultsLocation": "cheapest",
        "resultsLocationType": "msg",
        "templateLocation": "",
        "templateLocationType": "none",
        "x": 500,
        "y": 1520,
        "wires": [
            [
                "bc145d46cd79b98c"
            ]
        ]
    },
    {
        "id": "bc145d46cd79b98c",
        "type": "json",
        "z": "e13a4ee16331b5fa",
        "g": "a33feab7fbc34b05",
        "name": "",
        "property": "cheapest",
        "action": "obj",
        "pretty": false,
        "x": 595,
        "y": 1520,
        "wires": [
            [
                "3e30542f8b3eea42"
            ]
        ],
        "l": false
    },
    {
        "id": "3e30542f8b3eea42",
        "type": "api-render-template",
        "z": "e13a4ee16331b5fa",
        "g": "a33feab7fbc34b05",
        "name": "Expensive",
        "server": "176d29a.6f648d6",
        "version": 0,
        "template": "{% from 'cheapest_energy_hours.jinja' import cheapest_energy_hours %}\n{{ cheapest_energy_hours(\n    sensor=\"sensor.zonneplan_current_electricity_tariff\",\n    source_settings=\"zonneplan\",\n    lowest=false,\n    hours=1,\n    mode=\"all\"\n) | to_json }}",
        "resultsLocation": "expensive",
        "resultsLocationType": "msg",
        "templateLocation": "",
        "templateLocationType": "none",
        "x": 750,
        "y": 1520,
        "wires": [
            [
                "79b752b7712de688"
            ]
        ]
    },
    {
        "id": "79b752b7712de688",
        "type": "json",
        "z": "e13a4ee16331b5fa",
        "g": "a33feab7fbc34b05",
        "name": "",
        "property": "expensive",
        "action": "obj",
        "pretty": false,
        "x": 855,
        "y": 1520,
        "wires": [
            [
                "9e0ff59c0ab98abb",
                "faf829df8eae146f",
                "19c78b2db8834d04"
            ]
        ],
        "l": false
    },
    {
        "id": "9e0ff59c0ab98abb",
        "type": "debug",
        "z": "e13a4ee16331b5fa",
        "g": "a33feab7fbc34b05",
        "name": "Cheap",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "cheapest.start",
        "targetType": "msg",
        "statusVal": "cheapest.start",
        "statusType": "auto",
        "x": 990,
        "y": 1560,
        "wires": []
    },
    {
        "id": "faf829df8eae146f",
        "type": "debug",
        "z": "e13a4ee16331b5fa",
        "g": "a33feab7fbc34b05",
        "name": "Expensive",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "expensive.start",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1010,
        "y": 1600,
        "wires": []
    },
    {
        "id": "3ebccf712853c55e",
        "type": "api-render-template",
        "z": "e13a4ee16331b5fa",
        "g": "53fd724609348ffc",
        "name": "All Zonneplan",
        "server": "176d29a.6f648d6",
        "version": 0,
        "template": "{% from 'cheapest_energy_hours.jinja' import cheapest_energy_hours %}\n{{ cheapest_energy_hours(\n    sensor=\"sensor.zonneplan_current_electricity_tariff\",\n    source_settings=\"zonneplan\",\n    include_tomorrow=true,\n    hours=\"all\",\n    mode=\"all\"\n) | to_json }}",
        "resultsLocation": "all_data",
        "resultsLocationType": "msg",
        "templateLocation": "",
        "templateLocationType": "none",
        "x": 480,
        "y": 1700,
        "wires": [
            [
                "fe21193d132a406c"
            ]
        ]
    },
    {
        "id": "0890dbef870d6b2b",
        "type": "inject",
        "z": "e13a4ee16331b5fa",
        "g": "53fd724609348ffc",
        "name": "Fetch",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 330,
        "y": 1700,
        "wires": [
            [
                "3ebccf712853c55e"
            ]
        ]
    },
    {
        "id": "fe21193d132a406c",
        "type": "json",
        "z": "e13a4ee16331b5fa",
        "g": "53fd724609348ffc",
        "name": "",
        "property": "all_data",
        "action": "obj",
        "pretty": false,
        "x": 595,
        "y": 1700,
        "wires": [
            [
                "9896fb318d52b60c",
                "f21476ac0ba6d549"
            ]
        ],
        "l": false
    },
    {
        "id": "a177be249745831e",
        "type": "delay",
        "z": "e13a4ee16331b5fa",
        "g": "37c7ff7ef6ef3986",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 540,
        "y": 420,
        "wires": [
            [
                "ee4fe7237a0f1ccf"
            ]
        ]
    },
    {
        "id": "2572450ac7599564",
        "type": "api-current-state",
        "z": "e13a4ee16331b5fa",
        "g": "37c7ff7ef6ef3986",
        "name": "Source",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_select.house_battery_strategy_dynamic_data_source",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "dynamic.data_source",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 860,
        "y": 380,
        "wires": [
            [
                "7f44f15119aa95f1"
            ]
        ]
    },
    {
        "id": "240528561f94ea23",
        "type": "function",
        "z": "e13a4ee16331b5fa",
        "g": "297a69e8dee30140",
        "name": "Data source settings",
        "func": "// logger, usage: log(this, \"\");\nconst log = global.get('logger');\n\n/*    From cheapes-energy-hours macro\n      See: https://github.com/TheFes/cheapest-energy-hours/blob/main/documentation/1-source_data.md#data-provider-settings\n\n      - None (default selection)\n      - Zonneplan\n      - Amber Electric\n      - EasyEnergy, EnergyZero (core)\n      - ENTSO-E\n      - Frank Energie\n      - GE-Spot\n      - Tibber, Nordpool (core)\n      - Tibber (custom)\n      - Nordpool (custom)\n      - PVPC (Spain)\n      - Octopus Energy\n      - Omie\n*/\n\nswitch (msg.dynamic.data_source) {\n      case \"None\":\n            // Handle the 'None' case (e.g., no supplier selected or data is unavailable)\n            log(this,\"No data source selected.\");\n            // Add config here...\n            break;\n\n      case \"Zonneplan\":\n            // Code for Zonneplan (a Dutch energy supplier)\n            log(this,\"Processing Zonneplan data.\");\n            // Add config here...\n            msg.dynamic.sensor='sensor.zonneplan_current_electricity_tariff'; // when using: https://github.com/fsaris/home-assistant-zonneplan-one\n            msg.dynamic.attr_all='forecast';\n            msg.dynamic.value_key='electricity_price';\n            msg.dynamic.value_conversion = 10000000; // whole currency / kWh\n            break;\n\n      case \"Amber Electric\":\n            // Code for Amber Electric (Australian energy retailer)\n            log(this,\"Processing Amber Electric data.\");\n            // Add config here...\n            msg.dynamic.attr_all='forecasts'; \n            msg.dynamic.time_key='start_time'; \n            msg.dynamic.value_key='per_kwh';\n            break;\n\n      case \"EasyEnergy, EnergyZero (core)\":\n            // Code for EasyEnergy and EnergyZero (core/default implementation)\n            log(this,\"Processing EasyEnergy/EnergyZero core data.\");\n            // Add config here...\n            break;\n\n      case \"ENTSO-E\":\n            // Code for ENTSO-E (European Network of Transmission System Operators for Electricity)\n            log(this,\"Processing ENTSO-E data.\");\n            // Add config here...\n            msg.dynamic.attr_today='prices_today'; \n            msg.dynamic.attr_tomorrow='prices_tomorrow'; \n            msg.dynamic.time_key='time';\n            msg.dynamic.value_key='price';\n            break;\n\n      case \"Frank Energie\":\n            // Code for Frank Energie (Dutch energy supplier)\n            log(this,\"Processing Frank Energie data.\");\n            // Add config here...\n            msg.dynamic.sensor = 'sensor.frank_energie_prijzen_gemiddelde_elektriciteitsprijs_alle_uren_all_in'; // when using: https://github.com/HiDiHo01/home-assistant-frank_energie\n            msg.dynamic.attr_all = 'prices'; \n            msg.dynamic.time_key = 'from'; \n            msg.dynamic.value_key = 'price';\n            break;\n\n      case \"GE-Spot\":\n            // Code for GE-Spot (Global Electric Spot price)\n            log(this,\"Processing GE-Spot data.\");\n            // Add config here...\n            msg.dynamic.attr_today = 'today_hourly_prices'; // using the hourly version. today_interval_prices is per 15 mins\n            msg.dynamic.attr_tomorrow = 'tomorrow_hourly_prices'; // using the hourly version\n            msg.dynamic.time_key = 'time'; \n            msg.dynamic.value_key = 'value';\n            break;\n\n      case \"Nordpool (core)\":\n            // Code for Nordpool (core/default implementation)\n            log(this, \"Processing Nordpool core data.\");\n            // Add config here...\n            msg.dynamic.sensor = 'sensor.nordpool_ceh_prices';\n            msg.dynamic.attr_today = 'today';\n            msg.dynamic.attr_tomorrow = 'tomorrow';\n            msg.dynamic.time_key = 'start';\n            msg.dynamic.value_key = 'value';\n            msg.dynamic.datetime_in_data = true; // datetime is in the data\n            break;\n\n      case \"Tibber (core)\":\n            // Code for Tibber (core/default implementation)\n            log(this,\"Processing Tibber core data.\");\n            // Add config here...\n            msg.dynamic.sensor = 'sensor.tibber_ceh_prices';\n            msg.dynamic.attr_today = 'today';\n            msg.dynamic.attr_tomorrow = 'tomorrow';\n            msg.dynamic.time_key = 'start';\n            msg.dynamic.value_key = 'value';\n            msg.dynamic.datetime_in_data = true; // datetime is in the data\n            break;\n\n      case \"Tibber (custom)\":\n            // Code for a custom Tibber setup/configuration\n            log(this,\"Processing Tibber custom data.\");\n            // Add config here...\n            msg.dynamic.attr_today = 'today';\n            msg.dynamic.attr_tomorrow = 'tomorrow';\n            msg.dynamic.datetime_in_data = false;\n            break;\n\n      case \"Nordpool (custom)\":\n            // Code for a custom Nordpool setup/configuration\n            log(this,\"Processing Nordpool custom data.\");\n            // Add config here...\n            break;\n\n      case \"PVPC (Spain)\":\n            // Code for PVPC (Voluntary Price for Small Consumers in Spain)\n            log(this,\"Processing Spanish PVPC data.\");\n            // Add config here...\n            break;\n\n      case \"Octopus Energy\":\n            // Code for Octopus Energy (UK/international energy supplier)\n            log(this,\"Processing Octopus Energy data.\");\n            // Add config here...\n            msg.dynamic.attr_all = 'rates'; \n            msg.dynamic.value_key = 'value_incl_vat';\n            break;\n\n      case \"Omie\":\n            // Code for Omie (Iberian Energy Market Operator)\n            log(this,\"Processing Omie data.\");\n            // Add config here...\n            break;\n\n      default:\n            // Code to execute if the supplier does not match any of the above cases\n            node.warn(`Unknown supplier: ${msg.dynamic.data_source}. Using default logic.`);\n            log(this,`Unknown supplier: ${msg.dynamic.data_source}. Using default logic.`);\n            // Add default error handling...\n}\n\nlog(this, \"Performing API calls...\");\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 600,
        "wires": [
            [
                "ab70dbc480d54de4"
            ]
        ]
    },
    {
        "id": "d6ac9eba9ce8dedd",
        "type": "api-current-state",
        "z": "e13a4ee16331b5fa",
        "g": "37c7ff7ef6ef3986",
        "name": "Cheapest N hrs",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_number.house_battery_strategy_dynamic_cheapest_hrs",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "dynamic.cheapest_hrs",
                "propertyType": "msg",
                "value": "number",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 1100,
        "y": 380,
        "wires": [
            [
                "db1758030285e8c0"
            ]
        ]
    },
    {
        "id": "db1758030285e8c0",
        "type": "api-current-state",
        "z": "e13a4ee16331b5fa",
        "g": "37c7ff7ef6ef3986",
        "name": "Expensive N hrs",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_number.house_battery_strategy_dynamic_expensive_hrs",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "dynamic.expensive_hrs",
                "propertyType": "msg",
                "value": "number",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 1100,
        "y": 420,
        "wires": [
            [
                "e96c678bd3bcafc3"
            ]
        ]
    },
    {
        "id": "5204b5e7f6796d2a",
        "type": "inject",
        "z": "e13a4ee16331b5fa",
        "g": "37c7ff7ef6ef3986",
        "name": "Check period",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "*/15 0-23 * * *",
        "once": true,
        "onceDelay": "3",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 380,
        "y": 380,
        "wires": [
            [
                "dea25074052ed70f"
            ]
        ]
    },
    {
        "id": "dea25074052ed70f",
        "type": "function",
        "z": "e13a4ee16331b5fa",
        "g": "37c7ff7ef6ef3986",
        "name": "Init",
        "func": "msg.dynamic = {};\nmsg.log = [];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 380,
        "wires": [
            [
                "2572450ac7599564"
            ]
        ]
    },
    {
        "id": "ab70dbc480d54de4",
        "type": "function",
        "z": "e13a4ee16331b5fa",
        "g": "297a69e8dee30140",
        "name": "Generate templates",
        "func": "// final template initialization\nmsg.dynamic.template_cheapest = \"\";\nmsg.dynamic.template_expensive = \"\";\n\n// temporary template parts\nlet template_start = \"\";\nlet template_common = [];\nlet template_cheapest = [];\nlet template_expensive = [];\nlet template_all = [];\nlet template_end = \"\";\n\n// 1. IMPROVEMENT: Use radix 10 and Logical OR (||) for cleaner default handling\nconst cheapest_hrs = parseInt(RED.util.getMessageProperty(msg,\"dynamic.cheapest_hrs\"), 10) || 1;\nconst expensive_hrs = parseInt(RED.util.getMessageProperty(msg,\"dynamic.expensive_hrs\"), 10) || 1;\n\n// load the macro\ntemplate_start = `{% from 'cheapest_energy_hours.jinja' import cheapest_energy_hours %}\n{{ cheapest_energy_hours(\n`;\ntemplate_end = `) | to_json }}`;\n\n// collect arguments | strings\nconst stringKeys = [\n    'sensor',\n    'attr_all',\n    'value_key',\n    'attr_today',\n    'attr_tomorrow',\n    'time_key'\n];\n\nstringKeys.forEach(key => {\n    if (msg.dynamic[key] !== undefined) {\n        template_common.push(`${key}='${msg.dynamic[key]}'`);\n    }\n});\n\n// collect arguments | boolean, integer\nconst otherKeys = [\n    'datetime_in_data',\n    'data_minutes',\n];\n\notherKeys.forEach(key => {\n    if (msg.dynamic[key] !== undefined) {\n        template_common.push(`${key}=${msg.dynamic[key]}`);\n    }\n});\n\n// copy common items\ntemplate_cheapest = [...template_common];\ntemplate_expensive = [...template_common];\ntemplate_all = [...template_common];\n\n// collect arguments | cheapest specific\ntemplate_cheapest.push(`hours=${cheapest_hrs}`);\n// template_cheapest.push(`include_tomorrow=true`);\ntemplate_cheapest.push(`mode=\"all\"`);\n\n// collect arguments | expensive specific\ntemplate_expensive.push(`hours=${expensive_hrs}`);\n// template_expensive.push(`include_tomorrow=true`);\ntemplate_expensive.push(`lowest=false`);\ntemplate_expensive.push(`mode=\"all\"`);\n\n// collect all hours | via extra call\ntemplate_all.push(`hours=\"all\"`);\ntemplate_all.push(`include_tomorrow=true`);\ntemplate_all.push(`mode=\"all\"`);\n\n/**\n * Formats an array of strings into a single string:\n * - Each item starts with 4 spaces.\n * - Each item ends with a comma, except the last one.\n * - Items are separated by a newline.\n */\nfunction formatTemplateArray(array) {\n    if (!array || array.length === 0) {\n        return \"\";\n    }\n\n    const indent = \"    \"; \n\n    const formatted_lines = array.map((element, index) => {\n        const suffix = (index < array.length - 1) ? \",\" : \"\";\n        return `${indent}${element}${suffix}`;\n    });\n\n    return formatted_lines.join('\\n');\n}\n\n// generate string templates\nconst template_cheapest_string = formatTemplateArray(template_cheapest);\nconst template_expensive_string = formatTemplateArray(template_expensive);\nconst template_all_string = formatTemplateArray(template_all);\n\n// done\nmsg.dynamic.template_cheapest = `${template_start}${template_cheapest_string}${template_end}`;\nmsg.dynamic.template_expensive = `${template_start}${template_expensive_string}${template_end}`;\nmsg.dynamic.template_all = `${template_start}${template_all_string}${template_end}`;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 600,
        "wires": [
            [
                "7aa99f71311c3ec2",
                "f144edfa2b2f1a67",
                "65492682db76abea",
                "e43a989e4511ea0b"
            ]
        ]
    },
    {
        "id": "7aa99f71311c3ec2",
        "type": "debug",
        "z": "e13a4ee16331b5fa",
        "g": "297a69e8dee30140",
        "name": "Template cheapest",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "dynamic.template_cheapest",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 620,
        "wires": []
    },
    {
        "id": "f144edfa2b2f1a67",
        "type": "debug",
        "z": "e13a4ee16331b5fa",
        "g": "297a69e8dee30140",
        "name": "Template expensive",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "dynamic.template_expensive",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 580,
        "wires": []
    },
    {
        "id": "65492682db76abea",
        "type": "change",
        "z": "e13a4ee16331b5fa",
        "g": "297a69e8dee30140",
        "name": "Set",
        "rules": [
            {
                "t": "set",
                "p": "template",
                "pt": "msg",
                "to": "dynamic.template_cheapest",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 660,
        "wires": [
            [
                "57b1029a21acbec0"
            ]
        ]
    },
    {
        "id": "7c72a768e387cbc8",
        "type": "change",
        "z": "e13a4ee16331b5fa",
        "g": "297a69e8dee30140",
        "name": "Set",
        "rules": [
            {
                "t": "set",
                "p": "template",
                "pt": "msg",
                "to": "dynamic.template_expensive",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 720,
        "wires": [
            [
                "d9c516f5cf4ec74c"
            ]
        ]
    },
    {
        "id": "f5f89a013a35737f",
        "type": "change",
        "z": "e13a4ee16331b5fa",
        "g": "297a69e8dee30140",
        "name": "Cleanup",
        "rules": [
            {
                "t": "delete",
                "p": "template",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 840,
        "wires": [
            [
                "d880967234aa0410"
            ]
        ]
    },
    {
        "id": "1df56b756cbe9f10",
        "type": "debug",
        "z": "e13a4ee16331b5fa",
        "g": "eb324ed9c60629b4",
        "name": "Log: activate 'debug mode' first",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "log",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 1260,
        "wires": []
    },
    {
        "id": "07aa8d94e59cd571",
        "type": "server-state-changed",
        "z": "e13a4ee16331b5fa",
        "g": "37c7ff7ef6ef3986",
        "name": "User input",
        "server": "176d29a.6f648d6",
        "version": 6,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "input_number.house_battery_strategy_dynamic_cheapest_hrs",
                "input_number.house_battery_strategy_dynamic_expensive_hrs",
                "input_select.house_battery_strategy_dynamic_data_source",
                "input_number.house_battery_strategy_dynamic_threshold_delta",
                "input_number.house_battery_strategy_dynamic_threshold_cheapest_period"
            ],
            "substring": [],
            "regex": []
        },
        "outputInitially": false,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 360,
        "y": 340,
        "wires": [
            [
                "e25efaf8c123e6cf"
            ]
        ]
    },
    {
        "id": "7f44f15119aa95f1",
        "type": "switch",
        "z": "e13a4ee16331b5fa",
        "g": "37c7ff7ef6ef3986",
        "name": "Source selected?",
        "property": "dynamic.data_source",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "None",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 965,
        "y": 380,
        "wires": [
            [
                "90ea5904b4d2cec6"
            ],
            [
                "d6ac9eba9ce8dedd"
            ]
        ],
        "l": false
    },
    {
        "id": "6525d59fce11f53a",
        "type": "debug",
        "z": "e13a4ee16331b5fa",
        "g": "37c7ff7ef6ef3986",
        "name": "Not set",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "counter",
        "x": 1340,
        "y": 340,
        "wires": []
    },
    {
        "id": "ff6c4bd5d4c67b8c",
        "type": "api-call-service",
        "z": "e13a4ee16331b5fa",
        "g": "eb324ed9c60629b4",
        "name": "Avg cheap tariff",
        "server": "176d29a.6f648d6",
        "version": 7,
        "debugenabled": false,
        "action": "input_number.set_value",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_number.house_battery_strategy_dynamic_cheapest_avg_tariff"
        ],
        "labelId": [],
        "data": "{\"value\": $$.dynamic.avg_cheapest_tariff }",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "input_number",
        "service": "set_value",
        "x": 900,
        "y": 1100,
        "wires": [
            []
        ]
    },
    {
        "id": "44e852df376b2f5b",
        "type": "api-call-service",
        "z": "e13a4ee16331b5fa",
        "g": "eb324ed9c60629b4",
        "name": "Avg expensive tariff",
        "server": "176d29a.6f648d6",
        "version": 7,
        "debugenabled": false,
        "action": "input_number.set_value",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_number.house_battery_strategy_dynamic_expensive_avg_tariff"
        ],
        "labelId": [],
        "data": "{\"value\": $$.dynamic.avg_expensive_tariff}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "input_number",
        "service": "set_value",
        "x": 910,
        "y": 1140,
        "wires": [
            []
        ]
    },
    {
        "id": "9ccf274ee43ecab8",
        "type": "api-call-service",
        "z": "e13a4ee16331b5fa",
        "g": "eb324ed9c60629b4",
        "name": "Avg delta",
        "server": "176d29a.6f648d6",
        "version": 7,
        "debugenabled": false,
        "action": "input_number.set_value",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_number.house_battery_strategy_dynamic_expensive_avg_delta"
        ],
        "labelId": [],
        "data": "{\"value\": $$.dynamic.avg_delta}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "input_number",
        "service": "set_value",
        "x": 880,
        "y": 1180,
        "wires": [
            []
        ]
    },
    {
        "id": "4d11f959bf13739e",
        "type": "api-current-state",
        "z": "e13a4ee16331b5fa",
        "g": "eb324ed9c60629b4",
        "name": "Threshold delta",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_number.house_battery_strategy_dynamic_threshold_delta",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "dynamic.min_delta_cents",
                "propertyType": "msg",
                "value": "number",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 360,
        "y": 1020,
        "wires": [
            [
                "e169d5ba6c93c295"
            ]
        ]
    },
    {
        "id": "90ea5904b4d2cec6",
        "type": "change",
        "z": "e13a4ee16331b5fa",
        "g": "37c7ff7ef6ef3986",
        "name": "Set dynamic strategy to null",
        "rules": [
            {
                "t": "set",
                "p": "dynamic_strategy",
                "pt": "flow",
                "to": "null",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1140,
        "y": 340,
        "wires": [
            [
                "6525d59fce11f53a"
            ]
        ]
    },
    {
        "id": "9896fb318d52b60c",
        "type": "debug",
        "z": "e13a4ee16331b5fa",
        "g": "53fd724609348ffc",
        "name": "All data",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "all_data",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 1700,
        "wires": []
    },
    {
        "id": "19c78b2db8834d04",
        "type": "debug",
        "z": "e13a4ee16331b5fa",
        "g": "a33feab7fbc34b05",
        "name": "Complete msg",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 1520,
        "wires": []
    },
    {
        "id": "fb4f299158d2a043",
        "type": "change",
        "z": "e13a4ee16331b5fa",
        "g": "b1a3a1b876a4a86b",
        "name": "Trace",
        "rules": [
            {
                "t": "set",
                "p": "strategy.trace",
                "pt": "msg",
                "to": "[\t   strategy.trace,\t   {\t       \"flow\": target,\t       \"flow_settings\": advanced_settings,\t       \"timestamp\": $now()\t   } \t]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 90,
        "y": 200,
        "wires": [
            [
                "9c5cfabd73fb1087"
            ]
        ],
        "info": "Attaches a breadcrumb trace to the msg\r\nso the user can reconstruct which route has\r\nbeen traveled"
    },
    {
        "id": "49d37e6ea7cc4ca4",
        "type": "function",
        "z": "e13a4ee16331b5fa",
        "g": "4ef7d6aa73ad7165",
        "name": "Selected",
        "func": "// Logger\nconst log = global.get(\"logger\");\nlog(this,`${msg.target} strategy`);\n\n// Status\nnode.status({fill:\"green\",shape:\"dot\",text:`${msg.target}`});\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 180,
        "wires": [
            [
                "0de8ccbb86ab63eb"
            ]
        ]
    },
    {
        "id": "72933318194f95b8",
        "type": "catch",
        "z": "e13a4ee16331b5fa",
        "g": "f0bb59868ebdc95a",
        "name": "",
        "scope": null,
        "uncaught": true,
        "x": 65,
        "y": 320,
        "wires": [
            [
                "95fe6b6d723278b5"
            ]
        ],
        "l": false
    },
    {
        "id": "95fe6b6d723278b5",
        "type": "function",
        "z": "e13a4ee16331b5fa",
        "g": "f0bb59868ebdc95a",
        "name": "Unhandled Exception",
        "func": "const handle = global.get('unhandledException');\n\nhandle(this);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 115,
        "y": 320,
        "wires": [
            [
                "bc80830b58195b02"
            ]
        ],
        "l": false
    },
    {
        "id": "bc80830b58195b02",
        "type": "link out",
        "z": "e13a4ee16331b5fa",
        "g": "f0bb59868ebdc95a",
        "name": "link out 5",
        "mode": "return",
        "links": [],
        "x": 165,
        "y": 320,
        "wires": []
    },
    {
        "id": "ec0ea42f454fb7ec",
        "type": "api-current-state",
        "z": "e13a4ee16331b5fa",
        "g": "eb324ed9c60629b4",
        "name": "Threshold cheapest",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_number.house_battery_strategy_dynamic_threshold_cheapest_period",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "dynamic.threshold_cheapest_cents",
                "propertyType": "msg",
                "value": "number",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 370,
        "y": 980,
        "wires": [
            [
                "4d11f959bf13739e"
            ]
        ]
    },
    {
        "id": "e169d5ba6c93c295",
        "type": "api-current-state",
        "z": "e13a4ee16331b5fa",
        "g": "eb324ed9c60629b4",
        "name": "Strategy default",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_select.house_battery_strategy_dynamic_default",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "dynamic.strategy_default",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 360,
        "y": 1060,
        "wires": [
            [
                "d3e1271d88626647"
            ]
        ]
    },
    {
        "id": "d3e1271d88626647",
        "type": "api-current-state",
        "z": "e13a4ee16331b5fa",
        "g": "eb324ed9c60629b4",
        "name": "Strategy cheapest",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_select.house_battery_strategy_dynamic_cheapest",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "dynamic.strategy_cheapest",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 370,
        "y": 1100,
        "wires": [
            [
                "f8ae27df9cf428d6"
            ]
        ]
    },
    {
        "id": "f8ae27df9cf428d6",
        "type": "api-current-state",
        "z": "e13a4ee16331b5fa",
        "g": "eb324ed9c60629b4",
        "name": "Strategy expensive",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_select.house_battery_strategy_dynamic_expensive",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "dynamic.strategy_expensive",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 370,
        "y": 1140,
        "wires": [
            [
                "212c1cbf27915d2b"
            ]
        ]
    },
    {
        "id": "d880967234aa0410",
        "type": "function",
        "z": "e13a4ee16331b5fa",
        "g": "297a69e8dee30140",
        "name": "Cache data source",
        "func": "// logger, usage: log(this, \"\");\nconst log = global.get('logger');\n\nconst dynamicData = msg.dynamic;\n\n// Helper to check for errors in the object\nconst isInvalid = (data) => {\n    if (!data) return true;\n    // Check if the stringified object contains \"error\"\n    return JSON.stringify(data).toLowerCase().includes(\"error\");\n};\n\nif (isInvalid(dynamicData)) {\n    // Explain issue\n    log(this, \"Invalid data received, clearing cache\", \"warn\");\n    // Clear cache\n    flow.set(\"cached_dynamic_data\", undefined);\n} else {\n    // Cache on success\n    log(this, \"Caching `msg.dynamic`\");\n    // Save the entire object to flow context\n    flow.set(\"cached_dynamic_data\", dynamicData);\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 840,
        "wires": [
            [
                "4b08ae48801e6d26"
            ]
        ]
    },
    {
        "id": "9c93fa665bcc33a2",
        "type": "catch",
        "z": "e13a4ee16331b5fa",
        "g": "aa50982f2d1347fc",
        "name": "Catch group",
        "scope": "group",
        "uncaught": false,
        "x": 1090,
        "y": 580,
        "wires": [
            [
                "fc8ec6d9afeb8ec2"
            ]
        ]
    },
    {
        "id": "070b4ce686ede817",
        "type": "debug",
        "z": "e13a4ee16331b5fa",
        "g": "aa50982f2d1347fc",
        "name": "Strategy errors",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1320,
        "y": 580,
        "wires": []
    },
    {
        "id": "42f4baf159452d63",
        "type": "comment",
        "z": "e13a4ee16331b5fa",
        "g": "aa50982f2d1347fc",
        "name": "Cheapest Energy Hours - errors",
        "info": "\"No valid sensor found\" if price_data is none and not valid_sensor,\n\"No valid data in {}\".format(sensor) if price_data is none and data == [] and valid_sensor,\n\"No valid data in provided price_data\" if price_data is not none and not valid_price_data,\n\"Time key '{}' not found in data\".format(time_key) if data and time_key not in data[0],\n\"Value key '{}' not found in data\".format(value_key) if data and value_key not in data[0],\n\"Invalid mode '{}' selected\".format(mode) if mode not in modes,\n\"Boolean input expected for include_today, '{}' can not be processed as a boolean\".format(include_today) if include_today | bool(\"\") is not boolean,\n\"Boolean input expected for include_tomorrow, '{}' can not be processed as a boolean\".format(include_tomorrow) if include_tomorrow | bool(\"\") is not boolean,\n\"Boolean input expected for look_ahead, '{}' can not be processed as a boolean\".format(look_ahead) if look_ahead | bool(\"\") is not boolean,\n\"Boolean input expected for lowest, '{}' can not be processed as a boolean\".format(lowest) if lowest | bool(\"\") is not boolean,\n\"Boolean input expected for latest_possible, '{}' can not be processed as a boolean\".format(latest_possible) if latest_possible | bool(\"\") is not boolean,\n\"Numeric input or percentage expected for price_tolerance, '{}' can not be processed as a float or percentage\".format(price_tolerance) if not valid_pt,\n\"Numeric input expected for kwh, '{}' can not be processed as a float\".format(kwh) if kwh is not none and not kwh | is_number,\n\"Selected program '{}' is not available or has no data\".format(program) if program is not none and w is none,\n\"Selected start parameter is after the end parameter\" if start_end and data,\n\"{} hours between start and end, where {} hours are required\".format(end_start, h | round(3)) if not start_end and end_start < h | round(3) and data,\n\"Invalid combination of source data points per hour '{}' and number of weight points '{}'\".format(dp, dph) if all_keys and not wp_check",
        "x": 1150,
        "y": 540,
        "wires": []
    },
    {
        "id": "fc8ec6d9afeb8ec2",
        "type": "function",
        "z": "e13a4ee16331b5fa",
        "g": "aa50982f2d1347fc",
        "name": "Unhandled Exception",
        "func": "const handle = global.get('unhandledException');\n\nhandle(this);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1195,
        "y": 580,
        "wires": [
            [
                "070b4ce686ede817"
            ]
        ],
        "l": false
    },
    {
        "id": "e96c678bd3bcafc3",
        "type": "function",
        "z": "e13a4ee16331b5fa",
        "g": "37c7ff7ef6ef3986",
        "name": "Cache check",
        "func": "// Check if cache can be used or a new call to Data Source is required\nconst log = global.get('logger');\n\n// Retrieve stored data from flow context\nconst previousValues = flow.get(\"previous_sensor_values\") || {};\nconst cachedData = flow.get(\"cached_dynamic_data\");\n\n// Create a string or object to represent current state\nconst currentValues = {\n    src: msg.dynamic.data_source,\n    hc: msg.dynamic.cheapest_hrs,\n    he: msg.dynamic.expensive_hrs\n};\n\n// Compare current with previous (JSON stringify is a quick way to compare objects)\nconst inputsMatch = JSON.stringify(currentValues) === JSON.stringify(previousValues);\n\n// Determine cache hit\nif (inputsMatch && cachedData){\n    // Cache HIT\n    node.status({ fill: \"green\", shape: \"dot\", text: `Cache hit` });\n    log(this,`*CACHE HIT* using stored tariff data`);\n\n    // Attach cached data to the message so following nodes can use it\n    msg.dynamic = cachedData;\n\n    // Output #1\n    return [msg, null];\n\n} else {\n    // Cache MISS\n    node.status({ fill: \"green\", shape: \"ring\", text: `Cache miss: ${JSON.stringify(currentValues) }` });\n\n    // Save current values for the next run\n    flow.set(\"previous_sensor_values\", currentValues);\n    \n    // Output #2\n    return [null, msg];\n}",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1270,
        "y": 420,
        "wires": [
            [
                "bba54105c9c97865"
            ],
            [
                "f54a5f30f87e3595"
            ]
        ],
        "outputLabels": [
            "Cache HIT",
            "Cache MISS"
        ]
    },
    {
        "id": "bba54105c9c97865",
        "type": "link out",
        "z": "e13a4ee16331b5fa",
        "g": "37c7ff7ef6ef3986",
        "name": "from Cache Check ok",
        "mode": "link",
        "links": [
            "f8805a87b4108541"
        ],
        "x": 1375,
        "y": 400,
        "wires": []
    },
    {
        "id": "fcba97457096e21d",
        "type": "link in",
        "z": "e13a4ee16331b5fa",
        "g": "297a69e8dee30140",
        "name": "link Fetch from Data Source",
        "links": [
            "f54a5f30f87e3595"
        ],
        "x": 295,
        "y": 560,
        "wires": [
            [
                "240528561f94ea23"
            ]
        ]
    },
    {
        "id": "f54a5f30f87e3595",
        "type": "link out",
        "z": "e13a4ee16331b5fa",
        "g": "37c7ff7ef6ef3986",
        "name": "from Cache Check NoK",
        "mode": "link",
        "links": [
            "fcba97457096e21d"
        ],
        "x": 1375,
        "y": 440,
        "wires": []
    },
    {
        "id": "f8805a87b4108541",
        "type": "link in",
        "z": "e13a4ee16331b5fa",
        "g": "eb324ed9c60629b4",
        "name": "link Determine Strategy",
        "links": [
            "4b08ae48801e6d26",
            "bba54105c9c97865"
        ],
        "x": 295,
        "y": 940,
        "wires": [
            [
                "ec0ea42f454fb7ec"
            ]
        ]
    },
    {
        "id": "4b08ae48801e6d26",
        "type": "link out",
        "z": "e13a4ee16331b5fa",
        "g": "297a69e8dee30140",
        "name": "link out 12",
        "mode": "link",
        "links": [
            "f8805a87b4108541"
        ],
        "x": 635,
        "y": 840,
        "wires": []
    },
    {
        "id": "ee4fe7237a0f1ccf",
        "type": "function",
        "z": "e13a4ee16331b5fa",
        "g": "37c7ff7ef6ef3986",
        "name": "Clear Cache",
        "func": "// Clear cache\nflow.set(\"cached_dynamic_data\", undefined);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 635,
        "y": 420,
        "wires": [
            [
                "dea25074052ed70f"
            ]
        ],
        "l": false
    },
    {
        "id": "f21476ac0ba6d549",
        "type": "ha-fire-event",
        "z": "e13a4ee16331b5fa",
        "g": "53fd724609348ffc",
        "name": "",
        "server": "176d29a.6f648d6",
        "version": 0,
        "event": "update_energy_prices",
        "data": "msg.all_data",
        "dataType": "jsonata",
        "x": 760,
        "y": 1760,
        "wires": [
            []
        ]
    },
    {
        "id": "cb36ce9476be2169",
        "type": "api-render-template",
        "z": "e13a4ee16331b5fa",
        "g": "297a69e8dee30140",
        "name": "All",
        "server": "176d29a.6f648d6",
        "version": 0,
        "template": "",
        "resultsLocation": "dynamic.data_all",
        "resultsLocationType": "msg",
        "templateLocation": "",
        "templateLocationType": "none",
        "x": 450,
        "y": 780,
        "wires": [
            [
                "f353d0b4b7de0902"
            ]
        ]
    },
    {
        "id": "f353d0b4b7de0902",
        "type": "json",
        "z": "e13a4ee16331b5fa",
        "g": "297a69e8dee30140",
        "name": "",
        "property": "dynamic.data_all",
        "action": "obj",
        "pretty": false,
        "x": 535,
        "y": 780,
        "wires": [
            [
                "f5f89a013a35737f",
                "2c6b9bbc61ef9a93"
            ]
        ],
        "l": false
    },
    {
        "id": "2bf8b0bfd10f4a51",
        "type": "change",
        "z": "e13a4ee16331b5fa",
        "g": "297a69e8dee30140",
        "name": "Set",
        "rules": [
            {
                "t": "set",
                "p": "template",
                "pt": "msg",
                "to": "dynamic.template_all",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 780,
        "wires": [
            [
                "cb36ce9476be2169"
            ]
        ]
    },
    {
        "id": "b3295985c3fd0ea6",
        "type": "ha-fire-event",
        "z": "e13a4ee16331b5fa",
        "g": "297a69e8dee30140",
        "name": "Update energy prices",
        "server": "176d29a.6f648d6",
        "version": 0,
        "event": "update_energy_prices",
        "data": "msg.dynamic.data_all",
        "dataType": "jsonata",
        "x": 860,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "e43a989e4511ea0b",
        "type": "debug",
        "z": "e13a4ee16331b5fa",
        "g": "297a69e8dee30140",
        "name": "Template all",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "dynamic.template_all",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 660,
        "wires": []
    },
    {
        "id": "2c6b9bbc61ef9a93",
        "type": "function",
        "z": "e13a4ee16331b5fa",
        "g": "297a69e8dee30140",
        "name": "Convert price",
        "func": "// logger, usage: log(this, \"\");\nconst log = global.get('logger');\n\n// Conversion\nconst CONVERSION_RATE = parseFloat(RED.util.getMessageProperty(msg, \"dynamic.value_conversion\")) || 1;\n\n// Check if the list exists and is an array to prevent errors\nif (msg.dynamic && msg.dynamic.data_all && Array.isArray(msg.dynamic.data_all.list)) {\n    \n    // Create a new array where each value is multiplied\n    if (Array.isArray(msg.dynamic.data_all?.list)) {\n        msg.dynamic.data_all.list = msg.dynamic.data_all.list.map(v => v / CONVERSION_RATE * 100); // cents\n    }\n\n    // Update other fields\n    if (msg.dynamic.data_all?.average) {\n        msg.dynamic.data_all.average = parseInt(msg.dynamic.data_all.average / CONVERSION_RATE * 100); // cents\n    }\n} else {\n    // Do not continue\n    log(this,\"*price data not updated* price data missing\");\n    return null;\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 780,
        "wires": [
            [
                "b3295985c3fd0ea6"
            ]
        ]
    },
    {
        "id": "ce7b9a6ed2d81e9b",
        "type": "inject",
        "z": "e13a4ee16331b5fa",
        "g": "37c7ff7ef6ef3986",
        "name": "Test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 410,
        "y": 460,
        "wires": [
            [
                "1eb625fa500f9265"
            ]
        ]
    },
    {
        "id": "1eb625fa500f9265",
        "type": "api-call-service",
        "z": "e13a4ee16331b5fa",
        "g": "37c7ff7ef6ef3986",
        "name": "Debug ON",
        "server": "176d29a.6f648d6",
        "version": 7,
        "debugenabled": false,
        "action": "input_boolean.turn_on",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_boolean.house_battery_control_is_debug_mode"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [
            {
                "property": "debug_mode",
                "propertyType": "global",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "input_boolean",
        "service": "turn_on",
        "x": 550,
        "y": 460,
        "wires": [
            [
                "ee4fe7237a0f1ccf"
            ]
        ]
    },
    {
        "id": "176d29a.6f648d6",
        "type": "server",
        "name": "Home Assistant",
        "addon": true,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "",
        "connectionDelay": false,
        "cacheJson": false,
        "heartbeat": false,
        "heartbeatInterval": "",
        "statusSeparator": "",
        "enableGlobalContextStore": false
    },
    {
        "id": "36e9c1a57551cff8",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-home-assistant-websocket": "0.80.3"
        }
    }
]