node-red/02 strategy-charge-pv.json
[
    {
        "id": "a6b1d5d340311e90",
        "type": "tab",
        "label": "Strategy Charge PV v4.5.0",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "82811fb2addd5789",
        "type": "group",
        "z": "a6b1d5d340311e90",
        "name": "Battery solutions",
        "style": {
            "label": true
        },
        "nodes": [
            "5c3a6080eba20853",
            "36bc56813d9d781e"
        ],
        "x": 624,
        "y": 79,
        "w": 192,
        "h": 142
    },
    {
        "id": "51b3fe7d3230db0a",
        "type": "group",
        "z": "a6b1d5d340311e90",
        "name": "Start",
        "style": {
            "label": true
        },
        "nodes": [
            "37d58b1c1eb5c173",
            "d6e61005879d38a0",
            "9dab518a303dbabf"
        ],
        "x": 14,
        "y": 79,
        "w": 192,
        "h": 162
    },
    {
        "id": "ac719618752658a2",
        "type": "group",
        "z": "a6b1d5d340311e90",
        "name": "Unhandled exceptions",
        "style": {
            "label": true,
            "stroke": "#d88a8a",
            "color": "#d88a8a"
        },
        "nodes": [
            "6e74e5bae6c80199",
            "e4662094f8017b76",
            "02c5a3d89dfe087c"
        ],
        "x": 14,
        "y": 259,
        "w": 182,
        "h": 82
    },
    {
        "id": "37d58b1c1eb5c173",
        "type": "link in",
        "z": "a6b1d5d340311e90",
        "g": "51b3fe7d3230db0a",
        "name": "Charge PV",
        "links": [],
        "x": 100,
        "y": 160,
        "wires": [
            [
                "9dab518a303dbabf"
            ]
        ],
        "l": true
    },
    {
        "id": "871c350c797b6195",
        "type": "comment",
        "z": "a6b1d5d340311e90",
        "name": "Home Battery Strategy",
        "info": "The `Home Battery Start` flow will call this strategy flow\nby matching the strategy name with the Link In name.\n\nConfigure the Link In node in the Start group.\n\nDon't modify other parts of the Start and End groups.\nThey handle the calling and returning for you.",
        "x": 120,
        "y": 40,
        "wires": []
    },
    {
        "id": "d6e61005879d38a0",
        "type": "comment",
        "z": "a6b1d5d340311e90",
        "g": "51b3fe7d3230db0a",
        "name": "Start (readme)",
        "info": "# Setting up your battery strategy flow\n\n## Setup\nName the `Link In node` in this start group exactly after the <select> option configured in your\nselect_input.house_battery_strategy\n\nconfigure select options in:\ninput_select_house_battery_control.yaml\n\n### example\n`house_battery_strategy:\n  name: House Battery Strategy\n  options:\n    - AcmE example`\n\nThe above creates a select option, allowing user to select 'AcmE example'\n\nWhen selected, battery control will search for a flow containing a Link In node\ncalled 'AcmE example' (case sensitive).",
        "x": 110,
        "y": 120,
        "wires": []
    },
    {
        "id": "5c3a6080eba20853",
        "type": "link out",
        "z": "a6b1d5d340311e90",
        "g": "82811fb2addd5789",
        "name": "Return",
        "mode": "return",
        "links": [],
        "x": 665,
        "y": 180,
        "wires": []
    },
    {
        "id": "36bc56813d9d781e",
        "type": "comment",
        "z": "a6b1d5d340311e90",
        "g": "82811fb2addd5789",
        "name": "End (readme)",
        "info": "Should return a solution_array of battery objects\n\n## battery object format\n`{{id: string|number, mode: string, power: number}} battery solution`\n- id is an arbitrary battery ID\n- mode is \"stop\", \"charge\", \"discharge\" for Marstek\n- power in Watts\n\n### example array\nreturn this type of solution_array via msg.solutions\n` \nlet solution_array = [];\nsolution_array.push({id:\"M1\", mode: \"charge\", power: 100}); // per battery\nreturn {solutions: solution_array};\n` ",
        "x": 720,
        "y": 120,
        "wires": []
    },
    {
        "id": "903b91968296be08",
        "type": "function",
        "z": "a6b1d5d340311e90",
        "name": "Setup",
        "func": "// explain\nconst log = global.get(\"logger\");\nlog(this,\"Using self-consumption to charge with surplus PV\")\n\n// use the self consumption strategy to charge when there is PV surplus\nmsg.target = \"Self-consumption\";\n\n// tell that strategy to disalow discharging\nconst DISABLE_DISCHARGE = true;\nRED.util.setMessageProperty(msg,\"advanced_settings.discharge_disabled\",DISABLE_DISCHARGE,true);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 180,
        "wires": [
            [
                "1840137fafaf4e78"
            ]
        ]
    },
    {
        "id": "1840137fafaf4e78",
        "type": "link call",
        "z": "a6b1d5d340311e90",
        "name": "Self-consumption",
        "links": [],
        "linkType": "dynamic",
        "timeout": "5",
        "x": 470,
        "y": 180,
        "wires": [
            [
                "4c4702fcc087aab4",
                "5c3a6080eba20853"
            ]
        ]
    },
    {
        "id": "4c4702fcc087aab4",
        "type": "debug",
        "z": "a6b1d5d340311e90",
        "name": "Batteries charging?",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "batteries_charging",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 730,
        "y": 260,
        "wires": []
    },
    {
        "id": "9dab518a303dbabf",
        "type": "change",
        "z": "a6b1d5d340311e90",
        "g": "51b3fe7d3230db0a",
        "name": "Trace",
        "rules": [
            {
                "t": "set",
                "p": "strategy.trace",
                "pt": "msg",
                "to": "[\t   strategy.trace,\t   {\t       \"flow\": target,\t       \"flow_settings\": advanced_settings,\t       \"timestamp\": $now()\t   } \t]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 90,
        "y": 200,
        "wires": [
            [
                "903b91968296be08"
            ]
        ],
        "info": "Attaches a breadcrumb trace to the msg\r\nso the user can reconstruct which route has\r\nbeen traveled"
    },
    {
        "id": "6e74e5bae6c80199",
        "type": "catch",
        "z": "a6b1d5d340311e90",
        "g": "ac719618752658a2",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 55,
        "y": 300,
        "wires": [
            [
                "e4662094f8017b76"
            ]
        ],
        "l": false
    },
    {
        "id": "e4662094f8017b76",
        "type": "function",
        "z": "a6b1d5d340311e90",
        "g": "ac719618752658a2",
        "name": "Unhandled Exception",
        "func": "const handle = global.get('unhandledException');\n\nhandle(this);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 105,
        "y": 300,
        "wires": [
            [
                "02c5a3d89dfe087c"
            ]
        ],
        "l": false
    },
    {
        "id": "02c5a3d89dfe087c",
        "type": "link out",
        "z": "a6b1d5d340311e90",
        "g": "ac719618752658a2",
        "name": "link out 4",
        "mode": "return",
        "links": [],
        "x": 155,
        "y": 300,
        "wires": []
    }
]